style.
    .highlighted-cell {
        background-color: #0b97c4;
        color: #FFFFFF;
    }
.panel.panel-primary(ng-if="checkViewPermission('Operation', 'Proposal','Read')")
    .panel-heading.padding-all-5
        .panel-title.left-col
            .row
                a.fa.fa-chevron-circle-left.contractIcon(ng-show='vm.showOperationList', ng-click='vm.toggleShowOperationList(false)')
                a.fa.fa-chevron-circle-right.contractIcon(ng-show='!vm.showOperationList', ng-click='vm.toggleShowOperationList(true)')
                text.strong {{vm.selectedPlatform.name}} {{vm.rightPanelTitle | translate}}
    .panel-body.common-right-panel-body
        .tab-content
            div(ng-show="vm.rightPanelTitle == 'ALL_PROPOSAL'")
                .tab-pane.fade.in.active
                    #search.well
                        .search-filters-item
                            label {{'PRODUCT_NAME'| translate}} ({{'Multiple' | translate}})
                            select.form-control.spicker(ng-model="vm.queryProposalSelectedPlatform" ng-options='v._id as v.name$ for v in vm.platformList' multiple bsp data-actions-box='true')
                        .search-filters-item
                            label {{"REGISTRATION_AGENT"|translate}}
                            select.form-control(ng-model="vm.proposalInputDevice")
                                option(value='') {{'all'|translate}}
                                option(value=0) {{'Backstage'|translate}}
                                option(value=1) {{'Web Player'|translate}}
                                option(value=2) {{'Web Agent'|translate}}
                                option(value=3) {{'HTML5 Player'|translate}}
                                option(value=4) {{'HTML5 Agent'|translate}}
                                option(value=5) {{'APP Player'|translate}}
                                option(value=6) {{'APP Agent'|translate}}
                        .search-filters-item.selectProposalTypeDiv(ng-show="checkViewPermission('Operation', 'Proposal', 'queryByProposalType')")
                            label {{'FILTER_PROPOSAL_TYPE' | translate}}
                            //select.form-control#selectProposalType(multiple="multiple", style='min-width:100px')
                            //    option(ng-repeat='(i,v) in vm.allProposalType', value='{{i}}') {{v.name | translate}}

                            select.form-control#selectProposalType(multiple="multiple", ng-options='i.name as i.name | translate group by vm.getProposalTypeOptionValue(i) | translate for (k,i) in ( vm.allProposalType | unique: "name" ) track by i.name', ng-model='vm.actionLogQuery.action')
                        .search-filters-item
                            label {{"CUSTOMIZED_PROMO_NAME"|translate}}
                            select.form-control#selectRewardType(multiple="multiple", ng-options='i._id as i.name for (k,i) in ( vm.rewardList | unique: "name" ) track by i.name', ng-model='bbc')
                        .search-filters-item
                            label {{"PROMO_CODE_NAME"|translate}}
                            select.form-control#selectPromoType(multiple="multiple", ng-options='i._id as i.name for (k,i) in ( vm.promoTypeList | unique: "name" ) track by i.name', ng-model='cbc')


                        .search-filters-item(ng-show="checkViewPermission('Operation', 'Proposal', 'queryByProposalStatus')")
                            label {{'FILTER_PROPOSAL_STATUS' | translate}}
                            select.form-control#selectProposalStatus(multiple="multiple")
                                option(ng-repeat='(i,v) in vm.proposalStatusList', value='{{v}}') {{v | translate}}
                        //.inlineBlk(ng-show="checkViewPermission('Operation', 'Proposal', 'queryByProposalStatus')")
                            label {{'ENTRY_TYPE' | translate}}
                            select.form-control(ng-model='vm.queryProposalEntryType', ng-options='i as v | translate for (i,v) in constProposalEntryType')
                                option(value='') {{'any' | translate}}
                        //.inlineBlk
                            label {{'FILTER_PROPOSAL_CONTENT' | translate}}
                            input.form-control#proposalSearch.form-control(type="text", placeholder='{{"FILTER_CONTENT" | translate}}', ng-model="vm.searchText")
                        //.inlineBlk(ng-show="checkViewPermission('Operation', 'Proposal', 'queryByProposalCredit')")
                        //    label {{"Qty_Min" | translate }} {{"Credit Amount" | translate}}
                        //    input.form-control(ng-model='vm.queryProposalMinCredit', type='number', min=0, style='width:90px')
                        //.inlineBlk(ng-show="checkViewPermission('Operation', 'Proposal', 'queryByProposalCredit')")
                        //    label {{"Qty_Max" | translate }} {{"Credit Amount" | translate}}
                        //    input.form-control(ng-model='vm.queryProposalMaxCredit', type='number', min=0, style='width:90px')
                        .search-filters-item(ng-show="checkViewPermission('Operation', 'Proposal', 'queryByProposalPlayer')")
                            label {{"RELATED_USER" | translate}}
                            input.form-control(ng-model='vm.queryProposalRelatedUser', type='text')
                        .search-filters-item(ng-show="checkViewPermission('Operation', 'Proposal', 'queryByProposalDate')")
                            label {{'START_DATE' | translate}}
                            #datetimepicker.input-append.form-control
                                input(data-format="yyyy/MM/dd HH:mm:ss PP", type='text')
                                span.add-on
                                    i.fa.fa-calendar(data-time-icon='fa fa-clock-o', data-date-icon='fa fa-calendar')
                        .search-filters-item(ng-show="checkViewPermission('Operation', 'Proposal', 'queryByProposalDate')")
                            label {{'END_DATE' | translate}}
                            br
                            #datetimepicker2.input-append.form-control
                                input(data-format='yyyy/MM/dd HH:mm:ss PP', type='text')
                                span.add-on
                                    i.fa.fa-calendar(data-time-icon='fa fa-clock-o', data-date-icon='fa fa-calendar')
                        //.inlineBlk(ng-show="checkViewPermission('Operation', 'Proposal', 'queryByProposalPlayer')")
                            label {{"Set Date Range" | translate}}
                            select.form-control(ng-model='vm.dateRange',ng-options='i as v | translate for (i,v) in {"day":"Today","week":"This Week","month":"This Month"}',ng-change='vm.proposalSetDateRange(vm.dateRange)')
                        .search-filters-item(ng-show="checkViewPermission('Operation', 'Proposal', 'queryByProposalId')")
                            label {{"Proposal No" | translate}}
                            input.form-control(ng-model='vm.queryProposalId', ng-change='vm.queryProposalIdUpdate()')
                        .text-right.widthto100
                            button.btn.btn-primary.btn-space(ng-if='vm.queryProposalId', ng-click='vm.getOneProposal()') {{'SEARCH' | translate}}
                            button.btn.btn-primary.btn-space(ng-if='!vm.queryProposalId', ng-click='vm.searchProposalByQuery(true)') {{'SEARCH' | translate}}
                            button.btn.btn-warning.btn-space(ng-click='vm.resetFilter()') {{'Reset' | translate}}
                    .clearfix
                    .proposalMessage
                        text {{'LAST_REFRESH_TIME' | translate}}  : {{vm.timeAllProposal}}
                            label.text-danger.newProposalAlert
                            a(ng-click='vm.loadProposalQueryData(true)')
                                .fa.fa-refresh
                            .pull-right
                                label.inlineBlk.pull-right {{'Auto Refresh' | translate}}
                                    input#autoRefreshProposalFlag.margin-left-5(type='checkbox', ng-model="vm.autoRefresh")
                                .inlineBlk.hidden
                                    text {{"Time left until next refresh" | translate}} :&nbsp;
                                    text.timeLeftRefreshOperation
                                    text s
                    .row
                        .col-md-12
                            label {{"Total" | translate}} {{vm.queryProposal.totalCount}} {{"records" | translate}}
                            table.common-table#proposalDataTable.display(style="width:100%;min-width:100%;max-height:450px;")
                            #proposalDataTablePage
            div(ng-show="vm.rightPanelTitle == 'APPROVAL_PROPOSAL'")
                .tab-pane.fade.in.active
                    #searchAudit.well
                        .search-filters-item
                            label {{'PRODUCT_NAME'| translate}} ({{'Multiple' | translate}})
                            select.form-control.spicker(ng-model="vm.queryProposalAuditSelectedPlatform" ng-options='v._id as v.name$ for v in vm.platformList' multiple bsp data-actions-box='true')
                        .search-filters-item(ng-show="checkViewPermission('Operation', 'Proposal', 'queryByProposalId')")
                            label {{"Proposal No" | translate}}
                            input.form-control(ng-model='vm.queryProposalAuditId', ng-change='vm.queryProposalAuditIdUpdate()')
                        .search-filters-item.selectProposalTypeDiv(ng-show="checkViewPermission('Operation', 'Proposal', 'queryByProposalType')")
                            label {{'FILTER_PROPOSAL_TYPE' | translate}}
                            //select.form-control#selectProposalType(multiple="multiple", style='min-width:100px')
                            //    option(ng-repeat='(i,v) in vm.allProposalType', value='{{i}}') {{v.name | translate}}

                            select.form-control#selectProposalAuditType(multiple="multiple", ng-options='i.name as i.name | translate group by vm.getProposalTypeOptionValue(i) | translate for (k,i) in ( vm.allProposalType | unique: "name" ) track by i.name', ng-model='vm.actionLogQuery.action')

                        //.inlineBlk(ng-show="vm.rightPanelTitle == 'ALL_PROPOSAL' && checkViewPermission('Operation', 'Proposal', 'queryByProposalStatus')")
                        //    label {{'FILTER_PROPOSAL_STATUS' | translate}}
                        //    select.form-control#selectProposalAuditStatus(multiple="multiple", style='min-width:100px;height:34px;')
                        //        option(ng-repeat='(i,v) in vm.proposalStatusList', value='{{v}}') {{v | translate}}
                        //.inlineBlk(ng-show="vm.rightPanelTitle == 'ALL_PROPOSAL' && checkViewPermission('Operation', 'Proposal', 'queryByProposalStatus')")
                        //    label {{'ENTRY_TYPE' | translate}}
                        //    select.form-control(ng-model='vm.queryProposalEntryType', ng-options='i as v | translate for (i,v) in constProposalEntryType')
                        //        option(value='') {{'any' | translate}}
                        //.inlineBlk
                            label {{'FILTER_PROPOSAL_CONTENT' | translate}}
                            input.form-control#proposalSearch.form-control(type="text", placeholder='{{"FILTER_CONTENT" | translate}}', ng-model="vm.searchText")
                        .search-filters-item(ng-show="checkViewPermission('Operation', 'Proposal', 'queryByProposalCredit')")
                            label {{"Qty_Min" | translate }} {{"Credit Amount" | translate}}
                            input.form-control(ng-model='vm.queryProposalMinCredit', type='number', min=0)
                        .search-filters-item(ng-show="checkViewPermission('Operation', 'Proposal', 'queryByProposalCredit')")
                            label {{"Qty_Max" | translate }} {{"Credit Amount" | translate}}
                            input.form-control(ng-model='vm.queryProposalMaxCredit', type='number', min=0)
                        .search-filters-item(ng-show="checkViewPermission('Operation', 'Proposal', 'queryByProposalPlayer')")
                            label {{"RELATED_USER" | translate}}
                            input.form-control(ng-model='vm.queryProposalRelatedUser', type='text')
                        .search-filters-item(ng-show="checkViewPermission('Operation', 'Proposal', 'queryByProposalDate')")
                            label {{'START_DATE' | translate}}
                            #datetimepickerAudit.input-append.form-control
                                input(data-format="yyyy/MM/dd HH:mm:ss PP", type='text')
                                span.add-on
                                    i.fa.fa-calendar(data-time-icon='fa fa-clock-o', data-date-icon='fa fa-calendar')
                        .search-filters-item(ng-show="checkViewPermission('Operation', 'Proposal', 'queryByProposalDate')")
                            label {{'END_DATE' | translate}}
                            br
                            #datetimepickerAudit2.input-append.form-control
                                input(data-format='yyyy/MM/dd HH:mm:ss PP', type='text')
                                span.add-on
                                    i.fa.fa-calendar(data-time-icon='fa fa-clock-o', data-date-icon='fa fa-calendar')
                        .search-filters-item(ng-show="checkViewPermission('Operation', 'Proposal', 'queryByProposalPlayer')")
                            label {{"Set Date Range" | translate}}
                            select.form-control(ng-model='vm.dateRange',ng-options='ind as val | translate for (ind,val) in {"day":"Today","week":"This Week","month":"This Month"}',ng-change='vm.proposalAuditSetDateRange(vm.dateRange)')
                        .text-right.widthto100
                            button.btn.btn-primary.btn-space(ng-if='vm.queryProposalAuditId', ng-click='vm.getOneProposalAudit()') {{'SEARCH' | translate}}
                            button.btn.btn-primary.btn-space(ng-if='!vm.queryProposalAuditId', ng-click='vm.searchProposalByQuery(true)') {{'SEARCH' | translate}}
                            button.btn.btn-warning.btn-space(ng-click='vm.resetFilter()') {{'Reset' | translate}}
                    .clearfix
                    .proposalMessage
                        text {{'LAST_REFRESH_TIME' | translate}}  : {{vm.timeAllProposal}}
                        label.text-danger.newProposalAlert
                        a(ng-click='vm.loadProposalQueryData(true)')
                            .fa.fa-refresh
                        .pull-right
                            label.inlineBlk.pull-right {{'Auto Refresh' | translate}}
                                input#autoRefreshProposalAuditFlag.margin-left-5(type='checkbox', ng-model="vm.autoRefresh")
                            .inlineBlk.hidden
                                text {{"Time left until next refresh" | translate}} :&nbsp;
                                text.timeLeftRefreshOperation
                                text s
                    .row
                        .col-md-12
                            label {{"Total" | translate}} {{vm.queryProposal.totalCount}} {{"records" | translate}}
                            table.common-table#proposalAuditDataTable.display(style="width:100%;min-width:100%;max-height:450px;")
                            #proposalAuditDataTablePage
                .row
                    .col-md-12(ng-if='vm.multiProposalSelected.length>0 && vm.rightPanelTitle == "APPROVAL_PROPOSAL"')
                        button.btn.btn-success.common-button(ng-show="checkViewPermission('Operation', 'Proposal','ApproveProposal')", ng-click="vm.updateMultiProposal(true);vm.searchProposalByQuery(true)") {{"APPROVE" | translate}}
                            text(ng-show='!vm.showProposalIndicator.approve') ({{vm.multiProposalSelected.length}})
                            i.fa.fa-spin.fa-spinner(ng-show='vm.showProposalIndicator.approve')
                        //button.btn.btn-danger.common-button(ng-show="checkViewPermission('Operation', 'Proposal','RejectProposal')", ng-click="vm.updateMultiProposal();vm.searchProposalByQuery(true)") {{"REJECT" | translate}}
                        button.btn.btn-danger.common-button(ng-show="checkViewPermission('Operation', 'Proposal','RejectProposal')", ng-click='vm.initAddRemarkRejectMultipleProposal()', data-toggle="modal", data-target='#modalAddRemarkRejectMultipleProposal') {{"REJECT" | translate}}
                            text(ng-show='!vm.showProposalIndicator.reject') ({{vm.multiProposalSelected.length}})
                            i.fa.fa-spin.fa-spinner(ng-show='vm.showProposalIndicator.reject')
                //#topupMonitorTableDiv.tab-pane.fade
                    .proposalMessage
                        text {{'LAST_REFRESH_TIME' | translate}} : {{vm.timeTopupIntention}}
                        label.text-danger.newProposalAlert
                        a(ng-click='vm.startSpin($event,vm.topupClicked)')
                            .fa.fa-refresh
                    table.common-table#topupMonitorTable.display(style="width:100%;max-height:450px;")
                //#registrationMonitorTableDiv.tab-pane.fade
                    .proposalMessage
                        text {{'LAST_REFRESH_TIME' | translate}} : {{vm.timeNewRegistrationIntention}}
                        label.text-danger.newProposalAlert
                        a(ng-click='vm.startSpin($event,vm.newAccountClicked)')
                            .fa.fa-refresh
                    table.common-table#registrationMonitorTable.display(style="width:100%;max-height:450px;")
                //marquee(direction='up' scrollamount="1" )
                    div
                        label this text1
                        br
                        label this text2
#operationListPopover.hide(style="width: 600px")
    //label {{'CHANGE' | translate}}
    div(style='max-height:400px;overflow-y:auto;')
        table.simple-table
            thead
                tr
                    th {{'CONTENT' | translate}}
                    th {{'VALUE' | translate}}
            tbody
                tr(ng-repeat='(i,v) in vm.operationListContent')
                    td {{v.key}}
                    td {{v.val}}
#modalAddRemarkCancelProposal.modal.fade(tabindex='-1', role='dialog', data-backdrop='static', keyboard=false, aria-labelledby='myModalLabel', aria-hidden='true' style="z-index:1052; margin-top:150px;")
    .modal-dialog(style='width:60%;')
        .modal-content
            .modal-header
                a.fa.fa-times.close(type='button', data-dismiss='modal')
                h4.modal-title {{"ADD_REASON_CANCEL_PROPOSAL" | translate}}
            .modal-body
                .panel.panel-primary
                    .panel-body
                        .row
                            .col-md-12
                                .well
                                    label {{"ADD_REASON_CANCEL_PROPOSAL" | translate}}:
                                    textarea.form-control(ng-model="vm.selectedProposal.cancelRemark")
            .modal-footer
                button.btn.btn-success.common-button(data-dismiss='modal', ng-if='vm.selectedProposal.showCancel', ng-disabled="!vm.selectedProposal.cancelRemark" ng-click="vm.submitCancelProposal(vm.selectedProposal)")
                    i.fa.fa-check
                    text {{"CONFIRM" | translate}}
                button.btn.btn-danger.common-button(data-dismiss='modal')
                    i.fa.fa-ban
                    text {{"CANCEL" | translate}}
                .inlineBlk(ng-if='vm.selectedProposal.cancelling')
                    label {{'Cancelling Proposal' | translate}}
                    i.fa.fa-spin.fa-2x.fa-spinner
                label.inlineBlk(ng-if='vm.selectedProposal.cancelled') {{"Cancel" | translate}}

#modalAddRemarkRejectProposal.modal.fade(tabindex='-1', role='dialog', data-backdrop='static', keyboard=false, aria-labelledby='myModalLabel', aria-hidden='true' style="z-index:1052; margin-top:150px;")
    .modal-dialog(style='width:60%;')
        .modal-content
            .modal-header
                a.fa.fa-times.close(type='button', data-dismiss='modal')
                h4.modal-title {{"ADD_REASON_REJECT_PROPOSAL" | translate}}
            .modal-body
                .panel.panel-primary
                    .panel-body
                        .row
                            .col-md-12
                                .well
                                    label {{"ADD_REASON_REJECT_PROPOSAL" | translate}}:
                                    textarea.form-control(ng-model="vm.rejectRemark")
            .modal-footer
                button.btn.btn-success.common-button(data-dismiss='modal', ng-disabled="!vm.rejectRemark" ng-click="vm.updateProposal(vm.selectedProposal._id, false)")
                    i.fa.fa-check
                    text {{"CONFIRM" | translate}}
                button.btn.btn-danger.common-button(data-dismiss='modal')
                    i.fa.fa-ban
                    text {{"CANCEL" | translate}}

#modalAddRemarkRejectMultipleProposal.modal.fade(tabindex='-1', role='dialog', data-backdrop='static', keyboard=false, aria-labelledby='myModalLabel', aria-hidden='true' style="z-index:1052; margin-top:150px;")
    .modal-dialog(style='width:60%;')
        .modal-content
            .modal-header
                a.fa.fa-times.close(type='button', data-dismiss='modal')
                h4.modal-title {{"ADD_REASON_REJECT_MULTIPLE_PROPOSAL" | translate}}
            .modal-body
                .panel.panel-primary
                    .panel-body
                        .row
                            .col-md-12
                                .well
                                    label {{"ADD_REASON_REJECT_MULTIPLE_PROPOSAL" | translate}}:
                                    textarea.form-control(ng-model="vm.rejectMultipleRemark")
            .modal-footer
                button.btn.btn-success.common-button(data-dismiss='modal', ng-disabled="!vm.rejectMultipleRemark" ng-click="vm.updateMultiProposal();vm.searchProposalByQuery(true)")
                    i.fa.fa-check
                    text {{"CONFIRM" | translate}}
                button.btn.btn-danger.common-button(data-dismiss='modal')
                    i.fa.fa-ban
                    text {{"CANCEL" | translate}}

#modalOperationProposal.modal.fade(tabindex='-1', role='dialog', data-backdrop='static', keyboard=false,aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
        .modal-content
            .modal-header
                a.fa.fa-times.close(type='button', data-dismiss='modal')
                span
                    ul.nav.nav-tabs
                        li
                            label {{vm.selectedProposal.type.name | translate}}
                        li.active
                            a(data-toggle="tab", href="#ProposalDetail", ng-click="")
                                .fa.fa-user
                                | {{ 'DETAIL' | translate }}
                        li(ng-if='vm.chartData')
                            a(data-toggle="tab", href="#Workflow", ng-click="")
                                .fa.fa-user
                                | {{ 'WORKFLOW' | translate }}
            .modal-body
                .panel.panel-primary
                    .panel-body
                        .tab-content
                            #ProposalDetail.tab-pane.fade.in.active
                                include ./proposal-dialog-detail
                            #Workflow.tab-pane.fade(mouse-capture, style="max-height:600px;overflow-y:auto")
                                flow-chart#flowChart(style='width: 100%; height: 550px;overflow:auto;', chart='vm.chartViewModel')
            .modal-footer
                .inlineBlk(ng-show='vm.selectedProposal.isLocked && !vm.selectedProposal.showUnlockBtn')
                    label.form-control {{'Lock Status' | translate}} : {{vm.selectedProposal.isLocked.adminName}}
                .inlineBlk(ng-show='!vm.selectedProposal.isLocked || vm.selectedProposal.showUnlockBtn')
                    button.btn.btn-success.common-button(data-dismiss='modal', ng-if='(vm.selectedProposal.process.status=="Pending" || vm.selectedProposal.status=="Pending") && vm.rightPanelTitle == "APPROVAL_PROPOSAL" && checkViewPermission("Operation", "Proposal","ApproveProposal")', ng-click="vm.updateProposal(vm.selectedProposal._id, true)") {{"APPROVE" | translate}}
                    //button.btn.btn-danger.common-button(data-dismiss='modal', ng-if='(vm.selectedProposal.process.status=="Pending" || vm.selectedProposal.status=="Pending") && vm.rightPanelTitle == "APPROVAL_PROPOSAL" && checkViewPermission("Operation", "Proposal","RejectProposal")', ng-click="vm.updateProposal(vm.selectedProposal._id, false)") {{"REJECT" | translate}}
                    button.btn.btn-danger.common-button(data-dismiss='modal', ng-if='(vm.selectedProposal.process.status=="Pending" || vm.selectedProposal.status=="Pending") && vm.rightPanelTitle == "APPROVAL_PROPOSAL" && checkViewPermission("Operation", "Proposal","RejectProposal")', ng-click='vm.initAddRemarkRejectMultipleProposal()', data-toggle="modal", data-target='#modalAddRemarkRejectProposal') {{"REJECT" | translate}}
                //button.btn.btn-warning.common-button(ng-if='vm.selectedProposal.showCancel', ng-click="vm.submitCancelProposal(vm.selectedProposal)") {{"Cancel Proposal" | translate}}
                button.btn.btn-warning.common-button(data-dismiss='modal', ng-if='vm.selectedProposal.showCancel', data-toggle="modal", data-target='#modalAddRemarkCancelProposal') {{"Cancel Proposal" | translate}}
                .inlineBlk(ng-if='vm.selectedProposal.cancelling')
                    label {{'Cancelling Proposal' | translate}}
                    i.fa.fa-spin.fa-2x.fa-spinner
                label.inlineBlk(ng-if='vm.selectedProposal.cancelled') {{"Cancel" | translate}}
                button.btn.btn-primary.common-button(data-dismiss='modal') {{"OK" | translate}}
                button.btn.btn-primary.common-button(data-dismiss='modal' ng-if='vm.selectedProposal.status==="CsPending" && checkViewPermission("Operation", "Proposal","CsApproveProposal")' ng-click='vm.approveCsPendingAndChangeStatus()') {{"cs approve proposal" | translate}}
                button.btn.btn-primary.common-button(ng-if='vm.selectedProposal.status==="AutoAudit" && !vm.changeStatusToPendingFromAutoAuditMessage && !vm.selectedProposal.cancelling && !vm.selectedProposal.cancelled', ng-click='vm.changeStatusToPendingFromAutoAudit()') {{"Manual" | translate}}
                button.btn.btn-success.common-button(ng-if="vm.showCopyProposal()" ng-click="vm.copyTopUpProposal()") {{"COPY_TO_CLIPBOARD" | translate}}
                button.btn.btn-danger.common-button(ng-if='checkViewPermission("Operation", "Proposal", "Force Pairing") && vm.selectedProposal.status=="Pending" ' +
                '&& (vm.selectedProposal.type.name == "ManualPlayerTopUp" || vm.selectedProposal.type.name == "PlayerAlipayTopUp" || vm.selectedProposal.type.name == "PlayerWechatTopUp")'
                data-toggle="modal", data-target="#modalProposalTopUpForcePairing") {{"Force Pairing" | translate}}
                button.btn.btn-primary.common-button(ng-if='vm.selectedProposal && vm.selectedProposal.data && vm.selectedProposal.data.enableSyncWithdraw && (vm.selectedProposal.status==="approved" || vm.selectedProposal.status==="Sending") && (vm.selectedProposal.type.name === "PlayerBonus" || vm.selectedProposal.type.name === "PartnerBonus")' data-toggle="modal", data-target="#modalSyncWithdrawalProposal" ng-click="vm.initSyncWithdrawalProposal()") {{"Sync" | translate}}
                label.inlineBlk.wordWrap(ng-if='vm.changeStatusToPendingFromAutoAuditMessage') {{vm.changeStatusToPendingFromAutoAuditMessage}}
                .inlineBlk.pull-left(ng-show='vm.rightPanelTitle == "APPROVAL_PROPOSAL"')
                    label.inlineBlk {{'remark' | translate}}
                    input#proposalRemark.inlineBlk.proposalRemark.form-control(style='width:400px;')
                button.btn.btn-danger.common-button(ng-if='vm.haveLargeWithdrawalLog && checkViewPermission("Operation", "Proposal","largeWithdrawal")' data-dismiss='modal' data-toggle="modal" data-target="#modalLargeWithdrawalLog") {{'Mailing Status:' | translate}}{{vm.largeWithdrawLog.emailSentTimes ? "Sent" : "Not send" | translate}}
                button.btn.btn-danger.common-button(ng-if='vm.havePartnerLargeWithdrawalLog && checkViewPermission("Operation", "Proposal","largeWithdrawal")' data-dismiss='modal' data-toggle="modal" data-target="#modalPartnerLargeWithdrawalLog") {{'Mailing Status:' | translate}}{{vm.partnerLargeWithdrawLog.emailSentTimes ? "Sent" : "Not send" | translate}}

#modalProposalTopUpForcePairing.modal.fade(tabindex='-1', role='dialog', data-backdrop='static', keyboard=false aria-hidden='true' style="z-index:1052;")
    .modal-dialog(style='width:50%;top:20%;')
        .modal-content
            .modal-header
                a.fa.fa-times.close(type='button', data-dismiss='modal')
                span(style="font-weight:bold;font-size:24px;") {{"Force Pairing" | translate}}
            .modal-body
                .panel.panel-primary
                    .panel-body
                        h4 {{"Force Pairing, Please enter reference number." | translate}}
                        input(type="text" ng-model="vm.forcePairingReferenceNumber")
                div(style='text-align:right')
                    button.btn.btn-danger.common-button(data-dismiss='modal') {{"CANCEL" | translate}}
                    button.btn.btn-primary.common-button(data-dismiss='modal' ng-click="vm.forcePairingWithReferenceNumber()") {{"CONFIRMATION" | translate}}

#modalSyncWithdrawalProposal.modal.fade(tabindex='-1', role='dialog', data-backdrop='static', keyboard=false aria-hidden='true' style="z-index:1052;")
    .modal-dialog(style='width:50%;top:20%;')
        .modal-content
            .modal-header
                a.fa.fa-times.close(type='button', data-dismiss='modal')
                span(style="font-weight:bold;font-size:24px;") {{"Sync Withdrawal" | translate}}
            .modal-body
                .panel.panel-primary
                    .panel-body
                        label.control-label {{"REMARKS" | translate}}
                        .textareaDetail
                            textarea.form-control(type="textarea", rows='4', name="Remark", placeholder='{{"REMARKS" | translate}}', ng-model="vm.syncWithdrawalProposalRemark")
                div(style='text-align:right')
                    button.btn.btn-danger.common-button(data-dismiss='modal') {{"CANCEL" | translate}}
                    button.btn.btn-primary.common-button(data-dismiss='modal' ng-disabled="!vm.syncWithdrawalProposalRemark" ng-click="vm.syncWithdrawalProposal()") {{"CONFIRMATION" | translate}}

#modalLargeWithdrawalLog.modal.fade(tabindex='-1', role='dialog', data-backdrop='static', keyboard=false,aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
        .modal-content
            .modal-header
                a.fa.fa-times.close(type='button', data-dismiss='modal')
                div {{"largeWithdrawal" | translate}}
            .modal-body(style="max-height: 71vh; overflow-y: auto;")
                div(style="text-align: left; background-color: #047ea5; color: #FFFFFF; font-weight: bold; padding: 13px; border-radius: 38px; width: 61.8%") A. {{"PLAYER_INFORMATION_PORTION" | translate}}
                div(style="text-align: left; background-color: #0b97c4; color: #FFFFFF; padding: 8px; border-radius: 38px; margin-top: 21px; width: 38.2%") {{"BASIC_INFORMATION" | translate}}
                table.simple-table(style="margin-top: 12px;")
                    tr(ng-if="vm.largeWithdrawalSetting.showRealName")
                        td.col-md-3 {{"REAL_NAME" | translate}}
                        td {{vm.largeWithdrawLog.realName}}
                    tr(ng-if="vm.largeWithdrawalSetting.showPlayerLevel")
                        td {{"LEVEL" | translate}}
                        td {{vm.largeWithdrawLog.playerLevelName}}
                    tr(ng-if="vm.largeWithdrawalSetting.showBankCity")
                        td {{"BANK_CITY" | translate}}
                        td {{vm.largeWithdrawLog.bankCity}}
                    tr(ng-if="vm.largeWithdrawalSetting.showRegisterTime")
                        td {{"REGISTRATION_TIME" | translate}}
                        td {{vm.dateReformat(vm.largeWithdrawLog.registrationTime) || " "}}
                    tr(ng-if="vm.largeWithdrawalSetting.showCurrentWithdrawalTime")
                        td {{"CURRENT_WITHDRAWAL_TIME" | translate}}
                        td {{vm.dateReformat(vm.largeWithdrawLog.withdrawalTime) || " "}}
                    tr(ng-if="vm.largeWithdrawalSetting.showLastWithdrawalTime")
                        td {{"LAST_WITHDRAWAL_TIME" | translate}}
                        td {{vm.largeWithdrawLog.lastWithdrawalTime ? vm.dateReformat(vm.largeWithdrawLog.lastWithdrawalTime) : " "}}
                    tr(ng-if="vm.largeWithdrawalSetting.showCurrentCredit")
                        td {{"providerCreditAmount" | translate}}
                        td {{$fixTwoDecimalStr(vm.largeWithdrawLog.currentCredit)}}
                    tr(ng-if="vm.largeWithdrawalSetting.showProposalId")
                        td {{"withdrawalProposalId" | translate}}
                        td {{vm.largeWithdrawLog.proposalId}}
                div(style="text-align: left; background-color: #0b97c4; color: #FFFFFF; padding: 8px; border-radius: 38px; margin-top: 21px; width: 38.2%") {{"LAST_TO_CURRENT_WITHDRAWAL" | translate}}
                table.simple-table(style="margin-top: 12px;")
                    tr(ng-if="vm.largeWithdrawalSetting.showPlayerBonusAmount")
                        td.col-md-3 {{"PLAYER_PROFIT" | translate}}
                        td {{$fixTwoDecimalStr(vm.largeWithdrawLog.playerBonusAmount)}}
                    tr(ng-if="vm.largeWithdrawalSetting.showTotalTopUpAmount")
                        td {{"TopupAmount" | translate}}
                        td {{$fixTwoDecimalStr(vm.largeWithdrawLog.playerTotalTopUpAmount)}}
                    tr(ng-if="vm.largeWithdrawalSetting.showConsumptionReturnAmount")
                        td {{"CONSUMPTION_RETURN_REWARD" | translate}}
                        td {{$fixTwoDecimalStr(vm.largeWithdrawLog.consumptionReturnAmount)}}
                    tr(ng-if="vm.largeWithdrawalSetting.showRewardAmount")
                        td {{"OTHER_REWARD" | translate}}
                        td {{$fixTwoDecimalStr(vm.largeWithdrawLog.rewardAmount)}}

                table.simple-table(style="margin-top: 12px;" ng-if="vm.largeWithdrawalSetting.showConsumptionSectionCount")
                    tr.highlighted-cell
                        td {{"CONSUMPTION_AMOUNT_SECTION" | translate}}
                        td {{"0~100" | translate}}
                        td {{"100~1000" | translate}}
                        td {{"1000~10000" | translate}}
                        td {{"10000~100000" | translate}}
                        td {{"100000+" | translate}}
                    tr
                        td.highlighted-cell {{"COUNT" | translate}}
                        td {{vm.largeWithdrawLog.consumptionAmountTimes.belowHundred}}
                        td {{vm.largeWithdrawLog.consumptionAmountTimes.belowThousand}}
                        td {{vm.largeWithdrawLog.consumptionAmountTimes.belowTenThousand}}
                        td {{vm.largeWithdrawLog.consumptionAmountTimes.belowHundredThousand}}
                        td {{vm.largeWithdrawLog.consumptionAmountTimes.aboveHundredThousand}}

                table.simple-table(style="margin-top: 12px;" ng-if="vm.largeWithdrawalSetting.showGameProviderInfo")
                    tr.highlighted-cell
                        td {{"GAME_PROVIDER_INFO" | translate}}
                        td(ng-repeat="(i, v) in vm.largeWithdrawLog.gameProviderInfo") {{v.providerName}}
                    tr
                        td.highlighted-cell {{"1. Total Bet Amount" | translate}}
                        td(ng-repeat="(i, v) in vm.largeWithdrawLog.gameProviderInfo") {{v.consumptionTimes}}
                    tr
                        td.highlighted-cell {{"2. Bonus Amount" | translate}}
                        td(ng-repeat="(i, v) in vm.largeWithdrawLog.gameProviderInfo") {{$fixTwoDecimalStr(v.bonusAmount)}}
                    tr
                        td.highlighted-cell {{"3. Valid Bet Amount" | translate}}
                        td(ng-repeat="(i, v) in vm.largeWithdrawLog.gameProviderInfo") {{$fixTwoDecimalStr(v.validAmount)}}
                    tr
                        td.highlighted-cell {{"4. Site Bonus Ratio" | translate}}
                        td(ng-repeat="(i, v) in vm.largeWithdrawLog.gameProviderInfo") {{$fixTwoDecimalStr(v.siteBonusRatio)}}
                    tr
                        td.highlighted-cell {{"5. Consumption Game Types" | translate}}
                        td(ng-repeat="(i, v) in vm.largeWithdrawLog.gameProviderInfo")
                            span(ng-repeat="(j, w) in v.consumptionAmountByType")
                                span {{j}}: {{$fixTwoDecimalStr(w)}}
                                br
                    tr
                        td.highlighted-cell {{"6. Game Type Bonus Amount" | translate}}
                        td(ng-repeat="(i, v) in vm.largeWithdrawLog.gameProviderInfo")
                            span(ng-repeat="(j, w) in v.playerBonusAmountByType")
                                span {{j}}: {{$fixTwoDecimalStr(w)}}
                                br
                    tr
                        td.highlighted-cell {{"7. Bet Pattern Analysis" | translate}}
                        td(ng-repeat="(i, v) in vm.largeWithdrawLog.gameProviderInfo") {{"(Coming Soon)" | translate}}

                div(style="text-align: left; background-color: #0b97c4; color: #FFFFFF; padding: 8px; border-radius: 38px; margin-top: 21px; width: 38.2%") {{"LAST_TOPUP_TO_CURRENT_WITHDRAWAL" | translate}}
                table.simple-table(style="margin-top: 12px")
                    tr(ng-if="vm.largeWithdrawalSetting.showLastTopUpBonusAmount")
                        td.col-md-3 {{"PLAYER_PROFIT" | translate}}
                        td {{$fixTwoDecimalStr(vm.largeWithdrawLog.lastTopUpPlayerBonusAmount)}}
                    tr(ng-if="vm.largeWithdrawalSetting.showLastTopUpAmount")
                        td {{"TopupAmount" | translate}}
                        td {{$fixTwoDecimalStr(vm.largeWithdrawLog.lastTopUpAmount)}}
                    tr(ng-if="vm.largeWithdrawalSetting.showLastTopUpConsumptionReturnAmount")
                        td {{"CONSUMPTION_RETURN_REWARD" | translate}}
                        td {{$fixTwoDecimalStr(vm.largeWithdrawLog.lastTopUpConsumptionReturnAmount)}}
                    tr(ng-if="vm.largeWithdrawalSetting.showLastTopUpRewardAmount")
                        td {{"OTHER_REWARD" | translate}}
                        td {{$fixTwoDecimalStr(vm.largeWithdrawLog.lastTopUpRewardAmount)}}

                table.simple-table(style="margin-top: 12px;" ng-if="vm.largeWithdrawalSetting.showLastTopUpConsumptionSectionCount")
                    tr.highlighted-cell
                        td {{"CONSUMPTION_AMOUNT_SECTION" | translate}}
                        td {{"0~100" | translate}}
                        td {{"100~1000" | translate}}
                        td {{"1000~10000" | translate}}
                        td {{"10000~100000" | translate}}
                        td {{"100000+" | translate}}
                    tr
                        td.highlighted-cell {{"COUNT" | translate}}
                        td {{vm.largeWithdrawLog.lastTopUpConsumptionAmountTimes.belowHundred}}
                        td {{vm.largeWithdrawLog.lastTopUpConsumptionAmountTimes.belowThousand}}
                        td {{vm.largeWithdrawLog.lastTopUpConsumptionAmountTimes.belowTenThousand}}
                        td {{vm.largeWithdrawLog.lastTopUpConsumptionAmountTimes.belowHundredThousand}}
                        td {{vm.largeWithdrawLog.lastTopUpConsumptionAmountTimes.aboveHundredThousand}}

                table.simple-table(style="margin-top: 12px;" ng-if="vm.largeWithdrawalSetting.showLastTopUpGameProviderInfo")
                    tr.highlighted-cell
                        td {{"GAME_PROVIDER_INFO" | translate}}
                        td(ng-repeat="(i, v) in vm.largeWithdrawLog.lastTopUpGameProviderInfo") {{v.providerName}}
                    tr
                        td.highlighted-cell {{"1. Total Bet Amount" | translate}}
                        td(ng-repeat="(i, v) in vm.largeWithdrawLog.lastTopUpGameProviderInfo") {{v.consumptionTimes}}
                    tr
                        td.highlighted-cell {{"2. Bonus Amount" | translate}}
                        td(ng-repeat="(i, v) in vm.largeWithdrawLog.lastTopUpGameProviderInfo") {{$fixTwoDecimalStr(v.bonusAmount)}}
                    tr
                        td.highlighted-cell {{"3. Valid Bet Amount" | translate}}
                        td(ng-repeat="(i, v) in vm.largeWithdrawLog.lastTopUpGameProviderInfo") {{$fixTwoDecimalStr(v.validAmount)}}
                    tr
                        td.highlighted-cell {{"4. Site Bonus Ratio" | translate}}
                        td(ng-repeat="(i, v) in vm.largeWithdrawLog.lastTopUpGameProviderInfo") {{$fixTwoDecimalStr(v.siteBonusRatio)}}
                    tr
                        td.highlighted-cell {{"5. Consumption Game Types" | translate}}
                        td(ng-repeat="(i, v) in vm.largeWithdrawLog.lastTopUpGameProviderInfo")
                            span(ng-repeat="(j, w) in v.consumptionAmountByType")
                                span {{j}}: {{$fixTwoDecimalStr(w)}}
                                br
                    tr
                        td.highlighted-cell {{"6. Game Type Bonus Amount" | translate}}
                        td(ng-repeat="(i, v) in vm.largeWithdrawLog.lastTopUpGameProviderInfo")
                            span(ng-repeat="(j, w) in v.playerBonusAmountByType")
                                span {{j}}: {{$fixTwoDecimalStr(w)}}
                                br
                    tr
                        td.highlighted-cell {{"7. Bet Pattern Analysis" | translate}}
                        td(ng-repeat="(i, v) in vm.largeWithdrawLog.lastTopUpGameProviderInfo") {{"(Coming Soon)" | translate}}

                div(style="text-align: left; background-color: #047ea5; color: #FFFFFF; font-weight: bold; padding: 13px; border-radius: 38px; width: 61.8%; margin-top: 38px") B. {{"SITE_DATA_SECTION" | translate}}
                div(style="text-align: left; background-color: #0b97c4; color: #FFFFFF; padding: 8px; border-radius: 38px; margin-top: 21px; width: 38.2%") {{"LAST_TO_CURRENT_WITHDRAWAL" | translate}}

                table.simple-table(style="margin-top: 12px")
                    tr(ng-if="vm.largeWithdrawalSetting.showDayTopUpAmount")
                        td.col-md-3 {{"DAILY_TOPUP" | translate}}
                        td {{$fixTwoDecimalStr(vm.largeWithdrawLog.dayTopUpAmount)}}
                    tr(ng-if="vm.largeWithdrawalSetting.showDayWithdrawAmount")
                        td {{"DAILY_WITHDRAWAL" | translate}}
                        td {{$fixTwoDecimalStr(vm.largeWithdrawLog.dayWithdrawAmount)}}
                    tr(ng-if="vm.largeWithdrawalSetting.showDayTopUpWithdrawDifference")
                        td {{"Daily top up - daily withdrawal" | translate}}
                        td {{$fixTwoDecimalStr(vm.largeWithdrawLog.dayTopUpBonusDifference)}}

                div(style="text-align: left; background-color: #0b97c4; color: #FFFFFF; padding: 8px; border-radius: 38px; margin-top: 21px; width: 38.2%") {{"REGISTRATION_TIME_TO_CURRENT_WITHDRAWAL" | translate}}

                table.simple-table(style="margin-top: 12px")
                    tr(ng-if="vm.largeWithdrawalSetting.showAccountTopUpAmount")
                        td.col-md-3 {{"TOTAL_TOP_UP" | translate}}
                        td {{$fixTwoDecimalStr(vm.largeWithdrawLog.accountTopUpAmount)}}
                    tr(ng-if="vm.largeWithdrawalSetting.showAccountWithdrawAmount")
                        td {{"Total_Bonus_Amount" | translate}}
                        td {{$fixTwoDecimalStr(vm.largeWithdrawLog.accountWithdrawAmount)}}
                    tr(ng-if="vm.largeWithdrawalSetting.showAccountTopUpWithdrawDifference")
                        td {{"Total top up - total withdrawal" | translate}}
                        td {{$fixTwoDecimalStr(vm.largeWithdrawLog.topUpBonusDifference)}}

                div(style="text-align: left; background-color: #0b97c4; color: #FFFFFF; padding: 8px; border-radius: 38px; margin-top: 21px; width: 38.2%") {{"Last 3 month player report(separated by month)" | translate}}

                table.simple-table(style="margin-top: 12px")
                    tr(ng-if="vm.largeWithdrawalSetting.showLastThreeMonthTopUp")
                        td.col-md-3 {{"DEPOSIT_TOPUP" | translate}}
                        td ({{vm.largeWithdrawLog.lastThreeMonthValue.secondLastMonth}}{{"MONTH" | translate}}: {{$fixTwoDecimalStr(vm.largeWithdrawLog.lastThreeMonthTopUp.secondLastMonth)}}, {{vm.largeWithdrawLog.lastThreeMonthValue.lastMonth}}{{"MONTH" | translate}}: {{$fixTwoDecimalStr(vm.largeWithdrawLog.lastThreeMonthTopUp.lastMonth)}}, {{vm.largeWithdrawLog.lastThreeMonthValue.currentMonth}}{{"MONTH" | translate}}: {{$fixTwoDecimalStr(vm.largeWithdrawLog.lastThreeMonthTopUp.currentMonth)}})
                    tr(ng-if="vm.largeWithdrawalSetting.showLastThreeMonthWithdraw")
                        td.col-md-3 {{"Bonus" | translate}}
                        td ({{vm.largeWithdrawLog.lastThreeMonthValue.secondLastMonth}}{{"MONTH" | translate}}: {{$fixTwoDecimalStr(vm.largeWithdrawLog.lastThreeMonthWithdraw.secondLastMonth)}}, {{vm.largeWithdrawLog.lastThreeMonthValue.lastMonth}}{{"MONTH" | translate}}: {{$fixTwoDecimalStr(vm.largeWithdrawLog.lastThreeMonthWithdraw.lastMonth)}}, {{vm.largeWithdrawLog.lastThreeMonthValue.currentMonth}}{{"MONTH" | translate}}: {{$fixTwoDecimalStr(vm.largeWithdrawLog.lastThreeMonthWithdraw.currentMonth)}})
                    tr(ng-if="vm.largeWithdrawalSetting.showLastThreeMonthTopUpWithdrawDifference")
                        td.col-md-3 {{"Top Up - Withdrawal" | translate}}
                        td ({{vm.largeWithdrawLog.lastThreeMonthValue.secondLastMonth}}{{"MONTH" | translate}}: {{$fixTwoDecimalStr(vm.largeWithdrawLog.lastThreeMonthTopUpWithdrawDifference.secondLastMonth)}}, {{vm.largeWithdrawLog.lastThreeMonthValue.lastMonth}}{{"MONTH" | translate}}: {{$fixTwoDecimalStr(vm.largeWithdrawLog.lastThreeMonthTopUpWithdrawDifference.lastMonth)}}, {{vm.largeWithdrawLog.lastThreeMonthValue.currentMonth}}{{"MONTH" | translate}}: {{$fixTwoDecimalStr(vm.largeWithdrawLog.lastThreeMonthTopUpWithdrawDifference.currentMonth)}})
                    tr(ng-if="vm.largeWithdrawalSetting.showLastThreeMonthConsumptionAmount")
                        td.col-md-3 {{"CONSUMPTION" | translate}}
                        td ({{vm.largeWithdrawLog.lastThreeMonthValue.secondLastMonth}}{{"MONTH" | translate}}: {{$fixTwoDecimalStr(vm.largeWithdrawLog.lastThreeMonthConsumptionAmount.secondLastMonth)}}, {{vm.largeWithdrawLog.lastThreeMonthValue.lastMonth}}{{"MONTH" | translate}}: {{$fixTwoDecimalStr(vm.largeWithdrawLog.lastThreeMonthConsumptionAmount.lastMonth)}}, {{vm.largeWithdrawLog.lastThreeMonthValue.currentMonth}}{{"MONTH" | translate}}: {{$fixTwoDecimalStr(vm.largeWithdrawLog.lastThreeMonthConsumptionAmount.currentMonth)}})

                div(ng-if="vm.largeWithdrawalSetting.allowAdminComment" style="text-align: left; background-color: #047ea5; color: #FFFFFF; font-weight: bold; padding: 13px; border-radius: 38px; width: 61.8%; margin-top: 38px") C. {{"CS Comment Area" | translate}}

                textarea.form-control(ng-if="vm.largeWithdrawalSetting.allowAdminComment" style="margin-top: 12px;" ng-model="vm.largeWithdrawLog.comment" ng-disabled='!(vm.selectedProposal.status==="CsPending" || vm.selectedProposal.status==="Pending")')
            .modal-footer
                button.btn.btn-warning.common-button(data-dismiss='modal' ng-click="vm.recalculateLargeWithdrawal()" ng-if='vm.selectedProposal.status==="CsPending" || vm.selectedProposal.status==="Pending"') {{"Recalculate" | translate}}
                div(ng-if="checkViewPermission('Platform', 'EmailAudit','CanAuditLargeWithdrawal')")
                    // is reviewer
                    button.btn.btn-danger.common-button(data-dismiss='modal' ng-click="vm.auditLargeWithdrawal()" ng-if='vm.selectedProposal.status==="CsPending" || vm.selectedProposal.status==="Pending"') {{"Cancel Proposal" | translate}}
                    button.btn.btn-success.common-button(data-dismiss='modal' ng-click="vm.auditLargeWithdrawal(true)" ng-if='vm.selectedProposal.status==="CsPending" || vm.selectedProposal.status==="Pending"') {{"AUDIT_APPROVAL" | translate}}
                    button.btn.btn-danger.common-button(data-dismiss='modal' ng-if='!(vm.selectedProposal.status==="CsPending" || vm.selectedProposal.status==="Pending")') {{'CANCEL' | translate}}
                div(ng-if="!checkViewPermission('Platform', 'EmailAudit','CanAuditLargeWithdrawal')")
                    // is not reviewer
                    button.btn.btn-danger.common-button(data-dismiss='modal') {{'CANCEL' | translate}}
                    button.btn.btn-success.common-button(ng-click="vm.sendLargeAmountDetailMail()" ng-if='vm.selectedProposal.status==="CsPending" || vm.selectedProposal.status==="Pending"') {{"Send E-mail" | translate}} ({{vm.largeWithdrawLog.emailSentTimes}})

#modalPartnerLargeWithdrawalLog.modal.fade(tabindex='-1', role='dialog', data-backdrop='static', keyboard=false,aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
        .modal-content
            .modal-header
                a.fa.fa-times.close(type='button', data-dismiss='modal')
                div {{"largeWithdrawal" | translate}}
            .modal-body(style="max-height: 71vh; overflow-y: auto;")
                div(style="text-align: left; background-color: #047ea5; color: #FFFFFF; font-weight: bold; padding: 13px; border-radius: 38px; width: 61.8%") A. {{"PARTNER_INFO_SECTION" | translate}}
                div(style="text-align: left; background-color: #0b97c4; color: #FFFFFF; padding: 8px; border-radius: 38px; margin-top: 21px; width: 38.2%") {{"PARTNER_BASIC_INFO" | translate}}
                table.simple-table(style="margin-top: 12px;")
                    tr(ng-if="vm.partnerLargeWithdrawalSetting.showRealName")
                        td.col-md-3 {{"REAL_NAME" | translate}}
                        td {{vm.partnerLargeWithdrawLog.realName}}
                    tr(ng-if="vm.partnerLargeWithdrawalSetting.showCommissionType")
                        td {{"COMMISSION_TYPE" | translate}}
                        td {{vm.partnerLargeWithdrawLog.commissionTypeName}}
                    tr(ng-if="vm.partnerLargeWithdrawalSetting.showBankCity")
                        td {{"BANK_CITY" | translate}}
                        td {{vm.partnerLargeWithdrawLog.bankCity}}
                    tr(ng-if="vm.partnerLargeWithdrawalSetting.showRegisterTime")
                        td {{"REGISTRATION_TIME" | translate}}
                        td {{vm.dateReformat(vm.partnerLargeWithdrawLog.registrationTime) || " "}}
                    tr(ng-if="vm.partnerLargeWithdrawalSetting.showCurrentWithdrawalTime")
                        td {{"CURRENT_WITHDRAWAL_TIME" | translate}}
                        td {{vm.dateReformat(vm.partnerLargeWithdrawLog.withdrawalTime) || " "}}
                    tr(ng-if="vm.partnerLargeWithdrawalSetting.showLastWithdrawalTime")
                        td {{"LAST_WITHDRAWAL_TIME" | translate}}
                        td {{vm.dateReformat(vm.partnerLargeWithdrawLog.lastWithdrawalTime) || " "}}
                    tr(ng-if="vm.partnerLargeWithdrawalSetting.showCurrentCredit")
                        td {{"providerCreditAmount" | translate}}
                        td {{$fixTwoDecimalStr(vm.partnerLargeWithdrawLog.currentCredit)}}
                    tr(ng-if="vm.partnerLargeWithdrawalSetting.showTotalDownlinePlayersCount")
                        td {{"TOTAL_DOWNLINE_PLAYERS_COUNT" | translate}}
                        td {{vm.partnerLargeWithdrawLog.downLinePlayerAmount}}
                    tr(ng-if="vm.partnerLargeWithdrawalSetting.showTotalDownlinePartnersCount")
                        td {{"TOTAL_DOWNLINE_PARTNERS_COUNT" | translate}}
                        td {{vm.partnerLargeWithdrawLog.downLinePartnerAmount}}
                    tr(ng-if="vm.partnerLargeWithdrawalSetting.showProposalId")
                        td {{"withdrawalProposalId" | translate}}
                        td {{vm.partnerLargeWithdrawLog.proposalId}}

                div(style="text-align: left; background-color: #047ea5; color: #FFFFFF; font-weight: bold; padding: 13px; border-radius: 38px; width: 61.8%; margin-top: 38px") B. {{"PROPOSAL_INFO_SECTION" | translate}}
                div(style="text-align: left; background-color: #0b97c4; color: #FFFFFF; padding: 8px; border-radius: 38px; margin-top: 21px; width: 38.2%") {{"Proposal Data" | translate}}
                table.simple-table(style="margin-top: 12px;" ng-if="vm.partnerLargeWithdrawalSetting.showAllPartnerRelatedProposal")
                    tr.highlighted-cell
                        td {{"PROPOSAL_ID" | translate}}
                        td {{"AdminName" | translate}}
                        td {{"INPUT_DEVICE" | translate}}
                        td {{"PROPOSAL_TYPE" | translate}}
                        td {{"PROPOSAL_SUB_TYPE" | translate}}
                        td {{"Proposal Status" | translate}}
                        td {{"INVOLVED_ACC" | translate}}
                        td {{"Amount Involved" | translate}}
                        td {{"createTime" | translate}}
                        td {{"REMARKS" | translate}}
                    tr(ng-repeat='(i,v) in vm.partnerLargeWithdrawLog.proposalsAfterLastWithdrawal')
                        td {{v.proposalId}}
                        td {{v.creatorName}}
                        td {{vm.getInputDeviceName(v.inputDevice)}}
                        td {{v.proposalMainType | translate}}
                        td {{v.proposalType | translate}}
                        td {{v.status| translate}}
                        td {{v.relatedUser}}
                        td {{$fixTwoDecimalStr(v.amount)}}
                        td {{vm.dateReformat(v.createTime)}}
                        td {{v.remark}}


                div(style="text-align: left; background-color: #047ea5; color: #FFFFFF; font-weight: bold; padding: 13px; border-radius: 38px; width: 61.8%; margin-top: 38px") C. {{"CS Comment Area" | translate}}

                textarea.form-control(style="margin-top: 12px;" ng-model="vm.partnerLargeWithdrawLog.comment" ng-disabled='!(vm.selectedProposal.status==="CsPending" || vm.selectedProposal.status==="Pending")')
            .modal-footer
                button.btn.btn-warning.common-button(data-dismiss='modal' ng-click="vm.recalculatePartnerLargeWithdrawal()" ng-if='vm.selectedProposal.status==="CsPending" || vm.selectedProposal.status==="Pending"') {{"Recalculate" | translate}}
                div(ng-if="checkViewPermission('Platform', 'EmailAudit','CanAuditPartnerLargeWithdrawal')")
                    // is reviewer
                    button.btn.btn-danger.common-button(data-dismiss='modal' ng-click="vm.auditLargeWithdrawal(false, true)" ng-if='vm.selectedProposal.status==="CsPending" || vm.selectedProposal.status==="Pending"') {{"Cancel Proposal" | translate}}
                    button.btn.btn-success.common-button(data-dismiss='modal' ng-click="vm.auditLargeWithdrawal(true, true)" ng-if='vm.selectedProposal.status==="CsPending" || vm.selectedProposal.status==="Pending"') {{"AUDIT_APPROVAL" | translate}}
                    button.btn.btn-danger.common-button(data-dismiss='modal' ng-if='!(vm.selectedProposal.status==="CsPending" || vm.selectedProposal.status==="Pending")') {{'CANCEL' | translate}}
                div(ng-if="!checkViewPermission('Platform', 'EmailAudit','CanAuditPartnerLargeWithdrawal')")
                    // is not reviewer
                    button.btn.btn-danger.common-button(data-dismiss='modal') {{'CANCEL' | translate}}
                    button.btn.btn-success.common-button(ng-click="vm.sendPartnerLargeAmountDetailMail()" ng-if='vm.selectedProposal.status==="CsPending" || vm.selectedProposal.status==="Pending"') {{"Send E-mail" | translate}} ({{vm.partnerLargeWithdrawLog.emailSentTimes}})

