.text-center
    p(ng-if="!vm.curPlatformText")
        label.text-danger {{"NO_PLATFORM_MESSAGE" | translate}}
.col-md-6(ng-if="!checkViewPermission('Player', 'Player', 'AdvancedSearch') && vm.curPlatformText")
    .search-box
        .fa.fa-search.pull-right.margin-all-5
        input#playerTableExactSearch.span.input-sm(type="text", placeholder='{{"SEARCH_HERE" | translate}} : {{"PLAYERNAME" | translate}}' ng-model="playerExactSearchText" ng-change="vm.searchForExactPlayerDebounced(playerExactSearchText)")
.col-md-12(ng-show="checkViewPermission('Player', 'Player', 'AdvancedSearch') && vm.curPlatformText")
    .col-md-12.search-filters-container#playerTable-search-filter.well
        .search-filters-item
            label {{'PRODUCT_NAME'| translate}} ({{'Multiple' | translate}})
            select#productName.form-control(ng-model='vm.playerAdvanceSearchQuery.platformList', ng-options='v._id as v.name$ for v in vm.allPlatformData', ng-change='vm.selectLevelOnProductChange();vm.getPlatformCredibilityRemarks(vm.playerAdvanceSearchQuery.platformList);', multiple, bsp, data-actions-box='true')
        .search-filters-item
            label {{'PLAYER_ID' | translate}}
            input.form-control(ng-model='vm.playerAdvanceSearchQuery.playerId', ng-change='vm.getPlayersByAdvanceQueryDebounced(vm.playerAdvanceSearchQuery)')
        .search-filters-item
            label {{'USER_TYPE' | translate}}
            select.form-control(ng-model='vm.playerAdvanceSearchQuery.playerType', ng-change='vm.getPlayersByAdvanceQueryDebounced(vm.playerAdvanceSearchQuery)')
                option(value='Real Player (all)') {{'REAL_PLAYER_ALL' | translate}}
                option(value='Real Player (Individual)') {{'REAL_PLAYER_INDIVIDUAL' | translate}}
                option(value='Real Player (Under Partner)') {{'REAL_PLAYER_UNDER_PARTNER' | translate}}
                option(value='Test Player') {{'TEST_PLAYER' | translate}}
        .search-filters-item
            label {{'PLAYERNAME' | translate}}
            input#playerTableNameSearch.form-control(ng-model='vm.playerAdvanceSearchQuery.name', ng-change='vm.getPlayersByAdvanceQueryDebounced(vm.playerAdvanceSearchQuery)')
        .search-filters-item
            label {{'REAL_NAME' | translate}}
            input.form-control(ng-model='vm.playerAdvanceSearchQuery.realName', ng-change='vm.getPlayersByAdvanceQueryDebounced(vm.playerAdvanceSearchQuery)')
        .search-filters-item
            label {{'LEVEL' | translate}}
            select.form-control(ng-model='vm.playerAdvanceSearchQuery.playerLevel', ng-change='vm.getPlayersByAdvanceQueryDebounced(vm.playerAdvanceSearchQuery)')
                option(value='') —
                option(ng-repeat="(i,v) in vm.playerTableLevelOptions", value='{{v._id}}' ng-if='vm.playerAdvanceSearchQuery && vm.playerAdvanceSearchQuery.platformList && vm.playerAdvanceSearchQuery.platformList.length == 1') {{v.name | translate}}
        .search-filters-item
            label {{'REGISTRATION_TIME' | translate}}
            #regDateTimePicker.datetimepicker.form-control
                input.input-append.playerDate(data-format="dd/MM/yyyy hh:mm:ss", type='text')
                span.add-on
                    i.fa-calendar.fa(data-time-icon='fa fa-clock-o', data-date-icon='fa fa-calendar')
        .search-filters-item
            label {{'REGISTRATION_TIME_END' | translate}}
            #regEndDateTimePicker.datetimepicker.form-control
                input.input-append.playerDate(data-format="dd/MM/yyyy hh:mm:ss", type='text')
                span.add-on
                    i.fa-calendar.fa(data-time-icon='fa fa-clock-o', data-date-icon='fa fa-calendar')
        .search-filters-item
            label {{'LAST_ACCESS_TIME' | translate}}
            #lastAccessDateTimePicker.datetimepicker.form-control
                input.input-append.playerDate(data-format="dd/MM/yyyy hh:mm:ss", type='text')
                span.add-on
                    i.fa-calendar.fa(data-time-icon='fa fa-clock-o', data-date-icon='fa fa-calendar')
        .search-filters-item
            label {{'LAST_ACCESS_TIME_END' | translate}}
            #lastAccessEndDateTimePicker.datetimepicker.form-control
                input.input-append.playerDate(data-format="dd/MM/yyyy hh:mm:ss", type='text')
                span.add-on
                    i.fa-calendar.fa(data-time-icon='fa fa-clock-o', data-date-icon='fa fa-calendar')
        .search-filters-item
            label {{'TELEPHONE' | translate}}
            input.form-control(ng-model='vm.playerAdvanceSearchQuery.phoneNumber', ng-change='vm.getPlayersByAdvanceQueryDebounced(vm.playerAdvanceSearchQuery)')
        .search-filters-item
            label {{'BANK_ACCOUNT' | translate}}
            input.form-control(ng-model='vm.playerAdvanceSearchQuery.bankAccount', ng-change='vm.getPlayersByAdvanceQueryDebounced(vm.playerAdvanceSearchQuery)')
        .search-filters-item
            label {{'EMAIL' | translate}}
            input.form-control(ng-model='vm.playerAdvanceSearchQuery.email', ng-change='vm.getPlayersByAdvanceQueryDebounced(vm.playerAdvanceSearchQuery)')
        .search-filters-item
            label {{'LOGIN_IP' | translate}}
            input.form-control(ng-model='vm.playerAdvanceSearchQuery.loginIps', ng-change='vm.getPlayersByAdvanceQueryDebounced(vm.playerAdvanceSearchQuery)')
        .search-filters-item
            label {{'CREDIBILITY_REMARK' | translate}}
            //select.form-control#selectCredibilityRemark(multiple="multiple", ng-options='remark._id as remark.name | translate for remark in vm.filterCredibilityRemarks', ng-model='vm.playerAdvanceSearchQuery.credibilityRemarks',ng-change='vm.getPlayersByAdvanceQueryDebounced(vm.playerAdvanceSearchQuery)')
            select.form-control(ng-model='vm.playerAdvanceSearchQuery.credibilityRemarks', ng-options='remark._id as remark.name | translate group by remark.platformName for remark in vm.platformCredibilityRemarks', ng-change='vm.getPlayersByAdvanceQueryDebounced(vm.playerAdvanceSearchQuery)' multiple, bsp, data-actions-box='true')
        .search-filters-threeBoxes
            label.control-label {{'LOCAL_AMOUNT' | translate}}
            div
                select.form-control.threeBoxes(ng-model='vm.playerAdvanceSearchQuery.creditOperator', ng-change='vm.getPlayersByAdvanceQueryDebounced(vm.playerAdvanceSearchQuery)')
                    option(value='>=') >=
                    option(value='=') =
                    option(value='<=') <=
                    option(value='range') {{'range' | translate}}
                input.form-control.threeBoxes(ng-model='vm.playerAdvanceSearchQuery.creditAmountOne', type = 'number', ng-change='vm.getPlayersByAdvanceQueryDebounced(vm.playerAdvanceSearchQuery)')
                div.symbol(ng-if="vm.playerAdvanceSearchQuery.creditOperator === 'range'") ~
                input.form-control.threeBoxes(type="number" ng-model="vm.playerAdvanceSearchQuery.creditAmountTwo" ng-if="vm.playerAdvanceSearchQuery.creditOperator === 'range'" ng-change='vm.getPlayersByAdvanceQueryDebounced(vm.playerAdvanceSearchQuery)')
        .search-filters-item
            label {{'PERMISSION' | translate}}
            //select.form-control#selectCredibilityRemark(multiple="multiple", ng-options='remark._id as remark.name | translate for remark in vm.filterCredibilityRemarks', ng-model='vm.playerAdvanceSearchQuery.credibilityRemarks',ng-change='vm.getPlayersByAdvanceQueryDebounced(vm.playerAdvanceSearchQuery)')
            select.form-control(ng-model='vm.playerAdvanceSearchQuery.playerPermission', ng-options='v as i | translate for (i,v) in vm.playerPermission', ng-change='vm.playerAdvanceSearchQuery.playerPermission = vm.getPermissionName(vm.playerAdvanceSearchQuery.playerPermission)')
        .col-xs-12.text-right
            button#searchPlayer.btn.btn-success.margin-right-5(ng-click='vm.advancedPlayerQuery()') {{'SEARCH' | translate}}
            button#resetPlayerQuery.btn.btn-primary {{'Reset' | translate}}

.col-md-12
    label(ng-show='vm.platformPlayerCount') {{'Total Players' | translate}} : {{vm.platformPlayerCount}} ({{"Search Result" | translate}} : {{vm.searchPlayerCount}})
.col-md-12
    label {{"Total" | translate}} {{vm.playerTableData.count}} {{"records" | translate}}
    table#playerDataTable.table-striped.display.text-center.dataTable.table-condensed(style="min-width:100%;overflow:scroll;margin-top:10px;")
        thead
            tr
                th {{'PRODUCT_NAME' | translate}}
                th {{'ID' | translate}}
                th {{'PLAYERNAME' | translate}}
                th {{'REAL_NAME' | translate}}
                th {{'PLAYER_VALUE' | translate}}
                th {{'CREDIBILITY_REMARK' | translate}}
                th {{'LEVEL' | translate}}
                th {{'CREDIT' | translate}}
                th {{'POINT' | translate}}
                th {{'REMARKS' | translate}}
                th {{'REGISTRATION_TIME' | translate}}
                th {{'LAST_ACCESS_TIME' | translate}}
                th {{'LOGIN_TIMES' | translate}}
                th {{'TOP_UP_TIMES' | translate}}
                th {{'Function' | translate}}
                th {{'MAIN_PERMISSION' | translate}}
                th {{'SECONDARY_PERMISSION' | translate}}
                th {{'partner' | translate}}
                th {{'REFERRAL' | translate}}
        tbody
            tr(ng-repeat='(i,v) in vm.playerTableData.data' ng-click="vm.playerTableRowClicked(v);vm.setSelected(i)" ng-class="{selected: i === vm.selectedPlayerRow}")
                td {{ v.platformName }}
                td {{ v.playerId }}
                td
                    a(ng-click="vm.showPlayerInfoModal(v.name)") {{ v.name }}
                td {{ v.realName }}
                td {{ v.valueScore }}
                td
                    a(ng-click="vm.getSelectedRowPlayerCredibility(v);" ng-bind-html="v.credibilityRemarksText" data-toggle="modal" data-target='#modalPlayerCredibilityRemarks')
                td
                    a(ng-click="vm.onClickPlayerCheck(v._id, vm.openEditPlayerDialog, 'basicInfo', JSON.stringify(v))") {{ v.playerLevel.name }}
                td
                    a.rewardTaskPopover(ng-click="" data-container='body' data-placement='bottom' data-toggle="popover" data-trigger='focus') ${{ v.validCredit }} &nbsp;
                    a(ng-if="v.rewardGroupInfo && v.rewardGroupInfo.length > 0" ng-click="").fa.fa-lock {{ v.lockedCredit }} &nbsp;
                    a(ng-click="").fa.fa-gamepad

    div(style="display: flex;justify-content: space-between;")
        div
            div(style='display:inline-block;font-weight:normal')
                text.margin-right-5(style='display:inline-block') {{'EachPage' | translate}}
                input.form-control(style='max-width:80px;display:inline-block;' type='number' ng-init=10 ng-model='vm.playerTableData.limit' ng-blur='vm.searchTeleMarketingSendSmsPageData()')
                text.margin-left-5(style="display:inline-block") {{'COUNT1' | translate}}
        div
            div(style='display:inline-block;font-weight:normal')
                text.margin-right-5(style='display:inline-block') {{'Jump to' | translate}}
                input.form-control.margin-right-5(style='max-width:60px;display:inline-block', type='number',ng-model='vm.telePlayerSendingMsgTable.currentPage',ng-init=1 ,ng-blur="vm.gotoTelePlayerSendingMsgTablePage((vm.telePlayerSendingMsgTable.currentPage),null)")
                text(style="display:inline-block") / {{ vm.telePlayerSendingMsgTable.totalPage }} {{'Page' | translate}}
            div(style='display:inline-block')
                button.btn.btnPage.first_page.margin-left-5(style='border: 1px solid #878787;margin-top:2px' ng-click='vm.changeTelePlayerSendingMsgTablePage("first_page")', ng-disabled='vm.telePlayerSendingMsgTable.currentPage == 1') {{'FIRST_PAGE' | translate}}
            div(style='display:inline-block')
                button.btn.btnPage.prev_page.margin-left-5(style='border: 1px solid #878787;margin-top:2px' ng-click='vm.changeTelePlayerSendingMsgTablePage("previous_page")', ng-disabled='vm.telePlayerSendingMsgTable.currentPage == 1') {{'PREVIOUS_PAGE' | translate}}
            div(style='display:inline-block')
                button.btn.btnPage.next_page.margin-left-5(style='border: 1px solid #878787;margin-top:2px' ng-click='vm.changeTelePlayerSendingMsgTablePage("next_page")', ng-disabled='vm.telePlayerSendingMsgTable.currentPage == vm.telePlayerSendingMsgTable.totalPage') {{'NEXT_PAGE' | translate}}
            div(style='display:inline-block')
                button.btn.btnPage.last_page.margin-left-5(style='border: 1px solid #878787;margin-top:2px' ng-click='vm.changeTelePlayerSendingMsgTablePage("last_page")', ng-disabled='vm.telePlayerSendingMsgTable.currentPage == vm.telePlayerSendingMsgTable.totalPage') {{'LAST_PAGE' | translate}}
.col-md-12.playerBtn
hr.margin-top-bottom-small
.btn-group.margin-small
    button.btn.btn-primary.common-button(ng-if="checkViewPermission('Player', 'Player', 'Create')", ng-disabled="!vm.selectedPlatform", ng-click='vm.prepareCreatePlayer()', data-toggle="modal", data-target='#modalCreatePlayer')
            text {{"CREATE_NEW_PLAYER" | translate}}
            img.img-create
        button.btn.btn-primary.common-button(ng-if="checkViewPermission('Player', 'Player', 'NewPlayerList')", ng-disabled='!vm.selectedPlatform' data-toggle="modal", ng-click='vm.initPlayerModal()', data-target='#modalNewPlayerList')
            text {{"new player list" | translate}}
            img.img-edit
        button.btn.btn-primary.common-button(ng-if="checkViewPermission('Player','Player', 'Read')",ng-disabled="!vm.selectedPlatform", ng-click='vm.prepareShowProviderExpense()')
            text {{"EXPENSE" | translate}}
            i.fa.fa-table
        button.btn.btn-primary.common-button(ng-if="checkViewPermission('Player', 'Player', 'PlatformCreditTransferLog')", ng-disabled='!vm.selectedPlatform' data-toggle="modal", ng-click='vm.showPlatformCreditTransferLog(true)')
            text {{"Platform Credit Transfer Log" | translate}}
            img.img-edit
        button.btn.btn-primary.common-button(ng-if="checkViewPermission('Player', 'Player', 'CreateTrial')", ng-disabled="!vm.selectedPlatform",data-toggle="modal", ng-click='vm.createtrail=false', data-target='#modalCreateTrailPlayer')
            text {{"CREATE_TRIAL" | translate}}
            img.img-create
        button.btn.btn-primary.common-button(ng-if="checkViewPermission('Player', 'Credit', 'CreditChangeLog')", ng-disabled="!vm.canEditPlayer() || vm.selectedPlayersCount!= 1", data-toggle="modal", ng-click='vm.initGameCreditLog()', data-target='#modalGameCreditLog')
            text {{"GAME_CREDIT_LOG" | translate}}
            img.img-edit
        button.btn.btn-primary.common-button(ng-if="checkViewPermission('Player', 'Player', 'ClearProposalLimit')",ng-disabled="!vm.canEditPlayer()|| vm.selectedPlayersCount!= 1", data-toggle="modal", data-target='#modalClearProposalLimit', ng-click='vm.prepareClearPlayerProposalLimit()')
            text {{"ClearProposalLimit" | translate}}
            img.img-edit
        button.btn.btn-primary.common-button(ng-if="checkViewPermission('Player', 'Player', 'PlayerApiLog')",ng-disabled="!vm.selectedPlatform", data-toggle="modal", data-target='#modalPlayerApiLog', ng-click='vm.selectedSinglePlayer = null; vm.initPlayerApiLog()')
            text {{"Player API Log" | translate}}
            img.img-edit
        button.btn.btn-primary.common-button(ng-if="checkViewPermission('Player', 'Player', 'ClearPlayerState')" ng-disabled="!vm.canEditPlayer() || vm.selectedPlayersCount!= 1", data-toggle="modal", data-target='#modalClearPlayerState', ng-click='vm.prepareClearPlayerState()')
            text {{"ClearPlayerState" | translate}}
            img.img-edit
        button.btn.btn-primary.common-button(ng-if="checkViewPermission('Player', 'Player', 'UnbindPhoneDeviceId')" ng-disabled="!vm.canEditPlayer() || vm.selectedPlayersCount!= 1", ng-click='vm.prepareUnbindPhoneDeviceId()')
            text {{"UnbindPhoneDeviceId" | translate}}
            img.img-edit

// Sub-views
#modalCreatePlayer.modal.fade(tabindex='-1', role='dialog', data-backdrop='static', keyboard=false,aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog.widthto50(style='max-height: 80vh;overflow-y: auto;')
        .modal-content
            .modal-header
                a.fa.fa-times.close(type='button', data-dismiss='modal')
                h4.modal-title {{"CREATE_PLAYER" | translate}}
            .modal-body
                .panel.panel-primary
                    .panel-body
                        .well
                            .row
                                include player-create-form
                .well(ng-show='vm.playerCreateResult.success')
                    label.text-success {{'SUCCESS' | translate}}
                .well(ng-show='vm.playerCreateResult && !vm.playerCreateResult.success')
                    label.text-danger {{'FAIL' | translate}}
                    label.form-control {{(vm.playerCreateResult.error.message || vm.playerCreateResult.error.errorMessage || vm.playerCreateResult.error || vm.playerCreateResult) | translate}}
            .modal-footer
                button.btn.btn-primary.common-button(ng-disabled='form_new_player.$invalid || vm.passwordLengthCheck(vm.newPlayer.password)', ng-click="vm.createNewPlayer();", ng-hide='vm.playerCreateResult && vm.playerCreateResult.success') {{"CREATE" | translate}}
                button.btn.btn-warning.common-button(data-dismiss='modal', ng-hide='vm.playerCreateResult') {{"CANCEL" | translate}}
                button.common-button.margin-right-5.btn.btn-warning(data-dismiss='modal', ng-show='vm.playerCreateResult') {{"CLOSE" | translate}}
include modalGameCreditLog
#modalDeletePlayer.modal.fade(tabindex='-1', role='dialog', data-backdrop='static', keyboard=false,aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
        .modal-content
            .modal-header
                a.fa.fa-times.close(type='button', data-dismiss='modal')
                h4.modal-title {{"DELETE_PLAYER" | translate}}
            .modal-body
                .panel.panel-primary
                    .panel-body
                        .row
                            .col-md-12
                                .well
                                    label(ng-if="vm.selectedSinglePlayer.status == 1 ") {{"Are you sure you want to disable player"|translate}}
                                    label(ng-if="vm.selectedSinglePlayer.status != 1 ") {{"Are you sure you want to enable player"|translate}}
                                    strong.text-danger(ng-repeat="(i,v) in vm.selectedPlayers") &nbsp;{{v.name}}
                                    label ?
            .modal-footer
                button.btn-sm.margin-right-5.btn.btn-primary.col-md-2(data-dismiss='modal',ng-click="vm.enableDisablePlayer();") {{"CONFIRM" | translate}}
                button.btn-sm.margin-right-5.btn.btn-warning.col-md-2(data-dismiss='modal') {{"CANCEL" | translate}}

#dialogEditPlayer.dialog-dialog.hidden(ng-non-bindable style='width:60%;max-width:800px;')
    .dialog-content(style="overflow: scroll;height:600px;")
        .dialog-header
            a.fa.fa-times.close.btn.btn-sm(type='button', data-dismiss='dialog')
            a.fa.fa-minus.close.btn.btn-sm(type='button', data-toggle='minimize')
            h4.dialog-title {{"EDIT_PLAYER" | translate}} : {{playerBeforeEditing.name}}
        .dialog-body
            .panel
                .panel-body
                    //here
                    .padding-all-5
                        .panel.panel-primary
                            .panel-heading.common-left-panel-heading
                                ul.nav.nav-tabs.common-nav-tabs
                                    li(ng-show="editPlayerPermission",ng-class="selectedTab=='basicInfo'?'active':''")
                                        a.common-tab(data-toggle="tab", ng-click="selectedTab ='basicInfo';")
                                            text.span {{"Basic" | translate}}
                                    li(ng-show="editContactPermission",ng-class="selectedTab=='contactInfo'?'active':''")
                                        a.common-tab(data-toggle="tab", ng-click="selectedTab ='contactInfo';prepareEditCritical('player');")
                                            text.span {{"CONTACT_INFO" | translate}}
                                    li(ng-show="editWithdrawPermission",ng-class="selectedTab=='withdrawInfo'?'active':''")
                                        a.common-tab(data-toggle="tab", ng-click="selectedTab ='withdrawInfo';prepareEditPlayerPayment();vm.loadBankCard();")
                                            text.span {{"WITHDRAW_INFO" | translate}}
                                    li(ng-show="editMultipleWithdrawPermission",ng-class="selectedTab=='withdrawInfo2'?'active':''")
                                        a.common-tab(data-toggle="tab", ng-click="selectedTab ='withdrawInfo2';prepareEditPlayerPayment2();")
                                            text.span {{"WITHDRAW_INFO_2" | translate}}
                                    li(ng-show="editMultipleWithdrawPermission",ng-class="selectedTab=='withdrawInfo3'?'active':''")
                                        a.common-tab(data-toggle="tab", ng-click="selectedTab ='withdrawInfo3';prepareEditPlayerPayment3();")
                                            text.span {{"WITHDRAW_INFO_3" | translate}}
                                    li(ng-show="editPlayerPermission",ng-class="selectedTab=='topUpInfo'?'active':''")
                                        a.common-tab(data-toggle="tab", ng-click="selectedTab ='topUpInfo';initTopUpGroupChangeLog()")
                                            text.span {{"Topup Group" | translate}}
                                    //li(ng-show="editPlayerPermission",ng-class="selectedTab=='adminNameAdjunction'?'active':''")
                                    //    a.common-tab(data-toggle="tab", ng-click="selectedTab ='adminNameAdjunction';")
                                    //        text.span {{"AdminNameAdjunction" | translate}}
                                            //button.btn.btn-primary.common-button-sm(ng-if="checkViewPermission('Platform', 'Player', 'EditContact')", ng-disabled="!vm.canEditPlayer()|| vm.selectedPlayersCount!= 1", data-toggle="modal", ng-click='vm.prepareEditCritical("player")', data-target='#modalEditCritical') {{"EDIT" | translate}}

                            .panel-body.common-right-panel-body
                                div.tab-content
                                    #basicGroup.tab-pane.fade(ng-class="selectedTab =='basicInfo'?'in active':''")
                                        include player-edit-form
                                        button.btn.btn-warning.common-button(data-dismiss='dialog') {{"CANCEL" | translate}}
                                        button.dialogEditPlayerSubmitBtn.btn.btn-primary.common-button(data-dismiss='dialog', ng-disabled='form_editing_player.$invalid', ng-click="updateEditedPlayer();") {{"UPDATE" | translate}}
                                    #contactGroup.tab-pane.fade(ng-class="selectedTab =='contactInfo'?'in active':''")
                                        include player-edit-contact
                                    #withdrawGroup.tab-pane.fade(ng-class="selectedTab =='withdrawInfo'?'in active':''")
                                        include player-edit-withdraw
                                    #withdrawGroup2.tab-pane.fade(ng-class="selectedTab =='withdrawInfo2'?'in active':''")
                                        include player-edit-withdraw2
                                    #withdrawGroup3.tab-pane.fade(ng-class="selectedTab =='withdrawInfo3'?'in active':''")
                                        include player-edit-withdraw3
                                    #topUpGroup.tab-pane.fade(ng-class="selectedTab =='topUpInfo'?'in active':''")
                                        include player-edit-payment-form
                                        button.btn.btn-warning.common-button(data-dismiss='dialog') {{"CANCEL" | translate}}
                                        button.dialogEditPlayerSubmitBtn.btn.btn-primary.common-button(data-dismiss='dialog', ng-disabled='form_edit_player.$invalid || form_edit_player.$pristine', ng-click="updateEditedPlayer();") {{"UPDATE" | translate}}
                                    #adminNameGroup.tab-pane.fade(ng-class="selectedTab =='adminNameAdjunction'?'in active':''")
                                        include player-edit-adjunction-form
                                        button.btn.btn-warning.common-button(data-dismiss='dialog') {{"CANCEL" | translate}}
                                        button.dialogEditPlayerSubmitBtn.btn.btn-primary.common-button(data-dismiss='dialog', ng-disabled='(form_edit_player_admin.$invalid || form_edit_player_admin.$pristine) || checkAdminNameValidity()', ng-click="updateEditedPlayer();") {{"UPDATE" | translate}}
                                div(ng-show="selectedTab =='topUpInfo'")
                                    hr
                                    .btn.btn-success(ng-click="getPlayerTopUpGroupChangeLog(0,10)") {{'TOPUP_GROUP_RECORD' | translate}}
                                    table.topupGroupRecordTable.common-table.display.paymentGroup-btn
                                    .topupGroupRecordTablePage


#modalPlayerDailyExpenses.modal.fade(tabindex='-1', role='dialog', data-backdrop='static', keyboard=false,aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
        .modal-content
            .modal-header
                a.fa.fa-times.close(type='button', data-dismiss='modal')
                h4.modal-title {{"Daily Expense Records for"|translate}} {{vm.isOneSelectedPlayer().name}}
            .modal-body
                .panel.panel-primary
                    .panel-body
                        #playerDailyExpense.adminLogQueryDiv
                            .inlineBlk
                                label {{'START_DATE' | translate}}
                                .startTime
                            .inlineBlk
                                label {{'END_DATE' | translate}}
                                .endTime
                            .inlineBlk
                                label {{'GAME_PROVIDER' | translate}}
                                select.form-control(ng-model='vm.queryPara.playerDailyExpense.providerId', ng-options='a._id as a.name for (i,a) in vm.platformProviderList')
                                    option(value='') {{'any' | translate}}
                            //.inlineBlk
                                label {{'Search limit(Max rows)' | translate}}
                                select.form-control.limit(ng-model='vm.queryPara.playerDailyExpense.limit')
                                    option 50
                                    option 100
                                    option 200
                                    option(value='-1') {{'Unlimited' | translate}}
                            .inlineBlk
                                label {{'Occupy' | translate}}
                                select.form-control.limit(ng-model='vm.queryPara.playerDailyExpense.dirty', required)
                                    option(value='') {{'any' | translate}}
                                    option(value='Y') {{'Yes' | translate}}
                                    option(value='N') {{'No' | translate}}
                            .inlineBlk
                                button.btn.btn-primary(ng-click='vm.getPlayerDailyExpenseByFilter(true)') {{'SEARCH' | translate}}
                        .well
                            .row
                                .col-md-12
                                    pre
                                        text {{"Total Amount"|translate}}:
                                        label {{vm.totalConsumptionAmount}}&nbsp
                                        text {{"Total Valid Amount"|translate}}:
                                        label {{vm.totalConsumptionValidAmount}}&nbsp
                                        text {{"Total Bonus Amount"|translate}}:
                                        label {{vm.totalConsumptionBonusAmount}}
                                    p
                                    label {{"Total" | translate}} {{vm.playerDailyExpenseLog.totalCount}} {{"records" | translate}}
                                    i.fa.fa-spin.fa-spinner(ng-show='vm.playerDailyExpenseLog.loading')
                                    table#playerDailyExpenseTable.common-table.display.paymentGroup-btn
                                    #playerDailyExpenseTablePage
                                //thead
                                    tr
                                        th {{'CREATION_TIME' | translate}}
                                        th {{'PROVIDER' | translate}}
                                        th {{'GAME_TITLE' | translate}}
                                        th {{'GAME_TYPE' | translate}}
                                        th {{'Game Round' | translate}}
                                        th {{'VALID_AMOUNT' | translate}}
                                        th {{'CREDIT' | translate}}
                                        th {{'orderId' | translate}}
                                        th {{'bonusAmount' | translate}}
                                        th {{'commissionAmount' | translate}}
                                //tbody
                                    tr(ng-repeat='(i,v) in vm.playerDailyExpenseRecords')
                                        td {{vm.dateReformat(v.createTime)}}
                                        td {{v.providerId.name}}
                                        td {{v.gameId.name}}
                                        td {{vm.allGameTypes[v.gameType] || 'Unknown' | translate}}
                                        td {{v.roundNo}}
                                        td {{v.validAmount || 0}}
                                        td {{v.amount || 0}}
                                        td {{v.orderNo}}
                                        td {{v.bonusAmount || 0}}
                                        td {{v.commissionAmount || 0}}

#statusPopover.hide(style="width: 600px", ng-non-bindable)
    //- label The status for {{vm.statusPopover.name}}
    //- .well
    table.simple-table
        tr
            td.alignLeft
                div(ng-repeat='(i,v) in vm.allPlayersStatusString')
                    label
                        input.playerStatusChange.pull-left(data-row='{{vm.statusPopover}}' data-status='{{v}}' type='radio' name='playerstatus' ng-checked='v==vm.statusPopover.status')
                        span.padding-left-5 {{vm.allPlayersStatusKeys[v-1]|translate}}
                div.playerStatusConfirmation
                    label {{'REASON' | translate}}
                    .textareaDetail
                        .well(style='padding:5px;')
                            textarea.playerStatusChangeReason(rows="3" style="border:none")
                    button.common-button.margin-right-5.btn.btn-success.playerStatusConfirm.disabled {{'CONFIRM' | translate}}
                    button.common-button.margin-right-5.btn.btn-warning.playerStatusCancel {{'CANCEL' | translate}}
            td
                button.btn.common-button.btn-primary.playerStatusHistory {{'SHOW_CHANGE_HISTORY' | translate}}
                table(ng-if='vm.playerStatusHistory && vm.playerStatusHistory.length>0')
                    thead
                        tr
                            th {{'TIME' | translate}}
                            th {{'REASON' | translate}}
                            th {{'STATUS' | translate}}
                            th {{'ADMIN' | translate}}
                    tbody
                        tr(ng-repeat='(i,v) in vm.playerStatusHistory')
                            td {{vm.dateReformat(v.createTime)}}
                            td(style='max-width:200px') {{v.reason}}
                            td {{vm.allPlayersStatusKeys[v.status-1] | translate}}
                            td {{v.adminName}}
                div(ng-if='vm.playerStatusHistory.length==0') {{'NO_RECORD' | translate}}

#prohibitGamePopover.hide(style="width: 600px", ng-non-bindable)
    table.simple-table
        tr
            td.alignLeft
                label {{"BANNED_FROM_THESE_PROVIDERS" | translate}}
                div(ng-repeat='(i,v) in vm.showPlatform.gameProviders')
                    label {{vm.getProviderText(v)}}
                        input.playerStatusProviderForbid.pull-left.margin-right-5(type='checkbox', data-provider='{{v}}',ng-change='vm.forbidModification(v, isTrue, "forbidGameAddList", "forbidGameRemoveList")', ng-model="isTrue", ng-checked='vm.prohibitGamePopover.forbidProviders.indexOf(v)>-1')
                        span(id="{{'c-'+v}}")
                .textareaDetail.margin-top-bottom-small
                    textarea.forbidRewardRemark(ng-model='vm.forbidGameRemark', placeholder='{{"Please add remark." | translate}}')
                button.common-button.margin-right-5.btn.btn-success.forbidGameConfirm(ng-show="checkViewPermission('Player', 'Disable','ForbidProviders') && vm.platformPageName!='batchPermit'", ng-disabled='vm.forbidGameDisable') {{'CONFIRM' | translate}}
                button.common-button.margin-right-5.btn.btn-success.forbidBatchGameConfirm(ng-show="checkViewPermission('Player', 'Disable','ForbidProviders') && vm.platformPageName=='batchPermit'") {{'CONFIRM' | translate}}

                button.common-button.margin-right-5.btn.btn-warning.forbidGameCancel {{'CANCEL' | translate}}
                button.common-button.margin-right-5.btn.btn-primary.showForbidGame(data-toggle="modal", data-target="#modalForbidGameLog", ng-click="vm.getForbidGame();", ng-show="vm.platformPageName!='batchPermit'") {{'CHANGES_RECORD' | translate}}

#forbidPromoCodePopover.hide(style="width: 600px", ng-non-bindable)
    table.simple-table
        tr
            td(style='text-align:left')
                label {{"FORBID_PROMOCODE" | translate}}
                div(ng-repeat='(i,v) in vm.promoCodeByPlatform')
                    label {{v.category | translate}}
                    div(ng-repeat=" promoCode in v.data")
                        label {{promoCode.name}}
                            input.playerPromoCodeForbid.pull-left.margin-right-5(type='checkbox', data-provider='{{promoCode._id}}', ng-change='vm.forbidModification(promoCode._id, isTrue, "forbidPromoCodeAddList", "forbidPromoCodeRemoveList")', ng-model="isTrue", ng-checked='vm.forbidPromoCodePopover.forbidPromoCodeList.indexOf(promoCode._id)>-1 || vm.selectedAllForbidPromoCode')
                            span(id="{{'c-'+promoCode._id}}")
                    //.textareaDetail.margin-top-bottom-small
                    //    input.playePromoCodeForbid.pull-left.margin-right-5(type='checkbox', data-provider='{{v._id}}', ng-change='vm.forbidModification(v._id, isTrue, "forbidRewardEventAddList", "forbidRewardEventRemoveList")', ng-model="isTrue", ng-checked='vm.forbidRewardEventPopover.forbidRewardEvents.indexOf(v._id)>-1')
                    //    span(id="{{'c-'+v._id}}")
                div
                    label.text-danger {{'Select All' | translate}}
                        input.playerPromoCodeForbid.pull-left.margin-right-5(type='checkbox', ng-model='isTrue', ng-click='vm.selectedAllForbidPromoCode = !vm.selectedAllForbidPromoCode;', ng-checked='vm.selectedAllForbidPromoCode')
                .textareaDetail.margin-top-bottom-small
                    textarea.forbidPromoCodeRemark(ng-model='vm.forbidPromoCodeRemark', placeholder='{{"Please add remark." | translate}}')
                button.common-button.margin-right-5.btn.btn-success.forbidPromoCodeConfirm(ng-show="checkViewPermission('Player', 'Disable','ForbidPromoCode') && vm.platformPageName!='batchPermit'", ng-disabled='vm.forbidPromoCodeDisable') {{'CONFIRM' | translate}}
                button.common-button.margin-right-5.btn.btn-success.forbidBatchPromoCodeConfirm(ng-show="checkViewPermission('Player', 'Disable','ForbidPromoCode') && vm.platformPageName=='batchPermit'") {{'CONFIRM' | translate}}

                button.common-button.margin-right-5.btn.btn-warning.forbidPromoCodeCancel(data-dismiss='popover') {{'CANCEL' | translate}}
                button.common-button.margin-right-5.btn.btn-primary.showForbidPromoCode(data-toggle="modal", data-target="#modalForbidPromoCodeLog", ng-click="vm.getForbidPromoCode();", ng-show="vm.platformPageName!='batchPermit'") {{'CHANGES_RECORD' | translate}}

#forbidRewardEventPopover.hide(style="width: 600px", ng-non-bindable)
    table.simple-table
        tr
            td.alignLeft

                label {{"FORBID_REWARD" | translate}}
                //div
                //    label {{"优惠代码" | translate}}
                //        input.playerRewardEventForbid.pull-left.margin-right-5(type='checkbox', ng-model='vm.forbidPromoCode', ng-checked='vm.forbidPromoCode || vm.selectedAllForbidRewardEvent')
                div
                    label {{"PlayerLevelUp" | translate}}
                        input.playerRewardEventForbid.pull-left.margin-right-5(type='checkbox', ng-model='vm.forbidLevelUpReward', ng-checked='vm.forbidLevelUpReward || vm.selectedAllForbidRewardEvent')
                div
                    label {{"PlayerLevelMaintain" | translate}}
                        input.playerRewardEventForbid.pull-left.margin-right-5(type='checkbox', ng-model='vm.forbidLevelMaintainReward', ng-checked='vm.forbidLevelMaintainReward || vm.selectedAllForbidRewardEvent')
                div(ng-repeat='(i,v) in vm.allRewardEventNoXima')
                    label {{v.name}}
                        input.playerRewardEventForbid.pull-left.margin-right-5(type='checkbox', data-provider='{{v._id}}', ng-change='vm.forbidModification(v._id, isTrue, "forbidRewardEventAddList", "forbidRewardEventRemoveList")', ng-model="isTrue", ng-checked='vm.forbidRewardEventPopover.forbidRewardEvents.indexOf(v._id)>-1 || vm.selectedAllForbidRewardEvent')
                        span(id="{{'c-'+v._id}}")
                div
                    label.text-danger {{'Select All' | translate}}
                        input.playerRewardEventForbid.pull-left.margin-right-5(type='checkbox', ng-model='isTrue', ng-click='vm.selectedAllForbidRewardEvent = !vm.selectedAllForbidRewardEvent; vm.forbidPromoCode = vm.selectedAllForbidRewardEvent', ng-checked='vm.selectedAllForbidRewardEvent')
                .textareaDetail.margin-top-bottom-small
                    textarea.forbidRewardRemark(ng-model='vm.forbidRewardRemark', placeholder='{{"Please add remark." | translate}}')
                button.common-button.margin-right-5.btn.btn-success.forbidRewardEventConfirm(ng-show="checkViewPermission('Player', 'Disable','ForbidRewards') && vm.platformPageName!='batchPermit'", ng-disabled='vm.forbidRewardDisable') {{'CONFIRM' | translate}}
                button.common-button.margin-right-5.btn.btn-success.forbidBatchRewardEventConfirm(ng-show="checkViewPermission('Player', 'Disable','ForbidRewards') && vm.platformPageName=='batchPermit'") {{'CONFIRM' | translate}}

                button.common-button.margin-right-5.btn.btn-warning.forbidRewardEventCancel(data-dismiss='popover') {{'CANCEL' | translate}}
                button.common-button.margin-right-5.btn.btn-primary.showForbidreward(data-toggle="modal", data-target="#modalForbidRewardLog", ng-click="vm.getForbidReward();", ng-show="vm.platformPageName!='batchPermit'") {{'CHANGES_RECORD' | translate}}

#forbidTopUpPopover.hide(style="width: 600px", ng-non-bindable)
    table.simple-table
        tr
            td.alignLeft
                label {{"ForbidTopupTypes" | translate}}
                div(ng-repeat='(i,v) in merchantTopupTypeJson')
                    label {{v | translate}} ({{v}}): {{i}}
                        input.playerTopUpTypeForbid.pull-left.margin-right-5(type='checkbox', data-provider='{{i}}',ng-change='vm.forbidModification(i, isTrue, "forbidTopUpAddList", "forbidTopUpRemoveList")', ng-model="isTrue", ng-checked='vm.forbidTopUpPopover.forbidTopUpType.indexOf(i)>-1')
                        span(id="{{'c-'+i}}")
                .textareaDetail.margin-top-bottom-small
                    textarea.forbidRewardRemark(ng-model='vm.forbidTopUpRemark', placeholder='{{"Please add remark." | translate}}')
                button.common-button.margin-right-5.btn.btn-success.forbidTopUpConfirm(ng-show="checkViewPermission('Player', 'Disable','ForbidTopupTypes') && vm.platformPageName!='batchPermit'",ng-disabled='vm.forbidTopUpDisable') {{'CONFIRM' | translate}}
                button.common-button.margin-right-5.btn.btn-success.forbidBatchTopUpConfirm(ng-show="checkViewPermission('Player', 'Disable','ForbidTopupTypes') && vm.platformPageName=='batchPermit'") {{'CONFIRM' | translate}}
                button.common-button.margin-right-5.btn.btn-warning.forbidTopUpCancel {{'CANCEL' | translate}}
                button.common-button.margin-right-5.btn.btn-primary.showForbidTopUp(data-toggle="modal", data-target="#modalForbidTopUpLog", ng-click="vm.getForbidTopUp();", ng-show="vm.platformPageName!='batchPermit'") {{'CHANGES_RECORD' | translate}}

#forbidRewardPointsEventPopover.hide(style="width: 600px", ng-non-bindable)
    table.simple-table
        tr
            td.alignLeft
                label {{"LOGIN_REWARD_POINTS" | translate}}
                div(ng-repeat="(i,v) in vm.rewardPointsEventByPlatform | filter: {category: constRewardPointsTaskCategory.LOGIN_REWARD_POINTS}")
                    label {{v.rewardTitle}}
                        input.playerRewardPointsEventForbid.pull-left.margin-right-5(type='checkbox', data-provider='{{v._id}}',ng-change='vm.forbidModification(v._id, isTrue, "forbidRewardPointsAddList", "forbidRewardPointsRemoveList")', ng-model="isTrue", ng-checked='vm.forbidRewardPointsEventPopover.forbidRewardPointsEvent.indexOf(v._id)>-1')
                        span(id="{{'c-'+v._id}}")
                .textareaDetail.margin-top-bottom-small
                label {{"TOPUP_REWARD_POINTS" | translate}}
                div(ng-repeat="(i,v) in vm.rewardPointsEventByPlatform | filter: {category: constRewardPointsTaskCategory.TOPUP_REWARD_POINTS}")
                    label {{v.rewardTitle}}
                        input.playerRewardPointsEventForbid.pull-left.margin-right-5(type='checkbox', data-provider='{{v._id}}',ng-change='vm.forbidModification(v._id, isTrue, "forbidRewardPointsAddList", "forbidRewardPointsRemoveList")', ng-model="isTrue", ng-checked='vm.forbidRewardPointsEventPopover.forbidRewardPointsEvent.indexOf(v._id)>-1')
                        span(id="{{'c-'+v._id}}")
                .textareaDetail.margin-top-bottom-small
                .textareaDetail.margin-top-bottom-small
                label {{"GAME_REWARD_POINTS" | translate}}
                div(ng-repeat="(i,v) in vm.rewardPointsEventByPlatform | filter: {category: constRewardPointsTaskCategory.GAME_REWARD_POINTS}")
                    label {{v.rewardTitle}}
                        input.playerRewardPointsEventForbid.pull-left.margin-right-5(type='checkbox', data-provider='{{v._id}}',ng-change='vm.forbidModification(v._id, isTrue, "forbidRewardPointsAddList", "forbidRewardPointsRemoveList")', ng-model="isTrue", ng-checked='vm.forbidRewardPointsEventPopover.forbidRewardPointsEvent.indexOf(v._id)>-1')
                        span(id="{{'c-'+v._id}}")
                .textareaDetail.margin-top-bottom-small
                    textarea.forbidRewardPointsEventRemark(ng-model='vm.forbidRewardPointsEventRemark', placeholder='{{"Please add remark." | translate}}')
                button.common-button.margin-right-5.btn.btn-success.forbidRewardPointsEventConfirm(ng-show="checkViewPermission('Player', 'Disable','ForbidRewardPointsEvent') && vm.platformPageName!='batchPermit'",ng-disabled='vm.forbidRewardPointsEventDisable') {{'CONFIRM' | translate}}
                button.common-button.margin-right-5.btn.btn-success.forbidBatchRewardPointsEventConfirm(ng-show="checkViewPermission('Player', 'Disable','ForbidRewardPointsEvent') && vm.platformPageName=='batchPermit'") {{'CONFIRM' | translate}}
                button.common-button.margin-right-5.btn.btn-warning.forbidRewardPointsEventCancel {{'CANCEL' | translate}}
                button.common-button.margin-right-5.btn.btn-primary.showForbidRewardPointsEvent(data-toggle="modal", data-target="#modalForbidRewardPointsEventLog", ng-click="vm.getForbidRewardPointsEvent();", ng-show="vm.platformPageName!='batchPermit'") {{'CHANGES_RECORD' | translate}}

#partnerLevelPopover.hide
    //- label The level for {{vm.partnerLevelPopover.name}}
    //- .well
    div(ng-repeat='(i,v) in vm.allPartnerLevels')
        label
            input.partnerLevelChange.pull-left(data-row='{{vm.partnerLevelPopover}}' data-level-id='{{v._id}}' data-level-name='{{v.name}}' type='radio' name='partnerlevel' ng-checked='v._id==vm.partnerLevelPopover.level._id')
            span.padding-left-5 {{v.name|translate}}
#levelPopover.hide
    //label {{vm.levelPlayer.playerLevel}}
    //label {{vm.nextPlayerLevelData}}
    .levelPopover
        label {{'CURRENT_LEVEL' | translate}}:&nbsp
        span.text-success {{vm.levelPlayer.playerLevel.name}}&nbsp;
        table.simple-table
            tr
                td(style='padding:0')
                    svg(width='96', height='62', viewbox='0 0 96 62')
                        line(x1="0%" y1="0%" x2="100%" y2="100%" style="stroke:rgba(0, 0, 255, 0.22);stroke-width:1;")
                td
                    text {{'CURRENT' | translate}}
                    br
                    label.text-danger {{vm.levelPlayer.playerLevel.name|translate}}
                //- How to show progress when there are multiple conditions for topup in levelUpConfig?  Show progress towards the first condition?
                //- td {{'PROGRESS' | translate}}
                //- td
                //-     text {{'NEXT' | translate}}
                //-     br
                //-     label.text-danger {{vm.nextPlayerLevelData.name|translate}}
            tr.consumptionPlayer
                td {{'CONSUMPTION' | translate}}
                td {{vm.levelPlayer.consumptionSum}}
                //- td.progress.progress-striped.active
                //-     .progress-bar.progress-bar-success
                //- td {{vm.nextPlayerLevelData.consumptionLimit}}
            tr.topupPlayer
                td {{'TOP_UP' | translate}}
                td {{vm.levelPlayer.topUpSum}}
                //- td.progress.progress-striped.active
                //-     .progress-bar.progress-bar-success
                //- td {{vm.nextPlayerLevelData.topupLimit}}



#rewardTaskPopover.hide(style="width: 600px")
    label {{"Reward task for"|translate}} {{vm.rewardTaskPlayerName}}
        div(style='max-height:400px;overflow-y:auto;')
            table.simple-table
                thead
                    tr
                        th {{'TYPE' | translate}}
                        th {{'CREATE_TIME' | translate}}
                        th {{'STATUS' | translate}}
                        th {{'initAMOUNT' | translate}}
                        th {{'currentAMOUNT' | translate}}
                        th {{'UNLOCKAMOUNT' | translate}}
                        th {{'REWARD_EVENT' | translate}}
                        th {{'provider' | translate}}

                tbody(ng-repeat='rewardTask in vm.curRewardTask')
                    tr
                        td {{rewardTask.type | translate}}
                        td {{vm.dateReformat(rewardTask.createTime)}}
                        td {{rewardTask.status | translate}}
                        td {{rewardTask.initAmount || 0}}
                        td {{rewardTask.currentAmount || 0}}
                        td {{rewardTask.unlockedAmount || rewardTask.unlockedBonusAmount || 0}} / {{rewardTask.requiredUnlockAmount || rewardTask.requiredBonusAmount}}
                        td {{rewardTask.eventId.name}} ({{rewardTask.eventId.code}})
                        td
                            text {{ (!rewardTask.targetProviders || rewardTask.targetProviders.length <= 0) ? "ALL_PROVIDERS" : rewardTask.targetEnable ? "Allow:" : "Disable:" | translate }}
                            text(ng-repeat='(i,v) in rewardTask.targetProviders') &nbsp;{{v.name}}

#rewardTaskGroupPopover.hide(style="width: 600px")
    label {{"MEMBERSHIP_ACCOUNT_NUMBER"|translate}}: {{vm.rewardTaskPlayerName}}
        div(style='max-height:400px;overflow-y:auto;')
            table.simple-table
                thead
                    tr
                        th {{'Provider group' | translate}}
                        th {{'CREDIT' | translate}}
                        th {{'Unlock Progress(Consumption)' | translate}}
                tbody
                    tr(ng-if='vm.showLocalCredit')
                        td {{'LOCAL_CREDIT' | translate}}
                        td {{vm.selectedPlayerValidCredit}}
                        td --
                    tr(ng-if='vm.showAnyLobby')
                        td {{'ANY_LOBBY' | translate}}
                        td {{vm.selectedPlayerValidCredit}}
                        td {{vm.anyLobbyCurConsumption | noRoundTwoDecimalPlaces }} / {{ (vm.anyLobbyTargetConsumption + vm.anyLobbyForbidXIMAAmt) | noRoundTwoDecimalPlaces }}
                    //tr(ng-repeat="group in vm.rewardTaskGroupPopoverData | orderBy:'providerGroup.providers'")
                    tr(ng-repeat="group in vm.rewardTaskGroupPopoverData")
                        td {{group.providerGroup.name | translate}}
                        td {{group.rewardAmt | noRoundTwoDecimalPlaces}}
                        td {{group.curConsumption | noRoundTwoDecimalPlaces }} / {{ (group.targetConsumption + group.forbidXIMAAmt) | noRoundTwoDecimalPlaces }}

#playerFeedbackPopover.hide(style="width: 600px")
    label {{"Feedback History"| translate}}
    div(style='max-height:400px;overflow-y:auto;')
        text(ng-if='vm.playerFeedbackData.length==0')
        table.simple-table
            thead
                tr
                    th(style='min-width:90px;') {{'TIME' | translate}}
                    th {{'RESULT' | translate}}
                    th {{'CONTENT' | translate}}
            tbody(ng-if='vm.playerFeedbackData.length>0', style='max-height:500px;overflow-y:auto')
                tr(ng-repeat='(i,v) in vm.playerFeedbackData')
                    td {{vm.dateReformat(v.createTime)}}
                    td {{v.result | translate}}
                    td(style='white-space: normal;word-wrap: break-word;max-width: 300px;') {{v.content}}


#modalCreateTrailPlayer.modal.fade(tabindex='-1', role='dialog', data-backdrop='static', keyboard=false,aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog.modal-medium
        .modal-content
            .modal-header
                a.fa.fa-times.close(type='button', data-dismiss='modal')
                h4.modal-title {{'CREATE_TRIAL' | translate}}
            .modal-body
                .panel.panel-primary
                    .panel-body
                        .well
                            .form-group
                                select.form-control(ng-model='vm.testPlayerPlatform', ng-options='v.platformId as v.name$ for v in vm.allPlatformData', required)
                                text.control-label(ng-if='!vm.createtrail') {{"Create Trail Player" | translate}}?
                                text.control-label(ng-if='vm.createtrail') {{"Trail Player Created" | translate}}
                        .well(ng-if='vm.createtrail')
                            .form-group
                                label.control-label {{'TEST_PLAYER_NAME' | translate}}
                                label.form-control {{vm.testPlayerName}}
                                label.control-label {{'TEST_PLAYER_PASSWORD' | translate}}
                                label.form-control {{vm.testPlayerPassword}}
            .modal-footer
                button.btn.btn-success.btn-space(ng-if='!vm.createtrail', ng-disabled='!vm.testPlayerPlatform', ng-click='vm.createTrialPlayerAccount()') {{'CREATE_TRIAL' | translate}}
                button.btn.btn-success.btn-space(ng-if='vm.createtrail', data-dismiss='modal') {{'OK' | translate}}
                button.btn.btn-warning.btn-space(ng-if='!vm.createtrail', data-dismiss='modal') {{"CANCEL" | translate}}
#modalPlayerForbidTopupTypes.modal.fade(tabindex='-1', role='dialog', data-backdrop='static', keyboard=false,aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog.modal-medium
        .modal-content
            .modal-header
                a.fa.fa-times.close(type='button', data-dismiss='modal')
                h4.modal-title {{'Forbid TopUp Types' | translate}} : {{vm.isOneSelectedPlayer().name}}
            .modal-body
                .panel.panel-primary
                    .panel-body
                        .well
                            label {{'Click to disable Topup Types' | translate}}
                            .clearfix
                            .inlineBlk(ng-repeat='(i,v) in merchantTopupTypeJson')
                                .bg-pale.margin-right-5.padding-all-5(ng-if='vm.showForbidTopupTypes.indexOf(i)==-1', ng-click='vm.playerTopupTypes("add",i)')
                                    text.text-success {{v | translate}}
                        .well
                            label {{'The following topup types will be disabled' | translate}} :&nbsp;
                            .clearfix
                            .inlineBlk(ng-show='vm.showForbidTopupTypes.length>0', ng-repeat='(i,v) in vm.showForbidTopupTypes', ng-click='vm.playerTopupTypes("del",v)')
                                .bg-pale.margin-right-5.padding-all-5
                                    text.text-danger {{merchantTopupTypeJson[v] | translate}}
                            label.text-success(ng-show='vm.showForbidTopupTypes.length==0') {{'All topup types are available!' | translate}}
            .modal-footer
                button.common-button.margin-right-5.btn.btn-success(data-dismiss='modal', ng-click='vm.confirmUpdatePlayerTopupTypes()') {{'CONFIRM' | translate}}
                button.common-button.margin-right-5.btn.btn-warning(data-dismiss='modal') {{"CANCEL" | translate}}




#modalEditPlayerPayment.modal.fade(tabindex='-1', role='dialog', data-backdrop='static', keyboard=false,aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog.modal-medium
        .modal-content
            .modal-header
                a.fa.fa-times.close(type='button', data-dismiss='modal')
                h4.modal-title {{"PAYMENT_PLAYER" | translate}} of {{vm.isOneSelectedPlayer().name}}
            .modal-body
                form(name='form_playerPaymentInfo').well
                    .form-group-col-md-6
                        label.control-label {{'BANK_ACCOUNT_NAME' | translate}}
                        input.form-control(ng-model='vm.playerPayment.bankAccountName', ng-disabled='!vm.isEditingPlayerPayment')
                    .form-group-col-md-6
                        label.control-label(style='width:100%') *{{'BANK_NAME' | translate}}
                        select.form-control(ng-model='vm.playerPayment.bankName', ng-show='!vm.isEditingPlayerPayment', disabled)
                            option(ng-repeat="(i,v) in vm.allBankTypeList", value='{{i}}') {{v}}
                        .col-md-6(style='padding-left:0', ng-show='vm.isEditingPlayerPayment')
                            select.form-control(ng-model='vm.playerPayment.bankName', ng-options='i as v for (i,v) in vm.filteredBankTypeList', required)
                        .col-md-6(style='padding-right:0', ng-show='vm.isEditingPlayerPayment')
                            input.form-control(type='text', placeholder="{{'SEARCH' | translate}}", ng-model='vm.filterBankName', ng-change='vm.filterBankname("playerPayment")')
                    .form-group-col-md-6
                        .control-label
                            label {{'BANK_ACCOUNT' | translate}}
                            text.margin-left-5.small ({{'Min length 16, all digits' | translate}})
                        div
                            input.form-control.inlineBlk(ng-model='vm.playerPayment.encodedBankAccount', style='width:calc(100% - 100px)', ng-if='!vm.isEditingPlayerPayment', disabled)
                            input.form-control.inlineBlk(ng-model='vm.playerPayment.newBankAccount', ng-change='vm.playerPayment.showNewAccountNo=true;', style='width:calc(100% - 100px)', ng-if='vm.isEditingPlayerPayment && !vm.playerPayment.showNewAccountNo')
                            input.form-control.inlineBlk(ng-model='vm.playerPayment.newBankAccount', pattern= "[0-9]{16,}", style='width:calc(100% - 100px)', ng-if='vm.isEditingPlayerPayment && vm.playerPayment.showNewAccountNo')
                            button.btn.btn-info.pull-right(style='width:80px', ng-click='vm.isEditingPlayerPaymentShowVerify=!vm.isEditingPlayerPaymentShowVerify')
                                text(ng-if='vm.isEditingPlayerPaymentShowVerify') {{::'CLOSE' | translate}}
                                text(ng-if='!vm.isEditingPlayerPaymentShowVerify') {{::'VERIFY' | translate}}
                    .panel.panel-default.margin-top-10(ng-if='vm.isEditingPlayerPaymentShowVerify')
                        .panel-body
                            label.control-label {{"VERIFY_BANK_ACCOUNT" | translate}}
                            input.form-control(type="text", placeholder="{{'VERIFY_BANK_ACCOUNT' | translate}}", ng-model="vm.verifyBankAccount")
                            p
                            button.btn.btn-primary.common-button(ng-disabled='!vm.verifyBankAccount', ng-click="vm.verifyPlayerBankAccount(vm.verifyBankAccount)") {{"VERIFY" | translate}}
                            label.fa.fa-check.colorGreen(ng-if='vm.correctVerifyBankAccount')
                            label.fa.fa-times.colorRed(ng-if='(!vm.correctVerifyBankAccount && (vm.correctVerifyBankAccount !== undefined))')
                    .form-group-col-md-6
                        label.control-label {{'BANK_ACCOUNT_TYPE' | translate}}
                        select.form-control(ng-model='vm.playerPayment.bankAccountType', ng-disabled='!vm.isEditingPlayerPayment')
                            option(value='2') {{'Debit Card '|translate}}
                            option(value='1') {{'Credit Card '|translate}}
                            option(value='3') {{'储存卡'|translate}}
                            option(value='4') {{'储蓄卡'|translate}}
                            option(value='5') {{'商务理财卡'|translate}}
                            option(value='6') {{'工商银行一卡通'|translate}}
                    .form-group-col-md-6
                        .col-md-4(style='padding-left:0')
                            label.control-label {{"PHONE_PROVINCE" | translate}}
                            select.form-control(type='text', ng-model='vm.currentProvince.province', ng-options='v.id as v.name for (i,v) in vm.provinceList', ng-change='vm.changeProvince(true)', ng-disabled='!vm.isEditingPlayerPayment')
                        .col-md-4(style='padding-right:0')
                            label.control-label {{"PHONE_CITY" | translate}}
                            select.form-control(type='text', ng-model='vm.currentCity.city', ng-options='v.id as v.name for (i,v) in vm.cityList', ng-change='vm.changeCity(true)', ng-disabled='!vm.isEditingPlayerPayment')
                        .col-md-4(style='padding-right:0')
                            label.control-label {{"districtId" | translate}}
                            select.form-control(type='text', ng-model='vm.currentDistrict.district', ng-options='v.id as v.name for (i,v) in vm.districtList', ng-disabled='!vm.isEditingPlayerPayment')
                    .form-group-col-md-6
                        label.control-label *{{'Bank Address' | translate}}
                        input.form-control(ng-model='vm.playerPayment.bankAddress', ng-disabled='!vm.isEditingPlayerPayment', required)
                    //.form-group-col-md-6
                        label.control-label {{'BANK_BRANCH' | translate}}
                        input.form-control(ng-model='vm.playerPayment.bankBranch', ng-disabled='!vm.isEditingPlayerPayment')
            .modal-footer
                button.common-button.margin-right-5.btn.btn-primary(ng-if='!vm.isEditingPlayerPayment', ng-click="vm.isEditingPlayerPayment=true") {{"EDIT" | translate}}
                button.common-button.margin-right-5.btn.btn-primary(ng-if='vm.isEditingPlayerPayment', ng-click="vm.prepareEditPlayerPayment()") {{"CANCEL" | translate}}
                button.common-button.margin-right-5.btn.btn-primary(data-dismiss='modal',ng-if='vm.isEditingPlayerPayment', ng-disabled='form_playerPaymentInfo.$invalid || form_playerPaymentInfo.$pristine', ng-click="vm.updatePlayerPayment();") {{"UPDATE" | translate}}
                button.common-button.margin-right-5.btn.btn-primary(data-dismiss='modal') {{"CLOSE" | translate}}




#playerPermissionPopover.hide(style="width: 600px")
    #playerPermissionTable
        table.paddingTbl
            tbody
                tr(ng-repeat='(key,v) in vm.playerPermissionTypes',
                ng-if="vm.permissionPlayer.isRealPlayer || vm.permissionPlayer.isTestPlayer && v.testPlayer")
                    td
                        i.text-primary(ng-show='v.imgType=="i"', ng-class='v.iconClass+" fa-2x"')
                        img(async=on ng-show='v.imgType=="img"', ng-src='{{v.src}}', width='{{v.width}}', height='{{v.height}}')
                    td {{key | translate}}
                    td.permitOn(ng-class='vm.permissionPlayer.permission[key] === false  ? "hide":""', class='{{key}}')
                        i.fa.fa-toggle-on.text-primary.margin-right-5.togglePlayer(data-which='{{key}}', data-on=true)
                        a.text-primary.togglePlayer(data-which='{{key}}', data-on=true) {{"ON" | translate}}
                    td.permitOff(ng-class='vm.permissionPlayer.permission[key] === false ? "":"hide"', class='{{key}}')
                        i.fa.fa-toggle-off.text-danger.margin-right-5.togglePlayer(data-which='{{key}}', data-on=false)
                        a.text-danger.togglePlayer(data-which='{{key}}', data-on=false) {{"OFF" | translate}}
                    td
                        div(id="{{key}}")
        .inlineBlk
            button.btn.btn-danger.disableAllMainPermission.margin-right-5 {{'Disable All' | translate}}
            button.btn.btn-primary.enableAllMainPermission {{'Enable All' | translate}}
        .textareaDetail.margin-top-bottom-small
            textarea.permissionRemark(placeholder='{{"Please add remark." | translate}}')
        .inlineBlk
            label.control-label {{'PERMISSION' | translate}}
            select.form-control.selectedMainPermission
                option(ng-repeat="(i,v) in vm.playerPermissionTypes track by $index", value='{{i}}') {{i | translate}}
        .text-left(style="position:relative;")
            button.btn.btn-primary.submit {{'CONFIRM' | translate}}
            button#permissionRecordButtonByPlayerTab.btn.btn-primary.common-button(style="right:0;position:absolute",ng-if="checkViewPermission('Player', 'Player', 'PermissionHistory')", data-toggle="modal", ng-click='vm.getPlayerPermissionChangeByPlayerTab("new")', data-target='#modalPlayerPermissionChangeLog', ng-show="vm.platformPageName!='batchPermit'")
                text {{"Permission History" | translate}}
        div(ng-show="vm.platformPageName=='batchPermit'") * 若要开启/解除某权限设置，请
        div(ng-show="vm.platformPageName=='batchPermit'") 关闭->开启->再按确定按钮。

#playerBatchPermissionPopover.hide(style="width: 600px")
    #playerPermissionTable
        table.paddingTbl
            tbody
                tr(ng-repeat='(key,v) in vm.playerPermissionTypes')
                    td
                        i.text-primary(ng-show='v.imgType=="i"', ng-class='v.iconClass+" fa-2x"')
                        img(async=on ng-show='v.imgType=="img"', ng-src='{{v.src}}', width='{{v.width}}', height='{{v.height}}')
                    td {{key | translate}}
                    td.permitOn(ng-class='vm.permissionPlayer.permission[key] === false  ? "hide":""', class='{{key}}')
                        i.fa.fa-toggle-on.text-primary.margin-right-5.togglePlayer(data-which='{{key}}', data-on=true)
                        a.text-primary.togglePlayer(data-which='{{key}}', data-on=true) {{"ON" | translate}}
                    td.permitOff(ng-class='vm.permissionPlayer.permission[key] === false ? "":"hide"', class='{{key}}')
                        i.fa.fa-toggle-off.text-danger.margin-right-5.togglePlayer(data-which='{{key}}', data-on=false)
                        a.text-danger.togglePlayer(data-which='{{key}}', data-on=false) {{"OFF" | translate}}
                    td
                        div(id="{{key}}")
        .textareaDetail.margin-top-bottom-small
            textarea.permissionRemark(placeholder='{{"Please add remark." | translate}}')
        .text-left(style="position:relative;")
            button.btn.btn-primary.submit {{'CONFIRM' | translate}}
        div * 若要开启/解除某权限设置，请
        div 关闭->开启->再按确定按钮。


#modalForbidRewardLog.modal.fade(tabindex='-1', role='dialog', data-backdrop=true, keyboard=true,aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
        .modal-content
            .modal-header
                a.fa.fa-times.close(type='button', data-dismiss='modal')
                h4.modal-title {{'Player' | translate}} : {{vm.forbidRewardEventPopover.name}}
            .modal-body
                #forbidRewardSearch.adminLogQueryDiv
                    .inlineBlk
                        label {{'START_DATE' | translate}}
                        .startTime
                    .inlineBlk
                        label {{'END_DATE' | translate}}
                        .endTime
                    .inlineBlk
                        button.btn.btn-primary(ng-click='vm.getForbidRewardLog(true)') {{'SEARCH' | translate}}
                    .inlineBlk(ng-show='vm.forbidRewardLog.isSearching')
                        i.fa.fa-spin.fa-spinner
                label {{"Total" | translate}} {{vm.forbidRewardLog.totalCount}} {{"records" | translate}}
                table#forbidRewardTbl.common-table(style='min-width:100%')
                #forbidRewardTblPage.height30
#modalForbidGameLog.modal.fade(tabindex='-1', role='dialog', data-backdrop=true, keyboard=true,aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
        .modal-content
            .modal-header
                a.fa.fa-times.close(type='button', data-dismiss='modal')
                h4.modal-title {{'Player' | translate}} : {{vm.prohibitGamePopover.name}}
            .modal-body
                #forbidGameSearch.adminLogQueryDiv
                    .inlineBlk
                        label {{'START_DATE' | translate}}
                        .startTime
                    .inlineBlk
                        label {{'END_DATE' | translate}}
                        .endTime
                    .inlineBlk
                        button.btn.btn-primary(ng-click='vm.getForbidGameLog(true)') {{'SEARCH' | translate}}
                    .inlineBlk(ng-show='vm.forbidGameLog.isSearching')
                        i.fa.fa-spin.fa-spinner
                label {{"Total" | translate}} {{vm.forbidGameLog.totalCount}} {{"records" | translate}}
                table#forbidGameTbl.common-table(style='min-width:100%')
                #forbidGameTblPage.height30
#modalForbidRewardPointsEventLog.modal.fade(tabindex='-1', role='dialog', data-backdrop=true, keyboard=true,aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
        .modal-content
            .modal-header
                a.fa.fa-times.close(type='button', data-dismiss='modal')
                h4.modal-title {{'Player' | translate}} : {{vm.forbidRewardPointsEventPopover.name}}
            .modal-body
                #forbidRewardPointsEventSearch.adminLogQueryDiv
                    .inlineBlk
                        label {{'START_DATE' | translate}}
                        .startTime
                    .inlineBlk
                        label {{'END_DATE' | translate}}
                        .endTime
                    .inlineBlk
                        button.btn.btn-primary(ng-click='vm.getForbidRewardPointsEventLog(true)') {{'SEARCH' | translate}}
                    .inlineBlk(ng-show='vm.forbidRewardPointsEventLog.isSearching')
                        i.fa.fa-spin.fa-spinner
                label {{"Total" | translate}} {{vm.forbidRewardPointsEventLog.totalCount}} {{"records" | translate}}
                table#forbidRewardPointsEventTbl.common-table(style='min-width:100%')
                #forbidRewardPointsEventTblPage.height30
#modalForbidTopUpLog.modal.fade(tabindex='-1', role='dialog', data-backdrop=true, keyboard=true,aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
        .modal-content
            .modal-header
                a.fa.fa-times.close(type='button', data-dismiss='modal')
                h4.modal-title {{'Player' | translate}} : {{vm.forbidTopUpPopover.name}}
            .modal-body
                #forbidTopUpSearch.adminLogQueryDiv
                    .inlineBlk
                        label {{'START_DATE' | translate}}
                        .startTime
                    .inlineBlk
                        label {{'END_DATE' | translate}}
                        .endTime
                    .inlineBlk
                        button.btn.btn-primary(ng-click='vm.getForbidTopUpLog(true)') {{'SEARCH' | translate}}
                    .inlineBlk(ng-show='vm.forbidTopUpLog.isSearching')
                        i.fa.fa-spin.fa-spinner
                label {{"Total" | translate}} {{vm.forbidTopUpLog.totalCount}} {{"records" | translate}}
                table#forbidTopUpTbl.common-table(style='min-width:100%')
                #forbidTopUpTblPage.height30

#modalForbidPromoCodeLog.modal.fade(tabindex='-1', role='dialog', data-backdrop=true, keyboard=true,aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
        .modal-content
            .modal-header
                a.fa.fa-times.close(type='button', data-dismiss='modal')
                h4.modal-title {{'Player' | translate}} : {{vm.forbidPromoCodePopover.name}}
            .modal-body
                #forbidPromoCodeSearch.adminLogQueryDiv
                    .inlineBlk
                        label {{'START_DATE' | translate}}
                        .startTime
                    .inlineBlk
                        label {{'END_DATE' | translate}}
                        .endTime
                    .inlineBlk
                        button.btn.btn-primary(ng-click='vm.getForbidPromoCodeLog(true)') {{'SEARCH' | translate}}
                    .inlineBlk(ng-show='vm.forbidPromoCodeLog.isSearching')
                        i.fa.fa-spin.fa-spinner
                label {{"Total" | translate}} {{vm.forbidPromoCodeLog.totalCount}} {{"records" | translate}}
                table#forbidPromoCodeTbl.common-table(style='min-width:100%')
                #forbidPromoCodeTblPage.height30

#modalPlayerRewardHistory.modal.fade(tabindex='-1', role='dialog', data-backdrop=true, keyboard=true,aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
        .modal-content
            .modal-header
                a.fa.fa-times.close(type='button', data-dismiss='modal')
                h4.modal-title {{'Player' | translate}} : {{vm.selectedSinglePlayer.name}}
            .modal-body
                #playerReward.adminLogQueryDiv
                    .inlineBlk
                        label {{'START_DATE' | translate}}
                        .startTime
                        //input.form-control.startDate(type="date")
                    .inlineBlk
                        label {{'END_DATE' | translate}}
                        .endTime
                        //input.form-control.endDate(type="date")
                    .inlineBlk
                        label {{'PROPOSAL_TYPE' | translate}}
                        select.form-control.type(ng-model='vm.playerRewardHistory.type')
                            option(value='all') {{'ALL' | translate}}
                            option(ng-repeat='(i,v) in vm.platformRewardtype', value='{{i}}') {{v | translate}}
                    //.inlineBlk
                        label {{'Limit' | translate}}
                        select.form-control.limit(ng-model='vm.queryPara.playerReward.limit')
                            option 50
                            option 100
                            option 200
                            option(value='-1') {{'Unlimited' | translate}}
                    .inlineBlk
                        button.btn.btn-primary(ng-click='vm.getPlayerRewardHistoryRecord(true)') {{'SEARCH' | translate}}
                label {{"Total" | translate}} {{vm.playerRewardHistory.totalCount}} {{"records" | translate}}
                i.fa.fa-spin.fa-spinner(ng-show='vm.playerRewardHistory.loading')
                table#playerRewardHistoryTbl.common-table.display(style='min-width:100%')
                #playerRewardHistoryTblPage.height30
#modalPlayerBonusHistory.modal.fade(tabindex='-1', role='dialog', data-backdrop=true, keyboard=true,aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
        .modal-content
            .modal-header
                a.fa.fa-times.close(type='button', data-dismiss='modal')
                h4.modal-title {{'Player' | translate}} : {{vm.selectedSinglePlayer.name}}
            .modal-body
                #playerBonus.adminLogQueryDiv
                    .inlineBlk
                        label {{'START_DATE' | translate}}
                        .startTime
                    .inlineBlk
                        label {{'END_DATE' | translate}}
                        .endTime
                    .inlineBlk
                        label {{'STATUS' | translate}}
                        select.form-control.status(ng-model='vm.playerBonusHistory.status')
                            option(value='') {{'ALL' | translate}}
                            option(value='Success') {{'Success' | translate}}
                            option(value='Approved') {{'approved' | translate}}
                            option(value='Fail_or_Rejected') {{'Fail' | translate}}
                            option(value='Pending') {{'Pending' | translate}}
                            option(value='Processing') {{'Processing' | translate}}
                            option(value='PrePending') {{'PrePending' | translate}}
                            option(value='Cancel') {{'Cancel' | translate}}
                            option(value='Undetermined') {{'Undetermined' | translate}}
                            option(value='Expired') {{'Expired' | translate}}
                    //.inlineBlk
                        label {{'Limit' | translate}}
                        select.form-control.limit(ng-model='vm.queryPara.playerBonus.limit')
                            option 50
                            option 100
                            option 200
                            option(value='-1') {{'Unlimited' | translate}}
                    .inlineBlk
                        button.btn.btn-primary(ng-click='vm.getPlayerBonusHistoryRecord(true)') {{'SEARCH' | translate}}
                    .inlineBlk(ng-show='vm.playerBonusHistory.isSearching')
                        i.fa.fa-spin.fa-spinner
                label {{"Total" | translate}} {{vm.playerBonusHistory.totalCount}} {{"records" | translate}}
                table#playerBonusHistoryTbl.common-table(style='min-width:100%')
                #playerBonusHistoryTblPage.height30

#sameNumPlayerListTable.modal.fade(tabindex='-1', role='dialog', data-backdrop='static', keyboard=false,aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
        .modal-content
            .modal-header
                a.fa.fa-times.close(type='button', data-dismiss='modal')
                h4.modal-title {{"Duplicate Phone Number"|translate}}
            .modal-body
                .panel.panel-primary

                    #newPlayerListPanel.panel-body
                        .well
                            .row
                                .col-md-12
                                    p
                                    label {{"Total" | translate}} {{vm.phoneDuplicate.totalCount}} {{"records" | translate}}
                                    i.fa.fa-spin.fa-spinner(ng-show='vm.playerDailyExpenseLog.loading')
                                    table#samePhoneNumTable.common-table.display(style='width:100%')
                                    //#samePhoneNumTablePage



#modalNewPlayerList.modal.fade(tabindex='-1', role='dialog', data-backdrop='static', keyboard=false,aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
        .modal-content
            .modal-header
                a.fa.fa-times.close(type='button', data-dismiss='modal')
                h4.modal-title {{"new player list"|translate}}
            .modal-body(style='height:800px;overflow-y:scroll')
                .panel.panel-primary

                    ul.nav.nav-tabs.common-nav-tabs.popupHeaderMenu
                        .pull-left.padding-all-5
                        li.active(id = 'newPlayerListTab', ng-show="checkViewPermission('Player', 'Feedback','AddFeedback')")
                            a.common-tab(data-toggle="tab",ng-disabled="!vm.canEditPlayer()|| vm.selectedPlayersCount!= 1", ng-click='vm.playerModalTab = \'newPlayerListPanel\';vm.newPlayerList();')
                                .fa.fa-file-text.margin-right-5
                                text.span {{"new player list" | translate}}
                        li(id = 'attemptNumberListTab',ng-show="checkViewPermission('Player', 'Feedback','FeedbackHistory')")
                            a.common-tab(data-toggle="tab",ng-disabled="!vm.canEditPlayer()|| vm.selectedPlayersCount!= 1", ng-click='vm.playerModalTab = \'attemptNumberListPanel\';vm.playerRegistrationSuccessRateList();')
                                .fa.fa-file-text.margin-right-5
                                text.span {{"attempt number list" | translate}}

                    #newPlayerListPanel.panel-body(ng-if="vm.playerModalTab === 'newPlayerListPanel'")
                        #newPlayerRecords.adminLogQueryDiv
                            .search-filters-item
                                label {{'PRODUCT_NAME'| translate}} ({{'Multiple' | translate}})
                                select.form-control(ng-model='vm.queryPara.newPlayerList.platform', ng-options='v._id as v.name$ for v in vm.allPlatformData', multiple, bsp, data-actions-box='true', required)
                            .search-filters-item
                                label {{'PLAYERNAME' | translate}}
                                input.form-control(type='text' ng-model='vm.queryPara.newPlayerList.playerName', required)
                            .search-filters-item
                                label {{'REGISTERED_PHONE_NUMBER' | translate}}
                                input.form-control(type='text' ng-model='vm.queryPara.newPlayerList.phoneNumber', required)
                            .search-filters-item
                                label {{'START_DATE' | translate}}
                                .startTime
                            .search-filters-item
                                label {{'END_DATE' | translate}}
                                .endTime
                            .search-filters-item
                                label {{'STATUS' | translate}}
                                select.form-control(ng-model='vm.queryPara.newPlayerList.status', ng-options='i as a | translate for (i,a) in vm.newPlayerListStatus')
                                    option(value='',) {{'any' | translate}}
                            .widthto100.text-right
                                button.btn.btn-primary(ng-click='vm.getNewPlayerListByFilter(true)') {{'SEARCH' | translate}}
                                span#getNewPlayerListSpin.collapse
                                    i.fa.fa-spinner.fa-spin
                        .well
                            .row
                                .col-md-12
                                    p
                                    label {{"Total" | translate}} {{vm.newPlayerRecords.totalCount}} {{"records" | translate}}
                                    i.fa.fa-spin.fa-spinner(ng-show='vm.playerDailyExpenseLog.loading')
                                    table#newPlayerListTable.common-table.display.paymentGroup-btn
                                    #newPlayerListTablePage

                    #attemptNumberListPanel.panel-body(ng-if="vm.playerModalTab === 'attemptNumberListPanel'")
                        #attemptNumberRecords.adminLogQueryDiv
                            .search-filters-item
                                label {{'PRODUCT_NAME'| translate}} ({{'Multiple' | translate}})
                                    select.form-control(ng-model='vm.queryPara.attemptNumberRecords.platform', ng-options='v._id as v.name$ for v in vm.allPlatformData', multiple, bsp, data-actions-box='true', required)
                            .search-filters-item
                                label {{'START_DATE' | translate}}
                                .startTime
                            .search-filters-item
                                label {{'END_DATE' | translate}}
                                .endTime
                            .widthto100.text-right
                                button.btn.btn-primary(ng-click='vm.getPlayerRegistrationSucccessRateListByFilter()') {{'SEARCH' | translate}}
                        .well
                            .row
                                .col-md-12
                                    p
                                    table#selfRegistrationSuccessRateTable.common-table.display.paymentGroup-btn
                                    #selfRegistrationSuccessRateTablePage
                                    table#registrationDistributionRecordsTable.common-table.display.paymentGroup-btn
                                    #registrationDistributionRecordsTablePage
                                    label {{"Total" | translate}} {{vm.playerRegistrationRecords.totalCount}} {{"records" | translate}}
                                    i.fa.fa-spin.fa-spinner(ng-show='vm.playerRegistrationRecords.loading')
                                    table#playerRegistrationIntentRecordsTable.common-table.display.paymentGroup-btn
                                    #playerRegistrationIntentRecordsTablePage


#sameRealNameLog.modal.fade(tabindex='-1', role='dialog', data-backdrop='static', keyboard=false,aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
        .modal-content
            .modal-header
                a.fa.fa-times.close(type='button', data-dismiss='modal')
                h4.modal-title {{"Duplicate Real Name"|translate}}
            .modal-body
                div
                    label {{"Total" | translate}} {{vm.realNameDuplicate.totalCount}} {{"records" | translate}}
                    table#sameRealNameLogTable.common-table.display(style='min-width:100%')
                    #sameRealNameLogTablePage.height30

#modalMailLog.modal.fade(tabindex='-1', role='dialog', data-backdrop='static', keyboard=false, aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
        .modal-content
            .modal-header
                a.fa.fa-times.close(type='button', data-dismiss='modal')
                h4.modal-title {{"Mail Log" | translate}}
            .modal-body
                #mailLogQuery.block-query.well
                    div
                        label {{"Start date" | translate}}
                        .startTime
                    div
                        label {{"End date" | translate}}
                        .endTime
                    button.btn.btn-primary.common-button(ng-click='vm.searchMailLog()', style='vertical-align: bottom') {{"SEARCH" | translate}}
                div(style='max-height: 400px; max-height: 50vh; overflow: auto')
                    table.simple-table.display(style='min-width: 100%; width: 100%')
                        thead
                            tr
                                th {{"date" | translate}}
                                th {{"Sender Type" | translate}}
                                th {{"Sender Name" | translate}}
                                th {{"CONTENT" | translate}}
                        tbody
                            tr(ng-repeat='(i,mailLog) in vm.mailLog.receivedMails')
                                td {{mailLog.createTime | date:'medium'}}
                                td {{mailLog.senderType}}
                                td {{mailLog.senderName | translate}}
                                td {{mailLog.content}}
            .modal-footer
                button.common-button.btn.btn-primary(data-dismiss='modal') {{"CLOSE" | translate}}


#playerReferralPopover.collapse
    #playerReferralPopoverContent.row
        .col-md-12
            label {{"Total" | translate}} {{vm.playerReferral.totalCount}} {{"records" | translate}}
            table#playerReferralTbl.common-table(style='min-width:100%;width:inherit')

// Platform related sub-views
#modalPlatformCreditTransferLog.modal.fade(tabindex='-1', role='dialog', data-backdrop='static', keyboard=false, aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
        .modal-content
            .modal-header
                a.fa.fa-times.close(type='button', data-dismiss='modal')
                h4.modal-title {{"Platform Credit Transfer Log" | translate}}
            .modal-body
                .panel.panel-primary
                    .panel-body
                        #platformCreditTransferLogPopup.adminLogQueryDiv
                            .search-filters-item
                                label {{'PRODUCT_NAME'| translate}} ({{'Multiple' | translate}})
                                select.form-control(ng-model='vm.queryPlatformCreditTransferPlatformList', ng-options='v._id as v.name$ for v in vm.allPlatformData', ng-change='', multiple, bsp, data-actions-box='true')
                            .search-filters-item
                                label {{ 'playerName' | translate }}
                                input.form-control(ng-model='vm.queryPlatformCreditTransferPlayerName')
                            .search-filters-item
                                label {{ 'START_DATE' | translate }}
                                .startTime
                            .search-filters-item
                                label {{ 'END_DATE' | translate }}
                                .endTime
                            .search-filters-item
                                label {{ 'Type' | translate }}
                                select.form-control(ng-model='vm.queryPlatformCreditTransferType')
                                    option(value='') {{'any' | translate}}
                                    option(value='transferin') {{'TransferIn' | translate}}
                                    option(value='transferout') {{'TransferOut' | translate}}
                            .search-filters-item
                                label {{ 'provider' | translate }}
                                select.form-control(ng-model='vm.queryPlatformCreditTransferProvider', ng-options='a.providerId as a.name for a in vm.platformProviderList')
                                    option(value='') {{'any' | translate}}
                            .search-filters-item
                                label {{ 'STATUS' | translate }}
                                select.form-control(ng-model='vm.queryPlatformCreditTransferStatus')
                                    option(value='') {{'all' | translate}}
                                    option(ng-repeat='(i,v) in vm.allPlayerCreditTransferStatus', value='{{v}}') {{i | translate}}
                            .text-right.widthto100
                                button.btn.btn-primary.btn-space(ng-click='vm.getPagedPlatformCreditTransferLog(true,true)') {{'SEARCH' | translate}}
                                i.fa.fa-spin.fa-spinner(ng-if='vm.platformCreditTransferLog.loading')
                        //label {{"Total" | translate}} {{vm.platformCreditTransferLog.totalCount}} {{"records" | translate}}
                        table#platformCreditTransferLogPopupTable.common-table.wordWrap.tbodyNoWrap.display.paymentGroup-btn
                        #platformCreditTransferLogPopupTablePage

                        .clearfix
                        button.common-button.margin-right-5.btn.btn-success(ng-click="vm.prepareRepairTransfer()") {{'RepairTransaction' | translate}}
                        div(ng-show='vm.showPlatformRepair')
                            table.col-md-10.col-md-offset-1.paddingTbl.text-center.datatable-sm(ng-show='vm.linkedPlayerTransferId')
                                tbody
                                    tr
                                        td(style='width:25%') {{'playerName' | translate}} : {{vm.selectedThisPlayer.name}}
                                        td {{'LOCKED_CREDIT' | translate}}
                                        td {{vm.selectedThisPlayer.lockedCredit | number:2}} ({{'curData' | translate}})
                                        td --->
                                        td
                                            label.text-danger {{vm.creditChange.finalLockedAmount}} ({{'updateData' | translate}})
                                    tr
                                        td(style='width:25%') {{'transferID' | translate}} : {{vm.linkedPlayerTransferId}}
                                        td {{'VALID_CREDIT' | translate}}
                                        td {{vm.selectedThisPlayer.validCredit | number:2}} ({{'curData' | translate}})
                                        td --->
                                        td
                                            label.text-danger {{vm.creditChange.finalValidAmount}} ({{'updateData' | translate}})
                            .row
                                .col-md-6
                                    label.control-label {{'REMARKS' | translate}}
                                .col-md-12.textareaDetail
                                    textarea.form-control(type = "textarea",name = "Remarks", rows = '5', placeholder="{{'REMARKS' | translate}}", ng-model="vm.creditChange.remark")
                            button.common-button.margin-right-5.btn.btn-success(ng-disabled='!vm.linkedPlayerTransferId || (vm.linkedPlayerTransfer.status == 1)', ng-click="vm.submitRepairTransfer()") {{'SUBMIT' | translate}}
#modalProviderExpenses.modal.fade(tabindex='-1', role='dialog', data-backdrop='static', keyboard=false,aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
        .modal-content
            .modal-header
                a.fa.fa-times.close(type='button', data-dismiss='modal')
                h4.modal-title {{"EXPENSE" | translate}} : {{vm.selectedPlatform.text}}
            .modal-body
                .panel.panel-primary
                    .panel-body
                        #providerExpenseQuery.well
                            .search-filters-item
                                label {{'PRODUCT_NAME'| translate}} ({{'Multiple' | translate}})
                                select.form-control(ng-model='vm.consumptionRecordPlatformList', ng-options='v._id as v.name$ for v in vm.allPlatformData', ng-change="vm.getProviderListByPlatform(vm.consumptionRecordPlatformList)", multiple, bsp, data-actions-box='true')
                            .search-filters-item
                                .control-label {{"Provider" | translate}}
                                select.form-control(ng-model='vm.selectedProviderID', ng-init='vm.selectedProviderID="all"')
                                    option(value='all') {{'any' | translate}}
                                    option(ng-repeat='(i,v) in vm.providerListByPlatform', value='{{v._id}}') {{v.name}}
                            .search-filters-item
                                .control-label {{"Start date" | translate}}
                                .startTime
                            .search-filters-item
                                .control-label {{"End date" | translate}}
                                .endTime
                            .search-filters-item
                                .control-label {{"MEMBERSHIP_ACCOUNT_NUMBER" | translate}}
                                input.input-sm.form-control(ng-model="vm.playerName")
                            .search-filters-item
                                .control-label {{'ROUND_NUMBER OR PLAY_NUMBER' | translate}}
                                input.input-sm.form-control(ng-model='vm.roundNoOrPlayNo')
                            .search-filters-item
                                .control-label {{'GAME_TYPE (FUZZY SEARCH)' | translate}}
                                input.input-sm.form-control(ng-model='vm.cpGameType')
                            .widthto100.text-right
                                button.btn.btn-primary(ng-click="vm.getProviderExpense(true)") {{"SEARCH" | translate}}
                            br
                        div(ng-if="checkViewPermission('Player', 'Player', 'Read')")
                            i.fa.fa-spinner.fa-spin(ng-show='vm.providerExpenseTableLoading')
                            label {{"Total" | translate}} {{vm.expenseQuery.totalCount}} {{"records" | translate}} 
                            table#providerExpenseTable.common-table.display.paymentGroup-btn
                            #providerExpenseTablePage

#duplicatePhoneNumberLog.modal.fade(style='z-index:1052;', tabindex='-1', role='dialog', data-backdrop='static', keyboard=false, aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
        .modal-content
            .modal-header
                a.fa.fa-times.close(type='button', data-dismiss='modal')
                h4.modal-title {{"Duplicate Phone Number"|translate}}
            .modal-body
                div
                    label {{"Total" | translate}} {{vm.duplicatePhoneNumber.totalCount}} {{"records" | translate}}
                    table#duplicatePhoneNumberLogTable.common-table.display.paymentGroup-btn
                    #duplicatePhoneNumberLogTablePage.height30

include platform-player-popup
include player-feedback-popup
include ../common-widget/telephone-popover
include ../common-widget/modalYesNo
