//.padding-all-5
    .panel.panel-primary
        .panel-heading.padding-all-5
            .panel-title.left-col
                .fa
                    img(src="images/icon/websiteBusiness_hover.png" width="40" )
                text &nbsp;{{"Website Business" | translate}}
                a#platformRefresh.fa.fa-refresh.pull-right(style='font-size:1.7em', ng-click='vm.loadPlatformData();vm.syncPlatform()')
        .panel-body.common-left-panel-body
            .search-box.margin-top-bottom-small
                .fa.fa-search.pull-right.margin-all-5(ng-click='vm.searchPlatform()')
                input.span.input-sm(type="text", placeholder='{{"SEARCH_HERE" | translate}}' ng-model="vm.platformSearchText", ng-change='vm.rebuildPlatformListDebounced()')
            p
            //div#platformTree(style="height: 400px;")
            div#platformDetail.margin-top-bottom-small
                table.platformDetailClass(style='width:100%;font-size:16px')
                    tr
                        td(style='width:10%') {{'ID' | translate}}
                        td(style='width:40%') {{vm.selectedPlatform.data.platformId}}
                        td(style='width:10%')
                            .fa.fa-share-alt(title="{{'OPERATION_DEPARTMENT' | translate}}")
                        td(style='width:40%') {{vm.getDepartNamebyId(vm.selectedPlatform.data.department)}}
                    tr
                        td
                            .fa.fa-arrow-circle-o-right(title="{{'PLATFORM_PREFIX' | translate}}")
                        td {{vm.selectedPlatform.data.prefix}}
                        td
                            .fa.fa-phone(title="{{'TELPHONE' | translate}}")
                        td {{vm.selectedPlatform.data.csPhone}}
                    tr
                        td
                            .fa.fa-weixin(title="{{'WEIXIN' | translate}}")
                        td {{vm.selectedPlatform.data.csWeixin}}
                        td
                            .fa.fa-qq(title="QQ")
                        td {{vm.selectedPlatform.data.csQQ}}
                    tr
                        td
                            .fa.fa-clock-o(title='{{"DAILY_SETTLE_TIME" | translate}}')
                        td
                            span.noWrap {{vm.getHourName(vm.selectedPlatform.data.dailySettlementHour)}}&nbsp;:&nbsp;
                            span.noWrap {{vm.getMinName(vm.selectedPlatform.data.dailySettlementMinute)}}
                        td
                            .fa.fa-calendar(title='{{"WEEKLY_SETTLE_TIME" | translate}}')
                        td
                            span.noWrap {{vm.getDayName(vm.selectedPlatform.data.weeklySettlementDay)}},&nbsp;
                            span.noWrap {{vm.getHourName(vm.selectedPlatform.data.weeklySettlementHour)}}&nbsp;:&nbsp;
                            span.noWrap {{vm.getMinName(vm.selectedPlatform.data.weeklySettlementMinute)}}
                    tr
                        td(colspan=2) {{'PLATFORM_CODE' | translate}}&nbsp;:&nbsp;{{vm.selectedPlatform.data.code | translate}}
                        td(colspan=2)
                            span {{'AUTO_SETTLEMENT' | translate}}&nbsp;:&nbsp;
                                span(style='vertical-align:baseline',ng-if='vm.selectedPlatform.data.canAutoSettlement') {{'Yes' | translate}}
                                span(style='vertical-align:baseline',ng-if='!vm.selectedPlatform.data.canAutoSettlement') {{'No' | translate}}
                    tr
                        td(colspan=2)
                        td(colspan=2)
                            span {{'SMS_VERIFICATION' | translate}}&nbsp;:&nbsp;
                                span(style='vertical-align:baseline',ng-if='vm.selectedPlatform.data.requireSMSVerification') {{'Yes' | translate}}
                                span(style='vertical-align:baseline',ng-if='!vm.selectedPlatform.data.requireSMSVerification') {{'No' | translate}}
                    tr
                        td(colspan=2)
                        td(colspan=2)
                            span {{'SMS_VERIFICATION_FOR_PASSWORD_UPDATE' | translate}}&nbsp;:&nbsp;
                                span(style='vertical-align:baseline',ng-if='vm.selectedPlatform.data.requireSMSVerificationForPasswordUpdate') {{'Yes' | translate}}
                                span(style='vertical-align:baseline',ng-if='!vm.selectedPlatform.data.requireSMSVerificationForPasswordUpdate') {{'No' | translate}}
                    tr
                        td(colspan=2)
                        td(colspan=2)
                            span {{'SMS_VERIFICATION_FOR_PAYMENT_UPDATE' | translate}}&nbsp;:&nbsp;
                                span(style='vertical-align:baseline',ng-if='vm.selectedPlatform.data.requireSMSVerificationForPaymentUpdate') {{'Yes' | translate}}
                                span(style='vertical-align:baseline',ng-if='!vm.selectedPlatform.data.requireSMSVerificationForPaymentUpdate') {{'No' | translate}}
                    tr
                        td(colspan=2)
                            text {{'SETTLEMENT_STATUS' | translate}}&nbsp;:&nbsp;
                            .inlineBlk(style='margin-bottom:0')
                                .text-success(ng-show='vm.selectedPlatform.data.settlementStatus=="Ready"')
                                    i.fa.fa-circle
                                .text-danger(ng-show='vm.selectedPlatform.data.settlementStatus=="DailyError"')
                                    i.fa.fa-circle.margin-right-5
                                .text-danger(ng-show='vm.selectedPlatform.data.settlementStatus=="WeeklyError"')
                                    i.fa.fa-circle.margin-right-5
                        td(colspan=2)
                            .text-danger(ng-show='vm.selectedPlatform.data.settlementStatus=="DailyError"')
                                button.btn.common-button-sm(ng-if='checkViewPermission("Platform","Platform", "DailySettlement")',ng-disabled="!vm.selectedPlatform && vm.platformSettlement.processing", data-toggle="modal", ng-click='vm.dailySettlement(null, true)')
                                    text {{"Retry Daily Settlement" | translate}}
                            .text-danger(ng-show='vm.selectedPlatform.data.settlementStatus=="WeeklyError"')
                                button.btn.common-button-sm(ng-if='checkViewPermission("Platform","Platform", "WeeklySettlement")',ng-disabled="!vm.selectedPlatform && vm.platformSettlement.processing", data-toggle="modal", ng-click='vm.weeklySettlement(null, true)')
                                    text {{"Retry Weekly Settlement" | translate}}
                            i.fa.fa-spinner.fa-spin(ng-if='vm.platformSettlement.processing')
                    tr
                        td(colspan=2)
                            text {{'LAST_DAILY_SETTLEMENT_TIME' | translate}}
                        td(colspan=2)
                            text {{vm.dateReformat(vm.selectedPlatform.data.lastDailySettlementTime)}}
                    tr
                        td(colspan=2)
                            text {{'LAST_WEEKLY_SETTLEMENT_TIME' | translate}}
                        td(colspan=2)
                            text {{vm.dateReformat(vm.selectedPlatform.data.lastWeeklySettlementTime)}}


                //#platformDetail.platformDetailClass.panel.panel-green(ng-if='vm.selectedPlatform')
                    div
                        .fa.fa-2x {{'ID' | translate}}
                        span {{vm.selectedPlatform.data.platformId}}
                    div
                        .fa.fa-2x.fa-share-alt(title="{{'OPERATION_DEPARTMENT' | translate}}")
                        span {{vm.getDepartNamebyId(vm.selectedPlatform.data.department)}}
                    div
                        .fa.fa-2x.fa-arrow-circle-o-right(title="{{'PLATFORM_PREFIX' | translate}}")
                        span {{vm.selectedPlatform.data.prefix}}
                    div
                        .fa.fa-2x.fa-clock-o(title='{{"DAILY_SETTLE_TIME" | translate}}')
                        span {{vm.getHourName(vm.selectedPlatform.data.dailySettlementHour)}}&nbsp;:&nbsp;
                        span {{vm.getMinName(vm.selectedPlatform.data.dailySettlementMinute)}}
                    div
                        .fa.fa-2x.fa-calendar(title='{{"WEEKLY_SETTLE_TIME" | translate}}')
                        span {{vm.getDayName(vm.selectedPlatform.data.weeklySettlementDay)}}&nbsp;,&nbsp;
                        span {{vm.getHourName(vm.selectedPlatform.data.weeklySettlementHour)}}&nbsp;:&nbsp;
                        span {{vm.getMinName(vm.selectedPlatform.data.weeklySettlementMinute)}}
            .btn-group.text-center.margin-small
                button.btn.btn-primary.common-button(ng-if='checkViewPermission("Platform","Platform","Create")',data-toggle="modal", data-target='#modalCreatePlatform', ng-click='vm.initPlatform(true);vm.getAllDepartmentData();vm.clearShowPlatform();')
                    text {{"CREATE" | translate}}
                    img.img-create
                button.btn.btn-primary.common-button(ng-if='checkViewPermission("Platform","Platform", "Delete")',ng-disabled="!vm.selectedPlatform", data-toggle="modal", data-target='#modalDeletePlatform', ng-click='vm.initPlatform(false)')
                    text {{"DELETE" | translate}}
                    img.img-delete
                button.btn.btn-primary.common-button(ng-if='checkViewPermission("Platform","Platform", "Edit")',ng-disabled="!vm.selectedPlatform", data-toggle="modal", data-target='#modalUpdatePlatform')
                    text {{"EDIT" | translate}}
                    img.img-edit
                button.btn.btn-primary.common-button(ng-show='checkViewPermission("Platform","Platform", "DailySettlement") && !vm.selectedPlatform.data.canAutoSettlement && vm.showDailySettlement', ng-disabled="!vm.selectedPlatform", data-toggle="modal", ng-click='vm.settlementModal("Daily Settlement")')
                    text {{"Daily Settlement" | translate}}
                    img.img-edit
                button.btn.btn-primary.common-button(ng-show='checkViewPermission("Platform","Platform", "WeeklySettlement") && !vm.selectedPlatform.data.canAutoSettlement && vm.showWeeklySettlement',ng-disabled="!vm.selectedPlatform", data-toggle="modal", ng-click='vm.settlementModal("Weekly Settlement")')
                    text {{"Weekly Settlement" | translate}}
                    img.img-edit
                //button.btn.btn-primary.common-button(ng-if='checkViewPermission("Platform","Platform", "RewardSettlement")',ng-disabled="!vm.selectedPlatform", data-toggle="modal", ng-click='vm.weeklyRewardSettlement()')
                    text {{"Reward Settlement" | translate}}
                    img.img-edit
                button.btn.btn-primary.common-button(ng-if='checkViewPermission("Platform","Platform", "SettlementHistory")',ng-disabled="!vm.selectedPlatform", ng-click='vm.prepareSettlementHistory()')
                    text {{"Settlement History" | translate}}
                    img.img-edit
                button.btn.btn-primary.common-button(ng-if='checkViewPermission("Platform","Platform", "PartnerCommissionSettlement")',ng-disabled="!vm.selectedPlatform", ng-click='vm.startPlatformPartnerCommissionSettlement($event)')
                    text {{"Partner Commission Settlement" | translate}}
                    img.img-edit
                button.btn.btn-primary.common-button(ng-if='checkViewPermission("Platform","Platform", "PlayerConsumptionIncentiveSettlement")',ng-disabled="!vm.selectedPlatform", ng-click='vm.startPlatformPlayerConsumptionIncentiveSettlement($event)')
                    text {{"Player Consumption Incentive Settlement" | translate}}
                    img.img-edit
                button.btn.btn-primary.common-button(ng-if='checkViewPermission("Platform","Platform", "PlayerConsumptionReturnSettlement")',ng-disabled="!vm.selectedPlatform", ng-click='vm.startPlatformPlayerConsumptionReturnSettlement($event)')
                    text {{"Player Consumption Return Settlement" | translate}}
                    img.img-edit
                button.btn.btn-primary.common-button(ng-if='checkViewPermission("Platform","Platform", "PlayerLevelSettlement")',ng-disabled="!vm.selectedPlatform", ng-click='vm.startPlayerLevelSettlement($event)')
                    text {{"Player Level Settlement" | translate}}
                    img.img-edit
                button.btn.btn-primary.common-button(ng-if='checkViewPermission("Platform","Platform", "PlayerConsecutiveConsumptionSettlement")',ng-disabled="!vm.selectedPlatform", ng-click='vm.startPlayerConsecutiveConsumptionSettlement($event)')
                    text {{"Player Consecutive Consumption Settlement" | translate}}
                    img.img-edit
                //- button.btn.btn-primary.common-button(ng-if='checkViewPermission("Platform","Platform", "transferPlayerCreditFromProvider")',ng-disabled="!vm.selectedPlatform", ng-click='vm.initTransferAllPlayersCreditFromProvider()')
                //-     text {{"Transfer Credit of All Player from Provider" | translate}}
                //-     .fa.fa-gamepad
                //button.btn.btn-primary.common-button(ng-if='checkViewPermission("Platform","Platform", "Delete")',ng-disabled="!vm.selectedPlatform", ng-click='vm.transferAllCreditOut()')
                //    text {{"TRANSFER_OUT_FROM_AGMG" | translate}}
                //    img.img-edit
//#modalCreatePlatform.modal.fade(tabindex='-1', role='dialog', data-backdrop='static', keyboard=false,aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
        .modal-content
            .modal-header
                a.fa.fa-times.close(type='button', data-dismiss='modal')
                h4.modal-title {{"CREATE_PLATFORM" | translate}}
            .modal-body
                .panel-body
                    .well
                        .row
                            include ./platform-detail-form
            .modal-footer
                button.btn.btn-primary.common-button(data-dismiss='modal', ng-disabled='form_new_platform.$invalid', ng-click="vm.createNewPlatform();") {{"CREATE" | translate}}
                button.btn.btn-warning.common-button(data-dismiss='modal') {{"CANCEL" | translate}}

//#modalDeletePlatform.modal.fade(tabindex='-1', role='dialog', data-backdrop='static', keyboard=false,aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
        .modal-content
            .modal-header
                a.fa.fa-times.close(type='button', data-dismiss='modal')
                h4.modal-title {{"DELETE_PLATFORM" | translate}}
            .modal-body
                .panel.panel-primary

                    .panel-body
                        .well
                            p
                                #WarningIcon.fa.fa-exclamation-triangle
                                label.margin-right-5 {{"DELETE_PLATFORM_MESSAGE" | translate}}
                                strong.text-danger {{vm.selectedPlatform.text}} ?
                        .well
                            .row
                                include ./platform-detail-form
            .modal-footer
                button.btn.btn-primary.common-button(data-dismiss='modal',ng-click="vm.deletePlatform();") {{"CONFIRM" | translate}}
                button.btn.btn-warning.common-button(data-dismiss='modal') {{"CANCEL" | translate}}

#modalUpdatePlatform.modal.fade(tabindex='-1', role='dialog', data-backdrop='static', keyboard=false,aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
        .modal-content
            .modal-header
                a.fa.fa-times.close(type='button', data-dismiss='modal', ng-click="")
                h4.modal-title(ng-show="!vm.platformAction") {{"PLATFORM" | translate}}
                h4.modal-title(ng-show="vm.platformAction=='create'") {{"CREATE_PLATFORM" | translate}}
                h4.modal-title(ng-show="vm.platformAction=='delete'") {{"DELETE_PLATFORM" | translate}}
                h4.modal-title(ng-show="vm.platformAction=='edit'") {{"EDIT_PLATFORM" | translate}}
            .modal-body
                ul.nav.nav-tabs.common-nav-tabs
                    li(ng-class="vm.selectedPlatformDetailTab == 'backstage-settings' ? 'active' : null")
                        a.common-tab(data-toggle="tab", ng-click="vm.showPlatformDetailTab('backstage-settings')") {{"BACKSTAGE_SETTINGS" | translate}}
                    li(ng-class="vm.selectedPlatformDetailTab == 'player-display-data' ? 'active' : null")
                        a.common-tab(data-toggle="tab", ng-click="vm.showPlatformDetailTab('player-display-data')") {{"PLAYER_DISPLAY_DATA" | translate}}
                    li(ng-class="vm.selectedPlatformDetailTab == 'partner-display-data' ? 'active' : null")
                        a.common-tab(data-toggle="tab", ng-click="vm.showPlatformDetailTab('partner-display-data')") {{"PARTNER_DISPLAY_DATA" | translate}}
                    li(ng-class="vm.selectedPlatformDetailTab == 'system-settlement' ? 'active' : null")
                        a.common-tab(data-toggle="tab", ng-click="vm.showPlatformDetailTab('system-settlement')", ng-show="vm.platformAction!='create'&&vm.platformAction!='edit'") {{"SYSTEM_SETTLEMENT" | translate}}
                .panel.panel-primary(style="border-radius:0 !important;")
                    .panel-body
                        .well(ng-show="vm.platformAction=='delete'")
                            p
                                #WarningIcon.fa.fa-exclamation-triangle
                                label.margin-right-5 {{"DELETE_PLATFORM_MESSAGE" | translate}}
                                strong.text-danger {{vm.selectedPlatform.text}} ?
                        include ./platform-detail-form
            .modal-footer
                button.btn.btn-primary.common-button(ng-click="vm.setPlatformFooter('create');vm.initPlatform(true);vm.clearShowPlatform();", ng-show="vm.selectedPlatformDetailTab!='system-settlement'&&!vm.platformAction&&vm.playerDisplayDataTab != 'advertisementPanel'") {{"CREATE" | translate}}
                button.btn.btn-primary.common-button(ng-click="vm.setPlatformFooter('delete')", ng-show="vm.selectedPlatformDetailTab!='system-settlement'&&!vm.platformAction && vm.playerDisplayDataTab != 'advertisementPanel' && vm.partnerDisplayDataTab != 'partnerAdvertisementPanel'") {{"DELETE" | translate}}
                button.btn.btn-primary.common-button(ng-click="vm.setPlatformFooter('edit');vm.initPlatform(true);vm.beforeUpdatePlatform();", ng-show="vm.selectedPlatformDetailTab!='system-settlement'&&!vm.platformAction&&vm.playerDisplayDataTab != 'advertisementPanel'") {{"EDIT" | translate}}

                button.btn.btn-primary.common-button(data-dismiss='modal', ng-show="vm.selectedPlatformDetailTab!='system-settlement'&&vm.platformAction=='create'", ng-click="vm.createNewPlatform();vm.setPlatformFooter(null)", ng-disabled="form_new_platform.$invalid") {{"CREATE" | translate}}
                button.btn.btn-primary.common-button(data-dismiss='modal', ng-show="vm.selectedPlatformDetailTab!='system-settlement'&&vm.platformAction=='delete'", ng-click="vm.deletePlatform();vm.setPlatformFooter(null)") {{"CONFIRM" | translate}}
                button.btn.btn-primary.common-button(data-dismiss='modal', ng-show="vm.selectedPlatformDetailTab!='system-settlement'&&vm.platformAction=='edit'", ng-click="vm.updatePlatformAction();vm.setPlatformFooter(null)") {{"EDIT" | translate}}
                button.btn.btn-warning.common-button(data-dismiss='modal', ng-show="vm.selectedPlatformDetailTab!='system-settlement'&&vm.platformAction", ng-click="vm.setPlatformFooter(null)") {{"CANCEL" | translate}}

                button.btn.btn-primary.common-button(data-dismiss='modal', ng-show="vm.selectedPlatformDetailTab == 'system-settlement'", ng-click="vm.startPlayerConsecutiveConsumptionSettlement($event);vm.setPlatformFooter(null)")
                    text {{"Player Consecutive Consumption Settlement" | translate}}
                button.btn.btn-primary.common-button(data-dismiss='modal', ng-show="vm.selectedPlatformDetailTab == 'system-settlement'", ng-click="vm.startPlayerLevelSettlement($event);vm.setPlatformFooter(null)")
                    text {{"Player Level Settlement" | translate}}
                button.btn.btn-primary.common-button(data-dismiss='modal', ng-show="vm.selectedPlatformDetailTab == 'system-settlement'", ng-click="vm.startPlatformPlayerConsumptionIncentiveSettlement($event);vm.setPlatformFooter(null)")
                    text {{"Player Consumption Incentive Settlement" | translate}}
                button.btn.btn-primary.common-button(data-dismiss='modal', ng-show="vm.selectedPlatformDetailTab == 'system-settlement'", ng-click="vm.startPlatformPartnerCommissionSettlement($event);vm.setPlatformFooter(null)")
                    text {{"Partner Commission Settlement" | translate}}
                button.btn.btn-primary.common-button(data-dismiss='modal', ng-show="vm.selectedPlatformDetailTab == 'system-settlement'", ng-click="vm.startPlatformPlayerConsumptionReturnSettlement($event);vm.setPlatformFooter(null)")
                    text {{"Player Consumption Return Settlement" | translate}}
                div(ng-if="vm.selectedPlatformDetailTab == 'system-settlement'" ng-repeat="event in vm.settlementRewardGroupEvent")
                    button.btn.btn-primary.common-button(data-dismiss='modal' ng-click="vm.startPlatformRTGEventSettlement(event);vm.setPlatformFooter(null)")
                        text {{ "Settle" | translate }} {{ event.name | translate }}
                label.colorRed(ng-show="vm.playerDisplayDataTab == 'advertisementPanel' || vm.partnerDisplayDataTab == 'partnerAdvertisementPanel'") {{vm.errMessage | translate}}



//#modalPlatformSettlementHistory.modal.fade(tabindex='-1', role='dialog', data-backdrop='static', keyboard=false,aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
        .modal-content
            .modal-header
                a.fa.fa-times.close(type='button', data-dismiss='modal')
                h4.modal-title {{vm.selectedPlatform.text}} {{"Settle" | translate}}
            .modal-body
                .panel.panel-primary
                    .panel-body
                        .col-md-12.block-query.well
                            div
                                label.margin-right-5 {{'Settlement Interval' | translate}}
                                select.form-control(ng-model='vm.queryPara.modalPlatformSettlementHistory.interval', ng-options='a | translate for a in ["daily","weekly"]')
                            div
                                label {{"Start date"|translate}}
                                .startTime
                            div
                                label {{"End date"|translate}}
                                .endTime
                            div
                                label &nbsp;
                                button.btn.common-button.btn-primary(ng-click='vm.getSettlementHistory()') {{'SEARCH' | translate}}
                            hr
                            table#platformSettlementHistoryTbl.common-table.display(style='width:100%')
                                thead
                                    tr
                                        th {{"SETTLEMENT" | translate}} {{'TIME' | translate}}
                                        th {{"CREATE_TIME" | translate}}
                                        th {{'RESULT' | translate}}
                                        th(style='width:50%') {{'DETAIL' | translate}}
                                tbody
                                    tr(ng-repeat='(i,v) in vm.platformSettlementHis')
                                        td {{vm.dateReformat(v.settlementTime)}}
                                        td {{vm.dateReformat(v.createTime)}}
                                        td {{v.result ? "Success" : "Failure" | translate}}
                                        td.wordWrap(style='width:50%;word-break:break-all') {{v.data}}
            .modal-footer
                button.btn.btn-success.common-button(data-dismiss='modal') {{"CONFIRM" | translate}}
//#modalPlatformSettlement.modal.fade(tabindex='-1', role='dialog', data-backdrop='static', keyboard=false,aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
        .modal-content
            .modal-header
                a.fa.fa-times.close(type='button', data-dismiss='modal')
                h4.modal-title {{vm.settlementType | translate}} : {{vm.selectedPlatform.text}}
            .modal-body
                .panel.panel-primary
                    .panel-body
                        .col-md-12
                            label {{vm.settlementType | translate}}
                            | &nbsp;
                            i#platformSettlementLoadingIcon.fa.fa-spin.fa-spinner
                        .col-md-12
                            table#settlementTable.common-table.display(style='width:100%')
                        .col-md-12
                            center
                                label {{'Total' | translate}} {{'CONSUMPTIONAMOUNT' | translate}}:
                                text &nbsp;{{vm.settlementTableTotals.totalConsumption}}
                                | &nbsp;
                                label {{'Total' | translate}} {{'RETURNAMOUNT' | translate}}:
                                text &nbsp;{{vm.settlementTableTotals.totalReturn}}
            .modal-footer
                .form-control.inlineBlk(style='width:initial', ng-if='vm.platformSettlement.message')
                    .text-danger {{vm.platformSettlement.message | translate}}
                button.btn.btn-success.common-button(ng-if='vm.platformSettlement.message=="Success"', data-dismiss='modal', ng-click="vm.loadPlatformData()") {{'CONFIRMATION' | translate}}
                button.btn.btn-success.common-button(ng-if='vm.platformSettlement.message!="Success"', ng-click="vm.performSettlement()", ng-disabled='vm.platformSettlement.processing') {{vm.settlementType | translate}}
                    i.fa.fa-spin.fa-spinner.text-danger.fa-2x(ng-if='vm.platformSettlement.processing')
                button.btn.btn-warning.common-button(ng-if='vm.platformSettlement.message!="Success"', data-dismiss='modal') {{"CLOSE" | translate}}
#partnerCommissionSettlementModal.modal.fade(tabindex='-1', role='dialog', data-backdrop='static', keyboard=false,aria-labelledby='myModalLabel', aria-hidden='true', style='width:50%;margin-left:20%')
    .modal-dialog
        .modal-content
            .modal-header
                a.fa.fa-times.close(type='button', data-dismiss='modal')
                h4.modal-title {{"SETTLEMENT" | translate}} : {{vm.selectedPlatform.text}}
            .modal-body
                label {{"Are you sure to" | translate}}&nbsp;{{"SETTLEMENT" | translate}}?
                br
                label {{vm.partnerCommissionSettlement.startTime}} -> {{vm.partnerCommissionSettlement.endTime}}
            .modal-footer
                .form-control.inlineBlk(style='width:initial', ng-if='vm.partnerCommissionSettlement.status=="completed"')
                    .text-danger {{vm.partnerCommissionSettlement.result | translate}}
                button.btn.btn-warning.common-button(data-dismiss='modal') {{'CLOSE' | translate}}
                button.btn.btn-success.common-button(ng-if='vm.partnerCommissionSettlement.status=="ready"', ng-click="vm.performPartnerCommissionSetlement()") {{'CONFIRM' | translate}}
                i.fa.fa-spin.fa-spinner.text-danger.fa-2x(ng-if='vm.partnerCommissionSettlement.status=="processing"')

//#modalTransferOutAllPlayerCreditFromGameProvider.modal.fade(tabindex='-1', role='dialog', data-backdrop=false, keyboard=false,aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog(style='width:70%;')
        .modal-content
            .modal-header
                a.fa.fa-times.close(type='button', ng-click='vm.closeCreditTransferLog("#modalTransferOutAllPlayerCreditFromGameProvider")')
                h4.modal-title {{'Transfer Out All Players Credit From Providers' | translate}}
            .modal-body
                button.common-button.margin-right-5.btn.btn-success(ng-disabled='vm.transferAllCredit.isProcessing', ng-click='vm.transferAllCreditToPlayer()') {{'Transfer All from Providers' | translate}}
                button.common-button.margin-right-5.btn.btn-success(ng-disabled='vm.fixPlayerRewardAmount.rewardInfo.length > 0 || vm.fixPlayerRewardAmount.isProcessing', ng-click='vm.sendFixPlayerRewardAmount()') {{'Fix Player RewardAmount' | translate}}
                label#fixedRewardAmountResult.margin-left-5
                label.pull-right.blink(ng-show='vm.creditTransfer.needClose') {{'Please close the dialog to refresh the data.' | translate}}
                table.simple-table
                    thead
                        tr
                            th {{'PROVIDER' | translate}}
                            th {{'PROVIDER_ID' | translate}}
                            th {{'CREDIT' | translate}}
                            th {{'TRANSFER' | translate}}
                    tbody(style='max-height:500px;overflow-y:auto')
                        tr(ng-repeat='(i,v) in vm.platformProviderList')
                            td {{v.name}}
                            td {{v.providerId}}
                            td
                                i.fa.fa-spinner.fa-spin(ng-if='!vm.playerCredit[v.providerId]')
                                text(ng-if='vm.playerCredit[v.providerId]') {{vm.playerCredit[v.providerId].gameCredit}}
                            td(class='prov{{v.providerId}}', ng-if='!vm.transferAllCredit.isProcessing')
                                i.fa.fa-spinner.fa-spin(ng-if='!vm.playerCredit[v.providerId]')
                                div(ng-if='vm.playerCredit[v.providerId]')
                                    div(ng-show='!vm.creditTransfer.transferResult')
                                        label.radio-inline(ng-show='vm.playerCredit[v.providerId].gameCredit>=1') {{'from Provider' | translate}}
                                            input.pull-left.relative(type='radio', data-provider='{{v}}', name='credit_transfer_type', ng-click='vm.transferCreditFromProviderClicked(v.providerId)', value='in')
                                        label.radio-inline(ng-show='vm.creditTransfer.showValidCredit + vm.creditTransfer.showRewardAmount>=1') {{'to Provider' | translate}}
                                            input.pull-left.relative(type='radio', data-provider='{{v}}', name='credit_transfer_type', ng-click='vm.transferCreditToProviderClicked(v.providerId)', value='out')
                                    p
                                    div(ng-show='vm.creditTransfer.focusProvider==v.providerId')
                                        div(ng-show='!vm.creditTransfer.transferResult')
                                            button.common-button.margin-right-5.btn.btn-success(ng-click='vm.confirmCreditTransfer(v.providerId)') {{'CONFIRM' | translate}}
                                            button.common-button.margin-right-5.btn.btn-warning(ng-click='vm.closeCreditTransferLog("#modalTransferOutAllPlayerCreditFromGameProvider")') {{'CANCEL' | translate}}
                                            i.fa.fa-spin.fa-spinner.text-danger(ng-show='vm.creditTransfer.isProcessing')
                                        div(ng-show='vm.creditTransfer.transferResult')
                                            button.common-button.margin-right-5.btn.btn-success(ng-click='vm.closeCreditTransferLog("#modalTransferOutAllPlayerCreditFromGameProvider")') {{'OK' | translate}}
                                            label {{vm.creditTransfer.transferResult | translate}}
                            td(class='prov{{v.providerId}}', ng-if='vm.transferAllCredit.isProcessing')
                                text.text-danger {{vm.transferAllCredit[v.providerId].text | translate}}
                                i.fa.fa-spinner.fa-spin(ng-if='vm.transferAllCredit[v.providerId].finished== false')

#playerConsumptionReturnSettlementModal.modal.fade(tabindex='-1', role='dialog', data-backdrop='static', keyboard=false,aria-labelledby='myModalLabel', aria-hidden='true', style='width:50%;margin-left:20%')
    .modal-dialog
        .modal-content
            .modal-header
                a.fa.fa-times.close(type='button', data-dismiss='modal')
                h4.modal-title {{"Player Consumption Return Settlement" | translate}} : {{vm.selectedPlatform.text}}
            .modal-body
                label {{"Are you sure to" | translate}}&nbsp;{{"SETTLEMENT" | translate}}?
                br
                label {{vm.playerConsumptionReturnSettlement.startTime}} -> {{vm.playerConsumptionReturnSettlement.endTime}}
            .modal-footer
                .form-control.inlineBlk(style='width:initial', ng-if='vm.playerConsumptionReturnSettlement.status=="completed"')
                    .text-danger {{vm.playerConsumptionReturnSettlement.result | translate}}
                button.btn.btn-warning.common-button(data-dismiss='modal') {{'CLOSE' | translate}}
                button.btn.btn-success.common-button(ng-if='vm.playerConsumptionReturnSettlement.status=="ready"', ng-click="vm.performPlayerConsumptionReturnSettlement()") {{'CONFIRM' | translate}}
                i.fa.fa-spin.fa-spinner.text-danger.fa-2x(ng-if='vm.playerConsumptionReturnSettlement.status=="processing"')


#playerConsumptionIncentiveSettlementModal.modal.fade(tabindex='-1', role='dialog', data-backdrop='static', keyboard=false,aria-labelledby='myModalLabel', aria-hidden='true', style='width:50%;margin-left:20%')
    .modal-dialog
        .modal-content
            .modal-header
                a.fa.fa-times.close(type='button', data-dismiss='modal')
                h4.modal-title {{"Player Consumption Incentive Settlement" | translate}} : {{vm.selectedPlatform.text}}
            .modal-body
                label {{"Are you sure to" | translate}}&nbsp;{{"SETTLEMENT" | translate}}?
                br
                label {{vm.playerConsumptionIncentiveSettlement.startTime}} -> {{vm.playerConsumptionIncentiveSettlement.endTime}}
            .modal-footer
                .form-control.inlineBlk(style='width:initial', ng-if='vm.playerConsumptionIncentiveSettlement.status=="completed"')
                    .text-danger {{vm.playerConsumptionIncentiveSettlement.result | translate}}
                button.btn.btn-warning.common-button(data-dismiss='modal') {{'CLOSE' | translate}}
                button.btn.btn-success.common-button(ng-if='vm.playerConsumptionIncentiveSettlement.status=="ready"', ng-click="vm.performPlayerConsumptionIncentiveSettlement()") {{'CONFIRM' | translate}}
                i.fa.fa-spin.fa-spinner.text-danger.fa-2x(ng-if='vm.playerConsumptionIncentiveSettlement.status=="processing"')

#playerLevelSettlementModal.modal.fade(tabindex='-1', role='dialog', data-backdrop='static', keyboard=false,aria-labelledby='myModalLabel', aria-hidden='true', style='width:50%;margin-left:20%')
    .modal-dialog
        .modal-content
            .modal-header
                a.fa.fa-times.close(type='button', data-dismiss='modal')
                h4.modal-title {{"Player Level Settlement" | translate}} : {{vm.selectedPlatform.text}}
            .modal-body
                label {{"Are you sure to" | translate}}&nbsp;{{"SETTLEMENT" | translate}}?
                br
                label {{'CONFIRM_LEVEL_UP' | translate}} : {{vm.playerLevelSettlement.lvlUpStartTime}} -> {{vm.playerLevelSettlement.lvlUpEndTime}}
                br
                label {{'CONFIRM_LEVEL_DOWN' | translate}} : {{vm.playerLevelSettlement.lvlDownStartTime}} -> {{vm.playerLevelSettlement.lvlDownEndTime}}
            .modal-footer
                .form-control.inlineBlk(style='width:initial', ng-if='vm.playerLevelSettlement.status=="completed"')
                    .text-danger {{vm.playerLevelSettlement.result | translate}}
                button.btn.btn-warning.common-button(data-dismiss='modal') {{'CLOSE' | translate}}
                button.btn.btn-success.common-button(ng-if='vm.playerLevelSettlement.status=="ready"', ng-click="vm.performPlayerLevelSettlement(true)") {{'CONFIRM_LEVEL_UP' | translate}}
                button.btn.btn-success.common-button(ng-if='vm.playerLevelSettlement.status=="ready"', ng-click="vm.performPlayerLevelSettlement(false)") {{'CONFIRM_LEVEL_DOWN' | translate}}
                i.fa.fa-spin.fa-spinner.text-danger.fa-2x(ng-if='vm.playerLevelSettlement.status=="processing"')

#playerConsecutiveConsumptionSettlementModal.modal.fade(tabindex='-1', role='dialog', data-backdrop='static', keyboard=false,aria-labelledby='myModalLabel', aria-hidden='true', style='width:50%;margin-left:20%')
    .modal-dialog
        .modal-content
            .modal-header
                a.fa.fa-times.close(type='button', data-dismiss='modal')
                h4.modal-title {{"Player Consecutive Consumption Settlement" | translate}} : {{vm.selectedPlatform.text}}
            .modal-body
                label {{"Are you sure to" | translate}}&nbsp;{{"SETTLEMENT" | translate}}?
                br
                label {{vm.playerConsecutiveConsumptionSettlement.startTime}} -> {{vm.playerConsecutiveConsumptionSettlement.endTime}}
            .modal-footer
                .form-control.inlineBlk(style='width:initial', ng-if='vm.playerConsecutiveConsumptionSettlement.status=="completed"')
                    .text-danger {{vm.playerConsecutiveConsumptionSettlement.result | translate}}
                button.btn.btn-warning.common-button(data-dismiss='modal') {{'CLOSE' | translate}}
                button.btn.btn-success.common-button(ng-if='vm.playerConsecutiveConsumptionSettlement.status=="ready"', ng-click="vm.performPlayerConsecutiveConsumptionSettlement()") {{'CONFIRM' | translate}}
                i.fa.fa-spin.fa-spinner.text-danger.fa-2x(ng-if='vm.playerConsecutiveConsumptionSettlement.status=="processing"')

#platformRTGEventSettlementModal.modal.fade(tabindex='-1', role='dialog', data-backdrop='static', keyboard=false,aria-labelledby='myModalLabel', aria-hidden='true', style='width:50%;margin-left:20%')
    .modal-dialog
        .modal-content
            .modal-header
                a.fa.fa-times.close(type='button', data-dismiss='modal')
                h4.modal-title {{"Player Consumption Return Settlement" | translate}} : {{vm.selectedPlatform.text}}
            .modal-body
                label {{"Are you sure to" | translate}}&nbsp;{{"SETTLEMENT" | translate}}?
                br
                label {{vm.platformRTGEventSettlement.startTime}} -> {{vm.platformRTGEventSettlement.endTime}}
            .modal-footer
                .form-control.inlineBlk(style='width:initial', ng-if='vm.platformRTGEventSettlement.status=="completed"')
                    .text-danger {{vm.platformRTGEventSettlement.result | translate}}
                button.btn.btn-warning.common-button(data-dismiss='modal') {{'CLOSE' | translate}}
                button.btn.btn-success.common-button(ng-if='vm.platformRTGEventSettlement.status=="ready"', ng-click="vm.performPlayerConsumptionReturnSettlement()") {{'CONFIRM' | translate}}
                i.fa.fa-spin.fa-spinner.text-danger.fa-2x(ng-if='vm.platformRTGEventSettlement.status=="processing"')

#modalAdvPlatform.modal.fade(tabindex='-1', role='dialog', data-backdrop='static', keyboard=false, aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
        .modal-content
            .modal-header
                a.fa.fa-times.close(type='button', data-dismiss='modal')
                h4.modal-title(ng-show="true") {{"ADV SETTING" | translate}}
            .modal-body
                div(style='background-image:url("{{vm.selectedAdvList.backgroundBannerImage.url}}"); min-height:400px; position: relative; width: 100%; background-repeat: no-repeat; background-size: 100% 100%;')
                    div(ng-repeat= "button in vm.selectedAdvList.imageButton")
                        img(src='{{button.url}}', id='{{button.buttonName}}')
            .modal-footer
                table.common-table.playerLvlTable
                    tbody(ng-repeat='button in vm.selectedAdvList.imageButton')
                        tr
                            th.align-left 图中按钮 {{button.buttonName}} 位置与效果 (CSS)
                        tr
                            td(ng-if="!vm.CSSContentEdit", align="left")
                                div(style="display:block;white-space:pre-wrap;word-wrap:break-word;") {{button.css}}
                            td(ng-if='vm.CSSContentEdit', align="left")
                                input.form-control(type='text', value='{{button.css}}', ng-model='button.css')
                        tr
                            td(ng-if="!vm.CSSContentEdit", align="left")
                                div(style="display:block;white-space:pre-wrap;word-wrap:break-word;") {{button.hoverCss}}
                            td(ng-if='vm.CSSContentEdit', align="left")
                                input.form-control(type='text', value='{{button.hoverCss}}', ng-model='button.hoverCss')
                br
                .pull-right
                    button.btn.btn-primary.common-button(ng-click='vm.CSSContentEdit=!vm.CSSContentEdit; vm.advSettingUpdate(vm.selectedAdvList, vm.subject)', data-dismiss="modal" ) {{"SAVE" | translate}}
                    button.btn.btn-primary.common-button(ng-click='vm.drawUIPlatformCSS(vm.selectedAdvList); vm.CSSContentEdit=false') {{"PREVIEW" | translate}}
                    button.btn.btn-primary.common-button(ng-if='!vm.CSSContentEdit', ng-click='vm.CSSContentEdit=!vm.CSSContentEdit;')
                        text {{'EDIT' | translate}}
                        img.img-edit

