.row.margin-left-5.margin-right-5(ng-show="checkViewPermission('Platform')")
    //.col-md-3(ng-class='vm.leftPanelClass')
    include ./platform-list


    //#platformContent.col-md-9(style="padding-left:0;",ng-class='vm.rightPanelClass')
    #platformContent(style="padding-left:0;",ng-class='vm.rightPanelClass')
        .padding-all-5
            .panel.panel-primary
                .panel-heading.common-left-panel-heading
                    ul.nav.nav-tabs.common-nav-tabs(id='ulMenu')
                        //.pull-left.padding-all-5
                            a.fa.fa-chevron-circle-left.contractIcon(ng-show='vm.showPlatformList', ng-click='vm.toggleShowPlatformList(false)')
                            a.fa.fa-chevron-circle-right.contractIcon(ng-show='!vm.showPlatformList', ng-click='vm.toggleShowPlatformList(true)')

                        li.padding-all-5(style='margin:5px 10px; margin-top:8px;')
                            //.text-success(ng-show='vm.selectedPlatform.data.settlementStatus=="Ready"' style='color:rgb(0,180,0)')
                            a.text-success(class="providerListPopover" data-toggle="popover" data-container="body" data-placement="right" data-trigger="focus" type="button" data-html="true" href="#" style='color:{{vm.longestDelayStatus}};z-index: auto' ng-click="vm.getProviderLatestTimeRecord();")
                                i.fa.fa-lg.fa-circle
                            //.text-danger(ng-show='vm.selectedPlatform.data.settlementStatus=="DailyError"')
                            //    i.fa.fa-lg.fa-circle.margin-right-5
                            //.text-danger(ng-show='vm.selectedPlatform.data.settlementStatus=="WeeklyError"')
                            //    i.fa.fa-lg.fa-circle.margin-right-5

                        #providerListPopover.hide(style="width: 400px", ng-non-bindable)
                            table.simple-table
                                thead
                                    tr
                                        th(width="10%") {{'Delay Status' | translate}}
                                        th(width="30%") {{'Game Type' | translate}}
                                        th(width="40%") {{'Latest Recorded Time' | translate}}
                                tr
                                    td(style='text-align: center')
                                        div(ng-repeat='(i,v) in vm.delayStatus' style="height:24px;")
                                            div(style="color: {{v}}")
                                                i.fa.fa-lg.fa-circle
                                    td(style='text-align: center')
                                        div(ng-repeat='(i,v) in vm.platformProviderList' style="height:24px;")
                                            label {{vm.getProviderText(v.providerId)}}
                                    td(style='text-align: center')
                                        div(ng-repeat='(i,v) in vm.providerLatestTime' style="height:24px;")
                                            label {{v}}
                        //
                        //li(ng-if='!vm.curPlatformText', style='margin-right: 0;')
                        //    div.platformName(style='border-radius: 9px 0 0 9px;')
                        //        .fa.fa-2x(style='margin:5px 10px;')
                        //            img(src="images/icon/websiteBusiness_hover.png" width="30" )
                        //        text.text-danger.shadow(style='margin:5px 10px;font-size:20px') {{"SELECT_PLATFORM"|translate}}
                        //li(ng-if='vm.curPlatformText', style='margin-right: 0;')
                        //    div.platformName(ng-if='checkViewPermission("Platform","Platform", "Read")',ng-disabled="!vm.selectedPlatform", data-toggle="modal", data-target='#modalUpdatePlatform', ng-click='vm.initPlatform(false);vm.showPlatformDetailTab(null);vm.setPlatformFooter(null);vm.getAllDepartmentData();vm.prepareSettlementHistory();vm.populatePlatformData();', style='border-radius: 9px 0 0 9px;')
                        //        .fa.fa-2x(style='margin:5px 10px;')
                        //            img(src="images/icon/websiteBusiness_hover.png" width="30" )
                        //        text.shadow(style='margin:5px 10px;font-size:20px') {{vm.curPlatformText}}
                        //
                        ////dropdown
                        //li(style='margin-right:5px')
                        //    div.platformName(ng-click='vm.toggleShowPlatformDropDownList()', style='border-radius: 0 9px 9px 0;')
                        //        .fa.fa-2x.fa-caret-down(style='margin:5px 10px; margin-top:8px;')
                        //    //div#platformTree(style="height: 400px;")
                        #platformTree(ng-show='vm.showPlatformDropDownList', style="min-width: 200px; position: absolute; right: 0; color: black; z-index: 9;")

                        li.active(ng-show="checkViewPermission('Platform', 'Player', 'Read')")
                            a.common-tab(data-toggle="tab", href="#Player", ng-click="vm.activatePlayerTab();vm.platformPageName='Player';vm.updatePageTile();")
                                .fa.fa-users.margin-right-5
                                text.span {{"PLAYER" | translate}}
                        li(ng-show="checkViewPermission('Platform', 'Feedback', 'Read')")
                            //a.common-tab(data-toggle="tab", href="#Feedback", ng-click="vm.submitPlayerFeedbackQuery();vm.platformPageName='Feedback';vm.updatePageTile();")
                            a.common-tab(data-toggle="tab", href="#Feedback", ng-click="vm.initPlayerFeedback();vm.platformPageName='Feedback';vm.updatePageTile();")
                                .fa.fa-volume-control-phone.margin-right-5
                                text.span {{"FEEDBACK" | translate}}
                        li(ng-show="checkViewPermission('Platform', 'FeedbackQuery', 'Read')")
                            a.common-tab(data-toggle="tab", href="#FeedbackAdmin", ng-click="vm.platformPageName='FeedbackAdmin';vm.initFeedbackAdmin();vm.updatePageTile();")
                                .fa.fa-volume-control-phone.margin-right-5
                                text.span {{"Feedback Query" | translate}}
                        li(ng-show="checkViewPermission('Platform', 'Partner', 'Read')")
                            a.common-tab(data-toggle="tab", href="#Partner", ng-click="vm.activatePartnerTab();vm.platformPageName='Partner';vm.updatePageTile();")
                                .fa.fa-sitemap.margin-right-5
                                text.span {{"PARTNER" | translate}}
                        li(ng-show="checkViewPermission('Platform', 'Game', 'Read')")
                            a.common-tab(data-toggle="tab", href="#Game", ng-click="vm.platformGameTabClicked();vm.platformPageName='Game';vm.updatePageTile();")
                                .fa.fa-gamepad.margin-right-5
                                text.span {{"GAME" | translate}}
                        li(ng-show="checkViewPermission('Platform', 'GameGroup', 'Read')")
                            a.common-tab(data-toggle="tab", href="#GameGroup", ng-click='vm.platformPageName="GameGroup";vm.updatePageTile();vm.loadGameGroupData();')
                                .fa.fa-gamepad.margin-right-5
                                text.span {{"GAME_GROUP" | translate}}
                        li(ng-show="checkViewPermission('Platform', 'Reward', 'Read')")
                            a.common-tab(data-toggle="tab", href="#Reward", ng-click="vm.rewardTabClicked();vm.platformPageName='Reward';vm.updatePageTile();")
                                .fa.fa-usd.margin-right-5
                                text.span {{"REWARD" | translate}}
                        li(ng-show="checkViewPermission('Platform', 'Proposal', 'Read')")
                            a.common-tab(data-toggle="tab", href="#Proposal", ng-click="vm.rewardProposalClicked();vm.platformPageName='Proposal';vm.updatePageTile();")
                                .fa.fa-file-text-o.margin-right-5
                                text.span {{"PROPOSAL_PROCESS" | translate}}
                        li(ng-show="checkViewPermission('Platform', 'Config', 'Read')")
                            a.common-tab(data-toggle="tab", href="#Config", ng-click="vm.configTabClicked();vm.platformPageName='Config';vm.updatePageTile();")
                                .fa.fa-wrench.margin-right-5
                                text.span {{"CONFIG" | translate}}
                        li(ng-show="checkViewPermission('Platform', 'Config', 'Read')")
                            a.common-tab(data-toggle="tab", href="#MessageTemplates", ng-click="vm.getPlatformMessageTemplates();vm.platformPageName='MessageTemplates';vm.updatePageTile();")
                                .fa.fa-file-text.margin-right-5
                                text.span {{"MESSAGE_TEMPLATES_SHORT" | translate}}
                        li(ng-show="checkViewPermission('Platform', 'Announcement', 'PlatformAnnouncementRead')")
                            a.common-tab(data-toggle="tab", href="#Announcement", ng-click="vm.getPlatformAnnouncements();vm.platformPageName='Announcement';vm.updatePageTile();")
                                .fa.fa-file-text.margin-right-5
                                text.span {{"ANNOUNCEMENTS" | translate}}
                        li(ng-show="checkViewPermission('Platform', 'groupMessage','Read')")
                            a.common-tab(data-toggle="tab", href="#MultiMessage", ng-click="vm.platformPageName='MultiMessage';vm.updatePageTile();vm.initSendMultiMessage(true);")
                                .fa.fa-file-text.margin-right-5
                                text.span {{"Send Messages" | translate}}
                        li(ng-show="checkViewPermission('Platform', 'vertificationSMS','Read')")
                            a.common-tab(data-toggle="tab", href="#VertificationSMS", ng-click="vm.platformPageName='VertificationSMS';vm.updatePageTile();vm.initVertificationSMS();")
                                .fa.fa-file-text.margin-right-5
                                text.span {{"SMS Records" | translate}}
                        li(ng-show="checkViewPermission('Platform', 'groupMessage','Read')")
                            a.common-tab(data-toggle="tab", href="#PushNotification", ng-click="vm.platformPageName='PushNotification';vm.updatePageTile();")
                                .fa.fa-file-text.margin-right-5
                                text.span {{"Push Notification" | translate}}
                        li(ng-show="checkViewPermission('Platform', 'promoCode','Read')")
                            a.common-tab(data-toggle="tab", href="#PromoCode", ng-click="vm.platformPageName='PromoCode';vm.updatePageTile();")
                                .fa.fa-file-text.margin-right-5
                                text.span {{"promoCode" | translate}}
                        li(ng-show="checkViewPermission('Platform', 'RegistrationUrlConfig','Read')")
                            a.common-tab(data-toggle="tab", href="#registrationUrlConfig", ng-click="vm.platformPageName='RegistrationUrlConfig';vm.updatePageTile();vm.initPlatformOfficer();")
                                .fa.fa-file-text.margin-right-5
                                text.span {{"RegistrationUrlConfig" | translate}}
                        li(ng-show="checkViewPermission('Platform', 'phoneNumFilter','Read')")
                            a.common-tab(data-toggle="tab", href="#phoneNumFilter", ng-click="vm.platformPageName='phoneNumFilter';vm.updatePageTile();vm.initPhoneNumFilter();")
                                .fa.fa-phone.margin-right-5
                                text.span {{"phoneNumFilter" | translate}}
                        li(ng-show="checkViewPermission('Platform', 'rewardPoints','Read')")
                            a.common-tab(data-toggle="tab", href="#rewardPoint", ng-click="vm.platformPageName='rewardPoint';vm.updatePageTile();")
                                .fa.fa-file.margin-right-5
                                text.span {{"rewardPoint" | translate}}
                        //li
                            a.common-tab(ng-show="checkViewPermission('Platform', 'BankCardGroup', 'Read')",data-toggle="tab", href="#bankCardGroup", ng-click="vm.bankCardGroupTabClicked();vm.platformPageName='bankCardGroup';vm.updatePageTile();")
                                .fa.fa-credit-card.margin-right-5
                                text.span {{"Bankcard Group" | translate}}
                        //li
                            a.common-tab(ng-show="checkViewPermission('Platform', 'MerchantGroup', 'Read')",data-toggle="tab", href="#merchantGroup", ng-click="vm.merchantGroupTabClicked();vm.platformPageName='merchantGroup';vm.updatePageTile();")
                                .fa.fa-money.margin-right-5
                                text.span {{"Merchant Group" | translate}}
                        //li
                            a.common-tab(ng-show="checkViewPermission('Platform', 'AlipayGroup', 'Read')",data-toggle="tab", href="#alipayGroup", ng-click="vm.platformPageName='alipayGroup';vm.updatePageTile();")
                                img.margin-right-5(src='images/icon/aliPayBlue.png')
                                text.span {{"Alipay" | translate}}
                .panel-body.common-right-panel-body
                    div.tab-content
                        #Game.tab-pane.fade
                            include ./platform-game
                        #Feedback.tab-pane.fade
                            include ./platform-feedback
                        #FeedbackAdmin.tab-pane.fade
                            include ./platform-feedbackAdmin
                        #GameGroup.tab-pane.fade
                            include ./platform-gamegroup
                        #Player.tab-pane.fade.in.active
                            .row
                                include ./platform-player
                        #Partner.tab-pane.fade
                            .row
                                include ./platform-partner
                        #Reward.tab-pane.fade
                            include platform-reward
                        #Proposal.tab-pane.fade
                            include ./../proposal/proposal-home
                        #Config.tab-pane.fade
                            include ./platform-config
                        #MessageTemplates.tab-pane.fade
                            include ./platform-message-templates
                        #Announcement.tab-pane.fade
                            include ./platform-announcement
                        #MultiMessage.tab-pane.fade
                            .row
                                include ./platform-multiMessage
                        #VertificationSMS.tab-pane.fade
                            include ./platform-sms-record
                        #PushNotification.tab-pane.fade
                            .row
                                include ./platform-push-notification
                        #PromoCode.tab-pane.fade
                            include ./platform-promo-code
                        #registrationUrlConfig.tab-pane.fade
                            include platform-registrationUrl-config
                        #phoneNumFilter.tab-pane.fade
                            include ./platform-phone-num-filter
                        #rewardPoint.tab-pane.fade
                            include ./platform-reward-point
                            //ui-view
                        //#bankCardGroup.tab-pane.fade
                            include ./platform-bankCardGroup
                        //#merchantGroup.tab-pane.fade
                            include ./platform-merchantGroup
                        //#alipayGroup.tab-pane.fade
                            include ./platform-alipayGroup
#dialogFrame.dialog-frame
#modalEditCritical.modal.fade(tabindex='-1', role='dialog', data-backdrop='static', keyboard=false,aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog(style='width:50%')
        .modal-content
            .modal-header
                a.fa.fa-times.close(type='button', data-dismiss='modal')
                h4.modal-title {{vm.modifyCritical.title | translate}}
            .modal-body
                .panel.panel-primary
                    .panel-body
                        .well
                            label {{'PLEASE_CHOOSE' | translate}}
                            p
                            label.radio-inline {{'EMAIL' | translate}}
                                input.pull-left.relative(type='radio', ng-model='vm.modifyCritical.changeType', value='email')
                            label.radio-inline {{'PHONE' | translate}}
                                input.pull-left.relative(type='radio', ng-model='vm.modifyCritical.changeType', value='phone')
                            label.radio-inline(ng-if = "vm.platformPageName==='Partner'") QQ
                                input.pull-left.relative(type='radio', ng-model='vm.modifyCritical.changeType', value='qq')
                        .col-md-12.well
                            div(ng-show='vm.modifyCritical.changeType=="email"')
                                div.form-group.col-md-7
                                    label.control-label {{"CURRENT_EMAIL" | translate}}
                                    input.form-control(type="email", name="email", placeholder='{{"EMAIL" | translate}}', ng-model="vm.modifyCritical.curEmail", disabled)
                                form(name='form_edit_critical_email', novalidate)
                                    div.form-group.col-md-7
                                        label.control-label {{"NEW_EMAIL" | translate}}
                                        input.form-control(type="email", name="email1", placeholder='{{"EMAIL" | translate}}', ng-model="vm.modifyCritical.newEmail", required)
                                        span.help-block(ng-show="form_edit_critical_email.email1.$dirty && form_edit_critical_email.email1.$error.email") {{"EMAIL_INVALID" | translate}}
                                    div.form-group.col-md-7
                                        label.control-label {{"RETYPE_EMAIL" | translate}}
                                        input.form-control(type="email", name="repeatemail", placeholder='{{"EMAIL" | translate}}', ng-model="emailConfirmation", match="vm.modifyCritical.newEmail", required)
                                        span.help-block(ng-show="form_edit_critical_email.repeatemail.$dirty && form_edit_critical_email.repeatemail.$error.email") {{"EMAIL_INVALID" | translate}}
                                        span.help-block(ng-show="form_edit_critical_email.repeatemail.$dirty && form_edit_critical_email.repeatemail.$error.match") {{"EMAIL_DO_NOT_MATCH" | translate}}
                            div(ng-show='vm.modifyCritical.changeType=="phone"')
                                div.form-group.col-md-7
                                    label.control-label {{"CURRENT_TELEPHONE" | translate}}
                                    input.form-control(type="text", placeholder="{{'MOBILE' | translate}}", ng-model="vm.modifyCritical.phoneNumber", disabled)
                                div.form-group.col-md-7
                                    label.control-label {{"VERIFY_TELEPHONE" | translate}}
                                    input.form-control(type="text", placeholder="{{'VERIFY_TELEPHONE' | translate}}", ng-model="vm.modifyCritical.verifyPhoneNumber")
                                    p
                                    button.btn.btn-primary.common-button(ng-disabled='!vm.modifyCritical.verifyPhoneNumber', ng-click="vm.verifyPlayerPhoneNumber()") {{"VERIFY" | translate}}
                                    label.fa.fa-check.colorGreen(ng-if='vm.correctVerifyPhoneNumber')
                                    label.fa.fa-times.colorRed(ng-if='(!vm.correctVerifyPhoneNumber && (vm.correctVerifyPhoneNumber !== undefined))')
                                form(name='form_edit_critical_phone', novalidate)
                                    div.form-group.col-md-7
                                        label.control-label {{"NEW_TELEPHONE" | translate}}
                                        input.form-control(type="text", placeholder="{{'MOBILE' | translate}}",ng-pattern="vm.phonePattern", ng-model="vm.modifyCritical.newPhoneNumber", required)
                            div(ng-show='vm.modifyCritical.changeType=="qq"')
                                div.form-group.col-md-7
                                    label.control-label {{"CURRENT_QQ" | translate}}
                                    input.form-control(type="text", name="qq", placeholder='{{"CURRENT_QQ" | translate}}', ng-model="vm.modifyCritical.curQQ", disabled)
                                form(name='form_edit_critical_qq', novalidate)
                                    div.form-group.col-md-7
                                        label.control-label {{"NEW_QQ" | translate}}
                                        input.form-control(type="text", name="qq1", placeholder='{{"NEW_QQ" | translate}}', ng-model="vm.modifyCritical.newQQ", required)
                                    div.form-group.col-md-7
                                        label.control-label {{"RETYPE_QQ" | translate}}
                                        input.form-control(type="text", name="repeatqq", placeholder='{{"RETYPE_QQ" | translate}}', ng-model="qqConfirmation", match="vm.modifyCritical.newQQ", required)
                                        span.help-block(ng-show="form_edit_critical_qq.repeatqq.$dirty && form_edit_critical_qq.repeatqq.$error.match") {{"QQ_DO_NOT_MATCH" | translate}}
            .modal-footer
                button.btn.btn-primary.common-button(data-dismiss='modal',ng-show='vm.modifyCritical.changeType=="email"', ng-disabled='form_edit_critical_email.$invalid || form_edit_critical_email.$pristine', ng-click="vm.submitCriticalUpdate();") {{"CREATE" | translate}}
                button.btn.btn-primary.common-button(data-dismiss='modal',ng-show='vm.modifyCritical.changeType=="phone"', ng-disabled='form_edit_critical_phone.$invalid || form_edit_critical_phone.$pristine', ng-click="vm.submitCriticalUpdate();") {{"CREATE" | translate}}
                button.btn.btn-primary.common-button(data-dismiss='modal',ng-show='vm.modifyCritical.changeType=="qq"', ng-disabled='form_edit_critical_qq.$invalid || form_edit_critical_qq.$pristine', ng-click="vm.submitCriticalUpdate();") {{"CREATE" | translate}}
                button.btn.btn-warning.common-button(data-dismiss='modal') {{"CANCEL" | translate}}
#modalPlayerTopUpReport.modal.fade(tabindex='-1', role='dialog', data-backdrop='static', keyboard=false,aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog(style='width:80%;')
        .modal-content
            .modal-header
                a.fa.fa-times.close(type='button', data-dismiss='modal')
                h4.modal-title {{"Top Up Records for"|translate}} {{vm.isOneSelectedPlayer().name}}
            .modal-body
                .panel.panel-primary
                    .panel-body
                        #playerTopUp.adminLogQueryDiv.well
                            .inlineBlk
                                label {{'START_DATE' | translate}}
                                .startTime
                            .inlineBlk
                                label {{'END_DATE' | translate}}
                                .endTime
                            //.inlineBlk
                                label {{'Limit' | translate}}
                                select.form-control.limit(ng-model='vm.queryPara.playerTopUp.limit')
                                    option 50
                                    option 100
                                    option 200
                                    option(value='-1') {{'Unlimited' | translate}}
                            .inlineBlk
                                button.btn.btn-primary(ng-click='vm.getPagePlayerTopup(true)') {{'SEARCH' | translate}}
                        pre
                            text {{"Total Amount"|translate}}:
                            label {{vm.playerTopupRecordForModal.amount || 0 | number : 2}}&nbsp
                            text {{"Total Valid Amount"|translate}}:
                            label {{vm.playerTopupRecordForModal.validAmount || 0 | number : 2}}&nbsp
                            text {{"Total Bonus Amount"|translate}}:
                            label {{vm.playerTopupRecordForModal.bonusAmount || 0 | number : 2}}
                        p
                        //text.text-danger(ng-show ='vm.playerAllTopupRecords.length == 0') {{"No Top Up record is found."|translate}}
                        label {{"Total" | translate}} {{vm.playerTopUpLog.totalCount}} {{"records" | translate}}
                        table#playerTopupRecordTable.common-table.display(style='min-width:100%')
                        #playerTopupRecordTablePage

#modalProposal.modal.fade(tabindex='-1', role='dialog', data-backdrop='static', keyboard=false,aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
        .modal-content
            .modal-header
                a.fa.fa-times.close(type='button', data-dismiss='modal')
                span
                    ul.nav.nav-tabs
                        li
                            label {{vm.selectedProposal.type.name | translate}}
                        li.active
                            a(data-toggle="tab", href="#ProposalDetail", ng-click="")
                                .fa.fa-user
                                | {{ 'DETAIL' | translate }}
                        li(ng-if='vm.chartData')
                            a(data-toggle="tab", href="#Workflow", ng-click="")
                                .fa.fa-user
                                | {{ 'WORKFLOW' | translate }}
            .modal-body
                .panel.panel-primary
                    .panel-body
                        .tab-content
                            #ProposalDetail.tab-pane.fade.in.active
                                include ./proposal-dialog-detail
                            #Workflow.tab-pane.fade(mouse-capture, style="max-height:600px;overflow-y:auto")
                                flow-chart#flowChart(style='width: 100%; height: 550px;overflow:auto;', chart='vm.chartViewModel')
            .modal-footer
                .inlineBlk(ng-show='vm.selectedProposal.isLocked && !vm.selectedProposal.showUnlockBtn')
                    label.form-control {{'Lock Status' | translate}} : {{vm.selectedProposal.isLocked.adminName}}
                .inlineBlk(ng-show='!vm.selectedProposal.isLocked || vm.selectedProposal.showUnlockBtn')
                    button.btn.btn-success.common-button(data-dismiss='modal', ng-if='(vm.selectedProposal.process.status=="Pending" || vm.selectedProposal.status=="Pending") && vm.rightPanelTitle == "APPROVAL_PROPOSAL" && checkViewPermission("Operation", "Proposal","ApproveProposal")', ng-click="vm.updateProposal(vm.selectedProposal._id, true)") {{"APPROVE" | translate}}
                    button.btn.btn-danger.common-button(data-dismiss='modal', ng-if='(vm.selectedProposal.process.status=="Pending" || vm.selectedProposal.status=="Pending") && vm.rightPanelTitle == "APPROVAL_PROPOSAL" && checkViewPermission("Operation", "Proposal","RejectProposal")', ng-click="vm.updateProposal(vm.selectedProposal._id, false)") {{"REJECT" | translate}}
                button.btn.btn-warning.common-button(ng-if='vm.selectedProposal.showCancel', ng-click="vm.submitCancelProposal(vm.selectedProposal)") {{"Cancel Proposal" | translate}}
                .inlineBlk(ng-if='vm.selectedProposal.cancelling')
                    label {{'Cancelling Proposal' | translate}}
                    i.fa.fa-spin.fa-2x.fa-spinner
                label.inlineBlk(ng-if='vm.selectedProposal.cancelled') {{"Cancel" | translate}}
                button.btn.btn-primary.common-button(data-dismiss='modal') {{"OK" | translate}}
                button.btn.btn-primary.common-button(ng-if='vm.selectedProposal.status==="AutoAudit" && !vm.changeStatusToPendingFromAutoAuditMessage && !vm.selectedProposal.cancelling && !vm.selectedProposal.cancelled', ng-click='vm.changeStatusToPendingFromAutoAudit()') {{"Manual" | translate}}
                label.inlineBlk.wordWrap(ng-if='vm.changeStatusToPendingFromAutoAuditMessage') {{vm.changeStatusToPendingFromAutoAuditMessage}}
                .inlineBlk.pull-left(ng-show='vm.rightPanelTitle == "APPROVAL_PROPOSAL"')
                    label.inlineBlk {{'remark' | translate}}
                    input#proposalRemark.inlineBlk.proposalRemark.form-control(style='width:400px;')



#newPlayerModal.modal.fade(tabindex='-1', role='dialog', data-backdrop='static', keyboard=false,aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
        .modal-content
            .modal-header
                a.fa.fa-times.close(type='button', data-dismiss='modal')
                span
                    ul.nav.nav-tabs
                        li
                            label {{vm.selectedProposal.type.name | translate}}
                        li.active
                            a(data-toggle="tab", href="#ProposalDetail", ng-click="")
                                .fa.fa-user
                                | {{ 'DETAIL' | translate }}
                        li(ng-if='vm.chartData')
                            a(data-toggle="tab", href="#Workflow", ng-click="")
                                .fa.fa-user
                                | {{ 'WORKFLOW' | translate }}
            .modal-body
                .panel.panel-primary
                    .panel-body
                        .tab-content
                            #ProposalDetail.tab-pane.fade.in.active
                                include ./proposal-dialog-detail-newplayer
                            #Workflow.tab-pane.fade(mouse-capture, style="max-height:600px;overflow-y:auto")
                                flow-chart#flowChart(style='width: 100%; height: 550px;overflow:auto;', chart='vm.chartViewModel')
            .modal-footer
                .inlineBlk(ng-show='vm.selectedProposal.isLocked && !vm.selectedProposal.showUnlockBtn')
                    label.form-control {{'Lock Status' | translate}} : {{vm.selectedProposal.isLocked.adminName}}
                .inlineBlk(ng-show='!vm.selectedProposal.isLocked || vm.selectedProposal.showUnlockBtn')
                    button.btn.btn-success.common-button(data-dismiss='modal', ng-if='(vm.selectedProposal.process.status=="Pending" || vm.selectedProposal.status=="Pending") && vm.rightPanelTitle == "APPROVAL_PROPOSAL" && checkViewPermission("Operation", "Proposal","ApproveProposal")', ng-click="vm.updateProposal(vm.selectedProposal._id, true)") {{"APPROVE" | translate}}
                    button.btn.btn-danger.common-button(data-dismiss='modal', ng-if='(vm.selectedProposal.process.status=="Pending" || vm.selectedProposal.status=="Pending") && vm.rightPanelTitle == "APPROVAL_PROPOSAL" && checkViewPermission("Operation", "Proposal","RejectProposal")', ng-click="vm.updateProposal(vm.selectedProposal._id, false)") {{"REJECT" | translate}}
                button.btn.btn-warning.common-button(ng-if='vm.selectedProposal.showCancel', ng-click="vm.submitCancelProposal(vm.selectedProposal)") {{"Cancel Proposal" | translate}}
                .inlineBlk(ng-if='vm.selectedProposal.cancelling')
                    label {{'Cancelling Proposal' | translate}}
                    i.fa.fa-spin.fa-2x.fa-spinner
                label.inlineBlk(ng-if='vm.selectedProposal.cancelled') {{"Cancel" | translate}}
                button.btn.btn-primary.common-button(data-dismiss='modal') {{"OK" | translate}}
                button.btn.btn-primary.common-button(ng-if='vm.selectedProposal.status==="AutoAudit" && !vm.changeStatusToPendingFromAutoAuditMessage && !vm.selectedProposal.cancelling && !vm.selectedProposal.cancelled', ng-click='vm.changeStatusToPendingFromAutoAudit()') {{"Manual" | translate}}
                label.inlineBlk.wordWrap(ng-if='vm.changeStatusToPendingFromAutoAuditMessage') {{vm.changeStatusToPendingFromAutoAuditMessage}}
                .inlineBlk.pull-left(ng-show='vm.rightPanelTitle == "APPROVAL_PROPOSAL"')
                    label.inlineBlk {{'remark' | translate}}
                    input#proposalRemark.inlineBlk.proposalRemark.form-control(style='width:400px;')




#modalSMSLog.modal.fade(tabindex='-1', role='dialog', data-backdrop='static', keyboard=false, aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog(style='width: 80%')
        .modal-content
            .modal-header
                a.fa.fa-times.close(type='button', data-dismiss='modal')
                h4.modal-title {{"SMS Log" | translate}} : {{vm.selectedSinglePlayer.name}}
            .modal-body
                #smsLogQuery.block-query.well
                    div
                        label {{"RESULT" | translate}}
                        select.form-control(ng-model='vm.smsLog.query.status')
                            option(value='all') {{"any" | translate}}
                            option(value='success') {{"Success" | translate}}
                            option(value='failure') {{"Failure" | translate}}
                    div
                        label {{"Start date" | translate}}
                        .startTime
                        //-(ng-model='vm.smsLog.query.startTime')
                    div
                        label {{"End date" | translate}}
                        .endTime
                        //-(ng-model='vm.smsLog.query.endTime')
                    button.btn.btn-primary.common-button(ng-click='vm.searchSMSLog()', style='vertical-align: bottom') {{"SEARCH" | translate}}
                div(style='max-height: 400px; max-height: 50vh; overflow: auto')
                    label {{"Total" | translate}} {{vm.smsLog.totalCount}} {{"records" | translate}}
                    table.simple-table.display(style='min-width: 100%; width: 100%')
                        thead
                            tr
                                th {{"date" | translate}}
                                th {{"Admin" | translate}}
                                th {{"Recipient" | translate}}
                                th {{"Channel" | translate}}
                                th {{"CONTENT" | translate}}
                                th {{"STATUS" | translate}}
                        tbody
                            tr(ng-repeat='(i,smsLog) in vm.smsLog.searchResults')
                                td {{smsLog.createTime$}}
                                td {{smsLog.adminName}}
                                td {{smsLog.recipientName}}
                                td {{smsLog.channel}}
                                td {{smsLog.message}}
                                td(ng-if='smsLog.status !== "failure"') {{smsLog.status$}}
                                td(ng-if='smsLog.status === "failure"')
                                    text.sn-hoverable-text(title='{{smsLog.error}}', sn-tooltip) {{smsLog.status$}}
                    br
                    #smsLogTablePage
            .modal-footer
                button.common-button.btn.btn-primary(data-dismiss='modal') {{"CLOSE" | translate}}
include ../common-widget/telephone-popover
#modalSelectPartner.modal.fade(tabindex='-1', role='dialog', data-backdrop='static', keyboard=false,aria-labelledby='myModalLabel', aria-hidden='true', style='z-index:1201')
    .modal-dialog(style='width:80%')
        .modal-content
            .modal-header
                a.fa.fa-times.close(type='button', data-dismiss='modal')
                h4.modal-title {{"PLEASE_CHOOSE"|translate}} {{"PARTNER" | translate}}
            .modal-body
                .panel
                    .panel-body
                        .well.block-query.col-md-12
                            .inlineBlk
                                label {{"PARTNER_NAME" | translate}}
                                input.form-control(type='text', ng-model="vm.showPartnerFilterName", ng-change='vm.showPartnerFilterChange()')
                            .inlineBlk
                                label {{"PARTNER_LEVEL" | translate}}
                                select.form-control(ng-model='vm.showPartnerFilterLevel', ng-options='a.value as a.name | translate for a in vm.allPartnerLevels', ng-change='vm.showPartnerFilterChange()')
                                    option(value="") {{'any' | translate}}
                            .inlineBlk(style='margin-left:20px')
                                label {{"Selected Partner" | translate}}
                                label {{vm.parterSelectedforPlayer.partnerName}}
                                    button.btn.btn-danger.common-btn.margin-left-5.span(ng-if='vm.parterSelectedforPlayer', ng-click='vm.clearPartnerSelection()') {{'DELETE' | translate}}
                                    text.text-danger.common-btn.span(ng-if='!vm.parterSelectedforPlayer') {{'NONE' | translate}}
                        .well.col-md-12
                            table#partnerSelectTable.common-table.display(style='width:100%')
            .modal-footer
                button.btn.btn-primary.common-button(data-dismiss='modal') {{"CLOSE" | translate}}

#modalYesNo.modal.fade(tabindex='-1', role='dialog', data-backdrop='static', keyboard=false,aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog(style='width:80%;')
        .modal-content
            .modal-header
                a.fa.fa-times.close(type='button', data-dismiss='modal')
                h4.modal-title {{vm.modalYesNo.modalTitle}}
            .modal-body
                .panel.panel-primary
                    .panel-body
                        .row
                            .col-md-12
                                .well
                                    text {{vm.modalYesNo.modalText}}
            .modal-footer
                button.btn-sm.margin-right-5.btn.btn-primary.col-md-2(data-dismiss='modal',ng-click="vm.modalYesNo.actionYes()") {{"CONFIRM" | translate}}
                button.btn-sm.margin-right-5.btn.btn-warning.col-md-2(data-dismiss='modal') {{"CANCEL" | translate}}

include platform-player-popup
include platform-feedback-popup