style.
    .bg-secondary {
        background-color: #868E96;
    }
.row
    .col-md-12
        .panel.panel-primary
            .panel-heading.panel-heading-sm
                label {{"Batch Setting" | translate}}
            .panel-body.common-right-sub-panel-body
                select.form-control(ng-model="vm.batchSettingSelectedPlatform" ng-options="v._id as v.name$ for v in vm.allPlatformData" ng-change="vm.initBatchPermit();")
                    option(value="") {{"NO_PLATFORM_MESSAGE" | translate}}
                table#batchPlayerDataTable(style="width:100%")
                div(style="text-align:right" ng-show="vm.batchSettingSelectedPlatform")
                    button.btn.btn-primary.common-button#bulkCreditClearOutButton(ng-click="vm.initiateBulkCreditClearOutList()" ng-disabled="vm.bulkCreditClearOut.initiating") {{"Bulk Credit Clear Out" | translate}}
                    button.btn.btn-primary.common-button#bulkClearXIMAWithdrawButton(ng-click="vm.initBulkClearXIMAWithdraw()") {{"Bulk Clear XIMA Withdraw Amount" | translate}}
                    label.text-success(ng-if="vm.doneClearXIMAAMount") {{'SUCCESS' | translate}}
                div(style="margin-bottom:10px;" ng-show="vm.bulkCreditClearOutTriggered")
                    span(style="margin-right:10px; font-weight:bold;") {{'Total Players' | translate}} : {{vm.bulkCreditClearOut.total}}
                    span(style="margin-right:10px; font-weight:bold;") {{'Success' | translate}} : {{vm.bulkCreditClearOut.success}}
                    span(style="margin-right:10px; font-weight:bold;") {{'Failure' | translate}} : {{vm.bulkCreditClearOut.failure}}
                    span(style="margin-right:10px; font-weight:bold;") {{'PENDINGTOPROCESS' | translate}} : {{vm.bulkCreditClearOut.pending}}
                    i#bulkCreditClearOutTableSpin.fa.fa-spin.fa-refresh.margin-left-5.text-danger(ng-show="vm.bulkCreditClearOut.initiating")
                table.simple-table#bulkCreditClearOutTable(style="width:100%" ng-show="vm.bulkCreditClearOutTriggered")
                    thead
                        tr
                            th {{'Display Order' | translate}}
                            th {{'Player Name' | translate}}
                            th {{'Total Credit (Game Provider)' | translate}}
                            th {{'Total Credit (Local)' | translate}}
                            th {{'Totalsum' | translate}}
                            th {{'Clear Out Status' | translate}}
                            th {{'UpdatePlayerCredit' | translate}} ({{'Proposal No.' | translate}})
                            th {{'ACTION_BUTTON' | translate}}
                    tbody
                        tr(ng-repeat='(i,v) in vm.bulkCreditClearOut.data')
                            td {{i+1}}
                            td {{v.playerName}}
                            td
                                text(ng-show="!v.actionable && v.status != 'SUCCESS'") {{v.gameProviderTotalCredit}}
                                text(ng-show="v.actionable || v.status == 'SUCCESS'") {{v.gameProviderTotalCredit.toFixed(2)}}
                            td
                                text(ng-show="!v.actionable && v.status != 'SUCCESS'") {{v.localTotalCredit}}
                                text(ng-show="v.actionable || v.status == 'SUCCESS'") {{v.localTotalCredit.toFixed(2)}}
                            td
                                text(ng-show="!v.actionable && v.status != 'SUCCESS'") {{v.totalCredit}}
                                text(ng-show="v.actionable || v.status == 'SUCCESS'") {{v.totalCredit.toFixed(2)}}
                            td {{v.status | translate}}
                            td
                                text(ng-show="v.status != 'SUCCESS'") -
                                text(ng-show="v.status == 'SUCCESS'") {{v.updateAmount}}{{"YEN" | translate}} ({{v.proposalId}})
                            td
                                div(style="display:inline-block")
                                    text(ng-show="vm.bulkCreditClearOut.initiating || !v.actionable") {{"Single Clear Out" | translate}}
                                    a(ng-click="vm.singleCreditClearOut(i)" ng-hide="vm.bulkCreditClearOut.initiating || !v.actionable") {{"Single Clear Out" | translate}}
                                    span &nbsp;&nbsp;/&nbsp;&nbsp;
                                div(style="display:inline-block")
                                    text(ng-show="vm.bulkCreditClearOut.initiating") {{"Remove From List" | translate}}
                                    a(ng-click="vm.removePlayerFromCreditClearOutList(i)" ng-hide="vm.bulkCreditClearOut.initiating") {{"Remove From List" | translate}}
                                div(style="display:inline-block")
                                    span &nbsp;&nbsp;/&nbsp;&nbsp;
                                    text(ng-show="vm.bulkCreditClearOut.initiating") {{"Refresh Credit" | translate}}
                                    a(ng-click="vm.refreshPlayerCreditInCreditClearOutList(i)" ng-hide="vm.bulkCreditClearOut.initiating") {{"Refresh Credit" | translate}}
                div(style="text-align:right; margin-top:20px;" ng-show="vm.bulkCreditClearOutTriggered")
                    button.btn.btn-success.common-button#filterAndSortClearOutListButton(ng-click="vm.filterAndSortBulkCreditClearOutList()" ng-disabled="vm.bulkCreditClearOut.initiating") {{"Remove Empty Credit and Sort" | translate}}
                    button.btn.btn-primary.common-button#startClearOutButton(ng-click="vm.startBulkCreditClearOut()" ng-disabled="vm.bulkCreditClearOut.initiating") {{"Start Clear Out" | translate}}
                    button.btn.btn-danger.common-button#cancelClearOutButton(ng-click="vm.cancelBulkCreditClearOut()" ng-disabled="vm.bulkCreditClearOut.initiating") {{"Cancel Clear Out" | translate}}
                .well(ng-show='vm.batchPermitModifySucc')
                    label.text-success {{'SUCCESS' | translate}}
                .well(ng-if='vm.errorListMsg')
                    label.text-danger {{vm.errorListMsg}} {{'Update' | translate}}{{'FAIL' | translate}}


#playerBatchPermissionPopover.hide(style="width: 600px")
    #playerPermissionTable
        table.paddingTbl
            tbody
                tr(ng-repeat='(key,v) in vm.playerPermissionTypes')
                    td
                        i.text-primary(ng-show='v.imgType=="i"', ng-class='v.iconClass+" fa-2x"')
                        img(async=on ng-show='v.imgType=="img"', ng-src='{{v.src}}', width='{{v.width}}', height='{{v.height}}')
                    td {{key | translate}}
                    td.permitOn(ng-class='vm.permissionPlayer.permission[key] === false  ? "hide":""', class='{{key}}')
                        i.fa.fa-toggle-on.text-primary.margin-right-5.togglePlayer(data-which='{{key}}', data-on=true)
                        a.text-primary.togglePlayer(data-which='{{key}}', data-on=true) {{"ON" | translate}}
                    td.permitOff(ng-class='vm.permissionPlayer.permission[key] === false ? "":"hide"', class='{{key}}')
                        i.fa.fa-toggle-off.text-danger.margin-right-5.togglePlayer(data-which='{{key}}', data-on=false)
                        a.text-danger.togglePlayer(data-which='{{key}}', data-on=false) {{"OFF" | translate}}
                    td
                        div(id="{{key}}")
        .textareaDetail.margin-top-bottom-small
            textarea.permissionRemark(placeholder='{{"Please add remark." | translate}}')
        .text-left(style="position:relative;")
            button.btn.btn-primary.submit {{'CONFIRM' | translate}}
        div * 若要开启/解除某权限设置，请
        div 关闭->开启->再按确定按钮。

#forbidRewardPointsEventPopover.hide(style="width: 600px", ng-non-bindable)
    table.simple-table
        tr
            td(style='text-align:left')
                label {{"LOGIN_REWARD_POINTS" | translate}}
                div(ng-repeat="(i,v) in vm.rewardPointsAllEvent | filter: {category: constRewardPointsTaskCategory.LOGIN_REWARD_POINTS}")
                    label {{v.rewardTitle}}
                        input.playerRewardPointsEventForbid.pull-left.margin-right-5(type='checkbox', data-provider='{{v._id}}',ng-change='vm.forbidModification(v._id, isTrue, "forbidRewardPointsAddList", "forbidRewardPointsRemoveList")', ng-model="isTrue", ng-checked='vm.forbidRewardPointsEventPopover.forbidRewardPointsEvent.indexOf(v._id)>-1')
                        span(id="{{'c-'+v._id}}")
                .textareaDetail.margin-top-bottom-small
                label {{"TOPUP_REWARD_POINTS" | translate}}
                div(ng-repeat="(i,v) in vm.rewardPointsAllEvent | filter: {category: constRewardPointsTaskCategory.TOPUP_REWARD_POINTS}")
                    label {{v.rewardTitle}}
                        input.playerRewardPointsEventForbid.pull-left.margin-right-5(type='checkbox', data-provider='{{v._id}}',ng-change='vm.forbidModification(v._id, isTrue, "forbidRewardPointsAddList", "forbidRewardPointsRemoveList")', ng-model="isTrue", ng-checked='vm.forbidRewardPointsEventPopover.forbidRewardPointsEvent.indexOf(v._id)>-1')
                        span(id="{{'c-'+v._id}}")
                .textareaDetail.margin-top-bottom-small
                .textareaDetail.margin-top-bottom-small
                label {{"GAME_REWARD_POINTS" | translate}}
                div(ng-repeat="(i,v) in vm.rewardPointsAllEvent | filter: {category: constRewardPointsTaskCategory.GAME_REWARD_POINTS}")
                    label {{v.rewardTitle}}
                        input.playerRewardPointsEventForbid.pull-left.margin-right-5(type='checkbox', data-provider='{{v._id}}',ng-change='vm.forbidModification(v._id, isTrue, "forbidRewardPointsAddList", "forbidRewardPointsRemoveList")', ng-model="isTrue", ng-checked='vm.forbidRewardPointsEventPopover.forbidRewardPointsEvent.indexOf(v._id)>-1')
                        span(id="{{'c-'+v._id}}")
                .textareaDetail.margin-top-bottom-small
                    textarea.forbidRewardPointsEventRemark(ng-model='vm.forbidRewardPointsEventRemark', placeholder='{{"Please add remark." | translate}}')
                button.common-button.margin-right-5.btn.btn-success.forbidRewardPointsEventConfirm(ng-show="checkViewPermission('Player', 'Disable','ForbidRewardPointsEvent') && vm.platformPageName!='batchPermit'",ng-disabled='vm.forbidRewardPointsEventDisable') {{'CONFIRM' | translate}}
                button.common-button.margin-right-5.btn.btn-success.forbidBatchRewardPointsEventConfirm(ng-show="checkViewPermission('Player', 'Disable','ForbidRewardPointsEvent') && vm.platformPageName=='batchPermit'") {{'CONFIRM' | translate}}
                button.common-button.margin-right-5.btn.btn-warning.forbidRewardPointsEventCancel {{'CANCEL' | translate}}
                button.common-button.margin-right-5.btn.btn-primary.showForbidRewardPointsEvent(data-toggle="modal", data-target="#modalForbidRewardPointsEventLog", ng-click="vm.getForbidRewardPointsEvent();", ng-show="vm.platformPageName!='batchPermit'") {{'CHANGES_RECORD' | translate}}


#forbidTopUpPopover.hide(style="width: 600px", ng-non-bindable)
    table.simple-table
        tr
            td(style='text-align:left')
                label {{"ForbidTopupTypes" | translate}}
                div(ng-repeat='(i,v) in merchantTopupTypeJson')
                    label {{v}}
                        input.playerTopUpTypeForbid.pull-left.margin-right-5(type='checkbox', data-provider='{{i}}',ng-change='vm.forbidModification(i, isTrue, "forbidTopUpAddList", "forbidTopUpRemoveList")', ng-model="isTrue", ng-checked='vm.forbidTopUpPopover.forbidTopUpType.indexOf(i)>-1')
                        span(id="{{'c-'+i}}")
                .textareaDetail.margin-top-bottom-small
                    textarea.forbidRewardRemark(ng-model='vm.forbidTopUpRemark', placeholder='{{"Please add remark." | translate}}')
                button.common-button.margin-right-5.btn.btn-success.forbidTopUpConfirm(ng-show="checkViewPermission('Player', 'Disable','ForbidTopupTypes') && vm.platformPageName!='batchPermit'",ng-disabled='vm.forbidTopUpDisable') {{'CONFIRM' | translate}}
                button.common-button.margin-right-5.btn.btn-success.forbidBatchTopUpConfirm(ng-show="checkViewPermission('Player', 'Disable','ForbidTopupTypes') && vm.platformPageName=='batchPermit'") {{'CONFIRM' | translate}}
                button.common-button.margin-right-5.btn.btn-warning.forbidTopUpCancel {{'CANCEL' | translate}}
                button.common-button.margin-right-5.btn.btn-primary.showForbidTopUp(data-toggle="modal", data-target="#modalForbidTopUpLog", ng-click="vm.getForbidTopUp();", ng-show="vm.platformPageName!='batchPermit'") {{'CHANGES_RECORD' | translate}}

#prohibitGamePopover.hide(style="width: 600px", ng-non-bindable)
    table.simple-table
        tr
            td(style='text-align:left')
                label {{"BANNED_FROM_THESE_PROVIDERS" | translate}}
                div(ng-repeat='(i,v) in vm.showPlatform.gameProviders')
                    label {{vm.getProviderText(v)}}
                        input.playerStatusProviderForbid.pull-left.margin-right-5(type='checkbox', data-provider='{{v}}',ng-change='vm.forbidModification(v, isTrue, "forbidGameAddList", "forbidGameRemoveList")', ng-model="isTrue", ng-checked='vm.prohibitGamePopover.forbidProviders.indexOf(v)>-1')
                        span(id="{{'c-'+v}}")
                .textareaDetail.margin-top-bottom-small
                    textarea.forbidRewardRemark(ng-model='vm.forbidGameRemark', placeholder='{{"Please add remark." | translate}}')
                button.common-button.margin-right-5.btn.btn-success.forbidGameConfirm(ng-show="checkViewPermission('Player', 'Disable','ForbidProviders') && vm.platformPageName!='batchPermit'", ng-disabled='vm.forbidGameDisable') {{'CONFIRM' | translate}}
                button.common-button.margin-right-5.btn.btn-success.forbidBatchGameConfirm(ng-show="checkViewPermission('Player', 'Disable','ForbidProviders') && vm.platformPageName=='batchPermit'") {{'CONFIRM' | translate}}

                button.common-button.margin-right-5.btn.btn-warning.forbidGameCancel {{'CANCEL' | translate}}
                button.common-button.margin-right-5.btn.btn-primary.showForbidGame(data-toggle="modal", data-target="#modalForbidGameLog", ng-click="vm.getForbidGame();", ng-show="vm.platformPageName!='batchPermit'") {{'CHANGES_RECORD' | translate}}

#forbidPromoCodePopover.hide(style="width: 600px", ng-non-bindable)
    table.simple-table
        tr
            td(style='text-align:left')
                label {{"FORBID_PROMOCODE" | translate}}
                div(ng-repeat='(i,v) in vm.promoCodeByPlatform')
                    label {{v.category | translate}}
                    div(ng-repeat=" promoCode in v.data")
                        label {{promoCode.name}}
                            input.playerPromoCodeForbid.pull-left.margin-right-5(type='checkbox', data-provider='{{promoCode._id}}', ng-change='vm.forbidModification(promoCode._id, isTrue, "forbidPromoCodeAddList", "forbidPromoCodeRemoveList")', ng-model="isTrue", ng-checked='vm.forbidPromoCodePopover.forbidPromoCodeList.indexOf(promoCode._id)>-1 || vm.selectedAllForbidPromoCode')
                            span(id="{{'c-'+promoCode._id}}")
                    //.textareaDetail.margin-top-bottom-small
                    //    input.playePromoCodeForbid.pull-left.margin-right-5(type='checkbox', data-provider='{{v._id}}', ng-change='vm.forbidModification(v._id, isTrue, "forbidRewardEventAddList", "forbidRewardEventRemoveList")', ng-model="isTrue", ng-checked='vm.forbidRewardEventPopover.forbidRewardEvents.indexOf(v._id)>-1')
                    //    span(id="{{'c-'+v._id}}")
                div
                    label.text-danger {{'Select All' | translate}}
                        input.playerPromoCodeForbid.pull-left.margin-right-5(type='checkbox', ng-model='isTrue', ng-click='vm.selectedAllForbidPromoCode = !vm.selectedAllForbidPromoCode;', ng-checked='vm.selectedAllForbidPromoCode')
                .textareaDetail.margin-top-bottom-small
                    textarea.forbidPromoCodeRemark(ng-model='vm.forbidPromoCodeRemark', placeholder='{{"Please add remark." | translate}}')
                button.common-button.margin-right-5.btn.btn-success.forbidPromoCodeConfirm(ng-show="checkViewPermission('Player', 'Disable','ForbidPromoCode') && vm.platformPageName!='batchPermit'", ng-disabled='vm.forbidPromoCodeDisable') {{'CONFIRM' | translate}}
                button.common-button.margin-right-5.btn.btn-success.forbidBatchPromoCodeConfirm(ng-show="checkViewPermission('Player', 'Disable','ForbidPromoCode') && vm.platformPageName=='batchPermit'") {{'CONFIRM' | translate}}

                button.common-button.margin-right-5.btn.btn-warning.forbidPromoCodeCancel(data-dismiss='popover') {{'CANCEL' | translate}}
                button.common-button.margin-right-5.btn.btn-primary.showForbidPromoCode(data-toggle="modal", data-target="#modalForbidPromoCodeLog", ng-click="vm.getForbidPromoCode();", ng-show="vm.platformPageName!='batchPermit'") {{'CHANGES_RECORD' | translate}}

#forbidRewardEventPopover.hide(style="width: 600px", ng-non-bindable)
    table.simple-table
        tr
            td(style='text-align:left')

                label {{"FORBID_REWARD" | translate}}
                //div
                //    label {{"优惠代码" | translate}}
                //        input.playerRewardEventForbid.pull-left.margin-right-5(type='checkbox', ng-model='vm.forbidPromoCode' ng-change='vm.forbidFixedRewardModification("forbidPromoCode");vm.isForbidPromoCode=true')
                //        span(id="{{'c-forbidPromoCode'}}")
                div
                    label {{"PlayerLevelUp" | translate}}
                        input.playerRewardEventForbid.pull-left.margin-right-5(type='checkbox', ng-model='vm.forbidLevelUpReward' ng-change='vm.forbidFixedRewardModification("forbidLevelUpReward");vm.isForbidLevelUpReward=true')
                        span(id="{{'c-forbidLevelUpReward'}}")
                div
                    label {{"PlayerLevelMaintain" | translate}}
                        input.playerRewardEventForbid.pull-left.margin-right-5(type='checkbox', ng-model='vm.forbidLevelMaintainReward' ng-change='vm.forbidFixedRewardModification("forbidLevelMaintainReward");vm.isForbidLevelMaintainReward=true')
                        span(id="{{'c-forbidLevelMaintainReward'}}")
                div(ng-repeat='(i,v) in vm.allRewardEventNoXima')
                    label {{v.name}}
                        input.playerRewardEventForbid.pull-left.margin-right-5(type='checkbox', data-provider='{{v._id}}', ng-change='vm.forbidModification(v._id, isTrue, "forbidRewardEventAddList", "forbidRewardEventRemoveList")', ng-model="isTrue", ng-checked='vm.forbidRewardEventPopover.forbidRewardEvents.indexOf(v._id)>-1 || vm.selectedAllForbidRewardEvent')
                        span(id="{{'c-'+v._id}}")
                        div
                label.text-danger {{'Select All' | translate}}
                    input.playerRewardEventForbid.pull-left.margin-right-5(type='checkbox', ng-model='isTrue', ng-click='vm.selectedAllForbidRewardEvent = !vm.selectedAllForbidRewardEvent; vm.forbidPromoCode = vm.selectedAllForbidRewardEvent;vm.isForbidPromoCode=true;vm.forbidLevelUpReward = vm.selectedAllForbidRewardEvent;vm.isForbidLevelUpReward=true;vm.isForbidLevelMaintainReward=true;vm.forbidLevelMaintainReward = vm.selectedAllForbidRewardEvent;vm.selectedAllForbidRewardEventToList()', ng-checked='vm.selectedAllForbidRewardEvent;')

                .textareaDetail.margin-top-bottom-small
                    textarea.forbidRewardRemark(ng-model='vm.forbidRewardRemark', placeholder='{{"Please add remark." | translate}}')
                button.common-button.margin-right-5.btn.btn-success.forbidRewardEventConfirm(ng-show="checkViewPermission('Player', 'Disable','ForbidRewards') && vm.platformPageName!='batchPermit'", ng-disabled='vm.forbidRewardDisable') {{'CONFIRM' | translate}}
                button.common-button.margin-right-5.btn.btn-success.forbidBatchRewardEventConfirm(ng-show="checkViewPermission('Player', 'Disable','ForbidRewards') && vm.platformPageName=='batchPermit'") {{'CONFIRM' | translate}}

                button.common-button.margin-right-5.btn.btn-warning.forbidRewardEventCancel(data-dismiss='popover') {{'CANCEL' | translate}}
                button.common-button.margin-right-5.btn.btn-primary.showForbidreward(data-toggle="modal", data-target="#modalForbidRewardLog", ng-click="vm.getForbidReward();", ng-show="vm.platformPageName!='batchPermit'") {{'CHANGES_RECORD' | translate}}
