.row.margin-left-5.margin-right-5(ng-show="checkViewPermission('Platform')")
    //.col-md-3(ng-class='vm.leftPanelClass')
    include ./platform-list

    #platformContent(style="padding-left:0;" ng-class='vm.rightPanelClass')
        .padding-all-5
            .panel.panel-primary
                .panel-heading.common-left-panel-heading
                    ul.nav.nav-tabs.common-nav-tabs(id='ulMenu').padding-all-5
                        .col-md-12
                            button.btn.btn-primary.common-button(ng-if="checkViewPermission('Platform', 'Feedback', 'Read')" ng-class='{active: vm.platformPageName === "Feedback"}' ng-click="vm.loadTab('Feedback');")
                                span {{"FEEDBACK" | translate}}
                            button.btn.btn-primary.common-button(ng-if="checkViewPermission('Platform', 'AutoFeedback', 'Read')" ng-class='{active: vm.platformPageName === "AutoFeedback"}' ng-click="vm.loadTab('AutoFeedback');")
                                span {{"AUTO_FEEDBACK" | translate}}
                            button.btn.btn-primary.common-button(ng-if="checkViewPermission('Platform', 'FeedbackQuery', 'Read')" ng-class='{active: vm.platformPageName === "FeedbackAdmin"}' ng-click="vm.loadTab('FeedbackAdmin');")
                                span {{"Feedback Query" | translate}}
                            button.btn.btn-primary.common-button(ng-if="checkViewPermission('Platform', 'groupMessage', 'Read')" ng-class='{active: vm.platformPageName === "MultiMessage"}' ng-click="vm.loadTab('MultiMessage');")
                                span {{"Send Messages" | translate}}
                            button.btn.btn-primary.common-button(ng-if="checkViewPermission('Platform', 'Game', 'Read')" ng-class='{active: vm.platformPageName === "Game"}' ng-click="vm.loadTab('Game');")
                                span {{"GAME" | translate}}
                            button.btn.btn-primary.common-button(ng-if="checkViewPermission('Platform', 'GameGroup', 'Read')" ng-class='{active: vm.platformPageName === "GameGroup"}' ng-click="vm.loadTab('GameGroup');")
                                span {{"GAME_GROUP" | translate}}
                            button.btn.btn-primary.common-button(ng-if="checkViewPermission('Platform', 'Reward', 'Read')" ng-class='{active: vm.platformPageName === "Reward"}' ng-click="vm.loadTab('Reward');")
                                span {{"REWARD" | translate}}
                            button.btn.btn-primary.common-button(ng-if="checkViewPermission('Platform', 'promoCode', 'Read')" ng-class='{active: vm.platformPageName === "PromoCode"}' ng-click="vm.loadTab('PromoCode');")
                                span {{"promoCode" | translate}}
                            button.btn.btn-primary.common-button(ng-if="checkViewPermission('Platform', 'rewardPoints', 'Read')" ng-class='{active: vm.platformPageName === "rewardPoint"}' ng-click="vm.loadTab('rewardPoint');")
                                span {{"rewardPoint" | translate}}
                            button.btn.btn-primary.common-button(ng-if="checkViewPermission('Platform', 'AuctionSystem', 'Read')" ng-class='{active: vm.platformPageName === "AuctionSystem"}' ng-click="vm.loadTab('AuctionSystem');")
                                span {{"AuctionSystem" | translate}}
                            button.btn.btn-primary.common-button(ng-if="checkViewPermission('Platform', 'ClientAutoQnA', 'Read')" ng-class='{active: vm.platformPageName === "ClientQnA"}' ng-click="vm.loadTab('ClientQnA');")
                                span {{"ClientQnA" | translate}}
                            button.btn.btn-primary.common-button(ng-if="checkViewPermission('Platform', 'Announcement', 'PlatformAnnouncementRead')" ng-class='{active: vm.platformPageName === "Announcement"}' ng-click="vm.loadTab('Announcement');")
                                span {{"ANNOUNCEMENTS" | translate}}
                            button.btn.btn-primary.common-button(ng-if="checkViewPermission('Platform', 'vertificationSMS', 'Read')" ng-class='{active: vm.platformPageName === "VertificationSMS"}' ng-click="vm.loadTab('VertificationSMS');")
                                span {{"SMS Records" | translate}}

                        .col-md-12
                            button.btn.btn-primary.common-button(ng-if="checkViewPermission('Platform', 'ConfigRead', 'Read')" ng-class='{active: vm.platformPageName === "Config"}' ng-click="vm.loadTab('Config');")
                                span {{"CONFIG" | translate}}
                            button.btn.btn-primary.common-button(ng-if="checkViewPermission('Platform', 'PlatformSetting', 'Read')" ng-class='{active: vm.platformPageName === "platformSetting"}' ng-click="vm.loadTab('platformSetting');")
                                span {{"platformSetting" | translate}}
                            button.btn.btn-primary.common-button(ng-if="checkViewPermission('Platform', 'FrontendConfiguration', 'Read')" ng-class='{active: vm.platformPageName === "FrontendConfiguration"}' ng-click="vm.loadTab('FrontendConfiguration');")
                                span {{"FrontendConfiguration" | translate}}
                            button.btn.btn-primary.common-button(ng-if="checkViewPermission('Platform', 'FrontEndConfiguration', 'Read')" ng-class='{active: vm.platformPageName === "FrontEndConfiguration2"}' ng-click="vm.loadTab('FrontEndConfiguration2');")
                                span {{"FrontEndConfiguration2" | translate}}
                            button.btn.btn-primary.common-button(ng-if="checkViewPermission('Platform', 'RegistrationUrlConfig', 'Read')" ng-class='{active: vm.platformPageName === "RegistrationUrlConfig"}' ng-click="vm.loadTab('RegistrationUrlConfig');")
                                span {{"RegistrationUrlConfig" | translate}}
                            button.btn.btn-primary.common-button(ng-if="checkViewPermission('Platform', 'Proposal', 'Read')" ng-class='{active: vm.platformPageName === "Proposal"}' ng-click="vm.loadTab('Proposal');")
                                span {{"PROPOSAL_PROCESS" | translate}}
                            button.btn.btn-primary.common-button(ng-if="checkViewPermission('Platform', 'ConfigRead', 'Read')" ng-class='{active: vm.platformPageName === "MessageTemplates"}' ng-click="vm.loadTab('MessageTemplates');")
                                span {{"MESSAGE_TEMPLATES_SHORT" | translate}}
                            button.btn.btn-primary.common-button(ng-if="checkViewPermission('Platform', 'batchPermit', 'Read')" ng-class='{active: vm.platformPageName === "batchPermit"}' ng-click="vm.loadTab('batchPermit');")
                                span {{"Batch Setting" | translate}}
                            button.btn.btn-primary.common-button(ng-if="checkViewPermission('Platform', 'phoneNumFilter', 'Read')" ng-class='{active: vm.platformPageName === "phoneNumFilter"}' ng-click="vm.loadTab('phoneNumFilter');")
                                span {{"phoneNumFilter" | translate}}
                            button.btn.btn-primary.common-button(ng-if="checkViewPermission('Platform', 'getExternalUserInfo', 'Read')" ng-class='{active: vm.platformPageName === "externalUserInfo"}' ng-click="vm.loadTab('externalUserInfo');")
                                span {{"External User Info" | translate}}
                            button.btn.btn-primary.common-button(ng-if="checkViewPermission('Platform', 'groupMessage', 'Read')" ng-class='{active: vm.platformPageName === "PushNotification"}' ng-click="vm.loadTab('PushNotification');")
                                span {{"Push Notification" | translate}}
                            button.btn.btn-primary.common-button(ng-if="checkViewPermission('Platform', 'UrlShortener', 'Read')" ng-class='{active: vm.platformPageName === "UrlShortener"}' ng-click="vm.loadTab('UrlShortener');")
                                span {{"UrlShortener" | translate}}


                .padding-all-5
                    div(ng-switch="vm.platformPageName")
                        div(ng-switch-when="Feedback")
                            include ./platform-feedback
                        div(ng-switch-when="AutoFeedback")
                            include ./platform-auto-feedback
                        div(ng-switch-when="FeedbackAdmin")
                            include ./platform-feedbackAdmin
                        div(ng-switch-when="MultiMessage")
                            include ./platform-multiMessage
                        div(ng-switch-when="Game")
                            include ./platform-game
                        div(ng-switch-when="GameGroup")
                            include ./platform-gamegroup
                        div(ng-switch-when="Reward")
                            include platform-reward
                        div(ng-switch-when="Proposal")
                            include ./../proposal/proposal-home
                        div(ng-switch-when="Config")
                            include ./platform-config
                        div(ng-switch-when="MessageTemplates")
                            include ./platform-message-templates
                        div(ng-switch-when="Announcement")
                            include ./platform-announcement
                        div(ng-switch-when="VertificationSMS")
                            include ./platform-sms-record
                        div(ng-switch-when="PushNotification")
                            include ./platform-push-notification
                        div(ng-switch-when="PromoCode")
                            include ./platform-promo-code
                        div(ng-switch-when="RegistrationUrlConfig")
                            include platform-registrationUrl-config
                        div(ng-switch-when="phoneNumFilter")
                            include ./platform-phone-num-filter
                        div(ng-switch-when="rewardPoint")
                            include ./platform-reward-point
                        div(ng-switch-when="batchPermit")
                            include ./platform-batch-permit
                        div(ng-switch-when="platformSetting")
                            include ./platform-platform-setting
                        div(ng-switch-when="externalUserInfo")
                            include ./platform-externalUserInfo
                        div(ng-switch-when="ClientQnA")
                            include ./../clientQnA/clientQnA-home
                        div(ng-switch-when="FrontendConfiguration")
                            include ./platform-frontendConfiguration
                            //div.tab-pane
                                iframe(ng-src="{{vm.frontendConfigurationUrl}}" style='height: -webkit-fill-available;' width="100%", frameborder="0", id="configIframe", ng-onload="vm.changeFrameHeight()")
                        div(ng-switch-when="FrontEndConfiguration2")
                            include ./platform-frontEndConfiguration2
                        div(ng-switch-when="AuctionSystem")
                            include ./platform-auctionSystem
                        div(ng-switch-when="UrlShortener")
                            include ./platform-url-shortener

#dialogFrame.dialog-frame
#modalEditCritical.modal.fade(tabindex='-1', role='dialog', data-backdrop='static', keyboard=false,aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog(style='width:50%')
        .modal-content
            .modal-header
                a.fa.fa-times.close(type='button', data-dismiss='modal')
                h4.modal-title {{vm.modifyCritical.title | translate}}
            .modal-body
                .panel.panel-primary
                    .panel-body
                        .well
                            label {{'PLEASE_CHOOSE' | translate}}
                            p
                            label.radio-inline {{'EMAIL' | translate}}
                                input.pull-left.relative(type='radio', ng-model='vm.modifyCritical.changeType', value='email')
                            label.radio-inline {{'PHONE' | translate}}
                                input.pull-left.relative(type='radio', ng-model='vm.modifyCritical.changeType', value='phone')
                            label.radio-inline(ng-if = "vm.platformPageName==='Partner'") QQ
                                input.pull-left.relative(type='radio', ng-model='vm.modifyCritical.changeType', value='qq')
                        .col-md-12.well
                            div(ng-show='vm.modifyCritical.changeType=="email"')
                                div.form-group.col-md-7
                                    label.control-label {{"CURRENT_EMAIL" | translate}}
                                    input.form-control(type="email", name="email", placeholder='{{"EMAIL" | translate}}', ng-model="vm.modifyCritical.curEmail", disabled)
                                form(name='form_edit_critical_email', novalidate)
                                    div.form-group.col-md-7
                                        label.control-label {{"NEW_EMAIL" | translate}}
                                        input.form-control(type="email", name="email1", placeholder='{{"EMAIL" | translate}}', ng-model="vm.modifyCritical.newEmail", required)
                                        span.help-block(ng-show="form_edit_critical_email.email1.$dirty && form_edit_critical_email.email1.$error.email") {{"EMAIL_INVALID" | translate}}
                                    div.form-group.col-md-7
                                        label.control-label {{"RETYPE_EMAIL" | translate}}
                                        input.form-control(type="email", name="repeatemail", placeholder='{{"EMAIL" | translate}}', ng-model="emailConfirmation", match="vm.modifyCritical.newEmail", required)
                                        span.help-block(ng-show="form_edit_critical_email.repeatemail.$dirty && form_edit_critical_email.repeatemail.$error.email") {{"EMAIL_INVALID" | translate}}
                                        span.help-block(ng-show="form_edit_critical_email.repeatemail.$dirty && form_edit_critical_email.repeatemail.$error.match") {{"EMAIL_DO_NOT_MATCH" | translate}}
                            div(ng-show='vm.modifyCritical.changeType=="phone"')
                                div.form-group.col-md-7
                                    label.control-label {{"CURRENT_TELEPHONE" | translate}}
                                    input.form-control(type="text", placeholder="{{'MOBILE' | translate}}", ng-model="vm.modifyCritical.phoneNumber", disabled)
                                div.form-group.col-md-7
                                    label.control-label {{"VERIFY_TELEPHONE" | translate}}
                                    input.form-control(type="text", placeholder="{{'VERIFY_TELEPHONE' | translate}}", ng-model="vm.modifyCritical.verifyPhoneNumber")
                                    p
                                    button.btn.btn-primary.common-button(ng-disabled='!vm.modifyCritical.verifyPhoneNumber', ng-click="vm.verifyPlayerPhoneNumber()") {{"VERIFY" | translate}}
                                    label.fa.fa-check.colorGreen(ng-if='vm.correctVerifyPhoneNumber')
                                    label.fa.fa-times.colorRed(ng-if='(!vm.correctVerifyPhoneNumber && (vm.correctVerifyPhoneNumber !== undefined))')
                                form(name='form_edit_critical_phone', novalidate)
                                    div.form-group.col-md-7
                                        label.control-label {{"NEW_TELEPHONE" | translate}}
                                        input.form-control(type="text", placeholder="{{'MOBILE' | translate}}",ng-pattern="vm.phonePattern", ng-model="vm.modifyCritical.newPhoneNumber", required)
                            div(ng-show='vm.modifyCritical.changeType=="qq"')
                                div.form-group.col-md-7
                                    label.control-label {{"CURRENT_QQ" | translate}}
                                    input.form-control(type="text", name="qq", placeholder='{{"CURRENT_QQ" | translate}}', ng-model="vm.modifyCritical.curQQ", disabled)
                                form(name='form_edit_critical_qq', novalidate)
                                    div.form-group.col-md-7
                                        label.control-label {{"NEW_QQ" | translate}}
                                        input.form-control(type="text", name="qq1", placeholder='{{"NEW_QQ" | translate}}', ng-model="vm.modifyCritical.newQQ", required)
                                    div.form-group.col-md-7
                                        label.control-label {{"RETYPE_QQ" | translate}}
                                        input.form-control(type="text", name="repeatqq", placeholder='{{"RETYPE_QQ" | translate}}', ng-model="qqConfirmation", match="vm.modifyCritical.newQQ", required)
                                        span.help-block(ng-show="form_edit_critical_qq.repeatqq.$dirty && form_edit_critical_qq.repeatqq.$error.match") {{"QQ_DO_NOT_MATCH" | translate}}
            .modal-footer
                button.btn.btn-primary.common-button(data-dismiss='modal',ng-show='vm.modifyCritical.changeType=="email"', ng-disabled='form_edit_critical_email.$invalid || form_edit_critical_email.$pristine', ng-click="vm.submitCriticalUpdate();") {{"CREATE" | translate}}
                button.btn.btn-primary.common-button(data-dismiss='modal',ng-show='vm.modifyCritical.changeType=="phone"', ng-disabled='form_edit_critical_phone.$invalid || form_edit_critical_phone.$pristine', ng-click="vm.submitCriticalUpdate();") {{"CREATE" | translate}}
                button.btn.btn-primary.common-button(data-dismiss='modal',ng-show='vm.modifyCritical.changeType=="qq"', ng-disabled='form_edit_critical_qq.$invalid || form_edit_critical_qq.$pristine', ng-click="vm.submitCriticalUpdate();") {{"CREATE" | translate}}
                button.btn.btn-warning.common-button(data-dismiss='modal') {{"CANCEL" | translate}}
#modalPlayerTopUpReport.modal.fade(tabindex='-1', role='dialog', data-backdrop='static', keyboard=false,aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog(style='width:80%;')
        .modal-content
            .modal-header
                a.fa.fa-times.close(type='button', data-dismiss='modal')
                h4.modal-title {{"Top Up Records for"|translate}} {{vm.isOneSelectedPlayer().name}}
            .modal-body
                .panel.panel-primary
                    .panel-body
                        #playerTopUp.adminLogQueryDiv.well
                            .inlineBlk
                                label {{'START_DATE' | translate}}
                                .startTime
                            .inlineBlk
                                label {{'END_DATE' | translate}}
                                .endTime
                            //.inlineBlk
                                label {{'Limit' | translate}}
                                select.form-control.limit(ng-model='vm.queryPara.playerTopUp.limit')
                                    option 50
                                    option 100
                                    option 200
                                    option(value='-1') {{'Unlimited' | translate}}
                            .inlineBlk
                                button.btn.btn-primary(ng-click='vm.getPagePlayerTopup(true)') {{'SEARCH' | translate}}
                        pre
                            text {{"Total Amount"|translate}}:
                            label {{vm.playerTopupRecordForModal.amount || 0 | number : 2}}&nbsp
                            text {{"Total Valid Amount"|translate}}:
                            label {{vm.playerTopupRecordForModal.validAmount || 0 | number : 2}}&nbsp
                            text {{"Total Bonus Amount"|translate}}:
                            label {{vm.playerTopupRecordForModal.bonusAmount || 0 | number : 2}}
                        p
                        //text.text-danger(ng-show ='vm.playerAllTopupRecords.length == 0') {{"No Top Up record is found."|translate}}
                        label {{"Total" | translate}} {{vm.playerTopUpLog.totalCount}} {{"records" | translate}}
                        table#playerTopupRecordTable.common-table.display(style='min-width:100%')
                        #playerTopupRecordTablePage

#modalProposal.modal.fade(tabindex='-1', role='dialog', data-backdrop='static', keyboard=false,aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
        .modal-content
            .modal-header
                a.fa.fa-times.close(type='button', data-dismiss='modal')
                span
                    ul.nav.nav-tabs
                        li
                            label {{vm.selectedProposal.type.name | translate}}
                        li.active
                            a(data-toggle="tab", href="#ProposalDetail", ng-click="")
                                .fa.fa-user
                                | {{ 'DETAIL' | translate }}
                        li(ng-if='vm.chartData')
                            a(data-toggle="tab", href="#Workflow", ng-click="")
                                .fa.fa-user
                                | {{ 'WORKFLOW' | translate }}
            .modal-body
                .panel.panel-primary
                    .panel-body
                        .tab-content
                            #ProposalDetail.tab-pane.fade.in.active
                                include ./proposal-dialog-detail
            .modal-footer
                .inlineBlk(ng-show='vm.selectedProposal.isLocked && !vm.selectedProposal.showUnlockBtn')
                    label.form-control {{'Lock Status' | translate}} : {{vm.selectedProposal.isLocked.adminName}}
                .inlineBlk(ng-show='!vm.selectedProposal.isLocked || vm.selectedProposal.showUnlockBtn')
                    button.btn.btn-success.common-button(data-dismiss='modal', ng-if='(vm.selectedProposal.process.status=="Pending" || vm.selectedProposal.status=="Pending") && vm.rightPanelTitle == "APPROVAL_PROPOSAL" && checkViewPermission("Operation", "Proposal","ApproveProposal")', ng-click="vm.updateProposal(vm.selectedProposal._id, true)") {{"APPROVE" | translate}}
                    button.btn.btn-danger.common-button(data-dismiss='modal', ng-if='(vm.selectedProposal.process.status=="Pending" || vm.selectedProposal.status=="Pending") && vm.rightPanelTitle == "APPROVAL_PROPOSAL" && checkViewPermission("Operation", "Proposal","RejectProposal")', ng-click="vm.updateProposal(vm.selectedProposal._id, false)") {{"REJECT" | translate}}
                button.btn.btn-warning.common-button(ng-if='vm.selectedProposal.showCancel', ng-click="vm.submitCancelProposal(vm.selectedProposal)") {{"Cancel Proposal" | translate}}
                .inlineBlk(ng-if='vm.selectedProposal.cancelling')
                    label {{'Cancelling Proposal' | translate}}
                    i.fa.fa-spin.fa-2x.fa-spinner
                label.inlineBlk(ng-if='vm.selectedProposal.cancelled') {{"Cancel" | translate}}
                button.btn.btn-primary.common-button(data-dismiss='modal') {{"OK" | translate}}
                button.btn.btn-primary.common-button(ng-if='vm.selectedProposal.status==="AutoAudit" && !vm.changeStatusToPendingFromAutoAuditMessage && !vm.selectedProposal.cancelling && !vm.selectedProposal.cancelled', ng-click='vm.changeStatusToPendingFromAutoAudit()') {{"Manual" | translate}}
                button.btn.btn-success.common-button(ng-if="vm.showCopyProposal()" ng-click="vm.copyTopUpProposal()") {{"COPY_TO_CLIPBOARD" | translate}}
                label.inlineBlk.wordWrap(ng-if='vm.changeStatusToPendingFromAutoAuditMessage') {{vm.changeStatusToPendingFromAutoAuditMessage}}
                .inlineBlk.pull-left(ng-show='vm.rightPanelTitle == "APPROVAL_PROPOSAL"')
                    label.inlineBlk {{'remark' | translate}}
                    input#proposalRemark.inlineBlk.proposalRemark.form-control(style='width:400px;')



#newPlayerModal.modal.fade(tabindex='-1', role='dialog', data-backdrop='static', keyboard=false,aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
        .modal-content
            .modal-header
                a.fa.fa-times.close(type='button', data-dismiss='modal')
                span
                    ul.nav.nav-tabs
                        li
                            label {{vm.selectedProposal.type.name | translate}}
                        li.active
                            a(data-toggle="tab", href="#ProposalDetail", ng-click="")
                                .fa.fa-user
                                | {{ 'DETAIL' | translate }}
                        li(ng-if='vm.chartData')
                            a(data-toggle="tab", href="#Workflow", ng-click="")
                                .fa.fa-user
                                | {{ 'WORKFLOW' | translate }}
            .modal-body
                .panel.panel-primary
                    .panel-body
                        .tab-content
                            #ProposalDetail.tab-pane.fade.in.active
                                include ./proposal-dialog-detail-newplayer
            .modal-footer
                .inlineBlk(ng-show='vm.selectedProposal.isLocked && !vm.selectedProposal.showUnlockBtn')
                    label.form-control {{'Lock Status' | translate}} : {{vm.selectedProposal.isLocked.adminName}}
                .inlineBlk(ng-show='!vm.selectedProposal.isLocked || vm.selectedProposal.showUnlockBtn')
                    button.btn.btn-success.common-button(data-dismiss='modal', ng-if='(vm.selectedProposal.process.status=="Pending" || vm.selectedProposal.status=="Pending") && vm.rightPanelTitle == "APPROVAL_PROPOSAL" && checkViewPermission("Operation", "Proposal","ApproveProposal")', ng-click="vm.updateProposal(vm.selectedProposal._id, true)") {{"APPROVE" | translate}}
                    button.btn.btn-danger.common-button(data-dismiss='modal', ng-if='(vm.selectedProposal.process.status=="Pending" || vm.selectedProposal.status=="Pending") && vm.rightPanelTitle == "APPROVAL_PROPOSAL" && checkViewPermission("Operation", "Proposal","RejectProposal")', ng-click="vm.updateProposal(vm.selectedProposal._id, false)") {{"REJECT" | translate}}
                button.btn.btn-warning.common-button(ng-if='vm.selectedProposal.showCancel', ng-click="vm.submitCancelProposal(vm.selectedProposal)") {{"Cancel Proposal" | translate}}
                .inlineBlk(ng-if='vm.selectedProposal.cancelling')
                    label {{'Cancelling Proposal' | translate}}
                    i.fa.fa-spin.fa-2x.fa-spinner
                label.inlineBlk(ng-if='vm.selectedProposal.cancelled') {{"Cancel" | translate}}
                button.btn.btn-primary.common-button(data-dismiss='modal') {{"OK" | translate}}
                button.btn.btn-primary.common-button(ng-if='vm.selectedProposal.status==="AutoAudit" && !vm.changeStatusToPendingFromAutoAuditMessage && !vm.selectedProposal.cancelling && !vm.selectedProposal.cancelled', ng-click='vm.changeStatusToPendingFromAutoAudit()') {{"Manual" | translate}}
                label.inlineBlk.wordWrap(ng-if='vm.changeStatusToPendingFromAutoAuditMessage') {{vm.changeStatusToPendingFromAutoAuditMessage}}
                .inlineBlk.pull-left(ng-show='vm.rightPanelTitle == "APPROVAL_PROPOSAL"')
                    label.inlineBlk {{'remark' | translate}}
                    input.inlineBlk.proposalRemark.form-control(style='width:400px;')


#auctionItemModal.modal.fade(tabindex='-1', role='dialog', data-backdrop='static', keyboard=false,aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
        .modal-content
            .modal-header
                a.fa.fa-times.close(type='button', data-dismiss='modal')
            .modal-body
                .panel.panel-primary
                    .panel-body
                        .tab-content
                            table.common-table.display(style='min-width:100%')
                                thead
                                    th {{'Member Account' | translate}}
                                    th {{'Reward Point Offer' | translate}}
                                    th {{'Offer At' | translate}}
                                tr(ng-repeat="v in vm.selectedAuction.proposal")
                                    td {{v.data.playerName}}
                                    td {{v.data.currentBidPrice}}
                                    td {{v.createTime | date : 'yyyy-MM-dd HH:mm:ss'}}
            .modal-footer

#promoUrlItemModal.modal.fade(tabindex='-1', role='dialog', data-backdrop='static', keyboard=false,aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
        .modal-content
            .modal-header
                div {{ 'DETAILS' | translate }}
                a.fa.fa-times.close(type='button', data-dismiss='modal')
            .modal-body
                .panel.panel-primary
                    .panel-body
                        .tab-content
                            table.common-table.display(style='min-width:100%')
                                thead
                                    th {{'OFFICER_NAME' | translate}}
                                    th {{'PROMOTE_WAY' | translate}}
                                    th {{'URL' | translate}}
                                    th {{'Last Editor' | translate}}
                                    th {{'date' | translate}}

                                tr
                                    td {{vm.selectedPromoUrl.admin.adminName}}
                                    td {{vm.selectedPromoUrl.way}}
                                    td {{vm.selectedPromoUrl.domain}}
                                    td {{vm.selectedPromoUrl.lastEditor.adminName || ''}}
                                    td {{vm.selectedPromoUrl.lastUpdate | date : 'yyyy-MM-dd HH:mm:ss'}}
            .modal-footer

#randomRewardItemModal.modal.fade(tabindex='-1', role='dialog', data-backdrop='static', keyboard=false,aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
        .modal-content
            .modal-header
                div {{ 'DETAILS' | translate }}
                a.fa.fa-times.close(type='button', data-dismiss='modal')
            .modal-body
                .panel.panel-primary
                    .panel-body
                        .tab-content
                            table.common-table.display(style='min-width:100%')
                                thead
                                    th {{'PLAYERNAME' | translate}}
                                    th {{'Reward Item' | translate}}
                                    th {{'Created By' | translate}}
                                    th {{'Created Date' | translate}}
                                    th {{'STATUS' | translate}}

                                tbody
                                    tr(ng-repeat="v in vm.selectedRandomReward")
                                        td {{v.playerId.name || ''}}
                                        td {{v.rewardItemName || ''}}
                                        td {{v.creator.name || ''}}
                                        td {{v.lastEditTime | date : 'yyyy-MM-dd HH:mm:ss'}}
                                        td {{ vm.randomRewardConvertorStatus[v.status] | translate}}
            .modal-footer

#festivalItemModal.modal.fade(tabindex='-1', role='dialog', data-backdrop='static', keyboard=false,aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
        .modal-content
            .modal-header
                div {{ 'DETAILS' | translate }}
                a.fa.fa-times.close(type='button', data-dismiss='modal')
            .modal-body
                .panel.panel-primary
                    .panel-body
                        .tab-content
                            table.common-table.display(style='min-width:100%')
                                thead
                                    th {{'节日名称' | translate}}
                                    th {{'时间' | translate}}
                                    th
                                    th
                                    th
                                    th

                                tbody
                                    tr(ng-repeat="v in vm.showReward.param.others")
                                        td
                                            input.form-control(type='text', ng-model='v.name', required)
                                        td
                                            select.form-control(ng-model='v.month', style='inline-block')
                                                option(ng-repeat="i in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]", value='{{i}}')  {{i}}
                                        td 月
                                        td
                                            select.form-control(ng-model='v.day', style='inline-block')
                                                option(ng-repeat="i in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31]", value='{{i}}')  {{i}}
                                        td 日
                                    tr
                                        td(colspan='5')
                                        td
                                            button.btn.btn-primary.common-button(ng-click="vm.editNewFestivalTitle()") 修改
                                table.common-table.display(style='min-width:100%')
                                    thead
                                        th {{'节日名称' | translate}}
                                        th {{'时间' | translate}}
                                        th
                                        th
                                        th
                                        th

                                    tbody
                                        tr
                                            td
                                                input(ng-model='vm.festival.name')
                                                //ng-repeat='(i,v) in vm.topUpTypeList', value='{{v}}') {{ i | translate}}
                                            td
                                                select.form-control(ng-model='vm.festival.month', style='inline-block')
                                                    option(ng-repeat="i in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]", value='{{i}}')  {{i}}
                                            td 月
                                            td
                                                select.form-control(ng-model='vm.festival.day', style='inline-block')
                                                    option(ng-repeat="i in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31]", value='{{i}}')  {{i}}
                                            td 日
                                            td
                                                button.btn.btn-primary.common-button(ng-click="vm.addNewFestivalTitle(vm.festival)") 确定
                                      tr
                                            td( colspan ="6")
                                                span.colorRed(ng-if='vm.addFestivalErrMsg') *{{vm.addFestivalErrMsg}}
            .modal-footer



#rewardLockModal.modal.fade(tabindex='-1', role='dialog', data-backdrop='static', keyboard=false,aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
        .modal-content
            .modal-header
                a.fa.fa-times.close(type='button', data-dismiss='modal')
                span
                    ul.nav.nav-tabs
                        li
                            label {{vm.selectedProposal.type.name | translate}}
                        li.active
                            a(data-toggle="tab", href="#ProposalDetail", ng-click="")
                                .fa.fa-user
                                | {{ 'DETAIL' | translate }}
                        li(ng-if='vm.chartData')
                            a(data-toggle="tab", href="#Workflow", ng-click="")
                                .fa.fa-user
                                | {{ 'WORKFLOW' | translate }}
            .modal-body
                .panel.panel-primary
                    .panel-body
                        .tab-content
                            #ProposalDetail.tab-pane.fade.in.active
                                include ./proposal-dialog-detail-rewardlock
            .modal-footer
                .inlineBlk(ng-show='vm.selectedProposal.isLocked && !vm.selectedProposal.showUnlockBtn')
                    label.form-control {{'Lock Status' | translate}} : {{vm.selectedProposal.isLocked.adminName}}
                .inlineBlk(ng-show='!vm.selectedProposal.isLocked || vm.selectedProposal.showUnlockBtn')
                    button.btn.btn-success.common-button(data-dismiss='modal', ng-if='(vm.selectedProposal.process.status=="Pending" || vm.selectedProposal.status=="Pending") && vm.rightPanelTitle == "APPROVAL_PROPOSAL" && checkViewPermission("Operation", "Proposal","ApproveProposal")', ng-click="vm.updateProposal(vm.selectedProposal._id, true)") {{"APPROVE" | translate}}
                    button.btn.btn-danger.common-button(data-dismiss='modal', ng-if='(vm.selectedProposal.process.status=="Pending" || vm.selectedProposal.status=="Pending") && vm.rightPanelTitle == "APPROVAL_PROPOSAL" && checkViewPermission("Operation", "Proposal","RejectProposal")', ng-click="vm.updateProposal(vm.selectedProposal._id, false)") {{"REJECT" | translate}}
                button.btn.btn-warning.common-button(ng-if='vm.selectedProposal.showCancel', ng-click="vm.submitCancelProposal(vm.selectedProposal)") {{"Cancel Proposal" | translate}}
                .inlineBlk(ng-if='vm.selectedProposal.cancelling')
                    label {{'Cancelling Proposal' | translate}}
                    i.fa.fa-spin.fa-2x.fa-spinner
                label.inlineBlk(ng-if='vm.selectedProposal.cancelled') {{"Cancel" | translate}}
                button.btn.btn-primary.common-button(data-dismiss='modal') {{"OK" | translate}}
                button.btn.btn-primary.common-button(ng-if='vm.selectedProposal.status==="AutoAudit" && !vm.changeStatusToPendingFromAutoAuditMessage && !vm.selectedProposal.cancelling && !vm.selectedProposal.cancelled', ng-click='vm.changeStatusToPendingFromAutoAudit()') {{"Manual" | translate}}
                label.inlineBlk.wordWrap(ng-if='vm.changeStatusToPendingFromAutoAuditMessage') {{vm.changeStatusToPendingFromAutoAuditMessage}}
                .inlineBlk.pull-left(ng-show='vm.rightPanelTitle == "APPROVAL_PROPOSAL"')
                    label.inlineBlk {{'remark' | translate}}
                    input.inlineBlk.proposalRemark.form-control(style='width:400px;')



#modalSMSLog.modal.fade(tabindex='-1', role='dialog', data-backdrop='static', keyboard=false, aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog(style='width: 80%')
        .modal-content
            .modal-header
                a.fa.fa-times.close(type='button', data-dismiss='modal')
                h4.modal-title {{"SMS Log" | translate}} : {{vm.selectedSinglePlayer.name}}
            .modal-body
                #groupSmsLogQuery.block-query.well
                    div(style="width:200px")
                        label {{'PRODUCT_NAME'| translate}}
                        select.form-control(ng-model='vm.smsLog.query.platformList', ng-options='v.id as v.text for v in vm.platformList', multiple, bsp, data-actions-box='true')
                    div
                        label {{"RESULT" | translate}}
                        select.form-control(ng-model='vm.smsLog.query.status')
                            option(value='all') {{"any" | translate}}
                            option(value='success') {{"Success" | translate}}
                            option(value='failure') {{"Failure" | translate}}
                    div
                        label {{"Start date" | translate}}
                        .startTime
                        //-(ng-model='vm.smsLog.query.startTime')
                    div
                        label {{"End date" | translate}}
                        .endTime
                        //-(ng-model='vm.smsLog.query.endTime')
                    button.btn.btn-primary.common-button(ng-click='vm.searchSMSLog()', style='vertical-align: bottom') {{"SEARCH" | translate}}
                div(style='max-height: 400px; max-height: 50vh; overflow: auto')
                    label {{"Total" | translate}} {{vm.smsLog.totalCount}} {{"records" | translate}}
                    br
                    table#groupSmsLogTable.common-table.display(style='min-width:100%')
                    #groupSmsLogTablePage
            .modal-footer
                button.common-button.btn.btn-primary(data-dismiss='modal') {{"CLOSE" | translate}}
include ../common-widget/telephone-popover

//#modalSelectPartner.modal.fade(tabindex='-1', role='dialog', data-backdrop='static', keyboard=false,aria-labelledby='myModalLabel', aria-hidden='true', style='z-index:1201')
//    .modal-dialog(style='width:80%')
//        .modal-content
//            .modal-header
//                a.fa.fa-times.close(type='button', data-dismiss='modal')
//                h4.modal-title {{"PLEASE_CHOOSE"|translate}} {{"PARTNER" | translate}}
//            .modal-body
//                .panel
//                    .panel-body
//                        .well.block-query.col-md-12
//                            .inlineBlk
//                                label {{"PARTNER_NAME" | translate}}
//                                input.form-control(type='text', ng-model="vm.showPartnerFilterName", ng-change='vm.showPartnerFilterChange()')
//                            .inlineBlk
//                                label {{"PARTNER_LEVEL" | translate}}
//                                select.form-control(ng-model='vm.showPartnerFilterLevel', ng-options='a.value as a.name | translate for a in vm.allPartnerLevels', ng-change='vm.showPartnerFilterChange()')
//                                    option(value="") {{'any' | translate}}
//                            .inlineBlk(style='margin-left:20px')
//                                label {{"Selected Partner" | translate}}
//                                label {{vm.parterSelectedforPlayer.partnerName}}
//                                    button.btn.btn-danger.common-btn.margin-left-5.span(ng-if='vm.parterSelectedforPlayer', ng-click='vm.clearPartnerSelection()') {{'DELETE' | translate}}
//                                    text.text-danger.common-btn.span(ng-if='!vm.parterSelectedforPlayer') {{'NONE' | translate}}
//                        .well.col-md-12
//                            table#partnerSelectTable.common-table.display(style='width:100%')
//            .modal-footer
//                button.btn.btn-primary.common-button(data-dismiss='modal') {{"CLOSE" | translate}}

include platform-player-popup
include platform-feedback-popup
include ../common-widget/modalYesNo
