.well
    .search-filters-item
        label {{'PRODUCT_NAME'| translate}}
        select.form-control(ng-model="vm.playerFeedbackQuery.selectedPlatform" ng-options='v._id as v.name$ for v in vm.allPlatformData' ng-change='vm.getCredibilityRemarksLocal();vm.getAllPlayerLevelsLocal();vm.feedbackPlatformChanged();vm.getAllGameProvidersLocal();vm.getDepartmentDetailsByPlatformObjId(vm.playerFeedbackQuery.selectedPlatform);' )
    .search-filters-item
        label {{"USER_TYPE"|translate}}
        select.form-control(ng-model="vm.playerFeedbackQuery.playerType")
            option(value='Real Player (all)') {{'REAL_PLAYER_ALL' | translate}}
            option(value='Real Player (Individual)') {{'REAL_PLAYER_INDIVIDUAL' | translate}}
            option(value='Real Player (Under Partner)') {{'REAL_PLAYER_UNDER_PARTNER' | translate}}
            option(value='Test Player') {{'TEST_PLAYER' | translate}}
    .search-filters-item
        label {{"Player Level" | translate}}
        select.form-control(ng-model='vm.playerFeedbackQuery.playerLevel')
            option(value='all') {{'ALL' | translate}}
            option(ng-repeat='(i,v) in vm.allPlayerLvl', value='{{v._id}}') {{v.name | translate}}
    .search-filters-item
        label {{'CREDIBILITY' | translate}}
        select.form-control#selectCredibilityRemarkFeedback(multiple="multiple", ng-options='remark._id as remark.name | translate for remark in vm.filterCredibilityRemarks', ng-model='vm.playerFeedbackQuery.credibilityRemarks')
    .search-filters-item
        label {{'CREDIBILITY_FILTER' | translate}}
        select.form-control#selectCredibilityRemarkFeedbackFilter(multiple="multiple", ng-options='remark._id as remark.name | translate for remark in vm.filterCredibilityRemarks', ng-model='vm.playerFeedbackQuery.credibilityRemarksFilter')
    .search-filters-item(ng-class='{"search-filters-threeBoxes": (vm.playerFeedbackQuery.lastAccess === "range")}')
        //上次登入（距今）
        label {{"LAST_ACCESS_TILL_NOW"|translate}}
        div
            select.form-control(ng-model="vm.playerFeedbackQuery.lastAccess", ng-class='{"threeBoxes": (vm.playerFeedbackQuery.lastAccess === "range")}')
                option(value='0-7') {{'0-7'}}{{'DAYS'|translate}}
                option(value='8-14') {{'8-14'}}{{'DAYS'|translate}}
                option(value='15-28') {{'15-28'}}{{'DAYS'|translate}}
                option(value='29') {{'29'}}{{'DAYS_AND_ABOVE'|translate}}
                option(value='range') {{'range'|translate}}
            input.threeBoxes.form-control(type="number" ng-model="vm.playerFeedbackQuery.lastAccessFormal" ng-show="vm.playerFeedbackQuery.lastAccess === 'range'")
            div.symbol(ng-show="vm.playerFeedbackQuery.lastAccess === 'range'") -
            input.threeBoxes.form-control(type="number" ng-model="vm.playerFeedbackQuery.lastAccessLatter" ng-show="vm.playerFeedbackQuery.lastAccess === 'range'")
    .search-filters-item
        label {{'FILTER_FEEDBACK_TOPIC' | translate}}
        select.form-control#selectFeedbackTopicFilter(multiple="multiple", ng-options='topic.key as topic.value for topic in vm.playerFeedbackTopic', ng-model='vm.playerFeedbackQuery.filterFeedbackTopic')
    .search-filters-twoBoxes
        //过滤回访（天）
        label {{"FILTER_FEEDBACK_DAY"|translate}}
        div
            input.form-control(type="number" ng-model="vm.playerFeedbackQuery.filterFeedback")
    .search-filters-twoBoxes(ng-class='{"search-filters-threeBoxes": (vm.playerFeedbackQuery.depositCountOperator === "range")}')
        label {{"DEPOSIT_COUNT"|translate}}
        div
            select.threeBoxes.form-control(ng-model="vm.playerFeedbackQuery.depositCountOperator")
                option(value='>=') {{'>='}}
                option(value='=') {{'='}}
                option(value='<=') {{'<='}}
                option(value='range') {{'range'|translate}}
            input.threeBoxes.form-control(type="number" ng-model="vm.playerFeedbackQuery.depositCountFormal")
            div.symbol(ng-if="vm.playerFeedbackQuery.depositCountOperator === 'range'") -
            input.threeBoxes.form-control(type="number" ng-model="vm.playerFeedbackQuery.depositCountLatter" ng-if="vm.playerFeedbackQuery.depositCountOperator === 'range'")
    .search-filters-twoBoxes(ng-class='{"search-filters-threeBoxes": (vm.playerFeedbackQuery.playerValueOperator === "range")}')
        label {{"PLAYER_VALUE"|translate}}
        div
            select.threeBoxes.form-control(ng-model="vm.playerFeedbackQuery.playerValueOperator")
                option(value='>=') {{'>='}}
                option(value='=') {{'='}}
                option(value='<=') {{'<='}}
                option(value='range') {{'range'|translate}}
            input.threeBoxes.form-control(type="number" ng-model="vm.playerFeedbackQuery.playerValueFormal")
            div.symbol(ng-if="vm.playerFeedbackQuery.playerValueOperator === 'range'") -
            input.threeBoxes.form-control(type="number" ng-model="vm.playerFeedbackQuery.playerValueLatter" ng-if="vm.playerFeedbackQuery.playerValueOperator === 'range'")
    .search-filters-twoBoxes(ng-class='{"search-filters-threeBoxes": (vm.playerFeedbackQuery.consumptionTimesOperator === "range")}')
        label {{"TOTAL_CONSUMPTION_TIMES"|translate}}
        div
            select.threeBoxes.form-control(ng-model="vm.playerFeedbackQuery.consumptionTimesOperator")
                option(value='>=') {{'>='}}
                option(value='=') {{'='}}
                option(value='<=') {{'<='}}
                option(value='range') {{'range'|translate}}
            input.threeBoxes.form-control(type="number" ng-model="vm.playerFeedbackQuery.consumptionTimesFormal")
            div.symbol(ng-if="vm.playerFeedbackQuery.consumptionTimesOperator === 'range'") -
            input.threeBoxes.form-control(type="number" ng-model="vm.playerFeedbackQuery.consumptionTimesLatter" ng-if="vm.playerFeedbackQuery.consumptionTimesOperator === 'range'")
    .search-filters-twoBoxes(ng-class='{"search-filters-threeBoxes": (vm.playerFeedbackQuery.bonusAmountOperator === "range")}')
        label {{"PLAYER_PROFIT_AMOUNT"|translate}}
        div
            select.threeBoxes.form-control(ng-model="vm.playerFeedbackQuery.bonusAmountOperator")
                option(value='>=') {{'>='}}
                option(value='=') {{'='}}
                option(value='<=') {{'<='}}
                option(value='range') {{'range'|translate}}
            input.threeBoxes.form-control(type="number" ng-model="vm.playerFeedbackQuery.bonusAmountFormal")
            div.symbol(ng-if="vm.playerFeedbackQuery.bonusAmountOperator === 'range'") -
            input.threeBoxes.form-control(type="number" ng-model="vm.playerFeedbackQuery.bonusAmountLatter" ng-if="vm.playerFeedbackQuery.bonusAmountOperator === 'range'")
    .search-filters-twoBoxes(ng-class='{"search-filters-threeBoxes": (vm.playerFeedbackQuery.withdrawTimesOperator === "range")}')
        label {{"BonusTime"|translate}}
        div
            select.threeBoxes.form-control(ng-model="vm.playerFeedbackQuery.withdrawTimesOperator")
                option(value='>=') {{'>='}}
                option(value='=') {{'='}}
                option(value='<=') {{'<='}}
                option(value='range') {{'range'|translate}}
            input.threeBoxes.form-control(type="number" ng-model="vm.playerFeedbackQuery.withdrawTimesFormal")
            div.symbol(ng-if="vm.playerFeedbackQuery.withdrawTimesOperator === 'range'") -
            input.threeBoxes.form-control(type="number" ng-model="vm.playerFeedbackQuery.withdrawTimesLatter" ng-if="vm.playerFeedbackQuery.withdrawTimesOperator === 'range'")
    .search-filters-twoBoxes(ng-class='{"search-filters-threeBoxes": (vm.playerFeedbackQuery.topUpSumOperator === "range")}')
        label {{"TOTAL_TOP_UP"|translate}}
        div
            select.threeBoxes.form-control(ng-model="vm.playerFeedbackQuery.topUpSumOperator")
                option(value='>=') {{'>='}}
                option(value='=') {{'='}}
                option(value='<=') {{'<='}}
                option(value='range') {{'range'|translate}}
            input.threeBoxes.form-control(type="number" ng-model="vm.playerFeedbackQuery.topUpSumFormal")
            div.symbol(ng-if="vm.playerFeedbackQuery.topUpSumOperator === 'range'") -
            input.threeBoxes.form-control(type="number" ng-model="vm.playerFeedbackQuery.topUpSumLatter" ng-if="vm.playerFeedbackQuery.topUpSumOperator === 'range'")
    .search-filters-item
        label {{"GAME_LOBBY"|translate}}
        select.form-control#selectGameProvider(multiple="multiple",  ng-options='provider._id as provider.name for provider in vm.allCurrentPlatformGameProviders', ng-model='vm.playerFeedbackQuery.gameProviderId')
    .search-filters-item
        label {{"SYSTEM_PLAYER" | translate}}
        select.form-control(ng-model='vm.playerFeedbackQuery.isNewSystem')
            option(value='') {{'all'|translate}}
            option(value='new') {{'NEW_SYSTEM'|translate}}
            option(value='old') {{'OLD_SYSTEM'|translate}}
    .search-filters-item
        label {{'REGISTRATION_TIME_START' | translate}}
        #registerStartTimePicker.datetimepicker.form-control
            input.input-append.playerDate(data-format="dd/MM/yyyy hh:mm:ss", type='text')
            span.add-on
                i.fa-calendar.fa(data-time-icon='fa fa-clock-o', data-date-icon='fa fa-calendar')
    .search-filters-item
        label {{'REGISTRATION_TIME_END' | translate}}
        #registerEndTimePicker.datetimepicker.form-control
            input.input-append.playerDate(data-format="dd/MM/yyyy hh:mm:ss", type='text')
            span.add-on
                i.fa-calendar.fa(data-time-icon='fa fa-clock-o', data-date-icon='fa fa-calendar')
    .search-filters-item
        label {{"REGISTRATION_DEPARTMENT"|translate}}
        select.spicker.form-control(ng-model='vm.playerFeedbackQuery.departments', bsp, multiple, data-actions-box='true' ng-change="vm.setQueryRole(vm.playerFeedbackQuery)", ng-options='dp._id as dp.departmentName | translate for dp in vm.queryDepartments')
    .search-filters-item
        label {{"REGISTRATION_ROLE"|translate}}
        select.spicker.form-control(ng-model='vm.playerFeedbackQuery.roles', bsp, multiple, data-actions-box='true' ng-change="vm.setQueryAdmins(vm.playerFeedbackQuery)", ng-options='dp._id as dp.roleName | translate for dp in vm.queryRoles')
    .search-filters-item
        label {{"REGISTRATION_ADMIN"|translate}}
        select.spicker.form-control(ng-model='vm.playerFeedbackQuery.admins', bsp, multiple, data-actions-box='true', ng-options='dp._id as dp.adminName | translate for dp in vm.queryAdmins')
    .search-filters-item
        label {{"CALL_PERMISSION"|translate}}
        div
            select.form-control(ng-model="vm.playerFeedbackQuery.callPermission")
                option(value='false') {{'DISABLE'|translate}}
                option(value='true') {{'CALLABLE'|translate}}
                option(value='all') {{'ALL'|translate}}
    .search-filters-item
        label {{"PERMISSION"|translate}}
        select.spicker.form-control(ng-model='vm.playerFeedbackQuery.playerPermission', bsp, multiple, data-actions-box='true', ng-options='v as i | translate for (i,v) in vm.playerPermission', ng-change='vm.playerAdvanceSearchQuery.playerPermission = vm.getPermissionName(vm.playerAdvanceSearchQuery.playerPermission)' )
    .text-right
        button.btn.btn-primary.btn-space(ng-if="checkViewPermission('Platform','Feedback','Read')",ng-click='vm.playerFeedbackSearchType="one";vm.searchPlayerFeedback(true, false);') {{"SEARCH_SINGLE" | translate}}
        button.btn.btn-primary.btn-space(ng-if="checkViewPermission('Platform','Feedback','Read')",ng-click='vm.playerFeedbackSearchType="many";vm.searchPlayerFeedback(true, false);') {{"SEARCH_LIST" | translate}}
        button.btn.btn-warning.btn-space(ng-if="checkViewPermission('Platform','Feedback','Export') && !vm.ctiData.hasOnGoingMission", ng-disabled='vm.showExportButton()', ng-click='vm.exportPlayerQuery()') {{"PLAYER_EXPORT_BATCH" | translate}}
        button.btn.btn-primary.btn-space(ng-if="checkViewPermission('Platform','Feedback','BulkCall') && vm.ctiData.hasOnGoingMission && !vm.showFinishCalloutMissionButton",ng-click='vm.toggleCallOutMissionStatus()') {{"Pause/Resume Mission" | translate}}
        button.btn.btn-primary.btn-space(ng-if="checkViewPermission('Platform','Feedback','BulkCall') && vm.ctiData.hasOnGoingMission && !vm.showFinishCalloutMissionButton",ng-click='vm.stopCallOutMission()') {{"Stop Mission" | translate}}
        button.btn.btn-warning.btn-space(ng-if="checkViewPermission('Platform','Feedback','BulkCall') && vm.ctiData.hasOnGoingMission && vm.showFinishCalloutMissionButton",ng-click='vm.initBulkAddPlayerFeedback()') {{"Failed Call Player Feedback" | translate}}
        button.btn.btn-warning.btn-space(ng-if="checkViewPermission('Platform','Feedback','BulkCall') && vm.ctiData.hasOnGoingMission && vm.showFinishCalloutMissionButton",ng-click='vm.initBulkSMSToFailPlayers()') {{"Failed Call Player SMS" | translate}}
        button.btn.btn-success.btn-space(ng-if="checkViewPermission('Platform','Feedback','BulkCall') && vm.ctiData.hasOnGoingMission && vm.showFinishCalloutMissionButton",ng-click='vm.endCallOutMission()') {{"Finish Mission" | translate}}
    span#platformFeedbackSpin.collapse
        i.fa.fa-spinner.fa-spin
    span.margin-left-5


.row.margin-top-bottom-small(ng-show='!vm.selectedPlatform')
    .text-center.text-danger
        label {{"NO_PLATFORM_MESSAGE" | translate}}
div
    label.inlineBlk(ng-show='vm.feedbackPlayersPara.total!=null') {{"Search Result" | translate}} : {{vm.feedbackPlayersPara.total}}
    label.inlineBlk(ng-show='vm.ctiData.hasOnGoingMission') {{vm.callOutMissionStatus}}
    label.inlineBlk(ng-show='vm.ctiData.hasOnGoingMission') {{vm.ctiData.adminName}} : {{vm.callOutMissionStatusText}}  /  {{"Completed" | translate}} : ({{vm.callOutMissionProgressText}})
    .btn.btn-primary(ng-click="vm.selectedCallOutMission()" ng-if="checkViewPermission('Platform','Feedback','BulkCall') && !vm.ctiData.hasOnGoingMission") {{"SELECTED_CALL" | translate}}
    .btn.btn-primary.btn-space(ng-click="vm.createCallOutMission()" ng-if="checkViewPermission('Platform','Feedback','BulkCall') && !vm.ctiData.hasOnGoingMission") {{"BULK_CALL" | translate}}
    .pull-right
        a.fa.fa-refresh.margin-top-5(ng-click='vm.submitPlayerFeedbackQuery(null, true)')
            text.margin-right-5.pull-left {{"Refresh" | translate}}

.row.margin-top-bottom-small(ng-show='vm.selectedPlatform')
    .col-md-12
        table.common-table#playerFeedbackDataTable.display.widthto100
            thead
        #playerFeedbackTablePage(ng-show='vm.playerFeedbackSearchType=="many"')
.row.margin-top-bottom-small(ng-show='vm.selectedPlatform && vm.playerFeedbackSearchType=="one"')
    .col-md-12
        table.common-table#playerFeedbackDataTableExtended.display.widthto100

    .col-md-6
        h4(ng-if="checkViewPermission('Platform','Feedback','Create')") {{"ADD_FEEDBACK" | translate}}
        div.newcontanier
            .row
                .col-xs-2
                    h5 {{'FEEDBACK_RESULTS' | translate}}
                .col-xs-8
                    select.search-filters-twoBoxes.form-control(ng-model='vm.addFeedback.result', required)
                        option(ng-repeat='(i,v) in vm.allPlayerFeedbackResults', value='{{v.key}}') {{v.value}}
                    button.btn.btn-primary.btn-space(ng-click="vm.addPlayerFeedbackResultData={};vm.deletePlayerFeedbackResultData={};", ng-show="checkViewPermission('Player', 'Feedback','ModifyFeedbackResult')", data-toggle="modal", data-target="#modalAddPlayerFeedbackResult") {{"ADD" | translate}}
            .row
                .col-xs-2
                    h5 {{'FEEDBACK_TOPIC' | translate}}
                .col-xs-8
                    select.search-filters-twoBoxes.form-control(ng-model='vm.addFeedback.topic', required)
                        option(ng-repeat='(i,v) in vm.playerFeedbackTopic', value='{{v.key}}') {{v.value}}
                    button.btn.btn-primary.btn-space(ng-click="vm.addPlayerFeedbackTopicData={};vm.deletePlayerFeedbackTopicData={};", ng-show="checkViewPermission('Player', 'Feedback','ModifyFeedbackTopic')", data-toggle="modal", data-target="#modalAddPlayerFeedbackTopic") {{"ADD" | translate}}
            .row
                .col-xs-2
                    h5 {{"REMARK" | translate}}
                .col-xs-8
                    textarea.form-control(rows='4' cols="40", ng-model='vm.addFeedback.content')
            .text-right
                button.btn.btn-danger.margin-right-5(ng-click='vm.addFeedback.content="";vm.addFeedback.result="";vm.addFeedback.topic="";') {{'Reset' | translate}}
                button.btn.btn-success(ng-show="vm.toggleSubmitFeedbackButton" ng-disabled="!vm.isFeedbackAddValid()", ng-click='vm.addPlayerFeedback(vm.addFeedback)') {{'CONFIRM' | translate}}

        h4 {{"CREDIBILITY_RECORD" | translate}}
        table.simple-table
            thead
                tr
                    th {{"OPERATOR_NAME" | translate}}
                    th {{"TIME" | translate}}
                    th {{"CREDIBILITY" | translate}}
                    th {{"remark" | translate}}
            tbody
                tr(ng-repeat='(i, data) in vm.playerCredibilityComment')
                    td
                        text {{data.admin}}
                    td
                        text {{data.createTime}}
                    td
                        text {{data.remarks$}}
                    td
                        text {{data.comment}}
    .col-md-6
        h4 {{"Feedback History" | translate}} : {{vm.curPlayerFeedbackDetail.length}}
        table.simple-table
            thead
                tr
                    th {{"TIME" | translate}}
                    th {{"ADMIN" | translate}}
                    th {{"RESULT" | translate}}
                    th {{"FEEDBACK_TOPIC" | translate}}
                    th {{"REMARK" | translate}}
            tbody
                tr(ng-repeat='(i,v) in vm.curPlayerFeedbackDetail', ng-show='vm.curPlayerFeedbackDetail.length>0')
                    td
                        text {{vm.dateReformat(v.createTime)}}
                    td
                        text {{v.adminId.adminName || 'Unknown' | translate}}
                    td
                        text {{v.result$}}
                    td
                        text {{v.topic | translate}}
                    td
                        text {{v.content}}

.row(ng-show='vm.selectedPlatform&&vm.playerFeedbackSearchType=="one"')
    .col-md-12
        .pull-left
            button.btn.btn-primary(ng-click='vm.callPlayer(vm.curFeedbackPlayer)') {{"CallPlayer" | translate}}
        .pull-right.child-margin-5
            button.btn.btn-primary(ng-click='vm.getFeedbackPlayer("-")') {{"Page_Previous" | translate}} 1 {{"Player" | translate}}
            .inlineBlk
                label.form-control {{"Current Page" | translate}} {{vm.feedbackPlayersPara.index}}/{{vm.feedbackPlayersPara.total}}
            button.btn.btn-primary(ng-click='vm.getFeedbackPlayer("+")') {{"Page_Next" | translate}} 1 {{"Player" | translate}}
            .inlineBlk
                label {{'Jump to' | translate}}
            .inlineBlk
                input.form-control(style='width: 80px', type='number', ng-model='vm.feedbackPlayersPara.index', ng-change='vm.getFeedbackPlayer(vm.feedbackPlayersPara.index)')
            .inlineBlk
                label {{'Page' | translate}}

.row(ng-show='vm.selectedPlatform')
    .col-md-12
        .pull-left
            button.btn.btn-danger(ng-click='vm.forceStopFPMSCallOutMissions()') {{"Force Stop Mission" | translate}}

#modalExportSetting.modal.fade(tabindex='-1', role='dialog', data-backdrop='static', keyboard=false,aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
        .modal-content
            .modal-header
                a.fa.fa-times.close(type='button', data-dismiss='modal')
                h4.modal-title {{"PLAYER_EXPORT_SETTING" | translate}}
            .modal-body
                form(name="form_player_export")
                    .panel.panel-primary
                        .panel-body
                            .well
                                .row
                                    .form-group.col-md-6
                                        label {{'BANNER TITLE' | translate}}
                                        input.form-control(type='text', ng-model='vm.exportPlayerSetting.title', required)
                                    .form-group.col-md-6
                                        label {{'TARGET_EXPORT_WEBSITE' | translate}}
                                        select.form-control(ng-model='vm.exportPlayerSetting.platform', required)
                                            option(ng-repeat='(i,v) in vm.allPlatformData', value='{{v}}') {{v.name}}
                                    .form-group.col-md-6
                                        label {{'PROPOSAL_EXPIRATION_MINUTE' | translate}}
                                        input.form-control(type='Number', ng-model='vm.exportPlayerSetting.expirationMins', required)
            .modal-footer
                //button.btn.btn-primary.common-button(ng-if='form_new_partner.$invalid', disabled='true') {{"CREATE" | translate}}
                button.btn.btn-primary.common-button(data-dismiss='modal', ng-disabled="form_player_export.$invalid", ng-click="vm.createExportPlayerProposal();") {{"Export" | translate}}
                button.btn.btn-warning.common-button(data-dismiss='modal') {{"CANCEL" | translate}}

#playerPermissionPopover.hide(style="width: 600px")
    #playerPermissionTable
        table.paddingTbl
            tbody
                tr(ng-repeat='(key,v) in vm.playerPermissionTypes',
                ng-if="vm.permissionPlayer.isRealPlayer || vm.permissionPlayer.isTestPlayer && v.testPlayer")
                    td
                        i.text-primary(ng-show='v.imgType=="i"', ng-class='v.iconClass+" fa-2x"')
                        img(async=on ng-show='v.imgType=="img"', ng-src='{{v.src}}', width='{{v.width}}', height='{{v.height}}')
                    td {{key | translate}}
                    td.permitOn(ng-class='vm.permissionPlayer.permission[key] === false  ? "hide":""', class='{{key}}')
                        i.fa.fa-toggle-on.text-primary.margin-right-5.togglePlayer(data-which='{{key}}', data-on=true)
                        a.text-primary.togglePlayer(data-which='{{key}}', data-on=true) {{"ON" | translate}}
                    td.permitOff(ng-class='vm.permissionPlayer.permission[key] === false ? "":"hide"', class='{{key}}')
                        i.fa.fa-toggle-off.text-danger.margin-right-5.togglePlayer(data-which='{{key}}', data-on=false)
                        a.text-danger.togglePlayer(data-which='{{key}}', data-on=false) {{"OFF" | translate}}
                    td
                        div(id="{{key}}")
        .textareaDetail.margin-top-bottom-small
            textarea.permissionRemark(placeholder='{{"Please add remark." | translate}}')
        .text-left(style="position:relative;")
            button.btn.btn-primary.submit {{'CONFIRM' | translate}}
            button#permissionRecordButton.btn.btn-primary.common-button(style="right:0;position:absolute",ng-if="checkViewPermission('Player', 'Player', 'PermissionHistory')", data-toggle="modal", ng-click='vm.getPlayerPermissionChange("new")', data-target='#modalPlayerPermissionChangeLog', ng-show="vm.platformPageName!='batchPermit'")
                text {{"Permission History" | translate}}
        div(ng-show="vm.platformPageName=='batchPermit'") * 若要开启/解除某权限设置，请
        div(ng-show="vm.platformPageName=='batchPermit'") 关闭->开启->再按确定按钮。

#prohibitGamePopover.hide(style="width: 600px", ng-non-bindable)
    table.simple-table
        tr
            td(style='text-align:left')
                label {{"BANNED_FROM_THESE_PROVIDERS" | translate}}
                div(ng-repeat='(i,v) in vm.showPlatform.gameProviders')
                    label {{vm.getProviderText(v)}}
                        input.playerStatusProviderForbid.pull-left.margin-right-5(type='checkbox', data-provider='{{v}}',ng-change='vm.forbidModification(v, isTrue, "forbidGameAddList", "forbidGameRemoveList")', ng-model="isTrue", ng-checked='vm.prohibitGamePopover.forbidProviders.indexOf(v)>-1')
                        span(id="{{'c-'+v}}")
                .textareaDetail.margin-top-bottom-small
                    textarea.forbidRewardRemark(ng-model='vm.forbidGameRemark', placeholder='{{"Please add remark." | translate}}')
                button.common-button.margin-right-5.btn.btn-success.forbidGameConfirm(ng-show="checkViewPermission('Player', 'Disable','ForbidProviders') && vm.platformPageName!='batchPermit'", ng-disabled='vm.forbidGameDisable') {{'CONFIRM' | translate}}
                button.common-button.margin-right-5.btn.btn-success.forbidBatchGameConfirm(ng-show="checkViewPermission('Player', 'Disable','ForbidProviders') && vm.platformPageName=='batchPermit'") {{'CONFIRM' | translate}}

                button.common-button.margin-right-5.btn.btn-warning.forbidGameCancel {{'CANCEL' | translate}}
                button.common-button.margin-right-5.btn.btn-primary.showForbidGame(data-toggle="modal", data-target="#modalForbidGameLog", ng-click="vm.getForbidGame();", ng-show="vm.platformPageName!='batchPermit'") {{'CHANGES_RECORD' | translate}}

#forbidRewardEventPopover.hide(style="width: 600px", ng-non-bindable)
    table.simple-table
        tr
            td(style='text-align:left')

                label {{"FORBID_REWARD" | translate}}
                div
                    label {{"优惠代码" | translate}}
                        input.playerRewardEventForbid.pull-left.margin-right-5(type='checkbox', ng-model='vm.forbidPromoCode' ng-change='vm.forbidFixedRewardModification("forbidPromoCode")')
                        span(id="{{'c-forbidPromoCode'}}")
                div
                    label {{"PlayerLevelUp" | translate}}
                        input.playerRewardEventForbid.pull-left.margin-right-5(type='checkbox', ng-model='vm.forbidLevelUpReward' ng-change='vm.forbidFixedRewardModification("forbidLevelUpReward")')
                        span(id="{{'c-forbidLevelUpReward'}}")
                div
                    label {{"PlayerLevelMaintain" | translate}}
                        input.playerRewardEventForbid.pull-left.margin-right-5(type='checkbox', ng-model='vm.forbidLevelMaintainReward' ng-change='vm.forbidFixedRewardModification("forbidLevelMaintainReward")')
                        span(id="{{'c-forbidLevelMaintainReward'}}")
                div(ng-repeat='(i,v) in vm.allRewardEvent')
                    label {{v.name}}
                        input.playerRewardEventForbid.pull-left.margin-right-5(type='checkbox', data-provider='{{v._id}}', ng-change='vm.forbidModification(v._id, isTrue, "forbidRewardEventAddList", "forbidRewardEventRemoveList")', ng-model="isTrue", ng-checked='vm.forbidRewardEventPopover.forbidRewardEvents.indexOf(v._id)>-1')
                        span(id="{{'c-'+v._id}}")
                .textareaDetail.margin-top-bottom-small
                    textarea.forbidRewardRemark(ng-model='vm.forbidRewardRemark', placeholder='{{"Please add remark." | translate}}')
                button.common-button.margin-right-5.btn.btn-success.forbidRewardEventConfirm(ng-show="checkViewPermission('Player', 'Disable','ForbidRewards') && vm.platformPageName!='batchPermit'", ng-disabled='vm.forbidRewardDisable') {{'CONFIRM' | translate}}
                button.common-button.margin-right-5.btn.btn-success.forbidBatchRewardEventConfirm(ng-show="checkViewPermission('Player', 'Disable','ForbidRewards') && vm.platformPageName=='batchPermit'") {{'CONFIRM' | translate}}

                button.common-button.margin-right-5.btn.btn-warning.forbidRewardEventCancel(data-dismiss='popover') {{'CANCEL' | translate}}
                button.common-button.margin-right-5.btn.btn-primary.showForbidreward(data-toggle="modal", data-target="#modalForbidRewardLog", ng-click="vm.getForbidReward();", ng-show="vm.platformPageName!='batchPermit'") {{'CHANGES_RECORD' | translate}}

#forbidTopUpPopover.hide(style="width: 600px", ng-non-bindable)
    table.simple-table
        tr
            td(style='text-align:left')
                label {{"ForbidTopupTypes" | translate}}
                div(ng-repeat='(i,v) in merchantTopupTypeJson')
                    label {{v}}
                        input.playerTopUpTypeForbid.pull-left.margin-right-5(type='checkbox', data-provider='{{i}}',ng-change='vm.forbidModification(i, isTrue, "forbidTopUpAddList", "forbidTopUpRemoveList")', ng-model="isTrue", ng-checked='vm.forbidTopUpPopover.forbidTopUpType.indexOf(i)>-1')
                        span(id="{{'c-'+i}}")
                .textareaDetail.margin-top-bottom-small
                    textarea.forbidRewardRemark(ng-model='vm.forbidTopUpRemark', placeholder='{{"Please add remark." | translate}}')
                button.common-button.margin-right-5.btn.btn-success.forbidTopUpConfirm(ng-show="checkViewPermission('Player', 'Disable','ForbidTopupTypes') && vm.platformPageName!='batchPermit'",ng-disabled='vm.forbidTopUpDisable') {{'CONFIRM' | translate}}
                button.common-button.margin-right-5.btn.btn-success.forbidBatchTopUpConfirm(ng-show="checkViewPermission('Player', 'Disable','ForbidTopupTypes') && vm.platformPageName=='batchPermit'") {{'CONFIRM' | translate}}
                button.common-button.margin-right-5.btn.btn-warning.forbidTopUpCancel {{'CANCEL' | translate}}
                button.common-button.margin-right-5.btn.btn-primary.showForbidTopUp(data-toggle="modal", data-target="#modalForbidTopUpLog", ng-click="vm.getForbidTopUp();", ng-show="vm.platformPageName!='batchPermit'") {{'CHANGES_RECORD' | translate}}

#forbidRewardPointsEventPopover.hide(style="width: 600px", ng-non-bindable)
    table.simple-table
        tr
            td(style='text-align:left')
                label {{"LOGIN_REWARD_POINTS" | translate}}
                div(ng-repeat="(i,v) in vm.rewardPointsAllEvent | filter: {category: constRewardPointsTaskCategory.LOGIN_REWARD_POINTS}")
                    label {{v.rewardTitle}}
                        input.playerRewardPointsEventForbid.pull-left.margin-right-5(type='checkbox', data-provider='{{v._id}}',ng-change='vm.forbidModification(v._id, isTrue, "forbidRewardPointsAddList", "forbidRewardPointsRemoveList")', ng-model="isTrue", ng-checked='vm.forbidRewardPointsEventPopover.forbidRewardPointsEvent.indexOf(v._id)>-1')
                        span(id="{{'c-'+v._id}}")
                .textareaDetail.margin-top-bottom-small
                label {{"TOPUP_REWARD_POINTS" | translate}}
                div(ng-repeat="(i,v) in vm.rewardPointsAllEvent | filter: {category: constRewardPointsTaskCategory.TOPUP_REWARD_POINTS}")
                    label {{v.rewardTitle}}
                        input.playerRewardPointsEventForbid.pull-left.margin-right-5(type='checkbox', data-provider='{{v._id}}',ng-change='vm.forbidModification(v._id, isTrue, "forbidRewardPointsAddList", "forbidRewardPointsRemoveList")', ng-model="isTrue", ng-checked='vm.forbidRewardPointsEventPopover.forbidRewardPointsEvent.indexOf(v._id)>-1')
                        span(id="{{'c-'+v._id}}")
                .textareaDetail.margin-top-bottom-small
                .textareaDetail.margin-top-bottom-small
                label {{"GAME_REWARD_POINTS" | translate}}
                div(ng-repeat="(i,v) in vm.rewardPointsAllEvent | filter: {category: constRewardPointsTaskCategory.GAME_REWARD_POINTS}")
                    label {{v.rewardTitle}}
                        input.playerRewardPointsEventForbid.pull-left.margin-right-5(type='checkbox', data-provider='{{v._id}}',ng-change='vm.forbidModification(v._id, isTrue, "forbidRewardPointsAddList", "forbidRewardPointsRemoveList")', ng-model="isTrue", ng-checked='vm.forbidRewardPointsEventPopover.forbidRewardPointsEvent.indexOf(v._id)>-1')
                        span(id="{{'c-'+v._id}}")
                .textareaDetail.margin-top-bottom-small
                    textarea.forbidRewardPointsEventRemark(ng-model='vm.forbidRewardPointsEventRemark', placeholder='{{"Please add remark." | translate}}')
                button.common-button.margin-right-5.btn.btn-success.forbidRewardPointsEventConfirm(ng-show="checkViewPermission('Player', 'Disable','ForbidRewardPointsEvent') && vm.platformPageName!='batchPermit'",ng-disabled='vm.forbidRewardPointsEventDisable') {{'CONFIRM' | translate}}
                button.common-button.margin-right-5.btn.btn-success.forbidBatchRewardPointsEventConfirm(ng-show="checkViewPermission('Player', 'Disable','ForbidRewardPointsEvent') && vm.platformPageName=='batchPermit'") {{'CONFIRM' | translate}}
                button.common-button.margin-right-5.btn.btn-warning.forbidRewardPointsEventCancel {{'CANCEL' | translate}}
                button.common-button.margin-right-5.btn.btn-primary.showForbidRewardPointsEvent(data-toggle="modal", data-target="#modalForbidRewardPointsEventLog", ng-click="vm.getForbidRewardPointsEvent();", ng-show="vm.platformPageName!='batchPermit'") {{'CHANGES_RECORD' | translate}}

#dialogEditPlayer.dialog-dialog.hidden(ng-non-bindable style='width:60%;max-width:800px;')
    .dialog-content(style="overflow: scroll;height:600px;")
        .dialog-header
            a.fa.fa-times.close.btn.btn-sm(type='button', data-dismiss='dialog')
            a.fa.fa-minus.close.btn.btn-sm(type='button', data-toggle='minimize')
            h4.dialog-title {{"EDIT_PLAYER" | translate}} : {{playerBeforeEditing.name}}
        .dialog-body
            .panel
                .panel-body
                    //here
                    .padding-all-5
                        .panel.panel-primary
                            .panel-heading.common-left-panel-heading
                                ul.nav.nav-tabs.common-nav-tabs
                                    li(ng-show="editPlayerPermission",ng-class="selectedTab=='basicInfo'?'active':''")
                                        a.common-tab(data-toggle="tab", ng-click="selectedTab ='basicInfo';")
                                            text.span {{"Basic" | translate}}
                                    li(ng-show="editContactPermission",ng-class="selectedTab=='contactInfo'?'active':''")
                                        a.common-tab(data-toggle="tab", ng-click="selectedTab ='contactInfo';prepareEditCritical('player');")
                                            text.span {{"CONTACT_INFO" | translate}}
                                    li(ng-show="editWithdrawPermission",ng-class="selectedTab=='withdrawInfo'?'active':''")
                                        a.common-tab(data-toggle="tab", ng-click="selectedTab ='withdrawInfo';prepareEditPlayerPayment();")
                                            text.span {{"WITHDRAW_INFO" | translate}}
                                    li(ng-show="editPlayerPermission",ng-class="selectedTab=='topUpInfo'?'active':''")
                                        a.common-tab(data-toggle="tab", ng-click="selectedTab ='topUpInfo';initTopUpGroupChangeLog()")
                                            text.span {{"Topup Group" | translate}}
                            .panel-body.common-right-panel-body
                                div.tab-content
                                    #basicGroup.tab-pane.fade(ng-class="selectedTab =='basicInfo'?'in active':''")
                                        include player-edit-form
                                        button.btn.btn-warning.common-button(data-dismiss='dialog') {{"CANCEL" | translate}}
                                        button.dialogEditPlayerSubmitBtn.btn.btn-primary.common-button(data-dismiss='dialog', ng-disabled='form_editing_player.$invalid', ng-click="updateEditedPlayer();") {{"UPDATE" | translate}}
                                    #contactGroup.tab-pane.fade(ng-class="selectedTab =='contactInfo'?'in active':''")
                                        include player-edit-contact
                                    #withdrawGroup.tab-pane.fade(ng-class="selectedTab =='withdrawInfo'?'in active':''")
                                        include player-edit-withdraw
                                    #topUpGroup.tab-pane.fade(ng-class="selectedTab =='topUpInfo'?'in active':''")
                                        include player-edit-payment-form
                                        button.btn.btn-warning.common-button(data-dismiss='dialog') {{"CANCEL" | translate}}
                                        button.dialogEditPlayerSubmitBtn.btn.btn-primary.common-button(data-dismiss='dialog', ng-disabled='form_edit_player.$invalid || form_edit_player.$pristine', ng-click="updateEditedPlayer();") {{"UPDATE" | translate}}
                                    #adminNameGroup.tab-pane.fade(ng-class="selectedTab =='adminNameAdjunction'?'in active':''")
                                        include player-edit-adjunction-form
                                        button.btn.btn-warning.common-button(data-dismiss='dialog') {{"CANCEL" | translate}}
                                        button.dialogEditPlayerSubmitBtn.btn.btn-primary.common-button(data-dismiss='dialog', ng-disabled='(form_edit_player_admin.$invalid || form_edit_player_admin.$pristine) || checkAdminNameValidity()', ng-click="updateEditedPlayer();") {{"UPDATE" | translate}}
                                div(ng-show="selectedTab =='topUpInfo'")
                                    hr
                                    .btn.btn-success(ng-click="getPlayerTopUpGroupChangeLog(0,10)") {{'TOPUP_GROUP_RECORD' | translate}}
                                    table.topupGroupRecordTable.common-table.display(style="width:100%")
                                    .topupGroupRecordTablePage
