.col-sm-12(ng-if='!vm.curPlatformText')
    .text-center
        label.text-danger {{"NO_PLATFORM_MESSAGE" | translate}}
.row(ng-if='vm.curPlatformText')
    .col-md-2
        .panel.panel-primary(style="min-height:610px")
            .panel-heading.panel-heading-sm
                label {{"Alipay Group" | translate}}
            .panel-body
                div(ng-if="!vm.paymentSystemName || vm.paymentSystemName !== 'PMS2'")
                    input#FPMSAlipayPaymentGroup(type='radio' value='FPMS' ng-model="vm.alipayGroupUsed" ng-change="vm.loadAlipayGroupData()")
                    label.radio-space(for='FPMSAlipayPaymentGroup') {{"FPMS Group" | translate}}
                    input#PMSAlipayPaymentGroup(type='radio' value='PMS' ng-model="vm.alipayGroupUsed" ng-change="vm.loadAlipayGroupData()")
                    label.radio-space(for='PMSAlipayPaymentGroup') {{"PMS Group" | translate}}
                div(ng-if='!vm.platformAlipayGroupList || vm.platformAlipayGroupList.length==0', style="height: 50px; overflow-y: auto;")
                    label.text-danger {{"NO_ALIPAY_GROUP_MESSAGE" | translate}}
                ul.list-group(ng-if='vm.platformAlipayGroupList.length > 0', style="height: 430px; overflow-y: auto;")
                    li.list-group-item(ng-repeat='(i,alipayGroup) in vm.platformAlipayGroupList', ng-click='vm.alipayGroupClicked(i,alipayGroup)', ng-class='{active: vm.SelectedAlipayGroupNode === alipayGroup}')
                        text {{alipayGroup.name}}
                        i.fa.fa-star.pull-right.margin-right-5(ng-show='alipayGroup.bDefault')
                div.paymentCard(ng-if="!vm.paymentSystemName || vm.paymentSystemName !== 'PMS2'")
                        label {{"PAYMENT_CARD_MODE" | translate}}
                        br
                        input#aliPayFPMSGroupSetting(type='radio' value='false' ng-model="vm.aliPayGroupPMS" ng-disabled="!checkViewPermission('Payment', 'AlipayGroup', 'UpdateCardGroupType')")
                        label.radio-space(for='aliPayFPMSGroupSetting') {{"FPMS Group" | translate}}
                        input#aliPayPMSGroupSetting(ng-if='!vm.selectedPlatform.data.financialSettlement.financialSettlementToggle && !vm.selectedPlatform.data.isFPMSPaymentSystem' type='radio' value='true' ng-model="vm.aliPayGroupPMS" ng-disabled="!checkViewPermission('Payment', 'AlipayGroup', 'UpdateCardGroupType')")
                        label.radio-space(ng-if='!vm.selectedPlatform.data.financialSettlement.financialSettlementToggle && !vm.selectedPlatform.data.isFPMSPaymentSystem' for='aliPayPMSGroupSetting') {{"PMS Group" | translate}}
                        br
                        button.btn.btn-primary(ng-click="vm.updateIsPMSGroup(vm.aliPayGroupPMS, 'aliPayGroupIsPMS')" ng-if="checkViewPermission('Payment', 'AlipayGroup', 'UpdateCardGroupType')") {{"CONFIRMATION" | translate}}
                br
                .btn-group.text-center(role="group" ng-if="!vm.paymentSystemName || vm.paymentSystemName !== 'PMS2'")
                    button.btn.btn-primary.vertical-button-group(ng-if="((vm.selectedPlatform.data.financialSettlement && vm.selectedPlatform.data.financialSettlement.financialSettlementToggle) || vm.selectedPlatform.data.isFPMSPaymentSystem) && checkViewPermission('Payment', 'AlipayGroup', 'CreateAlipay')", data-toggle="modal", ng-click='vm.newAlipayAcc={};', data-target='#modalAddNewAlipay')
                        img.img-create
                        text {{"CreateAlipay" | translate}}
                    button.btn.btn-primary.vertical-button-group(ng-if="checkViewPermission('Payment', 'AlipayGroup', 'Create') && vm.alipayGroupUsed != 'PMS'", data-toggle="modal", ng-click='vm.newAlipayGroup={};', data-target='#modalAddAlipayGroup')
                        img.img-create
                        text {{"ADD" | translate}}
                    button.btn.btn-primary.vertical-button-group(ng-if="checkViewPermission('Payment', 'AlipayGroup', 'Delete') && vm.alipayGroupUsed != 'PMS'", ng-disabled="!vm.selectedPlatform || !vm.SelectedAlipayGroupNode", data-toggle="modal", data-target='#modalRemoveAlipayGroup', ng-click='')
                        img.img-delete
                        text {{"DELETE" | translate}}
                    button.btn.btn-primary.vertical-button-group(ng-if="checkViewPermission('Payment', 'AlipayGroup', 'Update') && vm.alipayGroupUsed != 'PMS'", ng-disabled="!vm.selectedPlatform || !vm.SelectedAlipayGroupNode", data-toggle="modal", data-target='#modalRenameAlipayGroup', ng-click='vm.initRenameAlipayGroup()')
                        img.img-edit
                        text {{"EDIT" | translate}}
                    button.btn.btn-primary.vertical-button-group(ng-if="checkViewPermission('Payment', 'AlipayGroup', 'Update') && vm.alipayGroupUsed != 'PMS'", ng-disabled="!vm.selectedPlatform || !(vm.platformAlipayGroupList.length>0)", data-toggle="modal", data-target='#modalSetAlipayGroupDefault')
                        img.img-edit
                        text {{"Default" | translate}}
                    button.btn.btn-primary.vertical-button-group(ng-if="checkViewPermission('Payment', 'AlipayGroup', 'Create') && vm.alipayGroupUsed != 'PMS'", ng-disabled="!vm.selectedPlatform || !vm.SelectedAlipayGroupNode", data-toggle="modal", data-target='#modalAddPlayersToAlipayGroup', ng-click='vm.preparePlayerToGroupDialog("alipayGroup","#playertoAlipayGroupDataTable")')
                        img.img-create
                        text {{"ADD_PLAYER" | translate}}
                    button.btn.btn-primary.vertical-button-group(ng-if="checkViewPermission('Payment', 'AlipayGroup', 'AddAllPlayer') && vm.alipayGroupUsed != 'PMS'", ng-disabled="!vm.selectedPlatform || !vm.SelectedAlipayGroupNode", data-toggle="modal", data-target='#modalAddAllPlayersToAlipayGroup', ng-click='vm.addAllPlayerToAlipayResult=""')
                        img.img-create
                        text {{"ADD_ALL_PLAYER" | translate}}
                    //- button.btn.btn-primary.common-button(ng-if="checkViewPermission('Payment', 'Bank', 'DetachProvider')", ng-disabled="!vm.selectedPlatform", data-toggle="modal", data-target='#modalTachProvider', ng-click='vm.linkProvider("detach");vm.linkProviderType="DETACH"')
                    //button.btn.btn-primary.common-button(ng-if="checkViewPermission('Payment', 'Bank', 'DetachProvider')", ng-disabled="!vm.selectedPlatform || !vm.SelectedAlipayGroupNode", ng-click='vm.confirmDetachProvider()')
                    //    text {{"DETACH" | translate}}
                    //    .fa.fa-chain-broken
    .col-md-10(style="padding-left:0;padding-right:15px")
        .panel.panel-primary(style="min-height:610px")
            .panel-heading.panel-heading-sm
                label {{"Alipay Group" | translate}} : {{vm.SelectedAlipayGroupNode.name}} ({{vm.SelectedAlipayGroupNode.displayName}})
            .panel-body
                .text-center(ng-if='!vm.SelectedAlipayGroupNode')
                    label.text-danger {{"NO_ALIPAY_GROUP_MESSAGE" | translate}}
                .well
                    .search-filters-item
                        .control-label {{"alipayAccount" | translate}}
                        input.form-control.merchantNoList(ng-model='vm.filterAlipayAccount',type='text')
                    .search-filters-item
                        .control-label {{"alipayName" | translate}}
                        input.form-control.merchantNoList(ng-model='vm.filterAlipayName', type='text')
                    .threeBoxes(ng-if="vm.alipayGroupUsed != 'PMS'")
                        .control-label {{"isInGroup" | translate}}
                        select.form-control.merchantNoList(ng-model='vm.filterAlipayInGroup' ng-init='vm.filterAlipayInGroup="all"')
                            option(value='all') {{'any' | translate}}
                            option(value='false') {{'noInGroup' | translate}}
                            option(value='true') {{'inGroup' | translate}}
                    .search-filters-item(ng-if="vm.alipayGroupUsed == 'PMS'")
                        .control-label {{"Player's Name (PMS Group Search)" | translate}}
                        input.form-control(type='text', ng-model='vm.pmsGroupPlayerName')
                    .text-right.widthto100(ng-if="vm.alipayGroupUsed == 'PMS'")
                        button.btn.btn-primary(data-dismiss='modal', ng-click="vm.playerPMSAlipayGroupSearch()") {{"SEARCH" | translate}}
                text.blink.margin-left-5.text-danger(ng-if='vm.SelectedAlipayGroupNode && !vm.allAlipayList') {{'loading alipays' | translate}}...
                text.margin-left-5(ng-if='vm.SelectedAlipayGroupNode && vm.allAlipayList') {{'Total' | translate}}: {{filteredAlipayList.length}}
                table#aliPayTable.simple-table.table-vertical-middle
                    thead
                        th(ng-if="vm.alipayGroupUsed != 'PMS' && !vm.paymentSystemName && vm.paymentSystemName !== 'PMS2'") {{ 'select' | translate }}
                        th(data-toggle="modal", data-target="#modalFilterAlipayStatus", style="cursor: pointer") {{ 'STATUS' | translate }}
                        th {{ 'Alipay Line' | translate }}
                        th {{ 'alipayAccount' | translate }}
                        th {{ 'alipayName' | translate }}
                        th {{ 'SINGLE_MINIMUM' | translate }}
                        th {{ 'SINGLELIMIT' | translate }}
                        th {{ 'DAY_LIMIT' | translate }}
                    tbody
                        tr(ng-repeat="(idx,val) in vm.allAlipayList | filter: vm.filterAlipay as filteredAlipayList" style='{{ !val.isInGroup ? "background-color: grey;": "" }}')
                            td(ng-if="vm.alipayGroupUsed != 'PMS' && !vm.paymentSystemName && vm.paymentSystemName !== 'PMS2'")
                                input(type="checkbox" ng-model="val.isCheck" ng-change="vm.alipayListUncheckDifferentGroup(val.isCheck, val.isInGroup);")
                            td {{ val.state === 'DISABLED' ? 'DISABLE' : val.state | translate}}
                            td {{ val.line }}
                            td {{ val.accountNumber | translate}}
                            td {{ val.name | translate}}
                            td {{ val.minDepositAmount | translate}}
                            td {{ val.singleLimit | translate}}
                            td {{ val.quota | translate}}
                br
                .text-right.widthto100(ng-if="!vm.paymentSystemName || vm.paymentSystemName !== 'PMS2'")
                    button.btn.btn-info.btn-space(ng-click="vm.selectAlipay(true)" ng-if="vm.alipayGroupUsed != 'PMS'") {{"Select All" | translate}}
                    button.btn.btn-info.btn-space(ng-click="vm.selectAlipay(false)" ng-if="vm.alipayGroupUsed != 'PMS'") {{"Clear All" | translate}}
                    button.btn.btn-primary.btn-space(ng-if="((vm.selectedPlatform.data.financialSettlement && vm.selectedPlatform.data.financialSettlement.financialSettlementToggle) || vm.selectedPlatform.data.isFPMSPaymentSystem) && vm.allAlipayList.length > 0 && checkViewPermission('Payment', 'AlipayGroup', 'EditAlipay') && vm.alipayGroupUsed != 'PMS'" ng-click="vm.showEditAlipayInfo()" ng-disabled="vm.disableEditAlipay()", data-toggle="modal", data-target='#modalEditAlipay')
                        img.img-edit.symbol
                        text {{"EditAlipay" | translate}}
                    button.btn.btn-primary.btn-space(ng-if="checkViewPermission('Payment', 'AlipayGroup', 'Update') && vm.alipayGroupUsed != 'PMS'" ng-click='vm.alipaytoAlipayGroup("attach")')
                        i.fa.fa-plus-square.symbol
                        text {{"INCLUDE" | translate}}
                    button.btn.btn-primary.btn-space(ng-if="checkViewPermission('Payment', 'AlipayGroup', 'Update') && vm.alipayGroupUsed != 'PMS'" ng-click='vm.alipaytoAlipayGroup("detach")')
                        i.fa.fa-minus-square.symbol
                        text {{"EXCLUDE" | translate}}

#modalAddNewAlipay.modal.fade(tabindex='-1', role='dialog', data-backdrop='static', keyboard=false,aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
        .modal-content
            .modal-header
                a.fa.fa-times.close(type='button', data-dismiss='modal')
                h4.modal-title {{"CreateAlipay" | translate}}
            .modal-body
                .panel.panel-primary
                    .panel-body
                        .form-group.col-md-6
                            .control-label {{"STATE" | translate}}
                             select.form-control(ng-model='vm.newAlipayAcc.state')
                                    option(ng-repeat='(i,v) in vm.paymentListState', value='{{v}}') {{v | translate}}
                        .form-group.col-md-6
                            .control-label {{"alipayAccount" | translate}}
                            input.form-control(type='text', ng-model='vm.newAlipayAcc.accountNumber')
                        .form-group.col-md-6
                            .control-label {{"alipayName" | translate}}
                            input.form-control(type='text', ng-model='vm.newAlipayAcc.name')
                        .form-group.col-md-6
                            .control-label {{"SINGLE_LIMIT" | translate}}
                            input.form-control(type='text', ng-model='vm.newAlipayAcc.singleLimit')
                        .form-group.col-md-6
                            .control-label {{"DAY_LIMIT" | translate}}
                            input.form-control(type='text', ng-model='vm.newAlipayAcc.quota')
            .modal-footer
                button.btn.btn-primary.common-button(data-dismiss='modal', ng-click="vm.createNewAlipayAcc()", ng-disabled="vm.checkCreateNewAlipay()") {{"CONFIRM" | translate}}
                button.btn.btn-warning.common-button(data-dismiss='modal') {{"CANCEL" | translate}}

#modalEditAlipay.modal.fade(tabindex='-1', role='dialog', data-backdrop='static', keyboard=false,aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
        .modal-content
            .modal-header
                a.fa.fa-times.close(type='button', data-dismiss='modal')
                h4.modal-title {{"EditAlipay" | translate}}
            .modal-body
                .panel.panel-primary
                    .panel-body
                        .form-group.col-md-6
                            .control-label {{"STATE" | translate}}
                                select.form-control(ng-model='vm.selectedAlipay.state')
                                    option(ng-repeat='(i,v) in vm.paymentListState', value='{{v}}') {{v === 'DISABLED' ? 'DISABLE' : v | translate}}
                        .form-group.col-md-6
                            .control-label {{"alipayAccount" | translate}}
                            input.form-control(type='text', ng-model='vm.selectedAlipay.accountNumber')
                        .form-group.col-md-6
                            .control-label {{"alipayName" | translate}}
                            input.form-control(type='text', ng-model='vm.selectedAlipay.name')
                        .form-group.col-md-6
                            .control-label {{"SINGLE_LIMIT" | translate}}
                            input.form-control(type='Number', ng-model='vm.selectedAlipay.singleLimit', style='text-align:left!important')
                        .form-group.col-md-6
                            .control-label {{"DAY_LIMIT" | translate}}
                            input.form-control(type='Number', ng-model='vm.selectedAlipay.quota', style='text-align:left!important')
            .modal-footer
                button.btn.btn-primary.common-button(data-dismiss='modal', ng-click="vm.editAlipayAcc()", ng-disabled="vm.validateEditAlipay()") {{"CONFIRM" | translate}}
                button.btn.btn-warning.common-button(data-dismiss='modal') {{"CANCEL" | translate}}
                button.btn.btn-danger.common-button(data-dismiss='modal', ng-click="vm.deleteAlipayAcc()") {{"DELETE" | translate}}

#modalAddAlipayGroup.modal.fade(tabindex='-1', role='dialog', data-backdrop='static', keyboard=false,aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
        .modal-content
            .modal-header
                a.fa.fa-times.close(type='button', data-dismiss='modal')
                h4.modal-title {{"Add Alipay Group" | translate}}
            .modal-body
                .panel.panel-primary
                    .panel-body
                        .well
                            .form-group
                                .control-label {{"Alipay Group Name" | translate}}
                                input.form-control(type='text', ng-model='vm.newAlipayGroup.name')
                            .form-group
                                .control-label {{"Alipay Group Display Name" | translate}}
                                input.form-control(type='text', ng-model='vm.newAlipayGroup.displayName')
                            .form-group
                                .control-label {{"Alipay Group Code" | translate}}
                                input.form-control(type='text', ng-model='vm.newAlipayGroup.code')
            .modal-footer
                button.btn.btn-primary.common-button(data-dismiss='modal', ng-click="vm.addAlipayGroup(vm.newAlipayGroup)") {{"CONFIRM" | translate}}
                button.btn.btn-warning.common-button(data-dismiss='modal') {{"CANCEL" | translate}}
#modalRemoveAlipayGroup.modal.fade(tabindex='-1', role='dialog', data-backdrop='static', keyboard=false,aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
        .modal-content
            .modal-header
                a.fa.fa-times.close(type='button', data-dismiss='modal')
                h4.modal-title {{"Remove Alipay Group" | translate}}
            .modal-body
                .panel.panel-primary
                    .panel-body
                        .well
                            .form-group
                                .control-label {{"Alipay Group Name" | translate}}
                                label {{vm.SelectedAlipayGroupNode.name}}
            .modal-footer
                button.btn.btn-primary.common-button(data-dismiss='modal', ng-click="vm.removeAlipayGroup(vm.SelectedAlipayGroupNode)") {{"CONFIRM" | translate}}
                button.btn.btn-warning.common-button(data-dismiss='modal') {{"CANCEL" | translate}}
#modalRenameAlipayGroup.modal.fade(tabindex='-1', role='dialog', data-backdrop='static', keyboard=false,aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
        .modal-content
            .modal-header
                a.fa.fa-times.close(type='button', data-dismiss='modal')
                h4.modal-title {{"Rename Alipay Group" | translate}}
            .modal-body
                .panel.panel-primary
                    .panel-body
                        .well
                            .form-group
                                .control-label {{"Alipay Group Name" | translate}}
                                input.form-control(type='text', ng-model='vm.newAlipayGroup.name')
                            .form-group
                                .control-label {{"Alipay Group Display Name" | translate}}
                                input.form-control(type='text', ng-model='vm.newAlipayGroup.displayName')
                            .form-group
                                .control-label {{"Alipay Group Code" | translate}}
                                input.form-control(type='text', ng-model='vm.newAlipayGroup.code')
            .modal-footer
                button.btn.btn-primary.common-button(data-dismiss='modal', ng-click="vm.renameAlipayGroup()") {{"CONFIRM" | translate}}
                button.btn.btn-warning.common-button(data-dismiss='modal') {{"CANCEL" | translate}}
#modalSetAlipayGroupDefault.modal.fade(tabindex='-1', role='dialog', data-backdrop='static', keyboard=false,aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
        .modal-content
            .modal-header
                a.fa.fa-times.close(type='button', data-dismiss='modal')
                h4.modal-title {{"Alipay Group" | translate}}
            .modal-body
                .panel.panel-primary
                    .panel-body
                        .well
                            .form-group
                                label.control-label {{"Please choose default alipay group" | translate}}
                                div(ng-repeat='(i,v) in vm.platformAlipayGroupList')
                                    label {{v.name}} ({{v.displayName}})
                                        input.pull-left.margin-right-5(type='radio', name='defaultAlipayGroup', ng-model='vm.defaultAlipayGroup', ng-value='v._id')
            .modal-footer
                button.btn.btn-primary.common-button(data-dismiss='modal', ng-click="vm.submitDefaultAlipayGroup()") {{"CONFIRM" | translate}}
                button.btn.btn-warning.common-button(data-dismiss='modal') {{"CANCEL" | translate}}
#modalAddPlayersToAlipayGroup.modal.fade(tabindex='-1', role='dialog', data-backdrop='static', keyboard=false,aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
        .modal-content
            .modal-header
                a.fa.fa-times.close(type='button', data-dismiss='modal')
                h4.modal-title {{"ADD_PLAYER" | translate}}
            .modal-body
                .panel.panel-primary
                    .panel-body
                        label {{"Add Player to AliPay group"|translate}}&nbsp;:&nbsp;{{vm.SelectedAlipayGroupNode.name}}
                        br
                        .well
                            .inlineBlk.margin-right-5
                                label {{'alipayGroup' | translate}}
                                select.form-control(ng-model='vm.playerToGroupFilterObj.filter.alipayGroup')
                                    option(value='all') {{'ALL' | translate}}
                                    option(ng-repeat='(i,v) in vm.platformAlipayGroupList', value='{{v._id}}') {{v.name}}({{v.displayName}})
                            .inlineBlk.margin-right-5
                                label {{'PLAYER_LEVEL' | translate}}
                                select.form-control(ng-model='vm.playerToGroupFilterObj.filter.playerLevel')
                                    option(value='all') {{'ALL' | translate}}
                                    option(ng-repeat='(i,v) in vm.allPlayerLvl', value='{{v._id}}') {{v.name | translate}}
                            .inlineBlk.margin-right-5
                                label {{'USER_NAME' | translate}}
                                input.form-control(type='text', ng-model='vm.playerToGroupFilterObj.filter.name')
                            .inlineBlk.margin-right-5
                                label {{'MIN_TOPUP_TIMES' | translate}}
                                input.form-control(type='number', ng-model='vm.playerToGroupFilterObj.filter.topUpTimes')
                            .inlineBlk.margin-right-5
                                label {{'CREDIT' | translate}}
                                input.form-control(type='number', ng-model='vm.playerToGroupFilterObj.filter.validCredit')
                            .inlineBlk
                                button.btn.btn-primary.common-button(ng-click='vm.playerToGroupFilter(true,"alipay")') {{'SEARCH' | translate}}
                            .inlineBlk(ng-show='vm.loadingPlayerTable')
                                label.blink.text-danger {{'Loading' | translate}}
                        text.text-danger(ng-show='vm.players.length==0') {{"No player is found."|translate}}
                        label {{"Total" | translate}} {{vm.playerToGroupFilterObj.totalCount}} {{"records" | translate}}
                        table#playertoAlipayGroupDataTable.display(style="width:100%")
                            thead
                        #playertoAlipayGroupDataTablePage
            .modal-footer
                button.btn.btn-primary.common-button(ng-click="vm.submitAddPlayersToAlipayGroup()") {{"ADD" | translate}}
                button.btn.btn-warning.common-button(data-dismiss='modal') {{"CANCEL" | translate}}
#modalAddAllPlayersToAlipayGroup.modal.fade(tabindex='-1', role='dialog', data-backdrop='static', keyboard=false, aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
        .modal-content
            .modal-header
                a.fa.fa-times.close(type='button', data-dismiss='modal')
                h4.modal-title {{"ADD_PLAYER" | translate}}
            .modal-body
                .panel.panel-primary
                    .panel-body
                        .well
                            label {{"Add All Player to Alipay group"|translate}}&nbsp;:&nbsp;{{vm.SelectedAlipayGroupNode.name}}
                            br
                            label {{"Please confirm your action." | translate}}
            .modal-footer
                button.btn.btn-primary.common-button(ng-show='!vm.addAllPlayerToAlipayResult' ng-click="vm.submitAddAllPlayersToAlipayGroup()") {{"CONFIRM" | translate}}
                button.btn.btn-warning.common-button(ng-show='!vm.addAllPlayerToAlipayResult' data-dismiss='modal') {{"CANCEL" | translate}}
                button.btn.btn-success.common-button(ng-show='vm.addAllPlayerToAlipayResult' data-dismiss='modal') {{"CONFIRM" | translate}}
                label(ng-show='vm.addAllPlayerToAlipayResult') {{vm.addAllPlayerToAlipayResult}}
#modalFilterAlipayStatus.modal.fade(tabindex='-1', role='dialog', data-backdrop='static', keyboard=false, aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog
            .modal-content
                .modal-header
                    a.fa.fa-times.close(type='button', data-dismiss='modal')
                    h4.modal-title {{"Alipay" | translate}} {{"Show Options" | translate}}
                .modal-body
                    .panel.panel-primary
                        .panel-body
                            .col-md-3(ng-repeat="(status, show) in vm.alipayStatusFilterOptions")
                                input(type="checkbox" ng-model="vm.alipayStatusFilterOptions[status]")
                                span {{status === "DISABLED" ? "DISABLE" : status | translate}}
                .modal-footer
                    button.btn.btn-primary.common-button(data-dismiss='modal') {{"CONFIRM" | translate}}
