.col-sm-12(ng-if='!vm.curPlatformText')
    .text-center
        label.text-danger {{"NO_PLATFORM_MESSAGE" | translate}}
.row(ng-if='vm.curPlatformText')
    .col-md-2
        .panel.panel-primary(style="min-height:610px")
            .panel-heading.panel-heading-sm
                label {{"WechatPay Group" | translate}}
            .panel-body
                div(ng-show="vm.paymentSystemName === 'PMS' || vm.paymentSystemName === ''")
                    input#FPMSWechatPaymentGroup(type='radio' value='FPMS' ng-model="vm.wechatGroupUsed" ng-change="vm.loadWechatPayGroupData();")
                    label.radio-space(for='FPMSWechatPaymentGroup') {{"FPMS Group" | translate}}
                    input#PMSWechatPaymentGroup(type='radio' value='PMS' ng-model="vm.wechatGroupUsed" ng-change="vm.loadWechatPayGroupData()")
                    label.radio-space(for='PMSWechatPaymentGroup') {{"PMS Group" | translate}}
                div(ng-if='!vm.platformWechatPayGroupList || vm.platformWechatPayGroupList.length==0', style="height: 50px; overflow-y: auto;")
                    label.text-danger {{"NO_WECHATPAY_GROUP_MESSAGE" | translate}}
                ul.list-group(ng-if='vm.platformWechatPayGroupList.length > 0', style="height: 430px; overflow-y: auto;")
                    li.list-group-item(ng-repeat='(i,wechatPayGroup) in vm.platformWechatPayGroupList', ng-click='vm.wechatPayGroupClicked(i,wechatPayGroup)', ng-class='{active: vm.SelectedWechatPayGroupNode === wechatPayGroup}')
                        text {{wechatPayGroup.name}}
                        i.fa.fa-star.pull-right.margin-right-5(ng-show='wechatPayGroup.bDefault')
                div.paymentCard(ng-show="vm.paymentSystemName === 'PMS' || vm.paymentSystemName === ''")
                        label {{"PAYMENT_CARD_MODE" | translate}}
                        br
                        input#wechatPayFPMSGroupSetting(type='radio' value='false' ng-model="vm.wechatPayGroupPMS" ng-disabled="!checkViewPermission('Payment', 'WechatPayGroup', 'UpdateCardGroupType')")
                        label.radio-space(for='wechatPayFPMSGroupSetting') {{"FPMS Group" | translate}}
                        input#wechatPayPMSGroupSetting(ng-if='!vm.selectedPlatform.data.financialSettlement.financialSettlementToggle && !vm.selectedPlatform.data.isFPMSPaymentSystem' type='radio' value='true' ng-model="vm.wechatPayGroupPMS" ng-disabled="!checkViewPermission('Payment', 'WechatPayGroup', 'UpdateCardGroupType')")
                        label.radio-space(ng-if='!vm.selectedPlatform.data.financialSettlement.financialSettlementToggle && !vm.selectedPlatform.data.isFPMSPaymentSystem' for='wechatPayPMSGroupSetting') {{"PMS Group" | translate}}
                        br
                        button.btn.btn-primary(ng-click="vm.updateIsPMSGroup(vm.wechatPayGroupPMS, 'wechatPayGroupIsPMS')" ng-if="checkViewPermission('Payment', 'WechatPayGroup', 'UpdateCardGroupType')") {{"CONFIRMATION" | translate}}
                br
                .btn-group.text-center(role="group" ng-show="vm.paymentSystemName === 'PMS' || vm.paymentSystemName === ''")
                    button.btn.btn-primary.vertical-button-group(ng-if="((vm.selectedPlatform.data.financialSettlement && vm.selectedPlatform.data.financialSettlement.financialSettlementToggle) || vm.selectedPlatform.data.isFPMSPaymentSystem) && checkViewPermission('Payment', 'WechatPayGroup', 'CreateWechatPay')", data-toggle="modal", ng-click='vm.newWechatpayAcc={};', data-target='#modalAddNewWechatpay')
                        img.img-create
                        text {{"CreateWechatPay" | translate}}
                    button.btn.btn-primary.vertical-button-group(ng-if="checkViewPermission('Payment', 'WechatPayGroup', 'Create') && vm.wechatGroupUsed != 'PMS'", data-toggle="modal", ng-click='vm.newWechatPayGroup={};', data-target='#modalAddWechatPayGroup')
                        img.img-create
                        text {{"ADD" | translate}}
                    button.btn.btn-primary.vertical-button-group(ng-if="checkViewPermission('Payment', 'WechatPayGroup', 'Delete') && vm.wechatGroupUsed != 'PMS'", ng-disabled="!vm.selectedPlatform || !vm.SelectedWechatPayGroupNode", data-toggle="modal", data-target='#modalRemoveWechatPayGroup', ng-click='')
                        img.img-delete
                        text {{"DELETE" | translate}}
                    button.btn.btn-primary.vertical-button-group(ng-if="checkViewPermission('Payment', 'WechatPayGroup', 'Update') && vm.wechatGroupUsed != 'PMS'", ng-disabled="!vm.selectedPlatform || !vm.SelectedWechatPayGroupNode", data-toggle="modal", data-target='#modalRenameWechatPayGroup', ng-click='vm.initRenameWechatPayGroup()')
                        img.img-edit
                        text {{"EDIT" | translate}}
                    button.btn.btn-primary.vertical-button-group(ng-if="checkViewPermission('Payment', 'WechatPayGroup', 'Update') && vm.wechatGroupUsed != 'PMS'", ng-disabled="!vm.selectedPlatform || !(vm.platformWechatPayGroupList.length>0)", data-toggle="modal", data-target='#modalSetWechatPayGroupDefault')
                        img.img-edit
                        text {{"Default" | translate}}
                    button.btn.btn-primary.vertical-button-group(ng-if="checkViewPermission('Payment', 'WechatPayGroup', 'AddPlayer') && vm.wechatGroupUsed != 'PMS'", ng-disabled="!vm.selectedPlatform || !vm.SelectedWechatPayGroupNode", data-toggle="modal", data-target='#modalAddPlayersToWechatPayGroup', ng-click='vm.preparePlayerToGroupDialog("WechatPayGroup","#playertoWechatPayGroupDataTable")')
                        img.img-create
                        text {{"ADD_PLAYER" | translate}}
                    button.btn.btn-primary.vertical-button-group(ng-if="checkViewPermission('Payment', 'WechatPayGroup', 'AddAllPlayer') && vm.wechatGroupUsed != 'PMS'", ng-disabled="!vm.selectedPlatform || !vm.SelectedWechatPayGroupNode", data-toggle="modal", data-target='#modalAddAllPlayersToWechatPayGroup', ng-click='vm.addAllPlayerToWechatResult=""')
                        img.img-create
                        text {{"ADD_ALL_PLAYER" | translate}}
    .col-md-10(style="padding-left:0;padding-right:15px")
        .panel.panel-primary(style="min-height:610px")
            .panel-heading.panel-heading-sm
                label {{"WechatPay Group" | translate}} : {{vm.SelectedWechatPayGroupNode.name}} ({{vm.SelectedWechatPayGroupNode.displayName}})
            .panel-body
                .text-center(ng-if='!vm.SelectedWechatPayGroupNode')
                    label.text-danger {{"NO_WECHATPAY_GROUP_MESSAGE" | translate}}
                .well
                    .search-filters-item
                        .control-label {{"Wechat Account" | translate}}
                        input.form-control.merchantNoList(ng-model='vm.filterWechatAccount',type='text')
                    .search-filters-item
                        .control-label {{"Wechat Name" | translate}}
                        input.form-control.merchantNoList(ng-model='vm.filterWechatName', type='text')
                    .search-filters-item
                        .control-label {{"Wechat Nickname" | translate}}
                        input.form-control.merchantNoList(ng-model='vm.filterWechatNickname', type='text')
                    .threeBoxes(ng-if="vm.wechatGroupUsed != 'PMS' && vm.paymentSystemName !== 'PMS2'")
                        .control-label {{"isInGroup" | translate}}
                        select.form-control.merchantNoList(ng-model='vm.filterWechatInGroup', ng-init='vm.filterWechatInGroup="all"')
                            option(value='all') {{'any' | translate}}
                            option(value='false') {{'noInGroup' | translate}}
                            option(value='true') {{'inGroup' | translate}}
                    .search-filters-item(ng-if="vm.wechatGroupUsed == 'PMS' || vm.paymentSystemName === 'PMS2'")
                        .control-label {{"Player's Name (PMS Group Search)" | translate}}
                        input.form-control(type='text', ng-model='vm.pmsGroupPlayerName', ng-change='vm.searchPMSWechatGroup()')
                    .text-right.widthto100(ng-if="vm.wechatGroupUsed == 'PMS' || vm.paymentSystemName === 'PMS2'")
                        button.btn.btn-primary(data-dismiss='modal', ng-click="vm.playerPMSWechatGroupSearch()") {{"SEARCH" | translate}}
                //    .inlineBlk.margin-right-5
                //        .control-label {{"Wechat Account" | translate}}
                //        select.input-sm.form-control.merchantNoList(id="selectWechatAccount" ng-model='vm.filterWechatPayAcc', ng-options="a.accountNumber for a in vm.allWechatList", style='max-width:200px', ng-init='vm.filterWechatPayAcc="all"' ng-change='vm.WechatPayAccChanged();',multiple,bsp,rddl)
                //        select.input-sm.form-control(ng-model='vm.filterWechatPayAcc', style='max-width:200px', ng-init='vm.filterWechatPayAcc="all"' ng-change='vm.WechatPayAccChanged();')
                //            option(value='all') {{'any' | translate}}
                //            option(ng-repeat='(i,v) in vm.allWechatList', value='{{i}}') {{v.accountNumber | translate}}
                //    .inlineBlk.margin-right-5
                //        .control-label {{"Wechat Nickname" | translate}}
                //        select.input-sm.form-control.merchantNoList(id="selectWechatNickname" ng-model='vm.filterWechatPayName', ng-options="a.nickName for a in vm.allWechatList", style='max-width:200px', ng-init='vm.filterWechatPayName="all"' ng-change='vm.WechatPayNameChanged();',multiple,bsp,rddl)
                //        select.input-sm.form-control(ng-model='vm.filterWechatPayName', style='max-width:200px', ng-init='vm.filterWechatPayName="all"' ng-change='vm.WechatPayNameChanged();')
                //            option(value='all') {{'any' | translate}}
                //            option(ng-repeat='(i,v) in vm.allWechatList', value='{{i}}') {{v.name | translate}}
                //    .inlineBlk.margin-right-5
                //        .control-label {{"TITLE" | translate}}
                //        input.input-sm.form-control(type='text', ng-model='vm.filterWechatPayTitle')
                //    .inlineBlk.margin-right-5
                //        .control-label {{"ACCOUNT" | translate}}
                //        input.input-sm.form-control(type='text', ng-model='vm.filterWechatPayAcc')
                //    .inlineBlk
                //        button.btn.btn-primary.common-button(data-dismiss='modal', ng-click="vm.wechatPayGroupClicked(1,vm.SelectedWechatPayGroupNode)") {{"FILTER" | translate}}
                //        button.btn.btn-primary.common-button(data-dismiss='modal', ng-click="vm.wechatPayFilter(1,vm.SelectedWechatPayGroupNode)") {{"FILTER" | translate}}
                //#WechatPayList.panel-group(ng-if='vm.SelectedWechatPayGroupNode')
                //    .panel.panel-default
                //        .panel-heading.panel-heading-sm(data-toggle='collapse', data-parent="#WechatPayList", href='#includedWechatPays', ng-click='vm.showWechatPayCate="include";vm.toggleBankType()')
                //            h4.panel-title
                //                text {{'Included WechatPays' | translate}}
                //                span(ng-if='vm.includedWechatPays') &nbsp;:&nbsp;({{vm.includedWechatPays.length}})
                //                text.blink.margin-left-5.text-danger(ng-if='!vm.includedWechatPays') {{'Loading WechatPays' | translate}}...
                //        #includedWechatPays.panel-collapse.collapse.in
                //            .panel-body(style='height:250px;overflow-y:auto')
                //                a.platformBankcardDiv(ng-repeat='(i,v) in vm.includedWechatPays', class='{{vm.highlightWechatPay[v.accountNumber]}}', ng-click='vm.wechatPayClicked(i,v,"in")')
                //                    table.bg-pale
                //                        tr
                //                            td {{'STATUS' | translate}}
                //                            td(ng-class="{'text-disabled': v.state === 'DISABLED'}").text-success {{v.state| translate}}
                //                        tr
                //                            td {{'Wechat Account' | translate}}
                //                            td.text-success {{v.accountNumber}}
                //                        tr
                //                            td {{'Wechat Name' | translate}}
                //                            td.text-success {{v.name}}
                //                        tr
                //                            td {{'Wechat Nickname' | translate}}
                //                            td.text-success {{v.nickName}}
                //                        tr
                //                            td {{'SINGLE_LIMIT' | translate}}
                //                            td.text-success {{v.singleLimit}}
                //                        tr
                //                            td {{'DAY_LIMIT' | translate}}
                //                            td.text-success {{v.quota}}
                //                        //tr
                //                        //    td.text-center(rowspan="5")
                //                        //        i.fa.fa-money.text-danger
                //                        //    td {{'TITLE' | translate}}
                //                        //    td.text-success {{v.name}}
                //                        //tr
                //                        //    td {{'ACCOUNT' | translate}}
                //                        //    td.text-success {{v.accountNumber}}
                //                        //tr
                //                        //    td {{'QUOTA' | translate}}
                //                        //    td.text-success {{v.quota}}
                //                        //tr
                //                        //    td {{'STATE' | translate}}
                //                        //    td.text-success {{v.state | translate}}
                //    .panel.panel-default
                //        .panel-heading.panel-heading-sm(data-toggle='collapse', data-parent="#WechatPayList", href='#excludedWechatPays', ng-click='vm.showWechatPayCate="exclude";vm.toggleBankType()')
                //            h4.panel-title
                //                text {{'Excluded WechatPays' | translate}}
                //                span(ng-if='vm.excludedWechatPays') &nbsp;:&nbsp;({{vm.excludedWechatPays.length}})
                //                text.blink.margin-left-5.text-danger(ng-if='!vm.excludedWechatPays') {{'Loading WechatPays' | translate}}...
                //        #excludedWechatPays.panel-collapse.collapse
                //            .panel-body(style='height:250px;overflow-y:auto')
                //                a.platformBankcardDiv(ng-repeat='(i,v) in vm.excludedWechatPays', class='{{vm.highlightWechatPay[v.accountNumber]}}', ng-click='vm.wechatPayClicked(i,v,"ex")')
                //                    table.bg-pale
                //                        tr
                //                            td {{'STATUS' | translate}}
                //                            td(ng-class="{'text-disabled': v.state === 'DISABLED'}").text-success {{v.state| translate}}
                //                        tr
                //                            td {{'Wechat Account' | translate}}
                //                            td.text-success {{v.accountNumber}}
                //                        tr
                //                            td {{'Wechat Name' | translate}}
                //                            td.text-success {{v.name}}
                //                        tr
                //                            td {{'Wechat Nickname' | translate}}
                //                            td.text-success {{v.nickName}}
                //                        tr
                //                            td {{'SINGLE_LIMIT' | translate}}
                //                            td.text-success {{v.singleLimit}}
                //                        tr
                //                            td {{'DAY_LIMIT' | translate}}
                //                            td.text-success {{v.quota}}
                //                        //tr
                //                        //    td.text-center(rowspan="5")
                //                        //        i.fa.fa-money.text-danger
                //                        //    td {{'TITLE' | translate}}
                //                        //    td.text-success {{v.name}}
                //                        //tr
                //                        //    td {{'ACCOUNT' | translate}}
                //                        //    td.text-success {{v.accountNumber}}
                //                        //tr
                //                        //    td {{'QUOTA' | translate}}
                //                        //    td.text-success {{v.quota}}
                //                        //tr
                //                        //    td {{'STATE' | translate}}
                //                        //    td.text-success {{v.state | translate}}
                //.panel.panel-info(ng-if='vm.curWechatPay')
                //    .panel-heading.panel-heading-sm
                //        h4.panel-title(style='display:inline-block') {{'WechatPay' | translate}} : {{vm.curWechatPay.name}}
                //    .panel-body(style='padding:5px')
                //        .wechatPayPropFlex
                //            .wechatPayPropdiv
                //                text {{'wechatPayAccount' | translate}}
                //                label.text-success {{vm.curWechatPay.accountNumber}}
                //            .wechatPayPropdiv
                //                text {{'TITLE' | translate}}
                //                label.text-success {{vm.curWechatPay.name}}
                //div(ng-if='vm.curWechatPay')
                //    div(ng-if='vm.showWechatPayCate=="include"')
                //        button.btn.btn-primary.common-button.pull-right(ng-if="checkViewPermission('Payment', 'WechatPayGroup', 'Update')", ng-click='vm.wechatPaytoWechatPayGroup("detach")')
                //            i.fa.fa-minus-square
                //            text {{"EXCLUDE" | translate}}
                //    div(ng-if='vm.showWechatPayCate=="exclude"')
                //        button.btn.btn-primary.common-button.pull-right(ng-if="checkViewPermission('Payment', 'WechatPayGroup', 'Update')", ng-click='vm.wechatPaytoWechatPayGroup("attach")')
                //            i.fa.fa-plus-square
                //            text {{"INCLUDE" | translate}}
                text.blink.margin-left-5.text-danger(ng-if='vm.SelectedWechatPayGroupNode && !vm.allWechatList') {{'Loading WechatPays' | translate}}...
                text.margin-left-5(ng-if='vm.SelectedWechatPayGroupNode && vm.allWechatList') {{'Total' | translate}}: {{filteredWechatList.length}}
                table#wechatTable.simple-table.table-vertical-middle
                    thead
                        th(ng-show="vm.wechatGroupUsed == 'FPMS' && vm.paymentSystemName !== 'PMS2'") {{ 'select' | translate }}
                        th(data-toggle="modal", data-target="#modalFilterWechatStatus", style="cursor: pointer") {{ 'STATUS' | translate }}
                        th {{ 'Wechat Account' | translate }}
                        th {{ 'Wechat Name' | translate }}
                        th {{ 'Wechat Nickname' | translate }}
                        th {{ 'SINGLE_LIMIT' | translate }}
                        th {{ 'DAY_LIMIT' | translate }}
                    tbody
                        tr(ng-repeat="(idx,val) in vm.allWechatList | filter: vm.filterWechat as filteredWechatList" style='{{ !val.isInGroup ? "background-color: grey;": "" }}')
                            td(ng-show="vm.wechatGroupUsed == 'FPMS' && vm.paymentSystemName !== 'PMS2'")
                                input(type="checkbox" ng-model="val.isCheck" ng-change="vm.wechatListUncheckDifferentGroup(val.isCheck, val.isInGroup);")
                            td {{ val.state === 'DISABLED' ? 'DISABLE' : val.state | translate}}
                            td {{ val.accountNumber | translate}}
                            td {{ val.name | translate}}
                            td {{ val.nickName | translate}}
                            td {{ val.singleLimit | translate}}
                            td {{ val.dailyLimit | translate}}
                br
                .text-right.widthto100(ng-show="vm.paymentSystemName === 'PMS' || vm.paymentSystemName === ''")
                    button.btn.btn-info.btn-space(ng-click="vm.selectWechatGroup(true)" ng-if="vm.wechatGroupUsed != 'PMS'") {{"Select All" | translate}}
                    button.btn.btn-info.btn-space(ng-click="vm.selectWechatGroup(false)" ng-if="vm.wechatGroupUsed != 'PMS'") {{"Clear All" | translate}}
                    button.btn.btn-primary.btn-space(ng-if="((vm.selectedPlatform.data.financialSettlement && vm.selectedPlatform.data.financialSettlement.financialSettlementToggle) || vm.selectedPlatform.data.isFPMSPaymentSystem) && vm.allWechatList.length > 0 && checkViewPermission('Payment', 'WechatPayGroup', 'EditWechatPay') && vm.wechatGroupUsed != 'PMS'" ng-click="vm.showEditWechatPayInfo()" ng-disabled="vm.disableEditWechatPay()", data-toggle="modal", data-target='#modalEditWechatPay')
                        img.img-edit.symbol
                        text {{"EditWechatPay" | translate}}
                    button.btn.btn-primary.btn-space(ng-if="checkViewPermission('Payment', 'WechatPayGroup', 'Update') && vm.wechatGroupUsed != 'PMS'" ng-click='vm.wechatPaytoWechatPayGroup("attach")')
                        i.fa.fa-plus-square.symbol
                        text {{"INCLUDE" | translate}}
                    button.btn.btn-primary.btn-space(ng-if="checkViewPermission('Payment', 'WechatPayGroup', 'Update') && vm.wechatGroupUsed != 'PMS'" ng-click='vm.wechatPaytoWechatPayGroup("detach")')
                        i.fa.fa-minus-square.symbol
                        text {{"EXCLUDE" | translate}}

#modalAddNewWechatpay.modal.fade(tabindex='-1', role='dialog', data-backdrop='static', keyboard=false,aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
        .modal-content
            .modal-header
                a.fa.fa-times.close(type='button', data-dismiss='modal')
                h4.modal-title {{"CreateWechatPay" | translate}}
            .modal-body
                .panel.panel-primary
                    .panel-body
                        .form-group.col-md-6
                            .control-label {{"STATE" | translate}}
                             select.form-control(ng-model='vm.newWechatpayAcc.state')
                                    option(ng-repeat='(i,v) in vm.paymentListState', value='{{v}}') {{v | translate}}
                        .form-group.col-md-6
                            .control-label {{"Wechat Account" | translate}}
                            input.form-control(type='text', ng-model='vm.newWechatpayAcc.accountNumber')
                        .form-group.col-md-6
                            .control-label {{"Wechat Name" | translate}}
                            input.form-control(type='text', ng-model='vm.newWechatpayAcc.name')
                        .form-group.col-md-6
                            .control-label {{"Wechat Nickname" | translate}}
                            input.form-control(type='text', ng-model='vm.newWechatpayAcc.nickName')
                        .form-group.col-md-6
                            .control-label {{"SINGLE_LIMIT" | translate}}
                            input.form-control(type='text', ng-model='vm.newWechatpayAcc.singleLimit')
                        .form-group.col-md-6
                            .control-label {{"DAY_LIMIT" | translate}}
                            input.form-control(type='text', ng-model='vm.newWechatpayAcc.quota')
            .modal-footer
                button.btn.btn-primary.common-button(data-dismiss='modal', ng-click="vm.createNewWechatpayAcc()", ng-disabled="vm.checkCreateNewWechatpay()") {{"CONFIRM" | translate}}
                button.btn.btn-warning.common-button(data-dismiss='modal') {{"CANCEL" | translate}}

#modalEditWechatPay.modal.fade(tabindex='-1', role='dialog', data-backdrop='static', keyboard=false,aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
        .modal-content
            .modal-header
                a.fa.fa-times.close(type='button', data-dismiss='modal')
                h4.modal-title {{"EditWechatPay" | translate}}
            .modal-body
                .panel.panel-primary
                    .panel-body
                        .form-group.col-md-6
                            .control-label {{"STATE" | translate}}
                                select.form-control(ng-model='vm.selectedWechatPay.state')
                                    option(ng-repeat='(i,v) in vm.paymentListState', value='{{v}}') {{v === 'DISABLED' ? 'DISABLE' : v | translate}}
                        .form-group.col-md-6
                            .control-label {{"Wechat Account" | translate}}
                            input.form-control(type='text', ng-model='vm.selectedWechatPay.accountNumber')
                        .form-group.col-md-6
                            .control-label {{"Wechat Name" | translate}}
                            input.form-control(type='text', ng-model='vm.selectedWechatPay.name')
                        .form-group.col-md-6
                            .control-label {{"Wechat Nickname" | translate}}
                            input.form-control(type='text', ng-model='vm.selectedWechatPay.nickName')
                        .form-group.col-md-6
                            .control-label {{"SINGLE_LIMIT" | translate}}
                            input.form-control(type='Number', ng-model='vm.selectedWechatPay.singleLimit', style='text-align:left!important')
                        .form-group.col-md-6
                            .control-label {{"DAY_LIMIT" | translate}}
                            input.form-control(type='Number', ng-model='vm.selectedWechatPay.quota', style='text-align:left!important')
            .modal-footer
                button.btn.btn-primary.common-button(data-dismiss='modal', ng-click="vm.editWechatPayAcc()", ng-disabled="vm.validateEditWechatPay()") {{"CONFIRM" | translate}}
                button.btn.btn-warning.common-button(data-dismiss='modal') {{"CANCEL" | translate}}
                button.btn.btn-danger.common-button(data-dismiss='modal', ng-click="vm.deleteWechatPayAcc()") {{"DELETE" | translate}}

// Modal - add wechat pay group
#modalAddWechatPayGroup.modal.fade(tabindex='-1', role='dialog', data-backdrop='static', keyboard=false, aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
        .modal-content
            .modal-header
                a.fa.fa-times.close(type='button', data-dismiss='modal')
                h4.modal-title {{"Add WechatPay Group" | translate}}
            .modal-body
                .panel.panel-primary
                    .panel-body
                        .well
                            .form-group
                                .control-label {{"WechatPay Group Name" | translate}}
                                input.form-control(type='text', ng-model='vm.newWechatPayGroup.name')
                            .form-group
                                .control-label {{"WechatPay Group Display Name" | translate}}
                                input.form-control(type='text', ng-model='vm.newWechatPayGroup.displayName')
                            .form-group
                                .control-label {{"WechatPay Group Code" | translate}}
                                input.form-control(type='text', ng-model='vm.newWechatPayGroup.code')
            .modal-footer
                button.btn.btn-primary.common-button(data-dismiss='modal', ng-click="vm.addWechatPayGroup(vm.newWechatPayGroup)") {{"CONFIRM" | translate}}
                button.btn.btn-warning.common-button(data-dismiss='modal') {{"CANCEL" | translate}}

// Modal - Remove wechat pay group
#modalRemoveWechatPayGroup.modal.fade(tabindex='-1', role='dialog', data-backdrop='static', keyboard=false, aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
        .modal-content
            .modal-header
                a.fa.fa-times.close(type='button', data-dismiss='modal')
                h4.modal-title {{"Remove WechatPay Group" | translate}}
            .modal-body
                .panel.panel-primary
                    .panel-body
                        .well
                            .form-group
                                .control-label {{"WechatPay Group Name" | translate}}
                                label {{vm.SelectedWechatPayGroupNode.name}}
            .modal-footer
                button.btn.btn-primary.common-button(data-dismiss='modal', ng-click="vm.removeWechatPayGroup(vm.SelectedWechatPayGroupNode)") {{"CONFIRM" | translate}}
                button.btn.btn-warning.common-button(data-dismiss='modal') {{"CANCEL" | translate}}

// Modal - Rename wechat pay group
#modalRenameWechatPayGroup.modal.fade(tabindex='-1', role='dialog', data-backdrop='static', keyboard=false, aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
        .modal-content
            .modal-header
                a.fa.fa-times.close(type='button', data-dismiss='modal')
                h4.modal-title {{"Rename WechatPay Group" | translate}}
            .modal-body
                .panel.panel-primary
                    .panel-body
                        .well
                            .form-group
                                .control-label {{"WechatPay Group Name" | translate}}
                                input.form-control(type='text', ng-model='vm.newWechatPayGroup.name')
                            .form-group
                                .control-label {{"WechatPay Group Display Name" | translate}}
                                input.form-control(type='text', ng-model='vm.newWechatPayGroup.displayName')
                            .form-group
                                .control-label {{"WechatPay Group Code" | translate}}
                                input.form-control(type='text', ng-model='vm.newWechatPayGroup.code')
            .modal-footer
                button.btn.btn-primary.common-button(data-dismiss='modal', ng-click="vm.renameWechatPayGroup()") {{"CONFIRM" | translate}}
                button.btn.btn-warning.common-button(data-dismiss='modal') {{"CANCEL" | translate}}

// Modal - Set default wechat pay group
#modalSetWechatPayGroupDefault.modal.fade(tabindex='-1', role='dialog', data-backdrop='static', keyboard=false, aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
        .modal-content
            .modal-header
                a.fa.fa-times.close(type='button', data-dismiss='modal')
                h4.modal-title {{"WechatPay Group" | translate}}
            .modal-body
                .panel.panel-primary
                    .panel-body
                        .well
                            .form-group
                                label.control-label {{"Please choose default WechatPay group" | translate}}
                                div(ng-repeat='(i,v) in vm.platformWechatPayGroupList')
                                    label {{v.name}} ({{v.displayName}})
                                        input.pull-left.margin-right-5(type='radio', name='defaultWechatPayGroup', ng-model='vm.defaultWechatPayGroup', ng-value='v._id')
            .modal-footer
                button.btn.btn-primary.common-button(data-dismiss='modal', ng-click="vm.submitDefaultWechatPayGroup()") {{"CONFIRM" | translate}}
                button.btn.btn-warning.common-button(data-dismiss='modal') {{"CANCEL" | translate}}

// Modal - Add players to wechat pay group
#modalAddPlayersToWechatPayGroup.modal.fade(tabindex='-1', role='dialog', data-backdrop='static', keyboard=false, aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
        .modal-content
            .modal-header
                a.fa.fa-times.close(type='button', data-dismiss='modal')
                h4.modal-title {{"ADD_PLAYER" | translate}}
            .modal-body
                .panel.panel-primary
                    .panel-body
                        label {{"Add Player to WechatPay group"|translate}}&nbsp;:&nbsp;{{vm.SelectedWechatPayGroupNode.name}}
                        br
                        .well
                            .inlineBlk.margin-right-5
                                label {{'WechatPayGroup' | translate}}
                                select.form-control(ng-model='vm.playerToGroupFilterObj.filter.wechatPayGroup')
                                    option(value='all') {{'ALL' | translate}}
                                    option(ng-repeat='(i,v) in vm.platformWechatPayGroupList', value='{{v._id}}') {{v.name}}({{v.displayName}})
                            .inlineBlk.margin-right-5
                                label {{'PLAYER_LEVEL' | translate}}
                                select.form-control(ng-model='vm.playerToGroupFilterObj.filter.playerLevel')
                                    option(value='all') {{'ALL' | translate}}
                                    option(ng-repeat='(i,v) in vm.allPlayerLvl', value='{{v._id}}') {{v.name | translate}}
                            .inlineBlk.margin-right-5
                                label {{'USER_NAME' | translate}}
                                input.form-control(type='text', ng-model='vm.playerToGroupFilterObj.filter.name')
                            .inlineBlk.margin-right-5
                                label {{'MIN_TOPUP_TIMES' | translate}}
                                input.form-control(type='number', ng-model='vm.playerToGroupFilterObj.filter.topUpTimes')
                            .inlineBlk.margin-right-5
                                label {{'CREDIT' | translate}}
                                input.form-control(type='number', ng-model='vm.playerToGroupFilterObj.filter.validCredit')
                            .inlineBlk
                                button.btn.btn-primary.common-button(ng-click='vm.playerToGroupFilter(true,"wechatPay")') {{'SEARCH' | translate}}
                            .inlineBlk(ng-show='vm.loadingPlayerTable')
                                label.blink.text-danger {{'Loading' | translate}}
                        text.text-danger(ng-show='vm.players.length==0') {{"No player is found."|translate}}
                        label {{"Total" | translate}} {{vm.playerToGroupFilterObj.totalCount}} {{"records" | translate}}
                        table#playertoWechatPayGroupDataTable.display(style="width:100%")
                            thead
                        #playertoWechatPayGroupDataTablePage
            .modal-footer
                button.btn.btn-primary.common-button(ng-click="vm.submitAddPlayersToWechatPayGroup()") {{"ADD" | translate}}
                button.btn.btn-warning.common-button(data-dismiss='modal') {{"CANCEL" | translate}}
#modalAddAllPlayersToWechatPayGroup.modal.fade(tabindex='-1', role='dialog', data-backdrop='static', keyboard=false, aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
        .modal-content
            .modal-header
                a.fa.fa-times.close(type='button', data-dismiss='modal')
                h4.modal-title {{"ADD_PLAYER" | translate}}
            .modal-body
                .panel.panel-primary
                    .panel-body
                        .well
                            label {{"Add All Player to WechatPay group"|translate}}&nbsp;:&nbsp;{{vm.SelectedWechatPayGroupNode.name}}
                            br
                            label {{"Please confirm your action." | translate}}
            .modal-footer
                button.btn.btn-primary.common-button(ng-show='!vm.addAllPlayerToWechatResult' ng-click="vm.submitAddAllPlayersToWechatPayGroup()") {{"CONFIRM" | translate}}
                button.btn.btn-warning.common-button(ng-show='!vm.addAllPlayerToWechatResult' data-dismiss='modal') {{"CANCEL" | translate}}
                button.btn.btn-success.common-button(ng-show='vm.addAllPlayerToWechatResult' data-dismiss='modal') {{"CONFIRM" | translate}}
                label(ng-show='vm.addAllPlayerToWechatResult') {{vm.addAllPlayerToWechatResult}}

#modalFilterWechatStatus.modal.fade(tabindex='-1', role='dialog', data-backdrop='static', keyboard=false, aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
        .modal-content
            .modal-header
                a.fa.fa-times.close(type='button', data-dismiss='modal')
                h4.modal-title {{"WECHAT" | translate}} {{"Show Options" | translate}}
            .modal-body
                .panel.panel-primary
                    .panel-body
                        .col-md-3(ng-repeat="(status, show) in vm.wechatStatusFilterOptions")
                            input(type="checkbox" ng-model="vm.wechatStatusFilterOptions[status]")
                            span {{status === "DISABLED" ? "DISABLE" : status | translate}}
            .modal-footer
                button.btn.btn-primary.common-button(data-dismiss='modal') {{"CONFIRM" | translate}}
