style.
    .bg-secondary {
        background-color: #868E96;
    }
.col-sm-12(ng-if='!vm.curPlatformText')
    .text-center
        label.text-danger {{"NO_PLATFORM_MESSAGE" | translate}}
.row(ng-if='vm.curPlatformText')
    .col-md-2
        .panel.panel-primary(style="min-height:610px")
            .panel-heading.panel-heading-sm
                label {{"Bankcard Group" | translate}}
            .panel-body
                div
                    input#FPMSPaymentGroup(type='radio' value='FPMS' ng-model="vm.groupUsed" ng-change="vm.getAllBankCard();vm.loadBankCardGroup()")
                    label.radio-space(for='FPMSPaymentGroup') {{"FPMS Group" | translate}}
                    input#PMSPaymentGroup(type='radio' value='PMS' ng-model="vm.groupUsed" ng-change="vm.loadBankCardGroup()")
                    label.radio-space(for='PMSPaymentGroup') {{"PMS Group" | translate}}
                div(ng-if='!vm.platformBankCardGroupList || vm.platformBankCardGroupList.length==0', style="height: 50px; overflow-y: auto;")
                    label.text-danger {{"NO_BANKCARD_GROUP_MESSAGE" | translate}}
                //div#bankCardGroupTree(style="height: 430px; overflow-y: auto;")
                ul.list-group.treeview(ng-if='vm.platformBankCardGroupList.length > 0', style="height: 430px; overflow-y: auto;")
                    li.list-group-item(ng-repeat='(i,bankCardGroup) in vm.platformBankCardGroupList', ng-click='vm.bankCardGroupClicked(i,bankCardGroup)', ng-class='{active: vm.SelectedBankCardGroupNode === bankCardGroup}')
                        text {{bankCardGroup.name}}
                        i.fa.fa-star.pull-right.margin-right-5(ng-show='bankCardGroup.bDefault')
                div.paymentCard
                        label {{"PAYMENT_CARD_MODE" | translate}}
                        br
                        input#bankCardFPMSGroupSetting(type='radio' value='false' ng-model="vm.bankCardGroupPMS" ng-disabled="!checkViewPermission('Payment', 'BankCardGroup', 'UpdateCardGroupType')")
                        label.radio-space(for='bankCardFPMSGroupSetting') {{"FPMS Group" | translate}}
                        input#bankCardPMSGroupSetting(ng-if='!vm.selectedPlatform.data.financialSettlement.financialSettlementToggle' type='radio' value='true' ng-model="vm.bankCardGroupPMS" ng-disabled="!checkViewPermission('Payment', 'BankCardGroup', 'UpdateCardGroupType')")
                        label.radio-space(ng-if='!vm.selectedPlatform.data.financialSettlement.financialSettlementToggle' for='bankCardPMSGroupSetting') {{"PMS Group" | translate}}
                        br
                        button.btn.btn-primary(ng-click="vm.updateIsPMSGroup(vm.bankCardGroupPMS, 'bankCardGroupIsPMS')" ng-if="checkViewPermission('Payment', 'BankCardGroup', 'UpdateCardGroupType')") {{"CONFIRMATION" | translate}}
                br
                .btn-group.text-center(role="group")
                    button.btn.btn-primary.vertical-button-group(ng-if="vm.selectedPlatform.data.financialSettlement && vm.selectedPlatform.data.financialSettlement.financialSettlementToggle && checkViewPermission('Payment', 'BankCardGroup', 'CreateBankCard')", data-toggle="modal", ng-click='vm.newBankCardAcc={};', data-target='#modalAddNewBankCard')
                        img.img-create.
                        text {{"CreateBankCard" | translate}}
                    button.btn.btn-primary.vertical-button-group(ng-if="checkViewPermission('Payment', 'BankCardGroup', 'Create') && vm.groupUsed != 'PMS'", data-toggle="modal", ng-click='vm.newBankCardGroup={};vm.newBankCardGroup.parent=vm.SelectedBankCardGroupNode.id', data-target='#modalAddBankCardGroup')
                        img.img-create
                        text {{"ADD" | translate}}
                    button.btn.btn-primary.vertical-button-group(ng-if="checkViewPermission('Payment', 'BankCardGroup', 'Delete') && vm.groupUsed != 'PMS'", ng-disabled="!vm.selectedPlatform || !vm.SelectedBankCardGroupNode", data-toggle="modal", data-target='#modalRemoveBankCardGroup', ng-click='')
                        img.img-delete
                        text {{"DELETE" | translate}}
                    button.btn.btn-primary.vertical-button-group(ng-if="checkViewPermission('Payment', 'BankCardGroup', 'Update') && vm.groupUsed != 'PMS'", ng-disabled="!vm.selectedPlatform || !vm.SelectedBankCardGroupNode", data-toggle="modal", data-target='#modalRenameBankCardGroup', ng-click='vm.initRenameBankCardGroup()')
                        img.img-edit
                        text {{"EDIT" | translate}}
                    button.btn.btn-primary.vertical-button-group(ng-if="checkViewPermission('Payment', 'BankCardGroup', 'Update') && vm.groupUsed != 'PMS'", ng-disabled="!vm.selectedPlatform || !(vm.platformBankCardGroupList.length>0)", data-toggle="modal", data-target='#modalSetBankCardGroupDefault')
                        img.img-edit
                        text {{"Default" | translate}}
                    button.btn.btn-primary.vertical-button-group(ng-if="checkViewPermission('Payment', 'BankCardGroup', 'AddPlayer') && vm.groupUsed != 'PMS'", ng-disabled="!vm.selectedPlatform || !vm.SelectedBankCardGroupNode", data-toggle="modal", data-target='#modalAddPlayersToBankCardGroup', ng-click='vm.preparePlayerToGroupDialog("bankcardGroup","#playertoGroupDataTable")')
                        img.img-create
                        text {{"ADD_PLAYER" | translate}}
                    button.btn.btn-primary.vertical-button-group(ng-if="checkViewPermission('Payment', 'BankCardGroup', 'AddAllPlayer') && vm.groupUsed != 'PMS'", ng-disabled="!vm.selectedPlatform || !vm.SelectedBankCardGroupNode", data-toggle="modal", data-target='#modalAddAllPlayersToBankCardGroup', ng-click='vm.addAllPlayerToBankCardResult=""')
                        img.img-create
                        text {{"ADD_ALL_PLAYER" | translate}}
    .col-md-10(style="padding-left:0;padding-right:15px")
        .panel.panel-primary(style="min-height:610px")
            .panel-heading.panel-heading-sm
                label {{"Bankcard Group" | translate}} : {{vm.SelectedBankCardGroupNode.name}} ({{vm.SelectedBankCardGroupNode.displayName}})
            .panel-body
                .text-center(ng-if='!vm.SelectedBankCardGroupNode')
                    label.text-danger {{"NO_BANKCARD_GROUP_MESSAGE" | translate}}
                .col-sm-12(ng-class="{'col-sm-6':(vm.groupUsed == 'PMS')}")
                    .well
                        .search-filters-item
                            .control-label {{"Bank Card Name" | translate}}
                            input.form-control(type='text', ng-model='vm.bankCardFilterOptions.bankAccountName')
                        .search-filters-item
                            .control-label {{"BANK_ACCOUNT_NUMBER" | translate}}
                            input.form-control(type='text', ng-model='vm.bankCardFilterOptions.bankAccountNumber')
                        .threeBoxes(ng-if="vm.groupUsed != 'PMS'")
                            .control-label {{"IS_IN_GROUP" | translate}}
                            select.form-control(ng-model="vm.bankCardFilterOptions.included")
                                option(value='all') {{'any' | translate}}
                                option(value='yes') {{'IN_GROUP' | translate}}
                                option(value='no') {{'NOT_IN_GROUP' | translate}}
                        .text-right.widthto100
                            button.btn.btn-primary(data-dismiss='modal', ng-click="vm.bankCardsFilter()") {{"FILTER" | translate}}
                .col-sm-6(ng-if="vm.groupUsed == 'PMS'")
                    .well
                        .search-filters-item
                            .control-label {{"Player's Name (PMS Group Search)" | translate}}
                            input.form-control(type='text', ng-model='vm.pmsGroupPlayerName')
                        .text-right.widthto100
                            button.btn.btn-primary(data-dismiss='modal', ng-click="vm.playerPMSBankCardGroupSearch()") {{"SEARCH" | translate}}

                span {{"All Pages" | translate}}: {{vm.totalBankCardShows()}}
                table#bankCards.table(ng-if='vm.SelectedBankCardGroupNode')
                    thead
                        tr
                            th(ng-if='vm.groupUsed != "PMS"') {{'SELECT' | translate}}
                            th(data-toggle="modal", data-target="#modalFilterBankCardStatus", style="cursor: pointer")
                                u {{'STATUS' | translate}}
                            th(data-toggle="modal", data-target="#modalFilterBankCardType", style="cursor: pointer")
                                u {{'bankCardType' | translate}}
                            th {{'Bank Card Name' | translate}}
                            th {{'BANK_ACCOUNT_NUMBER' | translate}}
                            th {{'BANK_ACCOUNT_PROVINCE' | translate}}
                            th {{'BANK_ACCOUNT_CITY' | translate}}
                            th {{'BANK_ACCOUNT_BRANCH' | translate}}
                            th {{'SINGLE_LIMIT' | translate}}
                            th {{'DAY_LIMIT' | translate}}
                    tbody
                        tr(ng-repeat="v in vm.allBankCards" ng-class="{'bg-secondary': !v.included}" ng-show="v.show$")
                            td(ng-if='vm.groupUsed != "PMS"')
                                input(type="checkbox" ng-model="v.selected")
                            td.text-center(ng-class="{'text-disabled': v.state === 'DISABLED'}") {{v.status === 'DISABLED' ? 'DISABLE' : v.status | translate}}
                            td {{v.bankTypeId ? vm.getBankCardTypeTextbyId(v.bankTypeId) : ("VOID" | translate)}}
                            td {{v.name}}
                            td {{v.accountNumber}}
                            td {{v.provinceName}}
                            td {{v.cityName}}
                            td {{v.openingPoint}}
                            td {{v.singleLimit}}
                            td {{v.dailyLimit}}


                //#bankList.panel-group(ng-if='vm.SelectedBankCardGroupNode')
                    .panel.panel-default
                        .panel-heading.panel-heading-sm(data-toggle='collapse', data-parent="#bankList", href='#includedBanks', ng-click='vm.toggleBankType("include")')
                            h4.panel-title
                                text {{'Included Bankcards' | translate}}
                                span(ng-if='vm.includedBanks') &nbsp;:&nbsp;({{vm.includedBanks.length}})
                                text.blink.margin-left-5.text-danger(ng-if='!vm.includedBanks') {{'loading bankcards' | translate}}...
                        #includedBanks.panel-collapse.collapse.in
                            .panel-body(style='height:250px;overflow-y:auto')
                                a.platformBankcardDiv(ng-repeat='(i,v) in vm.includedBanks', class='{{vm.highlightBank[v.accountNumber]}}', ng-click='vm.bankClicked(i,v,"in")')
                                    table.bg-pale
                                        tr
                                            td.text-center
                                                td {{'STATUS' | translate}}
                                                td(ng-class="{'text-disabled': v.state === 'DISABLED'}").text-success {{v.status| translate}}
                                        tr
                                            td.text-center
                                            td {{'bankCardType' | translate}}
                                            td.text-success {{v.bankTypeId ? vm.getBankCardTypeTextbyId(v.bankTypeId) : ("VOID" | translate)}}
                                        tr
                                            td.text-center
                                            td {{'Bank Card Name' | translate}}
                                            td.text-success {{v.name}}
                                        tr
                                            td.text-center
                                            td {{'BANK_ACCOUNT_NUMBER' | translate}}
                                            td.text-success {{v.accountNumber}}
                                        tr
                                            td.text-center
                                            td {{'BANK_ACCOUNT_PROVINCE' | translate}}
                                            td.text-success {{v.provinceName}}
                                        tr
                                            td.text-center
                                            td {{'BANK_ACCOUNT_CITY' | translate}}
                                            td.text-success {{v.cityName}}
                                        tr
                                            td.text-center
                                            td {{'BANK_ACCOUNT_BRANCH' | translate}}
                                            td.text-success {{v.openingPoint}}
                                        tr
                                            td.text-center
                                            td {{'DAY_LIMIT' | translate}}
                                            td.text-success {{v.quota}}

                                        //tr
                                        //    td.text-center(rowspan="3")
                                        //        i.fa.fa-credit-card.text-danger
                                        //    td {{'TITLE' | translate}}
                                        //    td.text-success {{v.name}}
                                        //tr
                                        //    td {{'ACCOUNT' | translate}}
                                        //    td.text-success {{v.accountNumber}}
                                        //tr
                                        //    td {{'BANK_TYPE' | translate}}
                                        //    td.text-success {{v.bankTypeId ? vm.getBankCardTypeTextbyId(v.bankTypeId) : ("VOID" | translate)}}
                                        //tr
                                        //    td {{'QUOTA' | translate}}
                                        //    td.text-success {{v.quota}}
                    .panel.panel-default
                        .panel-heading.panel-heading-sm(data-toggle='collapse', data-parent="#bankList", href='#excludedBanks', ng-click='vm.toggleBankType("exclude")')
                            h4.panel-title
                                text {{'Excluded Bankcards' | translate}}
                                span(ng-if='vm.excludedBanks') &nbsp;:&nbsp;({{vm.excludedBanks.length}})
                                text.blink.margin-left-5.text-danger(ng-if='!vm.excludedBanks') {{'loading bankcards' | translate}}...
                        #excludedBanks.panel-collapse.collapse
                            .panel-body(style='height:250px;overflow-y:auto')
                                a.platformBankcardDiv(ng-repeat='(i,v) in vm.excludedBanks', class='{{vm.highlightBank[v.accountNumber]}}', ng-click='vm.bankClicked(i,v,"ex")')
                                    table.bg-pale
                                        tr
                                            td.text-center
                                                td {{'STATUS' | translate}}
                                                td(ng-class="{'text-disabled': v.status === 'DISABLED'}").text-success {{v.status| translate}}
                                        tr
                                            td.text-center
                                            td {{'bankCardType' | translate}}
                                            td.text-success {{v.bankTypeId ? vm.getBankCardTypeTextbyId(v.bankTypeId) : ("VOID" | translate)}}
                                        tr
                                            td.text-center
                                            td {{'Bank Card Name' | translate}}
                                            td.text-success {{v.name}}
                                        tr
                                            td.text-center
                                            td {{'BANK_ACCOUNT_NUMBER' | translate}}
                                            td.text-success {{v.accountNumber}}
                                        tr
                                            td.text-center
                                            td {{'BANK_ACCOUNT_PROVINCE' | translate}}
                                            td.text-success {{v.provinceName}}
                                        tr
                                            td.text-center
                                            td {{'BANK_ACCOUNT_CITY' | translate}}
                                            td.text-success {{v.cityName}}
                                        tr
                                            td.text-center
                                            td {{'BANK_ACCOUNT_BRANCH' | translate}}
                                            td.text-success {{v.openingPoint}}
                                        tr
                                            td.text-center
                                            td {{'DAY_LIMIT' | translate}}
                                            td.text-success {{v.quota}}
                                        //tr
                                        //    td.text-center(rowspan="4")
                                        //        i.fa.fa-credit-card.text-danger
                                        //    td {{'TITLE' | translate}}
                                        //    td.text-success {{v.name}}
                                        //tr
                                        //    td {{'ACCOUNT' | translate}}
                                        //    td.text-success {{v.accountNumber}}
                                        //tr
                                        //    td {{'BANK_TYPE' | translate}}
                                        //    td.text-success {{v.bankTypeId ? vm.getBankCardTypeTextbyId(v.bankTypeId) : ("VOID" | translate)}}
                                        //tr
                                        //    td {{'QUOTA' | translate}}
                                        //    td.text-success {{v.quota}}
                //.panel.panel-info(ng-if='vm.curBank')
                    .panel-heading.panel-heading-sm
                        h4.panel-title(style='display:inline-block') {{'Bankcard' | translate}} : {{vm.curBank.name}}
                        //label.pull-right(ng-if='vm.curBank') {{'BANK_TYPE' | translate}}&nbsp;:&nbsp;{{vm.curBank.bankTypeId ? vm.curBank.bankTypeId : ("VOID" | translate)}}
                    .panel-body(style='height:80px;padding:5px')
                        .textareaDetail
                            textarea(disabled, readonly, rows="3" style="border:none") {{'BANK_TYPE' | translate}}&nbsp;:&nbsp;{{vm.curBank.bankTypeId ? vm.getBankCardTypeTextbyId(vm.curBank.bankTypeId) : ("VOID" | translate)}}
                div.text-right.widthto100(ng-if='vm.SelectedBankCardGroupNode && checkViewPermission("Payment", "BankCardGroup", "Update") && vm.groupUsed != "PMS"')
                    button.btn.btn-info.btn-space(ng-click="vm.selectBankCard(true)") {{"Select All" | translate}}
                    button.btn.btn-info.btn-space(ng-click="vm.selectBankCard(false)") {{"Clear All" | translate}}
                    button.btn.btn-primary.btn-space(ng-click="vm.removeBankCardFromGroup()")
                        i.fa.fa-minus-square.symbol
                        text {{"EXCLUDE" | translate}}
                    button.btn.btn-primary.btn-space(ng-click="vm.addBankCardToGroup()")
                        i.fa.fa-plus-square.symbol
                        text {{"INCLUDE" | translate}}
                    button.btn.btn-primary.btn-space(ng-if="vm.selectedPlatform.data.financialSettlement && vm.selectedPlatform.data.financialSettlement.financialSettlementToggle && checkViewPermission('Payment', 'BankCardGroup', 'EditBankCard')  && vm.allBankCards.length > 0" ng-click="vm.renderEditBankCardInfo()" ng-disabled="vm.disableEditBankCard()", data-toggle="modal", data-target='#modalEditBankCard')
                        img.img-edit.symbol
                        text {{"EditBankCard" | translate}}
                //div(ng-if='vm.curBank')
                    div(ng-if='vm.showBankCate=="include"')
                        button.btn.btn-primary.common-button.pull-right(ng-if="checkViewPermission('Payment', 'BankCardGroup', 'Update')", ng-click='vm.banktoBankCardGroup("detach")')
                            i.fa.fa-minus-square
                            text {{"EXCLUDE" | translate}}
                    div(ng-if='vm.showBankCate=="exclude"')
                        button.btn.btn-primary.common-button.pull-right(ng-if="checkViewPermission('Payment', 'BankCardGroup', 'Update')", ng-click='vm.banktoBankCardGroup("attach")')
                            i.fa.fa-plus-square
                            text {{"INCLUDE" | translate}}

#modalAddNewBankCard.modal.fade(tabindex='-1', role='dialog', data-backdrop='static', keyboard=false,aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
        .modal-content
            .modal-header
                a.fa.fa-times.close(type='button', data-dismiss='modal')
                h4.modal-title {{"Add Bank Card" | translate}}
            .modal-body
                .panel.panel-primary
                    .panel-body
                        .form-group.col-md-6
                            .control-label {{"STATUS" | translate}}
                                select.form-control(ng-model='vm.newBankCardAcc.status')
                                    option(ng-repeat='(i,v) in vm.paymentListState', value='{{v}}') {{v | translate}}
                        .form-group.col-md-6
                            .control-label {{"BANK_NAME" | translate}}
                                select.form-control(ng-model='vm.newBankCardAcc.bankTypeId')
                                    option(ng-repeat='(i,v) in vm.cloneAllBankTypeList', value='{{v.bankTypeId}}') {{v.name}}
                        .form-group.col-md-6
                            .control-label {{"BANK_CARD_NAME" | translate}}
                            input.form-control(type='text', ng-model='vm.newBankCardAcc.name')
                        .form-group.col-md-6
                            .control-label {{"BANK_CARD_ACCOUNT_NUMBER" | translate}}
                            input.form-control(type='text', ng-model='vm.newBankCardAcc.accountNumber')
                        .form-group.col-md-6
                            .control-label {{"BANK_ACCOUNT_PROVINCE" | translate}}
                            select.form-control(ng-model='vm.newBankCardAcc.provinceId', ng-change='vm.changeProvince(vm.newBankCardAcc)')
                                option(ng-repeat='(i,v) in vm.provinceList', value='{{v.id}}') {{v.name}}
                        .form-group.col-md-6
                            .control-label {{"BANK_ACCOUNT_CITY" | translate}}
                            select.form-control(ng-model='vm.newBankCardAcc.cityId')
                                option(ng-repeat='(i,v) in vm.cityList', value='{{v.id}}') {{v.name}}
                        .form-group.col-md-6
                            .control-label {{"BANK_ACCOUNT_BRANCH" | translate}}
                            input.form-control(type='text', ng-model='vm.newBankCardAcc.openingPoint')
                        .form-group.col-md-6
                            .control-label {{"SINGLE_LIMIT" | translate}}
                            input.form-control(type='Number', ng-model='vm.newBankCardAcc.maxDepositAmount', style='text-align:left!important')
                        .form-group.col-md-6
                            .control-label {{"DAY_LIMIT" | translate}}
                            input.form-control(type='Number', ng-model='vm.newBankCardAcc.quota', style='text-align:left!important')
            .modal-footer
                button.btn.btn-primary.common-button(data-dismiss='modal', ng-click="vm.createNewBankCardAcc()", ng-disabled="vm.validateCreateNewBankCard()") {{"CONFIRM" | translate}}
                button.btn.btn-warning.common-button(data-dismiss='modal') {{"CANCEL" | translate}}

#modalEditBankCard.modal.fade(tabindex='-1', role='dialog', data-backdrop='static', keyboard=false,aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
        .modal-content
            .modal-header
                a.fa.fa-times.close(type='button', data-dismiss='modal')
                h4.modal-title {{"EditBankCard" | translate}}
            .modal-body
                .panel.panel-primary
                    .panel-body
                        .form-group.col-md-6
                            .control-label {{"STATUS" | translate}}
                                select.form-control(ng-model='vm.selectedBankCard.status')
                                    option(ng-repeat='(i,v) in vm.paymentListState', value='{{v}}') {{v === "DISABLED" ? "DISABLE" : v | translate}}
                        .form-group.col-md-6
                            .control-label {{"BANK_NAME" | translate}}
                                select.form-control(ng-model='vm.selectedBankCard.bankTypeId')
                                    option(ng-repeat='(i,v) in vm.cloneAllBankTypeList', value='{{v.bankTypeId}}') {{v.name}}
                        .form-group.col-md-6
                            .control-label {{"BANK_CARD_NAME" | translate}}
                            input.form-control(type='text', ng-model='vm.selectedBankCard.name')
                        .form-group.col-md-6
                            .control-label {{"BANK_CARD_ACCOUNT_NUMBER" | translate}}
                            input.form-control(type='text', ng-model='vm.selectedBankCard.accountNumber')
                        .form-group.col-md-6
                            .control-label {{"BANK_ACCOUNT_PROVINCE" | translate}}
                            select.form-control(ng-model='vm.selectedBankCard.provinceId', ng-change='vm.changeProvince(vm.selectedBankCard)')
                                option(ng-repeat='(i,v) in vm.provinceList', value='{{v.id}}') {{v.name}}
                        .form-group.col-md-6
                            .control-label {{"BANK_ACCOUNT_CITY" | translate}}
                            select.form-control(ng-model='vm.selectedBankCard.cityId')
                                option(ng-repeat='(i,v) in vm.cityList', value='{{v.id}}') {{v.name}}
                        .form-group.col-md-6
                            .control-label {{"BANK_ACCOUNT_BRANCH" | translate}}
                            input.form-control(type='text', ng-model='vm.selectedBankCard.openingPoint')
                        .form-group.col-md-6
                            .control-label {{"SINGLE_LIMIT" | translate}}
                            input.form-control(type='Number', ng-model='vm.selectedBankCard.maxDepositAmount', style='text-align:left!important')
                        .form-group.col-md-6
                            .control-label {{"DAY_LIMIT" | translate}}
                            input.form-control(type='Number', ng-model='vm.selectedBankCard.quota', style='text-align:left!important')
            .modal-footer
                button.btn.btn-primary.common-button(data-dismiss='modal', ng-click="vm.editBankCardAcc()", ng-disabled="vm.validateEditBankCard()") {{"CONFIRM" | translate}}
                button.btn.btn-warning.common-button(data-dismiss='modal', ng-click="vm.cancelEditBankCardAcc()") {{"CANCEL" | translate}}
                button.btn.btn-danger.common-button(data-dismiss='modal', ng-click="vm.deleteBankCardAcc()") {{"DELETE" | translate}}

#modalAddBankCardGroup.modal.fade(tabindex='-1', role='dialog', data-backdrop='static', keyboard=false,aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
        .modal-content
            .modal-header
                a.fa.fa-times.close(type='button', data-dismiss='modal')
                h4.modal-title {{"Add Bank Card Group" | translate}}
            .modal-body
                .panel.panel-primary
                    .panel-body
                        .well
                            .form-group
                                .control-label {{"Bank Card Group Name" | translate}}
                                input.form-control(type='text', ng-model='vm.newBankCardGroup.name')
                            .form-group
                                .control-label {{"Bank Card Group Display Name" | translate}}
                                input.form-control(type='text', ng-model='vm.newBankCardGroup.displayName')
                            .form-group
                                .control-label {{"Bank Card Group Code" | translate}}
                                input.form-control(type='text', ng-model='vm.newBankCardGroup.code')
            .modal-footer
                button.btn.btn-primary.common-button(data-dismiss='modal', ng-click="vm.addBankCardGroup(vm.newBankCardGroup)") {{"CONFIRM" | translate}}
                button.btn.btn-warning.common-button(data-dismiss='modal') {{"CANCEL" | translate}}
#modalRemoveBankCardGroup.modal.fade(tabindex='-1', role='dialog', data-backdrop='static', keyboard=false,aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
        .modal-content
            .modal-header
                a.fa.fa-times.close(type='button', data-dismiss='modal')
                h4.modal-title {{"Remove Bank Card Group" | translate}}
            .modal-body
                .panel.panel-primary
                    .panel-body
                        .well
                            .form-group
                                .control-label {{"Bank Card Group Name" | translate}}
                                label {{vm.SelectedBankCardGroupNode.name}}
            .modal-footer
                button.btn.btn-primary.common-button(data-dismiss='modal', ng-click="vm.removeBankCardGroup(vm.SelectedBankCardGroupNode)") {{"CONFIRM" | translate}}
                button.btn.btn-warning.common-button(data-dismiss='modal') {{"CANCEL" | translate}}
#modalRenameBankCardGroup.modal.fade(tabindex='-1', role='dialog', data-backdrop='static', keyboard=false,aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
        .modal-content
            .modal-header
                a.fa.fa-times.close(type='button', data-dismiss='modal')
                h4.modal-title {{"Rename Bank Card Group" | translate}}
            .modal-body
                .panel.panel-primary
                    .panel-body
                        .well
                            .form-group
                                .control-label {{"Bank Card Group Name" | translate}}
                                input.form-control(type='text', ng-model='vm.newBankCardGroup.name')
                            .form-group
                                .control-label {{"Bank Card Group Display Name" | translate}}
                                input.form-control(type='text', ng-model='vm.newBankCardGroup.displayName')
                            .form-group
                                .control-label {{"Bank Card Group Code" | translate}}
                                input.form-control(type='text', ng-model='vm.newBankCardGroup.code')
            .modal-footer
                button.btn.btn-primary.common-button(data-dismiss='modal', ng-click="vm.renameBankCardGroup()") {{"CONFIRM" | translate}}
                button.btn.btn-warning.common-button(data-dismiss='modal') {{"CANCEL" | translate}}
#modalSetBankCardGroupDefault.modal.fade(tabindex='-1', role='dialog', data-backdrop='static', keyboard=false,aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
        .modal-content
            .modal-header
                a.fa.fa-times.close(type='button', data-dismiss='modal')
                h4.modal-title {{"BankCard Group" | translate}}
            .modal-body
                .panel.panel-primary
                    .panel-body
                        .well
                            .form-group
                                label.control-label {{"Please choose default bank card Group" | translate}}
                                div(ng-repeat='(i,v) in vm.platformBankCardGroupList')
                                    label {{v.name}} ({{v.displayName}})
                                        input.pull-left.margin-right-5(type='radio', name='defaultBankCardGroup', ng-model='vm.defaultBankCardGroup', ng-value='v._id')
            .modal-footer
                button.btn.btn-primary.common-button(data-dismiss='modal', ng-click="vm.submitDefaultBankCardGroup()") {{"CONFIRM" | translate}}
                button.btn.btn-warning.common-button(data-dismiss='modal') {{"CANCEL" | translate}}
#modalAddPlayersToBankCardGroup.modal.fade(tabindex='-1', role='dialog', data-backdrop='static', keyboard=false,aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
        .modal-content
            .modal-header
                a.fa.fa-times.close(type='button', data-dismiss='modal')
                h4.modal-title {{"ADD_PLAYER" | translate}}
            .modal-body
                .panel.panel-primary
                    .panel-body
                        label {{"ADD_PLAYER_TO_BANKCARD_GROUP"|translate}}&nbsp;:&nbsp;{{vm.SelectedBankCardGroupNode.name}}
                        br
                        .well
                            .inlineBlk.margin-right-5
                                label {{'Bankcard Group' | translate}}
                                select.form-control(ng-model='vm.playerToGroupFilterObj.filter.bankCardGroup')
                                    option(value='all') {{'ALL' | translate}}
                                    option(ng-repeat='(i,v) in vm.platformBankCardGroupList', value='{{v._id}}') {{v.groupId}}({{v.displayName}})
                            .inlineBlk.margin-right-5
                                label {{'PLAYER_LEVEL' | translate}}
                                select.form-control(ng-model='vm.playerToGroupFilterObj.filter.playerLevel')
                                    option(value='all') {{'ALL' | translate}}
                                    option(ng-repeat='(i,v) in vm.allPlayerLvl', value='{{v._id}}') {{v.name | translate}}
                            .inlineBlk.margin-right-5
                                label {{'USER_NAME' | translate}}
                                input.form-control(type='text', ng-model='vm.playerToGroupFilterObj.filter.name')
                            .inlineBlk.margin-right-5
                                label {{'MIN_TOPUP_TIMES' | translate}}
                                input.form-control(type='number', ng-model='vm.playerToGroupFilterObj.filter.topUpTimes')
                            .inlineBlk.margin-right-5
                                label {{'CREDIT' | translate}}
                                input.form-control(type='number', ng-model='vm.playerToGroupFilterObj.filter.validCredit')
                            .inlineBlk
                                button.btn.btn-primary.common-button(ng-click='vm.playerToGroupFilter(true,"bankcard")') {{'SEARCH' | translate}}
                            .inlineBlk(ng-show='vm.loadingPlayerTable')
                                label.blink.text-danger {{'Loading' | translate}}
                        text.text-danger(ng-show='vm.players.length==0') {{"No player is found."|translate}}
                        label {{"Total" | translate}} {{vm.playerToGroupFilterObj.totalCount}} {{"records" | translate}}
                        table#playertoGroupDataTable.display.common-table(style="min-width:100%")
                            thead
                        #playertoGroupDataTablePage
            .modal-footer
                button.btn.btn-primary.common-button(ng-click="vm.submitAddPlayersToBankCardGroup()") {{"ADD" | translate}}
                button.btn.btn-warning.common-button(data-dismiss='modal') {{"CANCEL" | translate}}

#modalAddAllPlayersToBankCardGroup.modal.fade(tabindex='-1', role='dialog', data-backdrop='static', keyboard=false, aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
        .modal-content
            .modal-header
                a.fa.fa-times.close(type='button', data-dismiss='modal')
                h4.modal-title {{"ADD_PLAYER" | translate}}
            .modal-body
                .panel.panel-primary
                    .panel-body
                        .well
                            label {{"Add All Player to Bank Card group"|translate}}&nbsp;:&nbsp;{{vm.SelectedBankCardGroupNode.name}}
                            br
                            label {{"Please confirm your action." | translate}}
            .modal-footer
                button.btn.btn-primary.common-button(ng-show='!vm.addAllPlayerToBankCardResult' ng-click="vm.submitAddAllPlayersToBankCardGroup()") {{"CONFIRM" | translate}}
                button.btn.btn-warning.common-button(ng-show='!vm.addAllPlayerToBankCardResult' data-dismiss='modal') {{"CANCEL" | translate}}
                button.btn.btn-success.common-button(ng-show='vm.addAllPlayerToBankCardResult' data-dismiss='modal') {{"CONFIRM" | translate}}
                label(ng-show='vm.addAllPlayerToBankCardResult') {{vm.addAllPlayerToBankCardResult}}

#modalFilterBankCardType.modal.fade(tabindex='-1', role='dialog', data-backdrop='static', keyboard=false, aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
        .modal-content
            .modal-header
                a.fa.fa-times.close(type='button', data-dismiss='modal')
                h4.modal-title {{"BANK_TYPE" | translate}} {{"Show Options" | translate}}
            .modal-body
                .panel.panel-primary
                    .panel-body
                        .col-md-3(ng-repeat="(bankCardTypeId, show) in vm.bankCardFilterOptions.bankTypes")
                            input(type="checkbox" ng-model="vm.bankCardFilterOptions.bankTypes[bankCardTypeId]")
                            span {{vm.allBankTypeList[bankCardTypeId]}}
            .modal-footer
                button.btn.btn-primary.common-button(data-dismiss='modal', ng-click="vm.bankCardsFilter()") {{"FILTER" | translate}}
                button.btn.btn-info.common-button(ng-click="vm.changeAllBankCardTypeInFilter(true)") {{"Select All" | translate}}
                button.btn.btn-info.common-button(ng-click="vm.changeAllBankCardTypeInFilter(false)") {{"Clear All" | translate}}

#modalFilterBankCardStatus.modal.fade(tabindex='-1', role='dialog', data-backdrop='static', keyboard=false, aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
        .modal-content
            .modal-header
                a.fa.fa-times.close(type='button', data-dismiss='modal')
                h4.modal-title {{"STATUS" | translate}} {{"Show Options" | translate}}
            .modal-body
                .panel.panel-primary
                    .panel-body
                        .col-md-3(ng-repeat="(status, show) in vm.bankCardFilterOptions.status")
                            input(type="checkbox" ng-model="vm.bankCardFilterOptions.status[status]")
                            span {{status === "DISABLED" ? "DISABLE" : status | translate}}
            .modal-footer
                button.btn.btn-primary.common-button(data-dismiss='modal', ng-click="vm.bankCardsFilter()") {{"FILTER" | translate}}
