nav.navbar.navbar-inverse.navbar-static-top(role='navigation', style='margin-bottom: 0;height: 85px')
    .navbar-header.nav-header.visible-lg(style='min-width:150px;')
        div.inlineBlk(style="border-radius: 9px;border: 1px;color:white;margin-top:0; background-color:rgba(0,0,0,0.5); min-width: 150px; margin-bottom: 0px")
            img(async=on ng-if="companyLogo" ng-src="{{companyLogo}}" width="100px" height="100px" style="position:absolute;left:20px;top:10px;z-index:-1;")
            //div.inlineBlk(ng-if='checkViewPermission("Platform","PlatformSetting", "Read")', data-toggle="modal", data-target='#modalUpdatePlatform', style='width:130px;white-space:nowrap;overflow:hidden;margin-bottom:0px')
            .fa.fa-2x(style='margin:5px 10px;')
                img( async=on src="images/icon/websiteBusiness_hover.png" width="30" )
            #selectedPlatformNodeTitle.inlineBlk.text.shadow(style='font-size:20px; overflow: visible; text-overflow: clip; vertical-align: middle;' ng-click='vm.initPlatform(false);vm.showPlatformDetailTab(null);vm.setPlatformFooter(null);vm.getAllDepartmentData();vm.prepareSettlementHistory();vm.populatePlatformData();') {{curPlatformText}}
            .fa.fa-2x.fa-caret-down(style='margin:5px 10px; margin-top:8px; vertical-align:top;' ng-click='switchPlatform($event)')
            #platformTreeHeader(ng-show='showPlatformDropDownList', style="min-width: 200px; position: absolute; color: black; z-index: 9;")
        div.inlineBlk(style='min-width:150px !important; display: flex; font-size:0.8em; color:#ffffff;')
            select(ng-model="mgntServer", ng-change="changeServer(mgntServer)", style="font-size: 12px; display: block; width: 100%; height: 20px; color: #555; border: 1px solid #ccc; border-radius: 4px; background-color: #fff; padding:0; margin-bottom: 0px")
                option(ng-repeat='(i,v) in mgntServerList', value='{{i}}', ng-selected='currentServer' ng-disabled='!v.latency') {{i + ":  " + v.latency + "ms"}}
    #cssmenu
        ul.navibar.navbar-header.nav-header.navbar-brand
            li(style="{{ checkViewPermission('Player', 'Player', 'Read')? 'display:block; width:70px;' : 'display:none'}}")
                a(href='', name='player', ng-click="openHeaderPanel('player'); setClickedHeaderIcon()" )
                    i.fa.fa-user
                    | {{ 'PLAYER' | translate }}
            li(style="{{ checkViewPermission('Partner', 'Partner', 'Read')? 'display:block; width: 70px' : 'display:none'}}")
                a(href='', name='partner', ng-click="openHeaderPanel('partner'); setClickedHeaderIcon()" )
                    i.fa.fa-share-alt
                    | {{ 'PARTNER' | translate }}
            li(style="{{ checkViewPermission('Platform')? 'display:block; width:70px;' : 'display:none'}}" class="wbLogo")
                a(href='', name='platform', ng-click="openHeaderPanel('platform'); setClickedHeaderIcon()" )
                    i.fa
                        div()
                    | {{ 'Website Business' | translate }}
            li(style="{{ checkViewPermission('Report')? 'display:block; width:70px;' : 'display:none'}}")
                a(href='', name='report', ng-click="openHeaderPanel('report'); setClickedHeaderIcon()" )
                    i.fa.fa-table
                    | {{ 'REPORT' | translate }}
            li(style="{{ checkViewPermission('Operation')? 'display:block; width:70px;' : 'display:none'}}")
                a(href='', name='operation', ng-click="openHeaderPanel('operation'); setClickedHeaderIcon()" )
                    i.fa.fa-tasks
                    | {{ 'OPERATION' | translate }}
            li(style="{{ checkViewPermission('Analysis')? 'display:block; width:70px;' : 'display:none'}}")
                a(href='', name='analysis', ng-click="openHeaderPanel('analysis'); setClickedHeaderIcon()" )
                    i.fa.fa-line-chart
                    | {{ 'ANALYSIS' | translate }}
            li(style="{{ checkViewPermission('Monitor')? 'display:block; width:70px;' : 'display:none'}}")
                a(href='', name='monitor', ng-click="openHeaderPanel('monitor'); setClickedHeaderIcon()" )
                    i.fa.fa-desktop
                    | {{ 'MONITOR' | translate }}
            li(style="{{ checkViewPermission('Payment')? 'display:block; width:70px;' : 'display:none'}}")
                a(href='', name='payment', ng-click="openHeaderPanel('payment'); setClickedHeaderIcon()" )
                    i.fa.fa-money
                    | {{ 'Payment' | translate }}
            li(style="{{ checkViewPermission('Provider')? 'display:block; width:70px;' : 'display:none'}}")
                a(href='', name='provider', ng-click="openHeaderPanel('provider'); setClickedHeaderIcon()" )
                    i.fa.fa-gamepad
                    | {{ 'GAME_PROVIDER' | translate }}
            li(style="{{ checkViewPermission('Dashboard')? 'display:block; width:70px;' : 'display:none'}}")
                a(href='', name='dashboard', ng-click="openHeaderPanel('dashboard'); setClickedHeaderIcon()" )
                    i.fa.fa-tachometer
                    | {{ 'DASHBOARD' | translate }}
            li(style="{{ checkViewPermission('Admin')? 'display:block; width:70px;' : 'display:none'}}" class="privilegeLogo")
                a(href='', name='mainPage', ng-click="openHeaderPanel('mainPage'); setClickedHeaderIcon()" )
                    i.fa
                        div()
                    | {{ 'Backstage Privilege' | translate }}
            li(style="{{ checkViewPermission('QualityInspection')? 'display:block; width:70px' : 'display:none'}}")
                a(href='', name='qualityInspection', ng-click="openHeaderPanel('qualityInspection'); setClickedHeaderIcon()" )
                    i.fa.fa-check-square-o
                    | {{ 'Quality Inspection' | translate }}
            li(style="{{ checkViewPermission('TeleMarketing')? 'display:block; width:70px' : 'display:none'}}")
                a(href='', name='teleMarketing', ng-click="openHeaderPanel('teleMarketing'); setClickedHeaderIcon()" )
                    i.fa.fa-phone
                    | {{ 'TeleMarketing' | translate }}
            li(style="{{ checkViewPermission('ThemeControl')? 'display:block; width:70px' : 'display:none'}}")
                a(href='', name='themeControl', ng-click="openHeaderPanel('themeControl'); setClickedHeaderIcon()" )
                    i.fa.fa-picture-o
                    | {{ 'ThemeControl' | translate }}
        ul.navbar-right()
            //li(style='min-width:120px !important;font-size:0.8em;color:#ffffff;')
                .row.margin-top-bottom-small(style='margin-left:0;margin-right:0')
                    table.pull-right(style='width:100%')
                        thead
                            tr
                                th {{'Server' | translate}}
                                th {{'STATUS' | translate}}
                        tbody
                            tr
                                td {{"Management" | translate}}
                                td
                                    i.fa.fa-circle(class='{{serverStatus.server ? "text-success" : "text-danger blink"}}')
                            tr
                                td {{"Payment" | translate}}
                                td
                                    i.fa.fa-circle(class='{{serverStatus.pServer ? "text-success" : "text-danger blink"}}')
                            tr
                                td {{"providers" | translate}}
                                td
                                    i.fa.fa-circle(class='{{serverStatus.cpServer ? "text-success" : "text-danger blink"}}')
                .row(style='margin-left:0;margin-right:0')
                    label {{'OPEN_NEW_TAB' | translate}}
                        input.input-sm.pull-left.margin-right-5(style='height:inherit;margin-top:0', type='checkbox', ng-model='openInNewTab')
            li
                a.dropdown-toggle(href='#', data-toggle='dropdown',style='direction: rtl;')
                    i.fa.fa-user
                    text {{getUserName()}}
                ul.dropdown-menu(role='menu')
                    li
                        a(ng-click='changeLanguage()')
                            i.fa.fa-2x.fa-language.btn-success
                            text(ng-if='langKey=="en_US"') 中文
                            text(ng-if='langKey=="ch_SP"') English
                    li
                        a(ng-click='toggleDevLog()')
                            input(type='checkbox' style='transform:scale(1.5);' ng-model='enableLogging')
                            text {{ 'Dev Log' | translate }}
                    li
                        a(data-toggle="modal", data-target='#modalDisplayActionLog', ng-click='presentActionLog()')
                            i.fa.fa-2x.fa-list-alt
                            text {{ 'VIEW_LOG' | translate }}
                    li
                        a(data-toggle="modal", data-target='#modalUpdatePassword', ng-click='userNewPassword = passwordVerify = ""')
                            i.fa.fa-2x.fa-expeditedssl
                            text {{ 'UPDATE_PASSWORD' | translate }}
                    li
                        a(ng-click='logout()')
                            i.fa.fa-2x.fa-arrow-right
                            text {{ 'LOG_OUT' | translate }}
div.nav-statistic
    span {{platformTexts}} : &emsp;
    span {{ 'Total Monthly Revenue' | translate }}: {{ netProfitDetailIncome }} &emsp;
    span {{ 'Consumption Amount (Day)' | translate }}: {{ profitDetailConsumptionAmount }} &emsp;
    span {{ 'Number of New Player (Day)' | translate }}: {{ profitDetailNewPlayer }} &emsp;
    span {{ 'Top Up Amount (Day)' | translate }}: {{ profitDetailTopUpAmount }} &emsp;
    span {{ 'Number of Consumer (Day)' | translate}}:{{ profitDetailConsumptionPlayer }} &emsp;
    span {{ 'Withdrawal Amount (Day)' | translate }}: -{{ profitDetailBonusAmount }} &emsp;
    span {{ 'Revenue (Day)' | translate }}: {{ profitDetailIncome }} &emsp;
    span(ng-if='selectedPlatform.data.financialSettlement && !selectedPlatform.data.financialSettlement.financialSettlementToggle') {{ 'financialPoints' | translate }}: {{ financialPoints | noRoundTwoDecimalPlaces}} &emsp;
    span.pull-right
        label.margin-right-5 {{"New Tab" | translate}}
            input.input-sm.pull-left.margin-right-5(style='height:inherit;margin-top:0', type='checkbox', ng-model='openInNewTab')

ez-modal(modal-id="modalDisplayAdminMails", modal-title="{{'MAIL' | translate}}")
    ez-modal-body
        table.simple-table(style='max-width:100%; height:400px')
            thead
                tr
                    th(style='width:10%') {{'TIME' | translate}}
                    th(style='width:15%') {{'SENDER' | translate}}
                    th(style='width:25%') {{'TITLE' | translate}}
                    th(style='width:45%') {{'CONTENT' | translate}}
                    th(style='width:1%')
                    th(style='width:1%')
                    th(style='width:1%')
            tbody
                tr(ng-repeat="(i,mail) in adminMail | orderBy:'-createTime'")
                    td(ng-class="{faint: mail.hasBeenRead}") {{timeReformat(mail.createTime)}}
                    td(ng-class="{faint: mail.hasBeenRead}") {{mail.senderName}}
                    td(ng-class="{faint: mail.hasBeenRead}") {{mail.title}}
                    td(ng-class="{faint: mail.hasBeenRead}")
                        div(style="white-space: pre-wrap; max-height: 200px; overflow: auto") {{mail.content}}
                    td(ng-class="{faint: mail.hasBeenRead}")
                        a(ng-click="adminMailReplyTo(mail)", title="{{'REPLY_TO_THIS_PLAYER'}}")
                            i.fa.fa-2x.fa-reply
                    td
                        a(ng-click="adminMailToggleUnread(mail)", title="{{'MARK_THIS_MAIL_AS_READ'}}")
                            i.fa.fa-2x.fa-check(ng-class="{faint: !mail.hasBeenRead}")
                    td
                        a(ng-click="adminMailDeleteMail(mail)", title="{{'DELETE_THIS_MAIL'}}")
                            i.fa.fa-2x.fa-trash
    ez-modal-footer
        ez-normal-button {{"CLOSE" | translate}}

#modalFinancialPointsNotification.modal.fade(tabindex='-1', role='dialog', data-backdrop='static', keyboard=false,aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
        .modal-content
            .modal-header
                a.fa.fa-times.close(type='button', data-dismiss='modal')
                h4.modal-title {{"FINANCIAL_POINTS_NOTIFICATION" | translate}}
            .modal-body
                .panel.panel-primary
                    .panel-body
                        .well
                            text {{"Financial points lower than" | translate}} {{selectedPlatform.data.financialSettlement.minFinancialPointsNotification}}
                            
            .modal-footer
                button.btn.btn-primary.common-button(data-dismiss='modal', ng-click="updateFinancialNotificationShowed()") {{"CONFIRM" | translate}}

#modalDisplayActionLog.modal.fade(tabindex='-1', role='dialog', data-backdrop='static', keyboard=false,aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog(style="width:80%")
        .modal-content
            .modal-header
                a.fa.fa-times.close(type='button', data-dismiss='modal')
                h4.modal-title {{'VIEW_LOG' | translate}}
            .modal-body
                table.simple-table#actionLogDataTable(style='max-width:100%;height:400px')
                    thead
                        tr
                            th(style='width:20%') {{'TIME' | translate}}
                            th(style='width:20%') {{'ACTION' | translate}}
                            th(style='width:60%') {{'PARAMETER' | translate}}
                    tbody
                        tr(ng-repeat='(i,v) in actionLogData')
                            td {{timeReformat(v.operationTime)}}
                            td {{v.action | translate}}
                            td {{v.data}}
            .modal-footer
                button.btn.btn-success.common-button(data-dismiss='modal', ng-click='') {{"CLOSE" | translate}}

#modalUpdatePassword.modal.fade(tabindex='-1', role='dialog', data-backdrop='static', keyboard=false,aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog(style="width:50%")
        .modal-content
            .modal-header
                a.fa.fa-times.close(type='button', data-dismiss='modal', ng-if="!newPasswordNeeded")
                h4.modal-title {{'UPDATE_PASSWORD' | translate}}
            .modal-body
                .alert.alert-info(ng-if="newPasswordNeeded")
                    text {{"You must update your password once each month" | translate}}
                form(name='form_update_password', novalidate)
                    .form-group
                        button.btn.btn-primary.common-button(ng-click="generatedPassword = generateRandomPassword()") {{"GENERATE_PASSWORD" | translate}}
                        button.btn.btn-warning.common-button(ng-show="generatedPassword", ng-click="generatedPassword = ''") {{"HIDE" | translate}}
                    .form-group(ng-show="generatedPassword")
                        label.control-label {{'SUGGESTED_PASSWORD' | translate}}
                        input.form-control(type="text", placeholder="********", ng-model="generatedPassword", ng-readonly="true")
                    .form-group
                        label.control-label {{'NEW_PASSWORD' | translate}}
                        input.form-control(type="password", placeholder="********", name="password1", ng-model="userNewPassword", match="passwordVerify")
                    .form-group
                        label.control-label {{'REPEAT_PASSWORD' | translate}}
                        input#pswdverify.form-control(type="password", placeholder="********", name="password2", ng-model="passwordVerify", match="userNewPassword")
                    .form-group
                        .alert(ng-class="{'alert-info': userNewPassword.length < 6 || !userNewPassword, 'alert-success': userNewPassword.length >= 6}")
                            i.fa(ng-class="{'fa-info-circle': userNewPassword.length < 6 || !userNewPassword, 'fa-check': userNewPassword.length >= 6}")
                            text.margin-left-5 {{'Minimum password length is' | translate}} 6
                        .alert(ng-class="{'alert-info': !isValidPassword(userNewPassword), 'alert-success': isValidPassword(userNewPassword)}")
                            i.fa(ng-class="{'fa-info-circle': !isValidPassword(userNewPassword), 'fa-check': isValidPassword(userNewPassword)}")
                            text.margin-left-5 {{"Password should contain at least one number and one symbol, and a mixture of lower-case and upper-case letters" | translate}}
                        .alert.alert-danger(ng-show="passwordVerify && passwordVerify.length >= userNewPassword.length && form_update_password.password2.$dirty && form_update_password.password2.$error.match && !form_admin.password2.$error.required")
                            i.fa.fa-warning
                            text.margin-left-5 {{"Passwords don't match"|translate}}
            .modal-footer
                button.btn.btn-success.common-button(data-dismiss='modal', ng-disabled="form_update_password.$invalid || userNewPassword.length < 6 || !isValidPassword(userNewPassword)", ng-click='updateUserPassword()') {{"CONFIRM" | translate}}
                button.btn.btn-danger.common-button(data-dismiss='modal', ng-if="!newPasswordNeeded") {{"CANCEL" | translate}}
