.row(ng-show="checkViewPermission('TeleMarketing', 'MY_PHONE_LIST_OR_REMINDER_PHONE_LIST', 'Read')" style='padding-left:0')
    .col-xs-6
        .panel-body
            table.simple-table
                tr
                    td.titleBackground {{"PHONE_LIST" | translate}}
                    td {{ vm.targetedTsDistributedPhoneDetail.tsPhoneList.name || "" }}
                tr
                    td.titleBackground {{"Member Account" | translate}}
                    td {{ vm.targetedTsDistributedPhoneDetail.tsPhone.playerName || "" }}
                tr
                    td.titleBackground {{"REAL_NAME" | translate}}
                    td {{ vm.targetedTsDistributedPhoneDetail.tsPhone.realName || "" }}
                tr
                    td.titleBackground {{"PHONE" | translate}}
                    td {{ vm.targetedTsDistributedPhoneDetail.tsPhone.phoneNumber || "" }}
                tr
                    td.titleBackground {{"GENDER" | translate}}
                    td {{ vm.targetedTsDistributedPhoneDetail.tsPhone.gender || "" }}
                tr
                    td.titleBackground {{"DOB" | translate}}
                    td {{ vm.targetedTsDistributedPhoneDetail.tsPhone.dob || "" }}
                tr
                    td.titleBackground {{"WECHAT" | translate}}
                    td {{ vm.targetedTsDistributedPhoneDetail.tsPhone.wechat || "" }}
                tr
                    td.titleBackground QQ
                    td {{ vm.targetedTsDistributedPhoneDetail.tsPhone.qq || "" }}
                tr
                    td.titleBackground {{"EMAIL" | translate}}
                    td {{ vm.targetedTsDistributedPhoneDetail.tsPhone.email || "" }}
                tr
                    td.titleBackground {{"REMARKS" | translate}}
                    td {{ vm.targetedTsDistributedPhoneDetail.tsPhone.remark || "" }}
                tr
                    td.titleBackground {{"PHONE_LOCATION" | translate}}
                    td {{ vm.targetedTsDistributedPhoneDetail.tsPhone.province || "" }} {{ vm.targetedTsDistributedPhoneDetail.tsPhone.city || "" }}

            div(style="margin-top: 5px")
                button.btn.btn-primary(data-toggle='modal' data-target='#modalTsPhoneFeedback' style="margin: 5px" ng-click='vm.initPhoneDetailFeedback()') {{"ADD_FEEDBACK" | translate}}
                button.btn.btn-warning(data-toggle='modal' data-target="#modalAdminPhoneListReminder" ng-click="vm.initTsDistrubutedPhoneReminder(vm.targetedTsDistributedPhoneDetail)" style="margin: 5px") {{"REMINDER" | translate}}
                button.btn.btn-success(data-toggle='modal' data-target="#modalCreateTsPlayer" ng-click="vm.prepareCreateTsPlayer(vm.targetedTsDistributedPhoneDetail)" style="margin: 5px") {{"CREATE_NEW_PLAYER" | translate}}
                button.btn.btn-primary(ng-click="vm.initSMSModal(); vm.telorMessageToTsPhoneBtn('msg', vm.targetedTsDistributedPhoneDetail)" style="margin: 5px") {{"sendSMS" | translate}}
                button.btn.btn-primary(ng-click="vm.callThisPlayer()" style="margin: 5px") {{"CALL_OUT" | translate}}

    .col-xs-6
        .panel-body
            table.simple-table
                thead
                    tr
                        th.titleBackground {{"TIME" | translate}}
                        th.titleBackground {{"RESULT" | translate}}
                        th.titleBackground {{"CONTENT" | translate}}
                        th.titleBackground {{"adminName" | translate}}
                        th.titleBackground {{"FEEDBACK_TOPIC" | translate}}
                tbody
                    tr(ng-repeat="(i,v) in vm.targetedTsDistributedPhoneDetail.feedbacks")
                        td {{ v.createTime ? timeReformat(v.createTime) : "" }}
                        td {{ v.resultName }}
                        td {{ v.content }}
                        td {{ v.adminId.adminName }}
                        td {{ v.topic }}

ez-modal(modal-id="smsPlayerModal", modal-title="{{'Send SMS to Player' | translate}}")
    ez-modal-body

        ul.nav.nav-tabs.common-nav-tabs.popupHeaderMenu(style='margin:10px 0 10px 0;height: 43px;')
            .pull-left.padding-all-5
            li.active#smsToPlayerTab(ng-hide="(vm.selectedSinglePlayer && vm.selectedSinglePlayer.permission && vm.selectedSinglePlayer.permission.SMSFeedBack === false)")
                a.common-tab(data-toggle="tab", ng-click='vm.showSmsTab("smsToPlayerPanel");')
                    .fa.fa-file-text.margin-right-5
                    text.span {{"MESSAGE" | translate}}
            li#smsLogTab
                a.common-tab(data-toggle="tab",ng-click='vm.showSmsTab("smsLogPanel"); vm.initSMSLog("single");')
                    .fa.fa-file-text.margin-right-5
                    text.span {{"smsLog" | translate}}
            li#smsSettingTab(ng-hide="!vm.canEditPlayer()")
                a.common-tab(data-toggle="tab",ng-click='vm.showSmsTab("smsSettingPanel"); vm.loadSMSSettings();')
                    .fa.fa-file-text.margin-right-5
                    text.span {{"SMS Notify Settings" | translate}}


        #smsToPlayerPanel.panel-body(ng-if="vm.smsModalTab === 'smsToPlayerPanel'")
            .row
                div.form-group.col-md-12
                    label.control-label {{"TO_PLAYER" | translate}}:&nbsp;
                    text {{vm.smsPlayer.name}} {{vm.smsPlayer.nickName && '(' + vm.smsPlayer.nickName + ')'}}

                    label.margin-left-5.control-label {{"Channel" | translate}}:&nbsp;
                    select(ng-model='vm.smsPlayer.channel', ng-options='a for a in usableChannelList')

                    label.margin-left-5.blink.text-danger(ng-if="!vm.smsPlayer.hasPhone") {{'This Player did not input phone number' | translate}}

                    .pull-right(ng-if='vm.sendSMSResult.sent===true')
                        .fa.fa-check.text-success(ng-if='vm.sendSMSResult.result')
                            text {{'SEND' | translate}} {{'SUCCESS' | translate}}
                    .pull-right(ng-if='vm.sendSMSResult.sent === false')
                            text {{'SEND' | translate}} {{'FAIL' | translate}}
                    .pull-right(ng-if='vm.sendSMSResult.sent==="sending"')
                        text.text-danger.blink {{"Sending" | translate}}

            .row
                div.form-group.col-md-12
                    label.control-label {{"SMS Templates" | translate}}
                        select.form-control(style='width:100%;resize:none',ng-change="vm.changeSMSTemplate()", ng-model='vm.smstpl' ng-options='a.type|translate for a in vm.smsTemplate')
                            option(value="")
            .row
                div.form-group.col-md-12
                    label.control-label {{"CONTENT" | translate}}
                    textarea.form-control(ng-model="vm.smsPlayer.message", placeholder="...", rows="8", ng-disabled="!vm.smsPlayer.hasPhone", maxlength="100")

        #smsLogPanel.panel-body(ng-if="vm.smsModalTab === 'smsLogPanel'")
            #smsLogQuery.block-query.well
                div
                    label {{"RESULT" | translate}}
                    select.form-control(ng-model='vm.smsLog.query.status')
                        option(value='all') {{"any" | translate}}
                        option(value='success') {{"Success" | translate}}
                        option(value='failure') {{"Failure" | translate}}
                div
                    label {{"Start date" | translate}}
                    .startTime
                    //-(ng-model='vm.smsLog.query.startTime')
                div
                    label {{"End date" | translate}}
                    .endTime
                    //-(ng-model='vm.smsLog.query.endTime')
                button.btn.btn-primary.common-button(ng-click='vm.searchSMSLog()', style='vertical-align: bottom') {{"SEARCH" | translate}}
            div(style='max-height: 400px; max-height: 50vh; overflow: auto')
                label {{"Total" | translate}} {{vm.smsLog.totalCount}} {{"records" | translate}}
                table.simple-table.display(style='min-width: 100%; width: 100%')
                    thead
                        tr
                            th {{"date" | translate}}
                            th(data-toggle="modal", data-target="#modalFilterSmsLogSenderType", style="cursor: pointer") {{"senderType" | translate}}
                            th {{"senderName" | translate}}
                            th {{"Recipient" | translate}}
                            th {{"Channel" | translate}}
                            th {{"CONTENT" | translate}}
                            th {{"STATUS" | translate}}
                    tbody
                        tr(ng-repeat='(i,smsLog) in vm.smsLog.searchResults')
                            td {{smsLog.createTime$}}
                            td {{smsLog.adminName ? 'admin':'system'}}
                            td {{smsLog.adminName}}
                            td {{smsLog.recipientName}}
                            td {{smsLog.channel}}
                            td {{smsLog.message}}
                            td(ng-if='smsLog.status !== "failure"') {{smsLog.status$}}
                            td(ng-if='smsLog.status === "failure"')
                                text.sn-hoverable-text(title='{{smsLog.error}}', sn-tooltip) {{smsLog.status$}}
                br
                #smsLogTablePage

        #smsSettingPanel.panel-body(ng-if="vm.smsModalTab === 'smsSettingPanel'")
            .row.margin-left-5.margin-right-5
                .form-group.col-md-12
                    .col-md-12.col-lg-4
                        table.common-table.playerLvlTable
                            thead
                                tr
                                    th
                                        input.margin-right-5(type="checkbox", ng-model="vm.playerBeingEdited.checkAllNoSmsGroup" ng-init="vm.isAllNoSmsGroupChecked()" ng-change="vm.toggleAllNoSmsGroup()")
                                        | {{"receive status" | translate}}
                                    th {{"no group sms setting" | translate}}

                            tbody
                                tr(ng-repeat='(i, v) in vm.noGroupSmsSetting')
                                    td
                                        input.margin-right-5(type="checkbox", ng-model="vm.playerBeingEdited.smsSetting[v.name]" ng-change="vm.isAllNoSmsGroupChecked()")
                                    td
                                        span {{v.name | translate}}

                    .col-sm-12.col-sm-offset-0.col-md-offset-1.col-lg-7.col-md-12.pull-right
                        table.common-table.playerLvlTable
                            thead
                                tr
                                    th
                                        input.margin-right-5(type="checkbox", ng-model="vm.playerBeingEdited.checkAllIsSmsGroup" ng-init="vm.isAllIsSmsGroupChecked()" ng-change="vm.toggleAllIsSmsGroup()")
                                        | {{"receive status/sms group" | translate}}
                                    th {{"sms group settings" | translate}}
                            tbody
                                tr(ng-repeat='(i, v) in vm.smsGroups | filter: {smsParentSmsId: -1}')
                                    td
                                        input.margin-right-5(type="checkbox" ng-model='vm.playerSmsSetting.smsGroup[v.smsId]' ng-init='vm.isAllSmsInGroupChecked(v)' ng-change='vm.smsGroupCheckChange(v);vm.isAllIsSmsGroupChecked()')
                                        span(ng-if='!vm.configTableEdit') {{v.smsName}}
                                    td
                                        div(ng-repeat='(ii, vv) in vm.smsGroups | filter: {smsParentSmsId: v.smsId}')
                                            span {{ vv.smsName | translate}}
                                            input.margin-right-5(type="checkbox", ng-model="vm.playerBeingEdited.smsSetting[vv.smsName]" ng-change='vm.isAllSmsInGroupChecked(v)')

                    //label.control-label(style="width:auto;") {{"RECEIVE_SMS" | translate}}
                    //    input.pull-left.margin-right-5(type="checkbox", ng-model="vm.playerBeingEdited.receiveSMS")
                    //label.control-label(style="width:auto;") {{"Select All" | translate}}
                    //    input.pull-left.margin-right-5(type="checkbox", ng-model="vm.playerBeingEdited.smsSettingSelectAll", ng-change="vm.smsSettingToggleSelectAll();", ng-disabled="!vm.playerBeingEdited.receiveSMS")
                    //label.control-label.margin-right-5(style="width:100%;", ng-repeat="(k, t) in vm.allMessageTypes", ng-if="t.name!='smsVerificationCode'") {{t.name | translate}}
                    //    input.pull-left.margin-right-5(type="checkbox", ng-model="vm.playerBeingEdited.smsSetting[t.name]", ng-change="vm.smsSettingSetSelectAll();", ng-disabled="!vm.playerBeingEdited.receiveSMS")



    ez-modal-footer
        #smsToPlayerFooter(ng-if="vm.smsModalTab === 'smsToPlayerPanel'")
            button.btn.common-button.btn-primary(ng-click="vm.sendSMSToPlayer()", ng-disabled="!vm.smsPlayer.hasPhone") {{"SEND" | translate}}
            button.btn.common-button.btn-warning(data-dismiss='modal') {{"CLOSE" | translate}}
        #smsLogFooter(ng-if="vm.smsModalTab === 'smsLogPanel'")
            button.common-button.btn.btn-primary(data-dismiss='modal') {{"CLOSE" | translate}}
        #smsSettingFooter(ng-if="vm.smsModalTab === 'smsSettingPanel'")
            ez-confirm-button(ng-click="vm.updateSMSSettings();") {{"UPDATE" | translate}}
            button.btn.common-button.btn-warning(data-dismiss='modal') {{"CANCEL" | translate}}
            //button.dialogEditPlayerSubmitBtn.btn.btn-primary.common-button(data-dismiss='dialog', ng-disabled='smsPlayerModal.$invalid || smsPlayerModal.$pristine', ng-click="vm.updateSMSSettings();") {{"UPDATE" | translate}}

#modalTsPhoneFeedback.modal.fade(tabindex='-1', role='dialog', data-backdrop='static', keyboard=false, aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog(style='width:55%')
        .modal-content
            .modal-header
                a.fa.fa-times.close(type='button', data-dismiss='modal')
                h4.modal-title {{"ADD_FEEDBACK" | translate}}
            .modal-body
                .panel.panel-primary
                    .panel-body
                        .row
                            .col-md-12
                                table(style='min-width:100%')
                                    tbody
                                        tr
                                            td {{'FEEDBACK_RESULTS' | translate}}
                                            td
                                                select.form-control.inline-block(ng-model='vm.tsPhoneAddFeedback.result', ng-options='v.key as v.value for (i,v) in vm.allPlayerFeedbackResults', style="width:auto;")
                                                button.btn.btn-primary(style='margin-left:20px;', ng-click="vm.addPlayerFeedbackResultData={};vm.deletePlayerFeedbackResultData={};", ng-show="checkViewPermission('Player', 'Feedback','ModifyFeedbackResult')", data-toggle="modal", data-target="#modalAddPlayerFeedbackResult") {{"ADD" | translate}}
                                        tr
                                            td {{'FEEDBACK_TOPIC' | translate}}
                                            td
                                                select.form-control.inline-block(ng-model='vm.tsPhoneAddFeedback.topic', ng-options='v.key as v.value for (i,v) in vm.playerFeedbackTopic', style="width:auto;margin-bottom:1em;margin-top:1em;")
                                                button.btn.btn-primary(style='margin-left:20px;', ng-click="vm.addPlayerFeedbackTopicData={};vm.deletePlayerFeedbackTopicData={};", ng-show="checkViewPermission('Player', 'Feedback','ModifyFeedbackTopic')", data-toggle="modal", data-target="#modalAddPlayerFeedbackTopic") {{"ADD" | translate}}
                                        tr
                                            td
                                                text {{"FEEDBACK_CONTENT" | translate}}
                                            td.textareaDetail
                                                textarea.form-control(type="textarea", rows='4', ng-model='vm.tsPhoneAddFeedback.content')
                                        tr
                                            td(colspan=2)
                                                .text-center
                                                    button.btn.btn-danger.margin-right-5(ng-click='vm.tsPhoneAddFeedback.content="";vm.tsPhoneAddFeedback.result="";vm.tsPhoneAddFeedback.topic="";') {{'Reset' | translate}}
                                                    button.btn.btn-success(data-dismiss='modal' ng-disabled="!vm.tsPhoneAddFeedback.result || !vm.tsPhoneAddFeedback.topic", ng-click='vm.addTsPhoneFeedback(vm.tsPhoneAddFeedback)') {{'CONFIRM' | translate}}

#modalTsPhoneFeedbackHistory.modal.fade(tabindex='-1', role='dialog', data-backdrop='static', keyboard=false, aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog(style='width:65%')
        .modal-content
            .modal-header
                a.fa.fa-times.close(type='button', data-dismiss='modal')
                h4.modal-title {{"Feedback History" | translate}} : {{vm.tsPhoneFeedbackDetail.length}}
            .modal-body
                .panel.panel-primary
                    .panel-body
                        .row
                            .col-md-12
                                table.simple-table
                                    thead
                                        tr
                                            th {{'TIME' | translate}}
                                            th {{'ADMIN' | translate}}
                                            th {{'RESULT' | translate}}
                                            th {{'FEEDBACK_TOPIC' | translate}}
                                            th {{'REMARK' | translate}}
                                    tbody
                                        tr(ng-repeat='(i,v) in vm.tsPhoneFeedbackDetail', ng-show='vm.tsPhoneFeedbackDetail.length>0')
                                            td
                                                text {{vm.dateReformat(v.createTime)}}
                                            td
                                                text {{v.adminId.adminName || 'Unknown' | translate}}
                                            td
                                                text {{v.result$}}
                                            td
                                                text {{v.topic | translate}}
                                            td
                                                text {{v.content}}

#modalAddPlayerFeedbackResult.modal.fade(style='background: rgba(0,0,0,0.5);z-index:1052', tabindex='-1', role='dialog', data-backdrop='static', keyboard=false,aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog(style='width:40%; top: 20vh;')
        .modal-content
            .modal-header
                a.fa.fa-times.close(type='button', data-dismiss='modal')
                h4.modal-title {{"ADD_FEEDBACK_RESULT" | translate}}
            .modal-body
                div
                    label.control-label {{'ADD_FEEDBACK_RESULT' | translate}} &nbsp
                    .inlineBlk
                        input.form-control(style='width:120px;', ng-model='vm.addPlayerFeedbackResultData.key', placeholder="{{'FEEDBACK_RESULT_KEY' | translate}}")
                    .inlineBlk
                        input.form-control(style='width:120px;', ng-model='vm.addPlayerFeedbackResultData.value', placeholder="{{'FEEDBACK_RESULT' | translate}}")
                    button.btn.btn-primary(ng-click='vm.addPlayerFeedbackResult();') {{"ADD" | translate}}
                    span(style="color:green;",ng-show="vm.addPlayerFeedbackResultData.success === true") &nbsp{{vm.addPlayerFeedbackResultData.message | translate}}
                    span(style="color:red;",ng-show="vm.addPlayerFeedbackResultData.failure === true") &nbsp{{vm.addPlayerFeedbackResultData.message | translate}}

                div
                    label.control-label {{"DELETE_FEEDBACK_RESULT" | translate}} &nbsp
                    .inlineBlk
                        select.form-control(ng-model='vm.deletePlayerFeedbackResultData._id')
                            option(value='') {{'CHOOSE_FEEDBACK_RESULT' | translate}}
                            option(ng-repeat='(i,v) in vm.allPlayerFeedbackResults', value='{{v._id}}') {{v.value | translate}}
                    button.btn.btn-primary(ng-click='vm.deletePlayerFeedbackResult();') {{"DELETE" | translate}}
                    span(style="color:green;",ng-show="vm.deletePlayerFeedbackResultData.success === true") &nbsp{{vm.deletePlayerFeedbackResultData.message | translate}}
                    span(style="color:red;",ng-show="vm.deletePlayerFeedbackResultData.failure === true") &nbsp{{vm.deletePlayerFeedbackResultData.message | translate}}

#modalAddPlayerFeedbackTopic.modal.fade(style='background: rgba(0,0,0,0.5);z-index:1052', tabindex='-1', role='dialog', data-backdrop='static', keyboard=false,aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog(style='width:40%; top: 20vh;')
        .modal-content
            .modal-header
                a.fa.fa-times.close(type='button', data-dismiss='modal')
                h4.modal-title {{"ADD_FEEDBACK_TOPIC" | translate}}
            .modal-body
                div
                    label.control-label {{'ADD_FEEDBACK_TOPIC' | translate}} &nbsp
                    .inlineBlk
                        input.form-control(ng-model='vm.addPlayerFeedbackTopicData.value', placeholder="{{'FEEDBACK_TOPIC' | translate}}")
                    button.btn.btn-primary(ng-click='vm.addPlayerFeedbackTopic();') {{"ADD" | translate}}
                    span(style="color:green;",ng-show="vm.addPlayerFeedbackTopicData.success === true") &nbsp{{vm.addPlayerFeedbackTopicData.message | translate}}
                    span(style="color:red;",ng-show="vm.addPlayerFeedbackTopicData.failure === true") &nbsp{{vm.addPlayerFeedbackTopicData.message | translate}}

                div
                    label.control-label {{"DELETE_FEEDBACK_TOPIC" | translate}} &nbsp
                    .inlineBlk
                        select.form-control(ng-model='vm.deletePlayerFeedbackTopicData._id')
                            option(value='') {{'CHOOSE_FEEDBACK_TOPIC' | translate}}
                            option(ng-repeat='(i,v) in vm.playerFeedbackTopic', value='{{v._id}}') {{v.value | translate}}
                    button.btn.btn-primary(ng-click='vm.deletePlayerFeedbackTopic();') {{"DELETE" | translate}}
                    span(style="color:green;",ng-show="vm.deletePlayerFeedbackTopicData.success === true") &nbsp{{vm.deletePlayerFeedbackTopicData.message | translate}}
                    span(style="color:red;",ng-show="vm.deletePlayerFeedbackTopicData.failure === true") &nbsp{{vm.deletePlayerFeedbackTopicData.message | translate}}

#modalAdminPhoneListReminder.modal.fade(tabindex='-1', role='dialog', data-backdrop='static', keyboard=false,aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog(style='width:55%;')
        .modal-content
            .modal-header
                a.fa.fa-times.close(type='button', data-dismiss='modal')
                h4.modal-title {{"Set reminder/ clear reminder"|translate}}
            .modal-body
                text(style='color:red') {{"CURRENT_REMIND_TIME"| translate}} : {{vm.tsPhoneReminderDateShow}}
                #phoneListReminderTimePicker
            .modal-footer
                button.btn.btn-primary.common-button(ng-click="vm.updateTsPhoneDistributedPhone()", data-dismiss='modal') {{"CONFIRM" | translate}}
                button.btn.btn-warning.common-button(data-dismiss='modal') {{"CANCEL" | translate}}
                button.btn.btn-primary.common-button(ng-click="vm.cancelTsDistributedPhoneReminder()" data-dismiss='modal') {{"Clear Reminder" | translate}}

#modalCreateTsPlayer.modal.fade(tabindex='-1', role='dialog', data-backdrop='static', keyboard=false,aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog(style='max-height: 80vh;overflow-y: auto')
        .modal-content
            .modal-header
                a.fa.fa-times.close(type='button', data-dismiss='modal')
                h4.modal-title {{"CREATE_PLAYER" | translate}}
            .modal-body
                .panel.panel-primary
                    .panel-body
                        .well
                            .row
                                include tsPhone-player-create-form
                .well(ng-show='vm.playerCreateResult.success')
                    label.text-success {{'SUCCESS' | translate}}
                .well(ng-show='vm.playerCreateResult && !vm.playerCreateResult.success')
                    label.text-danger {{'FAIL' | translate}}
                    label.form-control {{(vm.playerCreateResult.error.message || vm.playerCreateResult.error.errorMessage || vm.playerCreateResult.error || vm.playerCreateResult) | translate}}
            .modal-footer
                button.btn.btn-primary.common-button(ng-disabled='form_new_player.$invalid || vm.passwordLengthCheck(vm.newPlayer.password)', ng-click="vm.createNewPlayer();", ng-hide='vm.playerCreateResult && vm.playerCreateResult.success') {{"CREATE" | translate}}
                button.btn.btn-warning.common-button(data-dismiss='modal', ng-hide='vm.playerCreateResult') {{"CANCEL" | translate}}
                button.common-button.margin-right-5.btn.btn-warning(data-dismiss='modal', ng-show='vm.playerCreateResult') {{"CLOSE" | translate}}

#modalTsPlayerCredibilityRemarks.modal.fade(tabindex='-1', role='dialog', data-backdrop='static', keyboard=false,aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog(style='width:80%;')
        .modal-content
            .modal-header
                a.fa.fa-times.close(type='button', data-dismiss='modal')
                h4.modal-title {{'UPDATE_PLAYER_CREDIBILITY_REMARK' | translate}}
            .modal-body
                .panel.panel-primary
                    .panel-body
                        button.btn.btn-primary.common-button(ng-click="vm.showSelectedCredibility()", data-dismiss='modal') {{"CONFIRM" | translate}}
                        span {{vm.credibilityRemarkUpdateMessage | translate}}
                        div.row
                            div.col-md-4
                                .well.row
                                    label {{"REDUCE_SCORE" | translate}}
                                    table.paddingTbl(style='min-width:100%')
                                        thead
                                            tr
                                                th {{"remark" | translate}}
                                                th {{"score" | translate}}
                                                th {{"SELECT" | translate}}
                                        tbody
                                            tr(ng-repeat='(i, data) in vm.negativeRemarks')
                                                td
                                                    text {{data.name}}
                                                td
                                                    text {{data.score}}
                                                td
                                                    input.selectRemark(type="checkbox", ng-model="data.selected", ng-change="vm.checkAnyPlayerRemarkRemoved()")
                                                    span(id="{{'c-'+data._id}}")
                            div.col-md-4
                                .well
                                    label {{"ADD_SCORE" | translate}}
                                    table.paddingTbl(style='min-width:100%')
                                        thead
                                            tr
                                                th {{"remark" | translate}}
                                                th {{"score" | translate}}
                                                th {{"SELECT" | translate}}
                                        tbody
                                            tr(ng-repeat='(i, data) in vm.positiveRemarks')
                                                td
                                                    text {{data.name}}
                                                td
                                                    text {{data.score}}
                                                td
                                                    input.selectRemark(type="checkbox", ng-model="data.selected", ng-change="vm.checkAnyPlayerRemarkRemoved()")
                                                    span(id="{{'c-'+data._id}}")
                            div.col-md-4
                                .well
                                    label {{"REMINDER" | translate}}
                                    table.paddingTbl(style='min-width:100%')
                                        thead
                                            tr
                                                th {{"remark" | translate}}
                                                th {{"score" | translate}}
                                                th {{"SELECT" | translate}}
                                        tbody
                                            tr(ng-repeat='(i, data) in vm.neutralRemarks')
                                                td
                                                    text {{data.name}}
                                                td
                                                    text {{data.score}}
                                                td
                                                    input.selectRemark(type="checkbox", ng-model="data.selected", ng-change="vm.checkAnyPlayerRemarkRemoved()", ng-show="!data.isFixed")
                                                    span(id="{{'c-'+data._id}}")
                .panel.panel-primary
                    .panel-body
                        div.col-md-12
                            label {{'REMARKS' | translate}}:
                            div
                                textarea.form-control(style="max-width: 100%; overflow: auto; margin-bottom: 12px;", rows="15", ng-model="vm.credibilityRemarkComment", placeholder="{{'Player Credibility' | translate}}{{'REMARKS' | translate}}")
