.text-center
    p(ng-if="!vm.curPlatformText")
        label.text-danger {{"NO_PLATFORM_MESSAGE" | translate}}
div(ng-show="vm.curPlatformText")
    #phoneListManageTable-search-filter.block-query.col-md-12.well
        div(style='max-width: 200px')
            label.control-label {{'PHONE_LIST' | translate}}
            select.spicker.form-control#phoneListMangementName(ng-model='vm.queryAdminPhoneList.phoneListName', bsp, multiple, data-actions-box='true', ng-options='v as v for (i,v) in vm.adminPhoneListName')
        div(style='max-width: 200px')
            label {{"SEND_STATUS"|translate}}
            select.spicker.form-control#phoneListMangementStatus(ng-model='vm.queryAdminPhoneList.resultName', bsp, multiple, data-actions-box='true', ng-options='v.value as v.value for (i,v) in vm.allPlayerFeedbackResults')
        div
            label.control-label {{'My last feedback time (start)' | translate}}
            #adminPhoneListLastFeedbackStart
        div
            label.control-label {{'My last feedback time (end)' | translate}}
            #adminPhoneListLastFeedbackEnd
        div
            label.control-label {{'My feedback times' | translate}}
            select.form-control(ng-init='vm.queryAdminPhoneList.feedbackTimesOperator = ">="' ng-model="vm.queryAdminPhoneList.feedbackTimesOperator" style="width:75px;display:inline-block")
                option(value='>=') {{'>='}}
                option(value='=') {{'='}}
                option(value='<=') {{'<='}}
                option(value='range') {{'range'|translate}}
            div(style="width:8px;display:inline-block")
            input.form-control(type="number" ng-model="vm.queryAdminPhoneList.feedbackTimes" style="width:80px;display:inline-block")
            div.text-center(style="width:15px;display:inline-block" ng-if="vm.queryAdminPhoneList.feedbackTimesOperator === 'range'") ~
            input.form-control(type="number" ng-model="vm.queryAdminPhoneList.feedbackTimesTwo" style="width:80px;display:inline-block" ng-if="vm.queryAdminPhoneList.feedbackTimesOperator === 'range'")
        div
            label.control-label {{'Phone distributed time (start)' | translate}}
            #adminPhoneListDistributeStart
        div
            label.control-label {{'Phone distributed time (end)' | translate}}
            #adminPhoneListDistributeEnd
        div
            //label.control-label(style='display: block') {{'Phone number reclaim in X day' | translate}}
            label.control-label {{'Phone number reclaim in X day' | translate}}
            select.form-control(ng-init='vm.queryAdminPhoneList.reclaimDayOperator = ">="' ng-model="vm.queryAdminPhoneList.reclaimDayOperator" style="width:75px;display:inline-block")
                option(value='>=') {{'>='}}
                option(value='=') {{'='}}
                option(value='<=') {{'<='}}
                option(value='range') {{'range'|translate}}
            div(style="width:8px;display:inline-block")
            input.form-control(type="number" ng-model="vm.queryAdminPhoneList.reclaimDays" style="width:80px;display:inline-block")
            div.text-center(style="width:15px;display:inline-block" ng-if="vm.queryAdminPhoneList.reclaimDayOperator === 'range'") ~
            input.form-control(type="number" ng-model="vm.queryAdminPhoneList.reclaimDaysTwo" style="width:80px;display:inline-block" ng-if="vm.queryAdminPhoneList.reclaimDayOperator === 'range'")
        div
            label.control-label {{'Assign times (numerator)' | translate}}
            select.form-control(ng-init='vm.queryAdminPhoneList.assignTimesOperator = ">="' ng-model="vm.queryAdminPhoneList.assignTimesOperator" style="width:75px;display:inline-block")
                option(value='>=') {{'>='}}
                option(value='=') {{'='}}
                option(value='<=') {{'<='}}
                option(value='range') {{'range'|translate}}
            div(style="width:8px;display:inline-block")
            input.form-control(type="number" ng-model="vm.queryAdminPhoneList.assignTimes" style="width:80px;display:inline-block")
            div.text-center(style="width:15px;display:inline-block" ng-if="vm.queryAdminPhoneList.assignTimesOperator === 'range'") ~
            input.form-control(type="number" ng-model="vm.queryAdminPhoneList.assignTimesTwo" style="width:80px;display:inline-block" ng-if="vm.queryAdminPhoneList.assignTimesOperator === 'range'")
        div
            label.control-label {{'Filter non-dial areas' | translate}}
            select.form-control(ng-init='vm.queryAdminPhoneList.isFilterDangerZone="true"' ng-model="vm.queryAdminPhoneList.isFilterDangerZone")
                option(value='true') {{'YES' | translate}}
                option(value='') {{'NO' | translate}}
        div
            label &nbsp;
            button.btn.btn-primary.common-button(ng-click="vm.searchAdminPhoneList(true);") {{'SEARCH' | translate}}
            span#adminPhoneListTableSpin.collapse
                i.fa.fa-spinner.fa-spin
    .clearfix
    label {{"Total" | translate}} {{vm.queryAdminPhoneList.totalCount}} {{"records" | translate}}
    table.common-table#adminPhoneListTable.display(style="width:100%;overflow: scroll;max-height:700px")
    #adminPhoneListTablePage

#modalTsPhoneFeedback.modal.fade(tabindex='-1', role='dialog', data-backdrop='static', keyboard=false, aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog(style='width:55%')
        .modal-content
            .modal-header
                a.fa.fa-times.close(type='button', data-dismiss='modal')
                h4.modal-title {{"ADD_FEEDBACK" | translate}}
            .modal-body
                .panel.panel-primary
                    .panel-body
                        .row
                            .col-md-12
                                table(style='min-width:100%')
                                    tbody
                                        tr
                                            td {{'FEEDBACK_RESULTS' | translate}}
                                            td
                                                select(ng-model='vm.tsPhoneAddFeedback.result', ng-options='v.key as v.value for (i,v) in vm.allPlayerFeedbackResults')
                                                button.btn.btn-primary(style='margin-left:20px;', ng-click="vm.addPlayerFeedbackResultData={};vm.deletePlayerFeedbackResultData={};", ng-show="checkViewPermission('Player', 'Feedback','ModifyFeedbackResult')", data-toggle="modal", data-target="#modalAddPlayerFeedbackResult") {{"ADD" | translate}}
                                        tr
                                            td {{'FEEDBACK_TOPIC' | translate}}
                                            td
                                                select(ng-model='vm.tsPhoneAddFeedback.topic', ng-options='v.key as v.value for (i,v) in vm.playerFeedbackTopic')
                                                button.btn.btn-primary(style='margin-left:20px;', ng-click="vm.addPlayerFeedbackTopicData={};vm.deletePlayerFeedbackTopicData={};", ng-show="checkViewPermission('Player', 'Feedback','ModifyFeedbackTopic')", data-toggle="modal", data-target="#modalAddPlayerFeedbackTopic") {{"ADD" | translate}}
                                        tr
                                            td
                                                text {{"REMARK" | translate}}
                                            td.textareaDetail
                                                textarea.form-control(type="textarea", rows='4', ng-model='vm.tsPhoneAddFeedback.content')
                                        tr
                                            td(colspan=2)
                                                .text-center
                                                    button.btn.btn-danger.margin-right-5(ng-click='vm.tsPhoneAddFeedback.content="";vm.tsPhoneAddFeedback.result="";vm.tsPhoneAddFeedback.topic="";') {{'Reset' | translate}}
                                                    button.btn.btn-success(data-dismiss='modal' ng-disabled="!vm.tsPhoneAddFeedback.result || !vm.tsPhoneAddFeedback.topic || !vm.tsPhoneAddFeedback.content", ng-click='vm.addTsPhoneFeedback(vm.tsPhoneAddFeedback)') {{'CONFIRM' | translate}}

#modalTsPhoneFeedbackHistory.modal.fade(tabindex='-1', role='dialog', data-backdrop='static', keyboard=false, aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog(style='width:65%')
        .modal-content
            .modal-header
                a.fa.fa-times.close(type='button', data-dismiss='modal')
                h4.modal-title {{"Feedback History" | translate}} : {{vm.tsPhoneFeedbackDetail.length}}
            .modal-body
                .panel.panel-primary
                    .panel-body
                        .row
                            .col-md-12
                                table.simple-table
                                    thead
                                        tr
                                            th {{'TIME' | translate}}
                                            th {{'ADMIN' | translate}}
                                            th {{'RESULT' | translate}}
                                            th {{'FEEDBACK_TOPIC' | translate}}
                                            th {{'REMARK' | translate}}
                                    tbody
                                        tr(ng-repeat='(i,v) in vm.tsPhoneFeedbackDetail', ng-show='vm.tsPhoneFeedbackDetail.length>0')
                                            td
                                                text {{vm.dateReformat(v.createTime)}}
                                            td
                                                text {{v.adminId.adminName || 'Unknown' | translate}}
                                            td
                                                text {{v.result$}}
                                            td
                                                text {{v.topic | translate}}
                                            td
                                                text {{v.content}}

#modalAdminPhoneListDetails.hide(style="width: 600px")
    table.simple-table(style='width:auto;min-width:99.9%')
        thead
            tr
                th {{'TITLE' | translate}}
                th {{'VALUE' | translate}}
        tbody
            tr
                td
                    text {{'PLAYER_NAME' | translate}}
                td
                    text {{vm.tsPhoneDetails.playerName}}
            tr
                td
                    text {{'REAL_NAME' | translate}}
                td
                    text {{vm.tsPhoneDetails.realName}}
            tr
                td
                    text {{'PHONE' | translate}}
                td
                    text {{vm.tsPhoneDetails.phoneNumber}}
            tr
                td
                    text {{'GENDER' | translate}}
                td
                    text {{vm.tsPhoneDetails.gender}}
            tr
                td
                    text {{'DOB' | translate}}
                td
                    text {{vm.tsPhoneDetails.dob}}
            tr
                td
                    text {{'WECHAT' | translate}}
                td
                    text {{vm.tsPhoneDetails.wechat}}
            tr
                td
                    text {{'QQ' | translate}}
                td
                    text {{vm.tsPhoneDetails.qq}}
            tr
                td
                    text {{'EMAIL' | translate}}
                td
                    text {{vm.tsPhoneDetails.email}}
            tr
                td
                    text {{'REMARKS' | translate}}
                td
                    text {{vm.tsPhoneDetails.remark}}
            tr
                td
                    text {{'PHONE_LOCATION' | translate}}
                td
                    text {{vm.tsPhoneDetails.province}} {{vm.tsPhoneDetails.city}}
                    
#modalAdminPhoneListReminder.modal.fade(tabindex='-1', role='dialog', data-backdrop='static', keyboard=false,aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog(style='width:55%;')
        .modal-content
            .modal-header
                a.fa.fa-times.close(type='button', data-dismiss='modal')
                h4.modal-title {{"Duplicate Phone Number"|translate}}
            .modal-body
                #phoneListReminderTimePicker
            .modal-footer
                button.btn.btn-primary.common-button(ng-click="vm.updateTsPhoneDistributedPhone()", data-dismiss='modal') {{"CONFIRM" | translate}}
                button.btn.btn-warning.common-button(data-dismiss='modal') {{"CANCEL" | translate}}

#modalCreateTsPlayer.modal.fade(tabindex='-1', role='dialog', data-backdrop='static', keyboard=false,aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog(style='max-height: 80vh;overflow-y: auto')
        .modal-content
            .modal-header
                a.fa.fa-times.close(type='button', data-dismiss='modal')
                h4.modal-title {{"CREATE_PLAYER" | translate}}
            .modal-body
                .panel.panel-primary
                    .panel-body
                        .well
                            .row
                                include tsPhone-player-create-form
                .well(ng-show='vm.playerCreateResult.success')
                    label.text-success {{'SUCCESS' | translate}}
                .well(ng-show='vm.playerCreateResult && !vm.playerCreateResult.success')
                    label.text-danger {{'FAIL' | translate}}
                    label.form-control {{(vm.playerCreateResult.error.message || vm.playerCreateResult.error.errorMessage || vm.playerCreateResult.error || vm.playerCreateResult) | translate}}
            .modal-footer
                button.btn.btn-primary.common-button(ng-disabled='form_new_player.$invalid || vm.passwordLengthCheck(vm.newPlayer.password)', ng-click="vm.createNewPlayer();", ng-hide='vm.playerCreateResult && vm.playerCreateResult.success') {{"CREATE" | translate}}
                button.btn.btn-warning.common-button(data-dismiss='modal', ng-hide='vm.playerCreateResult') {{"CANCEL" | translate}}
                button.common-button.margin-right-5.btn.btn-warning(data-dismiss='modal', ng-show='vm.playerCreateResult') {{"CLOSE" | translate}}

#duplicatePhoneNumberLog.modal.fade(tabindex='-1', role='dialog', data-backdrop='static', keyboard=false, aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog(style='width:95%;')
        .modal-content
            .modal-header
                a.fa.fa-times.close(type='button', data-dismiss='modal')
                h4.modal-title {{"Duplicate Phone Number"|translate}}
            .modal-body
                div
                    label {{"Total" | translate}} {{vm.duplicatePhoneNumber.totalCount}} {{"records" | translate}}
                    table#duplicatePhoneNumberLogTable.common-table.display(style='min-width:100%')
                    #duplicatePhoneNumberLogTablePage.height30

#modalTsPlayerCredibilityRemarks.modal.fade(tabindex='-1', role='dialog', data-backdrop='static', keyboard=false,aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog(style='width:80%;')
        .modal-content
            .modal-header
                a.fa.fa-times.close(type='button', data-dismiss='modal')
                h4.modal-title {{'UPDATE_PLAYER_CREDIBILITY_REMARK' | translate}}
            .modal-body
                .panel.panel-primary
                    .panel-body
                        button.btn.btn-primary.common-button(ng-click="vm.showSelectedCredibility()", data-dismiss='modal') {{"CONFIRM" | translate}}
                        span {{vm.credibilityRemarkUpdateMessage | translate}}
                        div.row
                            div.col-md-4
                                .well.row
                                    label {{"REDUCE_SCORE" | translate}}
                                    table.paddingTbl(style='min-width:100%')
                                        thead
                                            tr
                                                th {{"remark" | translate}}
                                                th {{"score" | translate}}
                                                th {{"SELECT" | translate}}
                                        tbody
                                            tr(ng-repeat='(i, data) in vm.negativeRemarks')
                                                td
                                                    text {{data.name}}
                                                td
                                                    text {{data.score}}
                                                td
                                                    input.selectRemark(type="checkbox", ng-model="data.selected", ng-change="vm.checkAnyPlayerRemarkRemoved()")
                                                    span(id="{{'c-'+data._id}}")
                            div.col-md-4
                                .well
                                    label {{"ADD_SCORE" | translate}}
                                    table.paddingTbl(style='min-width:100%')
                                        thead
                                            tr
                                                th {{"remark" | translate}}
                                                th {{"score" | translate}}
                                                th {{"SELECT" | translate}}
                                        tbody
                                            tr(ng-repeat='(i, data) in vm.positiveRemarks')
                                                td
                                                    text {{data.name}}
                                                td
                                                    text {{data.score}}
                                                td
                                                    input.selectRemark(type="checkbox", ng-model="data.selected", ng-change="vm.checkAnyPlayerRemarkRemoved()")
                                                    span(id="{{'c-'+data._id}}")
                            div.col-md-4
                                .well
                                    label {{"REMINDER" | translate}}
                                    table.paddingTbl(style='min-width:100%')
                                        thead
                                            tr
                                                th {{"remark" | translate}}
                                                th {{"score" | translate}}
                                                th {{"SELECT" | translate}}
                                        tbody
                                            tr(ng-repeat='(i, data) in vm.neutralRemarks')
                                                td
                                                    text {{data.name}}
                                                td
                                                    text {{data.score}}
                                                td
                                                    input.selectRemark(type="checkbox", ng-model="data.selected", ng-change="vm.checkAnyPlayerRemarkRemoved()", ng-show="!data.isFixed")
                                                    span(id="{{'c-'+data._id}}")
                .panel.panel-primary
                    .panel-body
                        div.col-md-12
                            label {{'REMARKS' | translate}}:
                            div
                                textarea.form-control(style="max-width: 100%; overflow: auto; margin-bottom: 12px;", rows="15", ng-model="vm.credibilityRemarkComment", placeholder="{{'Player Credibility' | translate}}{{'REMARKS' | translate}}")


