.text-center
    p(ng-if="!vm.curPlatformText")
        label.text-danger {{"NO_PLATFORM_MESSAGE" | translate}}
.col-md-6(ng-if="!checkViewPermission('Partner', 'Partner', 'AdvancedSearch') && vm.curPlatformText")
    .search-box
        .fa.fa-search.pull-right.margin-all-5
        a.fa.fa-times.pull-right.margin-all-5(ng-if='vm.searchText', ng-click='vm.searchText=null')
        input#partnerSearch.span.input-sm(type="text", ng-model="vm.searchText", placeholder='{{"SEARCH_HERE" | translate}}')
.col-md-12(ng-show="checkViewPermission('Partner', 'Partner', 'AdvancedSearch') && vm.curPlatformText")
    .col-xs-11.col-sm-10.col-md-12.search-filters-container.well
        .search-filters-item
            label {{'PRODUCT_NAME'| translate}} ({{'Multiple' | translate}})
            select#productName.form-control(ng-model='vm.partnerAdvanceSearchQuery.platformList', ng-options='v._id as v.name$ for v in vm.allPlatformData', multiple, bsp, data-actions-box='true')
        .search-filters-item
            label {{'PARTNER_ID' | translate}}
            input.form-control(ng-model='vm.partnerAdvanceSearchQuery.partnerId', ng-change='vm.getPartnersByAdvanceQueryDebounced(vm.partnerAdvanceSearchQuery)')
        .search-filters-item
            label {{'PARTNER_NAME' | translate}}
            input.form-control(ng-model='vm.partnerAdvanceSearchQuery.partnerName', ng-change='vm.getPartnersByAdvanceQueryDebounced(vm.partnerAdvanceSearchQuery)')
        .search-filters-item
            label {{'REAL_NAME' | translate}}
            input.form-control(ng-model='vm.partnerAdvanceSearchQuery.realName', ng-change='vm.getPartnersByAdvanceQueryDebounced(vm.partnerAdvanceSearchQuery)')
        .search-filters-item
            label {{'COMMISSION_TYPE' | translate}}
            select.form-control(ng-model='vm.partnerAdvanceSearchQuery.commissionType')
                option(value='') —
                option(ng-repeat="(i,v) in vm.constPartnerCommisionType", value='{{v}}') {{i | translate}}
        .search-filters-twoBoxes(ng-class = '{"search-filters-threeBoxes": (vm.partnerAdvanceSearchQuery.creditsOperator === "range")}')
            label {{'CREDIT' | translate}}
            div
                select.threeBoxes.form-control(ng-model='vm.partnerAdvanceSearchQuery.creditsOperator')
                    option(value='>=') >=
                    option(value='=') =
                    option(value='<=') <=
                    option(value='range') {{'range' | translate}}
                input.threeBoxes.form-control(ng-model='vm.partnerAdvanceSearchQuery.creditsInput1', type = 'number')
                div.symbol(ng-if="vm.partnerAdvanceSearchQuery.creditsOperator === 'range'") ~
                input.threeBoxes.form-control(type="number" ng-model="vm.partnerAdvanceSearchQuery.creditsInput2" ng-if="vm.partnerAdvanceSearchQuery.creditsOperator === 'range'")
        //.search-filters-item
            label {{'REGISTRATION_TIME' | translate}}
            #regDateTimePicker2.datetimepicker.form-control
                input.input-append.playerDate(data-format="dd/MM/yyyy hh:mm:ss", type='text')
                span.add-on
                    i.fa-calendar.fa(data-time-icon='fa fa-clock-o', data-date-icon='fa fa-calendar')
        .search-filters-item
            label {{"REGISTRATION_TIME"|translate}}
            #regDateTimePicker2
        .search-filters-item
            label {{"REGISTRATION_TIME_END"|translate}}
            #regEndDateTimePicker2
        .search-filters-item
            label {{"LAST_ACCESS_TIME"|translate}}
            #lastAccessDateTimePicker2
        .search-filters-item
            label {{"LAST_ACCESS_TIME_END"|translate}}
            #lastAccessEndDateTimePicker2
        .search-filters-item
            label {{'TELEPHONE' | translate}}
            input.form-control(ng-model='vm.partnerAdvanceSearchQuery.phoneNumber', ng-change='vm.getPartnersByAdvanceQueryDebounced(vm.partnerAdvanceSearchQuery)')
        .search-filters-twoBoxes(ng-class = '{"search-filters-threeBoxes": (vm.partnerAdvanceSearchQuery.dailyActivePlayerOperator === "range")}')
            label.control-label {{'DAILY_ACTIVE' | translate}}
            div
                select.threeBoxes.form-control(ng-model='vm.partnerAdvanceSearchQuery.dailyActivePlayerOperator')
                    option(value='>=') >=
                    option(value='=') =
                    option(value='<=') <=
                    option(value='range') {{'range' | translate}}
                input.threeBoxes.form-control(ng-model='vm.partnerAdvanceSearchQuery.dailyActivePlayerInput1', type = 'number')
                div.symbol(ng-if="vm.partnerAdvanceSearchQuery.dailyActivePlayerOperator === 'range'") ~
                input.threeBoxes.form-control(type="number" ng-model="vm.partnerAdvanceSearchQuery.dailyActivePlayerInput2"  ng-if="vm.partnerAdvanceSearchQuery.dailyActivePlayerOperator === 'range'")
        .search-filters-twoBoxes(ng-class = '{"search-filters-threeBoxes": (vm.partnerAdvanceSearchQuery.weeklyActivePlayerOperator === "range")}')
            label {{'WEEKLY_ACTIVE' | translate}}
            div
                select.threeBoxes.form-control(ng-model='vm.partnerAdvanceSearchQuery.weeklyActivePlayerOperator')
                    option(value='>=') >=
                    option(value='=') =
                    option(value='<=') <=
                    option(value='range') {{'range' | translate}}
                input.threeBoxes.form-control(ng-model='vm.partnerAdvanceSearchQuery.weeklyActivePlayerInput1', type = 'number')
                div.symbol(ng-if="vm.partnerAdvanceSearchQuery.weeklyActivePlayerOperator === 'range'") ~
                input.threeBoxes.form-control(type="number" ng-model="vm.partnerAdvanceSearchQuery.weeklyActivePlayerInput2" ng-if="vm.partnerAdvanceSearchQuery.weeklyActivePlayerOperator === 'range'")
        .search-filters-twoBoxes(ng-class = '{"search-filters-threeBoxes": (vm.partnerAdvanceSearchQuery.monthlyActivePlayerOperator === "range")}')
            label {{'MONTHLY_ACTIVE' | translate}}
            div
                select.threeBoxes.form-control(ng-model='vm.partnerAdvanceSearchQuery.monthlyActivePlayerOperator')
                    option(value='>=') >=
                    option(value='=') =
                    option(value='<=') <=
                    option(value='range') {{'range' | translate}}
                input.threeBoxes.form-control(ng-model='vm.partnerAdvanceSearchQuery.monthlyActivePlayerInput1',  type = 'number')
                div.symbol(ng-if="vm.partnerAdvanceSearchQuery.monthlyActivePlayerOperator === 'range'") ~
                input.threeBoxes.form-control(type="number" ng-model="vm.partnerAdvanceSearchQuery.monthlyActivePlayerInput2"  ng-if="vm.partnerAdvanceSearchQuery.monthlyActivePlayerOperator === 'range'")
        .search-filters-twoBoxes(ng-class = '{"search-filters-threeBoxes": (vm.partnerAdvanceSearchQuery.validPlayersOperator === "range")}')
            label {{'VALID_PLAYER' | translate}}
            div
                select.threeBoxes.form-control(ng-model='vm.partnerAdvanceSearchQuery.validPlayersOperator')
                    option(value='>=') >=
                    option(value='=') =
                    option(value='<=') <=
                    option(value='range') {{'range' | translate}}
                input.threeBoxes.form-control(ng-model='vm.partnerAdvanceSearchQuery.validPlayersInput1',  type = 'number')
                div.symbol(ng-if="vm.partnerAdvanceSearchQuery.validPlayersOperator === 'range'") ~
                input.threeBoxes.form-control(type="number" ng-model="vm.partnerAdvanceSearchQuery.validPlayersInput2"  ng-if="vm.partnerAdvanceSearchQuery.validPlayersOperator === 'range'")
        .search-filters-twoBoxes(ng-class = '{"search-filters-threeBoxes": (vm.partnerAdvanceSearchQuery.totalPlayerDownlineOperator === "range")}')
            label {{'TOTAL_CHILDREN_COUNT' | translate}}
            div
                select.threeBoxes.form-control(ng-model='vm.partnerAdvanceSearchQuery.totalPlayerDownlineOperator')
                    option(value='>=') >=
                    option(value='=') =
                    option(value='<=') <=
                    option(value='range') {{'range' | translate}}
                input.threeBoxes.form-control(ng-model='vm.partnerAdvanceSearchQuery.totalPlayerDownlineInput1',  type = 'number')
                div.symbol(ng-if="vm.partnerAdvanceSearchQuery.totalPlayerDownlineOperator === 'range'") ~
                input.threeBoxes.form-control(type="number" ng-model="vm.partnerAdvanceSearchQuery.totalPlayerDownlineInput2"  ng-if="vm.partnerAdvanceSearchQuery.totalPlayerDownlineOperator === 'range'")
        .search-filters-twoBoxes(ng-class = '{"search-filters-threeBoxes": (vm.partnerAdvanceSearchQuery.totalChildrenDepositOperator === "range")}')
            label {{'TOTAL_CHILDREN_DEPOSIT' | translate}}
            div
                select.threeBoxes.form-control(ng-model='vm.partnerAdvanceSearchQuery.totalChildrenDepositOperator')
                    option(value='>=') >=
                    option(value='=') =
                    option(value='<=') <=
                    option(value='range') {{'range' | translate}}
                input.threeBoxes.form-control(ng-model='vm.partnerAdvanceSearchQuery.totalChildrenDepositInput1',  type = 'number')
                div.symbol(ng-if="vm.partnerAdvanceSearchQuery.totalChildrenDepositOperator === 'range'") ~
                input.threeBoxes.form-control(type="number" ng-model="vm.partnerAdvanceSearchQuery.totalChildrenDepositInput2"  ng-if="vm.partnerAdvanceSearchQuery.totalChildrenDepositOperator === 'range'")
        .search-filters-twoBoxes(ng-class = '{"search-filters-threeBoxes": (vm.partnerAdvanceSearchQuery.totalChildrenBalanceOperator === "range")}')
            label {{'TOTAL_CHILDREN_BALANCE' | translate}}
            div
                select.threeBoxes.form-control(ng-model='vm.partnerAdvanceSearchQuery.totalChildrenBalanceOperator')
                    option(value='>=') >=
                    option(value='=') =
                    option(value='<=') <=
                    option(value='range') {{'range' | translate}}
                input.threeBoxes.form-control(ng-model='vm.partnerAdvanceSearchQuery.totalChildrenBalanceInput1',  type = 'number')
                div.symbol(ng-if="vm.partnerAdvanceSearchQuery.totalChildrenBalanceOperator === 'range'") ~
                input.threeBoxes.form-control(type="number" ng-model="vm.partnerAdvanceSearchQuery.totalChildrenBalanceInput2"  ng-if="vm.partnerAdvanceSearchQuery.totalChildrenBalanceOperator === 'range'")
        .search-filters-twoBoxes(ng-class = '{"search-filters-threeBoxes": (vm.partnerAdvanceSearchQuery.totalSettledCommissionOperator === "range")}')
            label {{'SETTLED_COMMISSION' | translate}}
            div
                select.threeBoxes.form-control(ng-model='vm.partnerAdvanceSearchQuery.totalSettledCommissionOperator')
                    option(value='>=') >=
                    option(value='=') =
                    option(value='<=') <=
                    option(value='range') {{'range' | translate}}
                input.threeBoxes.form-control(ng-model='vm.partnerAdvanceSearchQuery.totalSettledCommissionInput1',  type = 'number')
                div.symbol(ng-if="vm.partnerAdvanceSearchQuery.totalSettledCommissionOperator === 'range'") ~
                input.threeBoxes.form-control(type="number" ng-model="vm.partnerAdvanceSearchQuery.totalSettledCommissionInput2"  ng-if="vm.partnerAdvanceSearchQuery.totalSettledCommissionOperator === 'range'")
        .col-xs-12.text-right
            button.btn.btn-success.margin-right-5(ng-click='vm.getPlatformPartnersData()') {{'SEARCH' | translate}}
            button#resetPartnerQuery.btn.btn-primary {{'Reset' | translate}}

//.col-md-12
    .pull-right.margin-top-5
        text.margin-right-5 {{"Refresh" | translate}}
        a#partnerRefreshIcon.fa.fa-refresh(ng-click='vm.getPlatformPartnersData()')
.col-md-12
    label(ng-show='vm.platformPartnerCount') {{'Total Partner' | translate}} : {{vm.platformPartnerCount}} ({{"Search Result" | translate}} : {{vm.searchPartnerCount}})
    #partnerLoadingIcon(style="margin-left:10px")

p
.col-md-12(style="min-height:150px;")
    table.common-table#partnerDataTable.display(style="width:100% ;overflow-x: scroll")
    #partnerTablePage
p
.col-md-12
    .btn-group.text-center.margin-small
        button.btn.btn-primary.common-button(ng-if="checkViewPermission('Partner', 'Partner', 'Create')", ng-disabled="!vm.selectedPlatform", data-toggle="modal", data-target='#modalCreatePartner', ng-click='vm.prepareCreatePartner()')
            text {{"CREATE" | translate}}
            img.img-create
        //button.btn.btn-primary.common-button(ng-if="checkViewPermission('Partner', 'Partner', 'SettleCommission') && !vm.partnerSettlementSubmitted[prev.settMode]", ng-repeat="prev in vm.allPartnerCommSettPreview", ng-click='vm.initSettlePartnerComm(prev)')
        //    text {{constPartnerCommissionSettlementType[prev.settMode] | translate}}
        //    .fa.fa-book
        //button.btn.btn-primary.common-button(ng-if="checkViewPermission('Platform', 'Partner', 'Delete')",ng-disabled="vm.selectedPartnerCount==0", data-toggle="modal", data-target='#modalDeletePartner')
            text {{"DELETE" | translate}}
            img.img-delete
        //button.btn.btn-primary.common-button(ng-if="checkViewPermission('Platform', 'Partner', 'Edit')",ng-disabled="vm.selectedPartnerCount!=1 || !vm.selectedSinglePartner", data-toggle="modal", data-target='#modalUpdatePartner', ng-click='vm.preUpdatePartner()')
            text {{"EDIT" | translate}}
            img.img-edit
        //button.btn.btn-primary.common-button(ng-if="checkViewPermission('Platform', 'Partner', 'EditContact')", ng-disabled="vm.selectedPartnerCount!=1 || !vm.selectedSinglePartner", data-toggle="modal", ng-click='vm.prepareEditCritical("partner")', data-target='#modalEditCritical')
            text {{"EDIT_CRITICAL_INFO" | translate}}
            img.img-edit
        //button.btn.btn-primary.common-button(ng-if="checkViewPermission('Platform', 'Partner', 'BankDetail')",ng-disabled="vm.selectedPartnerCount!=1 || !vm.selectedSinglePartner", data-toggle="modal", ng-click='vm.prepareEditPartnerPayment()', data-target='#modalBankDetail')
            text {{"BANK_DETAIL" | translate}}
            img.img-edit
        //button.btn.btn-primary.common-button(ng-if="checkViewPermission('Platform', 'Partner', 'ResetPassword')",ng-disabled="vm.selectedPartnerCount!=1 || !vm.selectedSinglePartner", data-toggle="modal", data-target='#modalPartnerPasswordReset',ng-click='vm.newPartner=vm.selectedSinglePartner; vm.partnerNewPassword = false')
            text {{"RESET_PASSWORD" | translate}}
            img.img-edit
        //button.btn.btn-primary.common-button(ng-if="checkViewPermission('Platform', 'Partner', 'LinkPlayer')",ng-disabled="vm.selectedPartnerCount!=1 || !vm.selectedSinglePartner", data-toggle="modal", data-target='#modalLinkPlayer', ng-click='vm.preLinkedPlayertoPartner()')
            text {{"Link Player" | translate}}
            img.img-edit

// Partner actions
//p
//.col-md-12
    hr.margin-top-bottom-small
    .btn-group.text-center.margin-small
        button.btn.btn-primary.common-button(ng-if="checkViewPermission('Platform', 'Partner', 'ApplyBonus')", ng-disabled="vm.selectedPartnerCount!=1 || !vm.selectedSinglePartner", data-toggle="modal", ng-click='vm.initPartnerBonus();', data-target='#modalPartnerBonus')
            text {{"APPLY_BONUS" | translate}}
            img.img-edit
        button.btn.btn-primary.common-button(ng-if="checkViewPermission('Platform', 'Partner', 'CreditAdjustment')", ng-disabled="vm.selectedPartnerCount!=1 || !vm.selectedSinglePartner", data-toggle="modal", ng-click='vm.prepareShowPartnerCreditAdjustment("adjust");', data-target='#modalPartnerCreditAdjustment')
            text {{"CREDIT_ADJUSTMENT" | translate}}
            img.img-edit

#modalPartnerInfo.modal.fade(role='dialog', data-backdrop=true, keyboard=true,aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
        .modal-content
            .modal-header
                a.fa.fa-times.close(type='button', data-dismiss='modal')
                h4.modal-title {{'Partner' | translate}} : {{vm.selectedSinglePartner.partnerName}}
            .modal-body.col-xs-12
                h4 {{"Partner Information" | translate}}
                div.newcontanier.col-xs-12
                    div
                        h5 {{'Basic' | translate}}
                        hr
                        div.col-xs-12
                            .col-sm-offset-1.col-sm-3
                                .col-sm-5
                                    label {{"PARTNER_NAME" | translate}}
                                .col-sm-7
                                    text {{vm.selectedSinglePartner.partnerName}}
                            .col-sm-3
                                .col-sm-5
                                    label {{"PARTNER_ID" | translate}}
                                .col-sm-7
                                    text {{vm.selectedSinglePartner.partnerId}}
                            .col-sm-3
                                .col-sm-5
                                    label {{"realName" | translate}}
                                .col-sm-7
                                    text {{vm.selectedSinglePartner.realName || 'NONE' | translate}}
                            .col-sm-2
                                button.btn.btn-primary.vertical-button-group(ng-click="vm.openEditPartnerDialog('basicInfo');", ng-if="checkViewPermission('Partner', 'Partner', 'Edit')", ng-disabled="vm.selectedPartnerCount!=1 || !vm.selectedSinglePartner") {{"EDIT" | translate}}

                        div.col-xs-12
                            .col-sm-offset-1.col-sm-3
                                .col-sm-5
                                    label {{"GENDER" | translate}}
                                .col-sm-7
                                    text {{vm.getGenderFromBool(vm.selectedSinglePartner.gender) || 'NONE' | translate}}
                            .col-sm-3
                                .col-sm-5
                                    label {{"DOB" | translate}}
                                .col-sm-7
                                    text {{vm.convertDOBFormat(vm.selectedSinglePartner.DOB) || 'NONE' | translate}}
                            .col-sm-3
                                .col-sm-5
                                    label {{"Bind Player" | translate}}
                                .col-sm-7
                                    text {{vm.selectedSinglePartner.player.name || 'NONE' | translate}}
                            .col-sm-2
                                button.btn.btn-primary.vertical-button-group(ng-click='vm.getPartnerInfoHistory()') {{"EDIT_HISTORY" | translate}}

                        div.col-xs-12
                            .col-sm-offset-1.col-sm-3
                                .col-sm-5
                                    label {{"REGISTRATION_TIME" | translate}}
                                .col-sm-7
                                    text {{vm.selectedSinglePartner.registrationTime || 'NONE' | translate}}
                            .col-sm-3
                                .col-sm-5
                                    label {{"own domain" | translate}}
                                .col-sm-7
                                    text {{vm.selectedSinglePartner.ownDomain$ || 'NONE' | translate}}
                            .col-sm-3
                                .col-sm-5
                                    label {{"REMARK" | translate}}
                                .col-sm-7
                                    text {{vm.selectedSinglePartner.remarks || 'NONE' | translate}}
                            .col-sm-2
                                button.btn.btn-primary.vertical-button-group(ng-if="checkViewPermission('Partner', 'Partner', 'ResetPassword')", ng-disabled="vm.selectedPartnerCount!=1 || !vm.selectedSinglePartner", data-toggle="modal",ng-click='vm.initResetPartnerPasswordModal()',data-target='#modalPartnerPasswordReset') {{"RESET_PASSWORD" | translate}}

                    div
                        h5 {{'CONTACT_INFO' | translate}}
                        hr
                        div.col-xs-12
                            .col-sm-offset-1.col-sm-5
                                .col-sm-3
                                    label {{"TELEPHONE" | translate}}
                                .col-sm-8
                                    text.
                                        {{vm.selectedSinglePartner.phoneNumber || 'Unknown' | translate}}&nbsp;
                                        ({{vm.selectedSinglePartner.phoneCity || 'Unknown' | translate}},&nbsp;
                                        {{vm.selectedSinglePartner.phoneProvince || 'Unknown' | translate}}/
                                        {{vm.selectedSinglePartner.phoneType || 'Unknown' | translate}})
                        div.col-xs-12
                            .col-sm-offset-1.col-sm-3
                                .col-sm-5
                                    label {{"WECHAT" | translate}}
                                .col-sm-7
                                    text {{vm.selectedSinglePartner.wechat || 'Unknown' | translate}}
                            .col-sm-offset-6.col-sm-2
                                button.btn.btn-primary.vertical-button-group(ng-if="checkViewPermission('Partner', 'Partner', 'EditContact')", ng-disabled="vm.selectedPartnerCount!=1 || !vm.selectedSinglePartner", data-toggle="modal", ng-click="vm.openEditPartnerDialog('contactInfo')") {{"EDIT" | translate}}
                        div.col-xs-12
                            .col-sm-offset-1.col-sm-3
                                .col-sm-5
                                    label {{"QQ" | translate}}
                                .col-sm-7
                                    text {{vm.selectedSinglePartner.qq || 'Unknown' | translate}}
                            .col-sm-offset-6.col-sm-2
                                button.btn.btn-primary.vertical-button-group(ng-click='vm.getPartnerContactHistory()') {{"EDIT_HISTORY" | translate}}
                        div.col-xs-12
                            .col-sm-offset-1.col-sm-3
                                .col-sm-5
                                    label {{"EMAIL" | translate}}
                                .col-sm-7
                                    text {{vm.selectedSinglePartner.email || 'Unknown' | translate}}

                    div
                        h5 {{'WITHDRAW_INFO' | translate}}
                        hr
                        div.col-xs-12
                            .col-sm-offset-1.col-sm-3
                                .col-sm-5
                                    label {{"BANK_NAME" | translate}}
                                .col-sm-7
                                    text {{vm.allBankTypeList[vm.selectedSinglePartner.bankName] || vm.selectedSinglePartner.bankName || 'Unknown' | translate}}
                            .col-sm-3
                                .col-sm-5
                                    label {{"BANK_ACCOUNT_NAME" | translate}}
                                .col-sm-7
                                    text {{vm.selectedSinglePartner.bankAccountName || 'Unknown' | translate}}

                        div.col-xs-12
                            .col-sm-offset-1.col-sm-3
                                .col-sm-5
                                    label {{"BANK_ACCOUNT" | translate}}
                                .col-sm-7
                                    text {{vm.selectedSinglePartner.encodedBankAccount || 'Unknown' | translate}}
                            .col-sm-3
                                .col-sm-5
                                    label {{"BANK_ACCOUNT_PROVINCE" | translate}}
                                .col-sm-7
                                    text {{vm.showProvinceStr ? vm.showProvinceStr : 'Unknown' | translate}}
                            .col-sm-offset-3.col-sm-2
                                button.btn.btn-primary.vertical-button-group(ng-if="checkViewPermission('Partner', 'Partner', 'BankDetail')",ng-disabled="vm.selectedPartnerCount!=1 || !vm.selectedSinglePartner", data-toggle="modal", ng-click="vm.openEditPartnerDialog('withdrawInfo');") {{"EDIT" | translate}}

                        div.col-xs-12
                            .col-sm-offset-1.col-sm-3
                                .col-sm-5
                                    label {{"BANK_ACCOUNT_CITY" | translate}}
                                .col-sm-7
                                    text {{vm.showCityStr ? vm.showCityStr : 'Unknown' | translate}}
                            .col-sm-3
                                .col-sm-5
                                    label {{"BANK_ACCOUNT_DISTRICT" | translate}}
                                .col-sm-7
                                    text {{vm.showDistrictStr ? vm.showDistrictStr : 'Unknown' | translate}}
                            .col-sm-3
                                .col-sm-5
                                    label {{"Bank Address" | translate}}
                                .col-sm-7
                                    text {{vm.selectedSinglePartner.bankAddress || 'Unknown' | translate}}
                            .col-sm-offset-3.col-sm-2
                                button.btn.btn-primary.vertical-button-group(ng-if="checkViewPermission('Partner', 'Partner', 'PaymentInformationHistory')",ng-disabled="vm.selectedPartnerCount!=1 || !vm.selectedSinglePartner", ng-click='vm.getPaymentInfoHistory()') {{"EDIT_HISTORY" | translate}}

                        div
                            h5 {{'IP' | translate}}
                            hr
                            div.col-xs-12
                                .col-sm-offset-1.col-sm-3
                                    .col-sm-5
                                        label {{"IP" | translate}}
                                    .col-sm-7
                                        text {{vm.selectedSinglePartner.lastLoginIp || 'Unknown' | translate}}
                                .col-sm-3
                                    .col-sm-5
                                        label {{'Registration Domain' | translate}}
                                    .col-sm-7
                                        text {{vm.selectedSinglePartner.country || 'Unknown' | translate}}
                                .col-sm-offset-3.col-sm-2
                                    button.btn.btn-primary.vertical-button-group(ng-click='vm.showPartnerIPHistory()') {{"View Details" | translate}}

                            div.col-xs-12
                                .col-sm-offset-1.col-sm-3
                                    .col-sm-5
                                        label {{'COUNTRY' | translate}}
                                    .col-sm-7
                                        text {{vm.selectedSinglePartner.country || 'Unknown' | translate}}

                                .col-sm-3
                                    .col-sm-5
                                        label {{"CITY" | translate}}
                                    .col-sm-7
                                        text {{vm.selectedSinglePartner.city || 'Unknown' | translate}}

                        div
                            h5 {{'Partner Architecture' | translate}}
                            hr
                            div.col-xs-12
                                .col-sm-offset-1.col-sm-3
                                    .col-sm-5
                                        label {{"Parent Partner Name" | translate}}
                                    .col-sm-7
                                        text {{vm.selectedSinglePartner.parent.partnerName || 'NONE' | translate}}
                                .col-sm-3
                                    .col-sm-5
                                        label {{'REFERRAL_PLAYER' | translate}}{{'HEAD_COUNT' | translate}}
                                    .col-sm-7
                                        text {{vm.selectedPartnerPlayerCount}}
                                .col-sm-offset-3.col-sm-2
                                    button.btn.btn-primary.vertical-button-group(ng-if="checkViewPermission('Partner', 'Partner', 'EditChildPartner')", data-toggle="modal", ng-click='vm.initEditChildPartner()', data-target='#modalEditChildPartner') {{"EDIT" | translate}}

                            div.col-xs-12
                                .col-sm-offset-1.col-sm-3
                                    .col-sm-5
                                        label {{'Child Partner Headcount' | translate}}
                                    .col-sm-7
                                        text ({{vm.selectedSinglePartner.childrencount || 0}})

                div(ng-if="vm.selectedPartnerCommissionPreview")
                    table.simple-table
                        thead
                            tr
                                th {{'PARTNER_NAME' | translate}}
                                th {{'REAL_NAME' | translate}}
                                th(ng-repeat= "grp in vm.selectedPartnerCommissionPreview.rawCommissions") {{grp.groupName=="noGroup" ? "" : grp.groupName | translate}} {{"Commission" | translate}}
                                th {{'TOTAL_REWARD_FEE' | translate}}
                                th {{'TOTAL_PLATFORM_FEE' | translate}}
                                th {{'TOTAL_TOPUP_FEE' | translate}}
                                th {{'TOTAL_WITHDRAWAL_FEE' | translate}}
                                th {{'NET_COMMISSION' | translate}}
                                th {{'PARTNER_ACCOUNT_BALANCE' | translate}}
                                th {{'ACTIVE_DOWNLINES' | translate}}
                                th {{'PREVIOUS_THREE_INTERVAL_ACTIVE_DOWNLINES' | translate}}
                                th {{'PREVIOUS_THREE_INTERVAL_NET_COMMISSSION' | translate}}
                        tbody
                            tr
                                td {{vm.selectedPartnerCommissionPreview.partnerName}}
                                td {{vm.selectedPartnerCommissionPreview.partnerRealName}}
                                td(ng-repeat= "(igrp, grp) in vm.selectedPartnerCommissionPreview.rawCommissions")
                                    a(ng-style='grp.isCustomCommissionRate ? {color:"red"} : {}', data-toggle="modal", data-target='#modalCommissionTable', ng-click="vm.partnerCommVar.partner=i; vm.partnerCommVar.group=grp; vm.partnerCommVar.selectTab=igrp; vm.calculatePartnerDLTotalDetail(vm.selectedPartnerCommissionPreview.downLinesRawCommissionDetail,'consumptionDetail')") {{grp.amount}}
                                td
                                    a(data-toggle="modal", data-target='#modalRewardFeeTable', ng-click="vm.partnerCommVar.partner=i; vm.calculatePartnerDLTotalDetail(vm.selectedPartnerCommissionPreview.downLinesRawCommissionDetail,'rewardDetail')", ng-style='vm.selectedPartnerCommissionPreview.partnerCommissionRateConfig.rateAfterRebatePromoIsCustom ? {color:"red"} : {}') {{vm.selectedPartnerCommissionPreview.totalRewardFee}}
                                td
                                    a(ng-style='vm.selectedPartnerCommissionPreview.isAnyCustomPlatformFeeRate ? {color:"red"} : {}', data-toggle="modal", data-target='#modalCommissionTable', ng-click="vm.partnerCommVar.partner=i; vm.partnerCommVar.group=vm.selectedPartnerCommissionPreview.rawCommissions[vm.partnerCommVar.platformFeeTab]; vm.partnerCommVar.selectTab=vm.partnerCommVar.platformFeeTab; vm.calculatePartnerDLTotalDetail(vm.selectedPartnerCommissionPreview.downLinesRawCommissionDetail,'consumptionDetail')") {{vm.selectedPartnerCommissionPreview.totalPlatformFee}}
                                td
                                    a(data-toggle="modal", data-target='#modalTopUpFeeTable', ng-click="vm.partnerCommVar.partner=i; vm.calculatePartnerDLTotalDetail(vm.selectedPartnerCommissionPreview.downLinesRawCommissionDetail,'topUpDetail')", ng-style='vm.selectedPartnerCommissionPreview.partnerCommissionRateConfig.rateAfterRebateTotalDepositIsCustom ? {color:"red"} : {}') {{vm.selectedPartnerCommissionPreview.totalTopUpFee}}
                                td
                                    a(data-toggle="modal", data-target='#modalWithdrawalFeeTable', ng-click="vm.partnerCommVar.partner=i; vm.calculatePartnerDLTotalDetail(vm.selectedPartnerCommissionPreview.downLinesRawCommissionDetail,'withdrawalDetail')", ng-style='vm.selectedPartnerCommissionPreview.partnerCommissionRateConfig.rateAfterRebateTotalWithdrawalIsCustom ? {color:"red"} : {}') {{vm.selectedPartnerCommissionPreview.totalWithdrawalFee}}
                                td {{vm.selectedPartnerCommissionPreview.nettCommission}}
                                td {{vm.selectedPartnerCommissionPreview.partnerCredit}}
                                td
                                    a(data-toggle="modal", data-target='#modalActivePlayerTable', ng-click="vm.partnerCommVar.partner=i") {{vm.selectedPartnerCommissionPreview.activeDownLines}}
                                td
                                    text.span {{vm.selectedPartnerCommissionPreview.pastActiveDownLines[0]? vm.selectedPartnerCommissionPreview.pastActiveDownLines[0] : "-" | translate}} {{","}} {{vm.selectedPartnerCommissionPreview.pastActiveDownLines[1]? vm.selectedPartnerCommissionPreview.pastActiveDownLines[1] : "-" | translate}} {{","}} {{vm.selectedPartnerCommissionPreview.pastActiveDownLines[2]? vm.selectedPartnerCommissionPreview.pastActiveDownLines[2] : "-" | translate}}
                                td
                                    text.span {{calculateTotalSum(vm.selectedPartnerCommissionPreview.pastNettCommission, "", "")}} {{" ("}} {{vm.selectedPartnerCommissionPreview.pastNettCommission[0]? vm.selectedPartnerCommissionPreview.pastNettCommission[0] : "-" | translate}} {{","}} {{vm.selectedPartnerCommissionPreview.pastNettCommission[1]? vm.selectedPartnerCommissionPreview.pastNettCommission[1] : "-" | translate}} {{","}} {{vm.selectedPartnerCommissionPreview.pastNettCommission[2]? vm.selectedPartnerCommissionPreview.pastNettCommission[2] : "-" | translate}} {{")"}}


#modalCreatePartner.modal.fade(tabindex='-1', role='dialog', data-backdrop='static', keyboard=false,aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
        .modal-content
            .modal-header
                a.fa.fa-times.close(type='button', data-dismiss='modal')
                h4.modal-title {{"CREATE_PARTNER" | translate}}
            .modal-body
                .panel.panel-primary
                    .panel-body
                        .well
                            .row
                                include partner-create-form
            .modal-footer
                //button.btn.btn-primary.common-button(ng-if='form_new_partner.$invalid', disabled='true') {{"CREATE" | translate}}
                button.btn.btn-primary.common-button(data-dismiss='modal',ng-disabled='form_new_partner.$invalid || vm.passwordLengthCheck(vm.newPlayer.password) || !vm.partnerParentValid', ng-click="vm.createNewPartner();") {{"CREATE" | translate}}
                button.btn.btn-warning.common-button(data-dismiss='modal') {{"CANCEL" | translate}}

#modalDeletePartner.modal.fade(tabindex='-1', role='dialog', data-backdrop='static', keyboard=false,aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
        .modal-content
            .modal-header
                a.fa.fa-times.close(type='button', data-dismiss='modal')
                h4.modal-title {{"DELETE_PARTNER" | translate}}
            .modal-body
                .panel.panel-primary
                    .panel-body
                        .row
                            .col-md-12
                                .well
                                    label {{"Are you sure you want to delete partner"|translate}}
                                    strong.text-danger &nbsp;{{vm.selectedSinglePartner.partnerName}}
                                    label ?
            .modal-footer
                button.btn-sm.margin-right-5.btn.btn-primary.col-md-2(data-dismiss='modal',ng-click="vm.deletePartners();") {{"CONFIRM" | translate}}
                button.btn-sm.margin-right-5.btn.btn-warning.col-md-2(data-dismiss='modal') {{"CANCEL" | translate}}


#totalReferralPopover.hide(style="width: 900px")
    label {{vm.referralPopoverTitle}} {{vm.partnerData.partnerName}}
    br(ng-show ='vm.referralPartner.length == 0')
    text.text-danger(ng-show ='vm.referralPartner.length == 0') No Referral.
    table.simple-table(ng-show ='vm.referralPartner.length > 0')
        thead
            tr
                th {{'INDEX' | translate}}
                th {{'NAME' | translate}}
                th {{'REAL_NAME' | translate}}
                th {{'CONSUMPTION' | translate}}
                th {{'TOP_UP_SUM' | translate}}
                th {{'TOP_UP_TIMES' | translate}}
                th {{'LOCKED_CREDIT' | translate}}
                th {{'VALID_CREDIT' | translate}}
                th {{'STATUS' | translate}}
                th {{'TRUST_LEVEL' | translate}}
        tbody
            tr(ng-repeat='(i,v) in vm.referralPartner')
                td {{i+1}}
                td {{v.name}}
                td {{v.realName}}
                td {{v.consumptionSum}}
                td {{v.topUpSum}}
                td {{v.topUpTimes}}
                td {{v.lockedCredit}}
                td {{v.validCredit}}
                td {{v.status}}
                td {{v.trustLevel}}
                //-label Referral Details for {{vm.selectedSinglePartner.partnerName}}

#totalReferralModal.modal.fade(tabindex='-1', role='dialog', data-backdrop='static', keyboard=false,aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
        .modal-content
            .modal-header
                a.fa.fa-times.close(type='button', data-dismiss='modal')
                h4.modal-title {{"Total referral players for" | translate}} : {{vm.selectedSinglePartner.partnerName}}
            .modal-body
                .panel.panel-primary
                    .panel-body
                        .well
                            .inlineBlk
                                label {{"REGISTRATION_TIME_START" | translate}}
                                .regStartTime
                                //input.form-control(type='text', ng-model='vm.totalReferralPlayer.regStartTime')
                            .inlineBlk
                                label {{"REGISTRATION_TIME_END" | translate}}
                                .regEndTime
                                //input.form-control(type='text', ng-model='vm.totalReferralPlayer.regEndTime')
                            .inlineBlk
                                label {{"LAST_ACCESS_TIME_START" | translate}}
                                .loginStartTime
                                //input.form-control(type='text', ng-model='vm.totalReferralPlayer.loginStartTime')
                            .inlineBlk
                                label {{"LAST_ACCESS_TIME_END" | translate}}
                                .loginEndTime
                                //input.form-control(type='text', ng-model='vm.totalReferralPlayer.loginEndTime')
                            .inlineBlk
                                label {{"PLAYER_NAME" | translate}}
                                input.form-control(type='text', ng-model='vm.totalReferralPlayer.playerName')
                            .inlineBlk
                                label {{"realName" | translate}}
                                input.form-control(type='text', ng-model='vm.totalReferralPlayer.realName')
                            .inlineBlk
                                label {{"Qty_Min" | translate}} {{"topUpTimes" | translate}}
                                input.form-control(type='number', ng-model='vm.totalReferralPlayer.minTopupTimes', style='width: 80px;')
                            .inlineBlk
                                label {{"Qty_Max" | translate}} {{"topUpTimes" | translate}}
                                input.form-control(type='number', ng-model='vm.totalReferralPlayer.maxTopupTimes', style='width: 80px;')
                            .inlineBlk
                                label {{"source" | translate}}
                                input.form-control(type='text', ng-model='vm.totalReferralPlayer.domain')
                            .inlineBlk
                                button.btn.btn-primary(ng-click='vm.getPagePartnerReferralPlayers(true)') {{'SEARCH' | translate}}

                        label {{"Total" | translate}} {{vm.totalReferralPlayer.totalCount}} {{"records" | translate}}
                        table#totalReferralPlayersTable.common-table.display.widthto100
                        #totalReferralPlayersTablePage


#partnerChildrenPopover.hide(style="width: auto")
    table.simple-table
        thead
            tr
                th {{'ID' | translate}}
                th {{'NAME' | translate}}
                th {{'CHILDREN' | translate}}
        tbody
            tr(ng-repeat='(i,v) in vm.partnerChildren')
                td {{vm.partnerIdObj[v].partnerId}}
                td {{vm.partnerIdObj[v].partnerName}}
                td {{vm.partnerIdObj[v].children.length || 0}}

// Popover - Partner Permission
#partnerPermissionPopover.hide(style="width: 600px")
    #partnerPermissionTable
        table.paddingTbl
            tbody
                tr(ng-repeat='(key,v) in vm.partnerPermissionTypes')
                    td
                        i.text-primary(ng-show='v.imgType=="i"', ng-class='v.iconClass+" fa-2x"')
                        img(async=on ng-show='v.imgType=="img"', ng-src='{{v.src}}', width='{{v.width}}', height='{{v.height}}')
                    td {{key | translate}}
                    td.permitOn(ng-class='vm.permissionPartner.permission[key] ? "":"hide"', class='{{key}}')
                        i.fa.fa-toggle-on.text-primary.margin-right-5.togglePartner(data-which='{{key}}', data-on=true)
                        a.text-primary.togglePartner(data-which='{{key}}', data-on=true) {{"ON" | translate}}
                    td.permitOff(ng-class='vm.permissionPartner.permission[key] ? "hide":""', class='{{key}}')
                        i.fa.fa-toggle-off.text-danger.margin-right-5.togglePartner(data-which='{{key}}', data-on=false)
                        a.text-danger.togglePartner(data-which='{{key}}', data-on=false) {{"OFF" | translate}}
        .textareaDetail.margin-top-bottom-small
            textarea.permissionRemark(placeholder='{{"Please add remark." | translate}}')
        .text-left(style="position:relative;")
            button.btn.btn-primary.submit {{'CONFIRM' | translate}}
            button#permissionRecordButtonByPartnerTab.btn.btn-primary(style="right:0px;position:absolute",ng-if="checkViewPermission('Partner', 'Partner', 'PermissionHistory')", data-toggle="modal", ng-click='vm.getPartnerPermissionChangeByPartnerTab("new")', data-target='#modalPartnerPermissionChangeLog') {{"Permission History" | translate}}

#modalPartnerPermissionChangeLog.modal.fade(tabindex='-1', role='dialog', data-backdrop=true, keyboard=true,aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog.modal-medium
        #partnerPermissionHistory.modal-content
            .modal-header
                a.fa.fa-times.close(type='button', data-dismiss='modal')
                h4.modal-title {{'Partner' | translate}} : {{vm.popOverPartnerPermission.partnerName}}
            .modal-body
                .well.searchDiv
                    .inlineBlk
                        label {{"Start date"|translate}}
                        .startTime
                    .inlineBlk
                        label {{"End date"|translate}}
                        .endTime
                    .inlineBlk
                        button.common-button.btn.btn-primary(ng-click='vm.getPartnerPermissionChangeByPartnerTab("update")') {{'FILTER' | translate}}
                        i.fa.fa-spinner.fa-spin(ng-if='vm.partnerPermissionQuery.searching')
                label(ng-if='!vm.partnerPermissionQuery.searching') {{'total' | translate}} {{vm.partnerPermissionHistory.length || 0}} {{'records' | translate}}
                .panel.panel-primary
                    .panel-head
                        .panel-title
                            .text-center
                                .col-md-2 {{"date" | translate}}
                                .col-md-5 {{"CONTENT" | translate}}
                                .col-md-2 {{"ADMIN" | translate}}
                                .col-md-3 {{"remark" | translate}}
                    .panel-body(style='max-height:400px;overflow-y:auto')
                        .row(ng-repeat='(i,v) in vm.partnerPermissionHistory', class='{{i%2==0 ? "bg-grey":""}}')
                            .col-md-2 {{vm.dateReformat(v.createTime)}}
                            .col-md-5
                                ul.list-unstyled(ng-repeat='(k,l) in v.oldData', style='margin-bottom:0;')
                                    li
                                        label {{k | translate}}
                                        .pull-right
                                            text(class='{{l ? "text-primary" : "text-danger"}}') {{l}}
                                            text &nbsp;-->&nbsp;
                                            text(class='{{v.newData[k] ? "text-primary" : "text-danger"}}') {{v.newData[k]}}
                            .col-md-2.text-center {{v.admin.adminName || ' '}}
                            .col-md-3.text-center {{v.remark}}

#modalPartnerPasswordReset.modal.fade(tabindex='-1', role='dialog', data-backdrop='static', keyboard=false,aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog.modal-medium
        .modal-content
            .modal-header
                a.fa.fa-times.close(type='button', data-dismiss='modal')
                h4.modal-title {{'RESET_PARTNER_PASSWORD' | translate}}
            .modal-body
                .panel.panel-primary
                    .panel-body
                        .well
                            .form-group
                                text.control-label {{"The password of partner"|translate}}
                                text.text-success &nbsp;{{vm.selectedSinglePartner.partnerName}}
                                span &nbsp;{{"will be reset. Are you sure?"|translate}}
                            .form-group
                                label.control-label {{'NEW_PASSWORD' | translate}} ({{'optional' | translate}})
                                input.form-control(ng-model='vm.customNewPassword', placeholder='{{"Leaving empty will generate a random password." | translate}}')
                                text {{"Note: " | translate}}{{"Leaving empty will generate a random password." | translate}}
                        .well(ng-if='vm.partnerNewPassword')
                            .form-group
                                text The new password for&nbsp;
                                span.text-success {{vm.selectedSinglePartner.partnerName}}
                                span &nbsp;is&nbsp;
                                strong.text-danger {{vm.partnerNewPassword}}
            .modal-footer
                button.common-button.margin-right-5.btn.btn-success(ng-if='!vm.partnerNewPassword', ng-click='vm.submitResetPartnerPassword()') {{'RESET_PASSWORD' | translate}}
                button.common-button.margin-right-5.btn.btn-success(ng-if='vm.partnerNewPassword', data-dismiss='modal') {{'OK' | translate}}
                button.common-button.margin-right-5.btn.btn-warning(ng-if='!vm.partnerNewPassword', data-dismiss='modal') {{"CANCEL" | translate}}


#modalLinkPlayer.modal.fade(tabindex='-1', role='dialog', data-backdrop='static', keyboard=false,aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
        .modal-content
            .modal-header
                a.fa.fa-times.close(type='button', data-dismiss='modal')
                h4.modal-title {{'Link Player' | translate}} {{"To Partner" | translate}} : {{vm.selectedSinglePartner.partnerName}}
            .modal-body
                .panel.panel-primary
                    .panel-body
                        .well
                            .inlineBlk
                                label {{'playerName' | translate}}:&nbsp;
                                input.form-control(type='text', ng-model='vm.linkPlayerText', ng-change='vm.linkPlayerTextChange()')
                            .inlineBlk
                                i.linkPlayerTextFalse.margin-left-5.fa.fa-times.text-danger(style='width:10px;display:none')
                                i.linkPlayerTextTrue.margin-left-5.fa.fa-check.text-success(style='width:10px;display:none')
                                .inlineBlk.text-danger.margin-left-5 {{vm.linkPlayerStatement}}
            .modal-footer
                button.common-button.margin-right-5.btn.btn-success(data-dismiss='modal', ng-click='vm.submitLinkPlayer()', ng-disabled="!vm.linkPlayerFound") {{'Link Player' | translate}}
                button.common-button.margin-right-5.btn.btn-warning(data-dismiss='modal') {{"CANCEL" | translate}}

// add partner feedback - Modal
#modalAddPartnerFeedback.modal.fade(tabindex='-1', role='dialog', data-backdrop='static', keyboard=false, aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog.modal-medium
        .modal-content
            .modal-header
                a.fa.fa-times.close(type='button', data-dismiss='modal')
                h4.modal-title {{"FEEDBACK_PARTNER" | translate}}
            .modal-body
                .panel.panel-primary
                    ul.nav.nav-tabs.common-nav-tabs.popupHeaderMenu
                        .pull-left.padding-all-5
                        li.active(id='addPartnerFeedbackTab', ng-show="checkViewPermission('Partner', 'Feedback','AddFeedback')")
                            a.common-tab(data-toggle="tab", ng-disabled="!vm.canEditPartner() || vm.selectedPartnerCount != 1", ng-click="vm.feedbackModalTabPartner = 'addPartnerFeedbackPanel'")
                                .fa.fa-file-text.margin-right-5
                                text.span {{"ADD_FEEDBACK" | translate}}
                        li(id='partnerFeedbackHistoryTab', ng-show="checkViewPermission('Partner', 'Feedback','FeedbackHistory')")
                            a.common-tab(data-toggle="tab", ng-disabled="!vm.canEditPartner() || vm.selectedPartnerCount != 1", ng-click="vm.feedbackModalTabPartner = 'partnerFeedbackHistoryPanel'; vm.prepareShowFeedbackRecord( vm.canEditPartner() );")
                                .fa.fa-file-text.margin-right-5
                                text.span {{"Feedback History" | translate}}

                #addPartnerFeedbackPanel.panel-body(ng-if="vm.feedbackModalTabPartner === 'addPartnerFeedbackPanel'")
                    form(name='form_feedback').well
                        .form-group
                            label.control-label {{'PARTNER_NAME' | translate}}
                            label.form-control {{vm.isOneSelectedPartner().partnerName}}
                        .form-group
                            label.control-label {{'FEEDBACK_RESULTS' | translate}}
                            button.btn.btn-primary.left-col(ng-click="vm.addPartnerFeedbackResultData={}; vm.deletePartnerFeedbackResultData={};", ng-show="checkViewPermission('Partner', 'Feedback','ModifyFeedbackResult')", data-toggle="modal", data-target="#modalAddPartnerFeedbackResult") {{"ADD" | translate}}
                            select.form-control.margin-top-5(ng-model='vm.partnerFeedback.result', required)
                                option(ng-repeat='(i,v) in vm.allPartnerFeedbackResults', value='{{v.key}}') {{v.value}}
                        .form-group
                            label.control-label {{'FEEDBACK_TOPIC' | translate}}
                            button.btn.btn-primary.left-col(ng-click="vm.addPartnerFeedbackTopicData={}; vm.deletePartnerFeedbackTopicData={};", ng-show="checkViewPermission('Partner', 'Feedback','ModifyFeedbackTopic')", data-toggle="modal", data-target="#modalAddPartnerFeedbackTopic") {{"ADD" | translate}}
                            select.form-control.margin-top-5(ng-model='vm.partnerFeedback.topic', required)
                                option(ng-repeat='(i,v) in vm.partnerFeedbackTopic', value='{{v.key}}') {{v.value}}
                        .form-group
                            label.control-label {{'FEEDBACK_CONTENT' | translate}}
                            .textareaDetail
                                textarea.form-control(rows='4', ng-model='vm.partnerFeedback.content')

                #partnerFeedbackHistoryPanel.panel-body(ng-show="vm.feedbackModalTabPartner === 'partnerFeedbackHistoryPanel'")
                    .well.searchDiv
                        .inlineBlk
                            label {{"Start date" | translate}}
                            .startTime
                        .inlineBlk
                            label {{"End date" | translate}}
                            .endTime
                        .inlineBlk
                            button.common-button.btn.btn-primary(ng-click='vm.getFeedbackRecord()') {{'FILTER' | translate}}
                            i.fa.fa-spinner.fa-spin(ng-if='vm.partnerFeedbackRecord.searching')
                    #partnerFeedbackRecord
                        label {{"Total" | translate}} {{vm.partnerFeedbackRecord.totalCount}} {{"records" | translate}}
                            .inlineBlk.margin-left-5(ng-if='vm.partnerFeedbackRecord.searching')
                                i.fa.fa-spin.fa-spinner
                    table#partnerFeedbackRecordTable.common-table.wordWrap.tbodyNoWrap.display.paymentGroup-btn
                    #partnerFeedbackRecordTablePage

            .modal-footer(ng-if="vm.feedbackModalTabPartner === 'addPartnerFeedbackPanel'")
                button.common-button.margin-right-5.btn.btn-primary(data-dismiss='modal', ng-disabled='form_feedback.$invalid', ng-click="vm.updatePartnerFeedback();") {{"ADD" | translate}}
                button.common-button.margin-right-5.btn.btn-warning(data-dismiss='modal') {{"CANCEL" | translate}}

// Partner actions - Modal
#modalPartnerBonus.modal.fade(tabindex='-1', role='dialog', data-backdrop='static', keyboard=false,aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog.modal-medium
        .modal-content
            .modal-header
                a.fa.fa-times.close(type='button', data-dismiss='modal')
                h4.modal-title {{"APPLY_BONUS" | translate}} : {{vm.selectedSinglePartner.partnerName}}
            .modal-body
                form(name='form_partner_bonus').well
                    .form-group-col-md-6
                        label.control-label {{'CREDIT' | translate}}
                        input.leftALignNumber.form-control(type='number', ng-model='vm.partnerBonus.amount', required)
                    .form-group-col-md-6
                        label.control-label {{'HONOREE_DETAIL' | translate}}
                        input.form-control(ng-model='vm.partnerBonus.honoreeDetail')
                    .form-group-col-md-6.margin-top-5
                        label.control-label.margin-right-5 {{'FORCE' | translate}}
                        input(type='checkbox', ng-model='vm.partnerBonus.bForce')
            .modal-footer
                button.common-button.margin-right-5.btn.btn-success(ng-disabled='form_partner_bonus.$invalid || form_partner_bonus.$pristine', ng-show='vm.partnerBonus.showSubmit', ng-click='vm.applyPartnerBonus()') {{'APPLY' | translate}}
                button.common-button.margin-right-5.btn.btn-warning(data-dismiss='modal') {{"CLOSE" | translate}}
                label.inlineBlk.margin-right-5(ng-if='vm.partnerBonus.resMsg') {{vm.partnerBonus.resMsg}}
                i.fa.fa-spin.fa-spinner.margin-right-5(ng-if='!vm.partnerBonus.showSubmit && !vm.partnerBonus.resMsg')



#partnerStatusPopover.hide(style="width: 600px", ng-non-bindable)
    //- label The status for {{vm.statusPopover.name}}
    //- .well
    table.simple-table
        tr
            td.alignLeft
                div(ng-repeat='(i,v) in vm.allPartnersStatusString')
                    label
                        input.partnerStatusChange.pull-left(data-row='{{vm.partnerStatusPopover}}' data-status='{{v}}' type='radio' name='partnerstatus' ng-checked='v==vm.partnerStatusPopover.status')
                        span.padding-left-5 {{vm.allPartnersStatusKeys[v-1]|translate}}
                //- .well.showGames.collapse
                //-     label {{"BANNED_FROM_THESE_PROVIDERS" | translate}}
                //-     div(ng-repeat='(i,v) in vm.showPlatform.gameProviders')
                //-         label {{vm.getProviderText(v)}}
                //-             input.playerStatusProviderForbid.pull-left.margin-right-5(type='checkbox', data-provider='{{v}}', ng-checked='vm.statusPopover.forbidProviders.indexOf(v)>-1')
                div.partnerStatusConfirmation
                    label {{'REASON' | translate}}
                    .textareaDetail
                        .well(style='padding:5px;')
                            textarea.partnerStatusChangeReason(rows="3" style="border:none")
                    button.common-button.margin-right-5.btn.btn-success.partnerStatusConfirm.disabled {{'CONFIRM' | translate}}
                    button.common-button.margin-right-5.btn.btn-warning.partnerStatusCancel {{'CANCEL' | translate}}
            td
                button.btn.common-button.btn-primary.partnerStatusHistory {{'SHOW_CHANGE_HISTORY' | translate}}
                table(ng-if='vm.partnerStatusHistory && vm.partnerStatusHistory.length>0')
                    thead
                        tr
                            th {{'TIME' | translate}}
                            th {{'REASON' | translate}}
                            th {{'STATUS' | translate}}
                            th {{'ADMIN' | translate}}
                    tbody
                        tr(ng-repeat='(i,v) in vm.partnerStatusHistory')
                            td {{vm.dateReformat(v.createTime)}}
                            td(style='max-width:200px') {{v.reason}}
                            td {{vm.allPartnersStatusKeys[v.status-1] | translate}}
                            td {{v.adminName}}
                div(ng-if='vm.partnerStatusHistory.length==0') {{'NO_RECORD' | translate}}

// credit adjustment - Modal
#modalPartnerCreditAdjustment.modal.fade(tabindex='-1', role='dialog', data-backdrop='static', keyboard=false,aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog.modal-medium
        .modal-content
            .modal-header
                a.fa.fa-times.close(type='button', data-dismiss='modal')
                h4.modal-title {{vm.partnerCreditChange.modaltitle | translate}} : {{vm.selectedSinglePartner.partnerName}} {{vm.selectedSinglePartner.realName && '(' + vm.selectedSinglePartner.realName + ')'}}
            .modal-body
                .panel.panel-primary
                    .panel-body
                        label {{'VALID_CREDIT' | translate}}
                        table.col-md-12.paddingTbl.text-center.datatable-sm
                            tbody
                                tr
                                    td.col-md-4.oblique {{'curData' | translate}}
                                    td.col-md-4.oblique {{'CHANGE_AMOUNT' | translate}}
                                    td.col-md-4.oblique {{'updateData' | translate}}
                                tr
                                    td {{vm.selectedSinglePartner.credits | number:2}}
                                    td
                                        input.text-success(type='number', ng-model='vm.partnerCreditChange.updateAmount',ng-change="vm.partnerCreditChange.finalValidAmount=vm.selectedSinglePartner.credits+vm.partnerCreditChange.updateAmount")
                                    td
                                        label.text-danger {{vm.partnerCreditChange.finalValidAmount || 0 | number:2}}
                                        //.text-danger(ng-show='vm.partnerCreditChange.finalValidAmount<0') {{'Partner credit cannot be less than 0' | translate}}
                        .row
                            .col-md-6
                                label.control-label {{'REMARKS' | translate}}
                            .col-md-12.textareaDetail
                                textarea.form-control(name = "Remarks", rows = '5', placeholder="{{'REMARKS' | translate}}", ng-model="vm.partnerCreditChange.remark")
            .modal-footer
                button.common-button.margin-right-5.btn.btn-primary(data-dismiss='modal',ng-disabled='!vm.partnerCreditChange.updateAmount', ng-click="vm.updatePartnerCredit();") {{"UPDATE" | translate}}
                button.common-button.margin-right-5.btn.btn-warning(data-dismiss='modal') {{"CANCEL" | translate}}

#modalPartnerApiLog.modal.fade(tabindex='-1', role='dialog', data-backdrop='static', keyboard=false,aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
        .modal-content
            .modal-header
                a.fa.fa-times.close(type='button', data-dismiss='modal')
                h4.modal-title {{"PARTNER_LOGIN_LOG" | translate}} : {{vm.selectedSinglePartner.partnerName}}
            .modal-body
                #partnerApiLogQuery.well
                    .inlineBlk
                        label {{"Start date" | translate}}
                        .startTime
                    .inlineBlk
                        label {{"End date" | translate}}
                        .endTime
                    button.btn.btn-primary.common-button(ng-click='vm.getPartnerApiLogData(true)', style='vertical-align: bottom') {{"SEARCH" | translate}}
                    .inlineBlk(ng-show='vm.loadingPartnerApiLogTable')
                        i.fa.fa-spin.fa-spinner
                div
                    label {{"Total" | translate}} {{vm.partnerApiLog.totalCount}} {{"records" | translate}}
                    table#partnerApiLogTbl.common-table.display.paymentGroup-btn
                    #partnerApiLogTblPage.height30

#dialogEditPartner.dialog-dialog.hidden(ng-non-bindable style='width:100%; top:0;')
    .dialog-content(style="overflow: auto; height: 85vh; width: 90%; margin: 0 auto;")
        .dialog-header
            a.fa.fa-times.close.btn.btn-sm(type='button', data-dismiss='dialog')
            a.fa.fa-minus.close.btn.btn-sm(type='button', data-toggle='minimize')
            h4.dialog-title {{"EDIT_PARTNER" | translate}} : {{partnerBeforeEditing.partnerName}}
        .dialog-body
            .panel
                .panel-body
                    .padding-all-5
                        .panel.panel-primary
                            .panel-heading.common-left-panel-heading
                                ul.nav.nav-tabs.common-nav-tabs
                                    li(ng-show="editPartnerPermission",ng-class="selectedTab=='basicInfo'?'active':''")
                                        a.common-tab(data-toggle="tab", ng-click="selectedTab ='basicInfo';tabClicked('basicInfo')")
                                            text.span {{"Basic" | translate}}
                                    li(ng-show="editPartnerContactPermission",ng-class="selectedTab=='contactInfo'?'active':''")
                                        a.common-tab(data-toggle="tab", ng-click="selectedTab ='contactInfo';tabClicked('contactInfo');prepareEditCritical('partner');")
                                            text.span {{"CONTACT_INFO" | translate}}
                                    li(ng-show="editPartnerWithdrawPermission",ng-class="selectedTab=='withdrawInfo'?'active':''")
                                        a.common-tab(data-toggle="tab", ng-click="selectedTab ='withdrawInfo';tabClicked('withdrawInfo');prepareEditPartnerPayment();")
                                            text.span {{"WITHDRAW_INFO" | translate}}
                                    li(ng-show="editPartnerCommissionPermission",ng-class="selectedTab=='commissionInfo'?'active':''")
                                        a.common-tab(data-toggle="tab", ng-click="selectedTab ='commissionInfo';tabClicked('commissionInfo')")
                                            text.span {{"Partner Commission Info" | translate}}

                            .panel-body.common-right-panel-body
                                div.tab-content
                                    #basicGroup.tab-pane.fade(ng-class="selectedTab =='basicInfo'?'in active':''")
                                        include partner-edit-form
                                        button.btn.btn-warning.common-button(data-dismiss='dialog') {{"CANCEL" | translate}}
                                        button.btn.btn-primary.common-button(data-dismiss='dialog', ng-disabled='form_edit_partner.$invalid', ng-click="updateEditedPartner();") {{"UPDATE" | translate}}
                                    #contactGroup.tab-pane.fade(ng-class="selectedTab =='contactInfo'?'in active':''")
                                        include partner-edit-contact
                                    #withdrawGroup.tab-pane.fade(ng-class="selectedTab =='withdrawInfo'?'in active':''")
                                        include partner-edit-withdraw
                                    #commissionGroup.tab-pane.fade(ng-class="selectedTab =='commissionInfo'?'in active':''")
                                        include partner-edit-commission-type-form

#modalPartnerInfoHistory.modal.fade(tabindex='-1', role='dialog', data-backdrop='static', keyboard=false,aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
        .modal-content
            .modal-header
                a.fa.fa-times.close(type='button', data-dismiss='modal')
                h4.modal-title {{'Partner' | translate}} : {{vm.selectedSinglePartner.partnerName}}
            .modal-body
                .row
                    .col-md-12
                        label {{"Total" | translate}} {{vm.partnerInfoHistoryCount}} {{"records" | translate}}
                        table#partnerInfoHistoryTbl.common-table.display.paymentGroup-btn

#modalPartnerContactHistory.modal.fade(tabindex='-1', role='dialog', data-backdrop='static', keyboard=false,aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
        .modal-content
            .modal-header
                a.fa.fa-times.close(type='button', data-dismiss='modal')
                h4.modal-title {{'Partner' | translate}} : {{vm.selectedSinglePartner.partnerName}}
            .modal-body
                .row
                    .col-md-12
                        label {{"Total" | translate}} {{vm.partnerContactHistoryCount}} {{"records" | translate}}
                        table#partnerContactHistoryTbl.common-table.display.paymentGroup-btn

#modalPartnerPaymentHistory.modal.fade(tabindex='-1', role='dialog', data-backdrop='static', keyboard=false,aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
        .modal-content
            .modal-header
                a.fa.fa-times.close(type='button', data-dismiss='modal')
                h4.modal-title {{'Partner' | translate}} : {{vm.selectedSinglePartner.partnerName}}
            .modal-body
                .row
                    .col-md-12
                        label {{"Total" | translate}} {{vm.paymetHistoryCount}} {{"records" | translate}}
                        table#partnerPaymentHistoryTbl.common-table.display.paymentGroup-btn

#partnerIpHistory.collapse
    .panel.panel-info
        .panel-heading
            .panel-title {{'REGISTRATION' | translate}}
        .panel-body
            .inlineBlk
                text {{'registrationTime' | translate}} :&nbsp;
                label {{vm.dateReformat(vm.partnerIpHistoryData.reg[0].loginTime)}}
            .inlineBlk
                text {{'IP_ADDRESS' | translate}}:&nbsp;
                label {{vm.partnerIpHistoryData.reg[0].loginIP}}
            .inlineBlk
                text {{'country' | translate}}:&nbsp;
                label {{vm.partnerIpHistoryData.reg.country || 'Unknown' | translate}}
            .inlineBlk
                text {{'city' | translate}}:&nbsp;
                label {{vm.partnerIpHistoryData.reg.city || 'Unknown' | translate}}
    .panel.panel-info
        .panel-heading
            .panel-title {{'LAST_LOGIN_IP' | translate}}
        .panel-body
            .col-md-12(style='max-height:300px')
                table#partnerIpHistoryTable.common-table.display.paymentGroup-btn

#duplicatePhoneNumberLog.modal.fade(tabindex='-1', role='dialog', data-backdrop='static', keyboard=false, aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
        .modal-content
            .modal-header
                a.fa.fa-times.close(type='button', data-dismiss='modal')
                h4.modal-title {{"Duplicate Phone Number"|translate}}
            .modal-body
                div
                    label {{"Total" | translate}} {{vm.duplicatePhoneNumber.totalCount}} {{"records" | translate}}
                    table#duplicatePhoneNumberLogTable.common-table.display.paymentGroup-btn
                    #duplicatePhoneNumberLogTablePage.height30



#modalEditChildPartner.modal.fade(tabindex='-1', role='dialog', data-backdrop='static', keyboard=false, aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
        .modal-content
            .modal-header
                a.fa.fa-times.close(type='button', data-dismiss='modal')
                h4.modal-title {{"Partner Architecture" | translate}}: {{vm.selectedSinglePartner.partnerName}}
            .modal-body
                .col-md-12
                    .col-md-6
                        label {{"Bind referral player" | translate}}
                        i.referralValidFalse.margin-left-5.fa.fa-times.text-danger(style='display:none;')
                        i.referralValidTrue.margin-left-5.fa.fa-check.text-success(style='display:none;')
                        input.form-control(type='text', ng-model='vm.updatePlayerName', ng-change='vm.checkPlayerValid()')
                        br
                        .pull-right
                            button.btn.btn-primary.common-button(ng-disabled='vm.disableUpdateReferralPlayer', ng-click='vm.updatePartnerRefferalPlayer()', data-dismiss="modal") {{"UPDATE" | translate}}
                .col-md-12
                    br
                hr(style='border: 1px solid black')
                br
                div(ng-if='vm.checkPartnerCommissionType()')
                    label {{"Multi level partner architecture" | translate}}
                    table.simple-table
                        thead
                            tr
                                th(colspan=2 style="width:200px")
                                th(style="width:250px") {{'PARTNER_NAME' | translate}}
                                th(style="width:260px") {{'Created/Edited DateTime' | translate}}
                                th(style="width:180px") {{'Reference Proposal No.' | translate}}
                                th {{'Remark description' | translate}}
                        tbody
                            tr
                                td(colspan=2) {{'Main Partner(parent)' | translate}}
                                td {{vm.childMainPartner || 'NONE' | translate}}
                                td(rowspan=7, colspan=2)
                                td.alignLeft {{'CANNOT_EDIT' | translate}}
                            tr
                                td(colspan=2)
                                td ↓
                                td
                            tr
                                td(colspan=2) {{'Parent Partner(Unique)' | translate}}
                                td {{vm.selectedSinglePartner.parent.partnerName || 'NONE' | translate}}
                                //td(rowspan=5, colspan=2)
                                td.alignLeft {{'CANNOT_EDIT' | translate}}
                            tr
                                td(colspan=2)
                                td ↓
                                td
                            tr
                                td(colspan=2) {{"Partner(Self)" | translate}}
                                td {{vm.selectedSinglePartner.partnerName}}
                                td.alignLeft {{'CANNOT_EDIT' | translate}}
                            tr
                                td(colspan=2)
                                td ↓
                                td
                            tr
                                td(colspan=2)
                                    div
                                        span {{'Child Partner' | translate}}
                                        br
                                        span ( {{'Total Child Partner' | translate}} {{vm.totalChildPartner || 0}} )
                                td ↓
                                td
                                    div.alignLeft
                                        span {{'EDIT_CHILD_PARTNER_INFO_TITLE' | translate}}
                                        br
                                        span {{'EDIT_CHILD_PARTNER_INFO_DESCRIPTION_A' | translate}}
                                        br
                                        span {{'EDIT_CHILD_PARTNER_INFO_DESCRIPTION_B' | translate}}
                                        br
                                        span {{'EDIT_CHILD_PARTNER_INFO_DESCRIPTION_C' | translate}}


                            tr(ng-repeat="(idx, val) in vm.childPartnerList")
                                td
                                    div
                                        label(ng-show='vm.isChildPartnerEditing') (
                                        i.fa.fa-plus(ng-click='vm.childPartnerNewRow(vm.childPartnerList, idx)', ng-show='vm.isChildPartnerEditing')
                                        label(ng-show='vm.isChildPartnerEditing') )
                                        label(ng-show='vm.isChildPartnerEditing') (
                                        i.fa.fa-minus(ng-click='vm.childPartnerDeleteRow(idx, vm.childPartnerList)', ng-show='vm.isChildPartnerEditing')
                                        label(ng-show='vm.isChildPartnerEditing') )
                                td  {{idx + 1}}
                                td
                                    input.text-center(type='text' ng-model='val.partnerName' ng-change='vm.checkChildPartnerNameValidity(vm.childPartnerList[idx].partnerName, idx)' ng-disabled='!vm.isChildPartnerEditing')
                                td  {{val.createTime ? timeReformat(val.createTime) : ''}}
                                td  {{val.proposalId}}
                                td
                                    span.colorRed {{val.errorMessage}}

                div(ng-if='!vm.checkPartnerCommissionType()')
                    text.text-danger {{"Please set the commission type" | translate}}
            .modal-footer
                button.btn.btn-danger.common-button(data-dismiss="modal") {{"CLOSE/CANCEL" | translate}}
                button#editChildPartnerButton.btn.btn-success.common-button(ng-click="vm.editChildPartner()"  ng-if="vm.checkPartnerCommissionType() && !vm.isChildPartnerEditing && checkViewPermission('Partner', 'Partner', 'EditChildPartner')" ng-disabled='vm.disableEditChildPartner') {{"EDIT" | translate}}
                button.btn.btn-primary.common-button(data-dismiss="modal" ng-if="vm.checkPartnerCommissionType() && vm.isChildPartnerEditing && checkViewPermission('Partner', 'Partner', 'EditChildPartner')" ng-click="vm.submitChildPartner()" ng-disabled='vm.disableEditChildPartner') {{"CONFIRM" | translate}}

#modalTransferPartnerCreditToPlayer.modal.fade(tabindex='-1', role='dialog', data-backdrop='static', keyboard=false, aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog.modal-medium
        .modal-content
            .modal-header
                a.fa.fa-times.close(type='button', data-dismiss='modal')
                h4.modal-title {{"Transfer Partner Credit To Player" | translate}}: {{vm.selectedSinglePartner.partnerName}}

            .modal-body
                div.col-sm-12
                    table.simple-table
                        tbody
                            tr
                                td
                                td {{'Before Transfer' | translate}}
                                td {{'After Transfer' | translate}}

                            tr
                                td {{'PARTNER_ACCOUNT_BALANCE' | translate}} :
                                td {{vm.selectedSinglePartner.credits || 0}}
                                td.colorRed {{vm.sumTotalTransferAmount > 0 ? vm.selectedSinglePartner.credits - vm.sumTotalTransferAmount : 0 || 0 | noRoundTwoDecimalPlaces}}

                            tr
                                td {{'Search by Downline Player Name' | translate}} :
                                td(colspan=2)
                                    input.form-control(style="text" placeholder="{{'Empty: Default(ALL)' | translate}}" ng-model="vm.downlinePlayerName")
                div.col-sm-12.margin-top-10
                    button.pull-right.btn.btn-primary.common-button(ng-click='vm.loadDownlinePlayersRecord();') {{'SEARCH' | translate}}
                br
                div(style='min-height:500px')
                    label {{"Total" | translate}} {{vm.downlinePlayers.totalCount}} {{"COUNT1" | translate}}
                    table.simple-table
                        thead
                            tr
                                th {{'order' | translate}}
                                th {{'Downline Player Name' | translate}}
                                th {{'Transfer Credit (Only allow positive value)' | translate}}
                                th {{'Provider group' | translate}}
                                th {{'Withdraw Consumption (Accurate number/non-multiple)' | translate}}

                        tbody
                            tr(ng-repeat='(idx, val) in vm.downlinePlayersData')
                                td {{val.orderNo}}
                                td {{val.name}}
                                td
                                    input.form-control.colorRed(type='number', ng-model='val.amount', ng-change='vm.getSumTotalTransferAmount(vm.downlinePlayersData);vm.disableTransferPartnerCreditToPlayer(val.amount);' ng-disabled='!vm.isEditingTransferPartnerCredit')
                                td
                                    select.form-control(ng-model='val.providerGroup', ng-change='vm.checkIsDisableTransferPartnerCreditToPlayer(val.providerGroup, val.withdrawConsumption)' ng-disabled='!vm.isEditingTransferPartnerCredit')
                                        option(value='') {{'LOCAL_CREDIT' | translate}}
                                        option(ng-repeat='(i,v) in vm.gameProviderGroup', value='{{v._id}}') {{ v.name }}
                                td
                                    input.form-control(type='number', ng-model='val.withdrawConsumption', ng-change='vm.checkIsDisableTransferPartnerCreditToPlayer(val.providerGroup, val.withdrawConsumption)' ng-disabled='!vm.isEditingTransferPartnerCredit')
                            tr(ng-if='vm.downlinePlayersData.length > 0')
                                td(colspan=2) {{'All Pages' | translate}}
                                td.colorRed {{vm.sumTotalTransferAmount || 0}}
                                td(colspan=2)
                            tr(ng-if='vm.downlinePlayersData.length == 0')
                                td(colspan=5) {{'No data available in table' | translate}}

                        tfoot
                            tr
                                th
                                    div(style='font-weight:normal')
                                        text.margin-right-5 {{'EachPage' | translate}}
                                        input.form-control.inline-block(style='max-width:60px;',type='number',ng-init=50,ng-model='vm.downlinePlayers.limit' ,ng-blur='vm.loadDownlinePlayersRecord()')
                                        text.margin-left-5 {{'COUNT1' | translate}}
                                th.alignRight(colspan=4)
                                    div.inline-block(style='font-weight:normal')
                                        text.margin-right-5 {{'Jump to' | translate}}
                                        input.form-control.margin-right-5.inline-block(style='max-width:60px;', type='number',ng-model='vm.downlinePlayers.currentPage',ng-init=1 ,ng-blur="vm.gotoDownlinePlayerPage((vm.downlinePlayers.currentPage),null)")
                                        text / {{ vm.downlinePlayers.totalPage }} {{'Page' | translate}}
                                    div.inline-block
                                        button.btn.btnPage.next_page.margin-left-5.margin-top-5(style='border: 1px solid #878787;' ng-click='vm.nextDownlinePlayerPage()', ng-disabled='vm.downlinePlayers.currentPage == vm.downlinePlayers.totalPage') {{'NEXT_PAGE' | translate}}

            .modal-footer
                button.btn.btn-danger.common-button(data-dismiss='modal') {{"CANCEL" | translate}}
                button.btn.btn-success.common-button(ng-click='vm.editTransferPartnerCreditToPlayer()' ng-if='!vm.isEditingTransferPartnerCredit && checkViewPermission("Partner","Partner", "PartnerCreditTransferToDownline")' ng-disabled='vm.downlinePlayersData.length == 0') {{"EDIT" | translate}}
                button.btn.btn-primary.common-button(data-dismiss='modal' ng-click='vm.submitTransferPartnerCreditToPlayer()' ng-if='vm.isEditingTransferPartnerCredit && checkViewPermission("Partner","Partner", "PartnerCreditTransferToDownline")' ng-disabled='vm.isTransferPartnerCreditToPlayer') {{"CONFIRM" | translate}}

